<div class="LyContents02">

  <div class="ArMain01">
    <div class="MdMsgInfo01">
      <h1 class="mdMsgInfo01Ttl">MTM Account has been successfully created!</h1>

      <p class="mdMsgInfo01Txt01">Please click the 'Edit account' button to edit your account information.</p>
      <ul class="MdActionBtn01">
        <li class="mdActionBtn01Li"><a href="/" class="btn btn-success btn-large">返回主页</a></li>
        <li class="mdActionBtn01Li"><a href="/account/edit" class="btn btn-large">修改帐号信息</a></li>
        <!--/MdActionBtn01--></ul>
      <!--/MdMsgInfo01--></div>
    <!--/ArMain01--></div>

  <!--/LyContents02--></div>