<header><div class="LyHead02">
    <div class="lyHead02Inner MdCF">

      <table style="float: left;">
        <td>
          <h1 class="" style="display: inline-block;vertical-align: middle;"><a class="Logo" href="/"><img src="/images/logo_full_invert_50x20.png"></a></h1>
          <h2 class="" style="display: inline-block;vertical-align: middle;">帐号</h2>
        </td>
      </table>

        <nav role="navigation"><ul class="MdGnbUtil02">

          <li class="mdGnbUtil02Li"><a href="/">shizier</a></li>
            <!--/MdGnbUtil02--></ul></nav>

        <!--/lyHead02Inner--></div>
    <!--/LyHead02--></div></header>
<!--[[/HEADER-AREA]]-->

<!--contents-->

<!--[[CONTENTS-AREA]]-->
<div class="LyContents02">

    <div class="ArMain01">



        <div class="MdMsgInfo01">
            <p class="mdMsgInfo01Txt01">We have sent your confirmation to the corresponding email address <strong class="MdColor04"> <%= email %> </strong>. Please check the contents of the confirmation email and finish your MTM account registration.</p>
            <p class="mdMsgInfo01Txt02">※ If you do not complete the step mentioned above, you will not be able to use all of MTM&#39;S services.</p>
            <ul class="MdActionBtn01">
              <li class="mdActionBtn01Li"><a href="/" class="btn btn-success btn-large">返回主页</a></li>
                <!--/MdActionBtn01--></ul>
            <!--/MdMsgInfo01--></div>



        <span class="arMain01Corner01"></span>
        <span class="arMain01Corner02"></span>
        <span class="arMain01Corner03"></span>
        <span class="arMain01Corner04"></span>
        <!--/ArMain01--></div>

    <!--/LyContents02--></div>
<!--[[/CONTENTS-AREA]]-->
<!--//contents-->
