<!--ACCOUNT##这是layout要用的参数，不能删！-->
<div class="Contents">
  <div class="Inner">
    <div class="Message">
      <form action="/forgetPassword" method="post">
        <h4>Changing Your Password</h4>

        <p>Please type in the email address you have registered to MTM China to receive instructions
          on how to change your password.</p>

        <table class="Settings MarginTop MarginBottom">
          <th>Email Address</th>
          <td><input type="text" value="" id="_email" name="email"></td>
        </table>
        <div class="text-center">
          <button class="btn btn-success btn-large" type="submit" value="Send">发送</button>
        </div>
      </form>
    </div>
  </div>
</div>

