<!--ACCOUNT##这是layout要用的参数，不能删！-->
<div class="Inner">
  <div class="Message Message-AL">
    <form action="/forgetPassword" method="post">
      <h4>修改密码</h4>

      <p>请输入您注册时使用的邮箱，我们会将修改密码的链接通过邮件发送给您。</p>

      <table class="Settings MarginTop MarginBottom">
        <th>邮箱</th>
        <td><input type="text" value="" id="_email" name="email"></td>
      </table>
      <div class="text-center">
        <button class="btn btn-success btn-large" type="submit" value="Send">发送</button>
      </div>
    </form>
  </div>
</div>