<!--ACCOUNT##这是layout要用的参数，不能删！-->
<div class="Contents">
  <div class="Inner">
    <div class="Message">
      <h4>Changing Your Password</h4>

      <p>The password modification procedure has been sent.<br>Please check your e-mail and
        make the necessary changes within one hour.</p>

      <p>A link has been e-mailed to you. Please follow the link to change your password.</p>
      <ul class="BtnSet">
        <li><a href="/" class="btn btn-success btn-large btn-block">返回主页</a></li>
      </ul>
    </div>
  </div>
</div>