<div class="LyWrap">

  <!--[[CONTENTS-AREA]]-->
  <div class="LyContents02">
    <div class="ArMain01">
      <div class="MdMsgInfo01">
        <h1 class="mdMsgInfo01Ttl">Changing Your Password</h1>

        <p class="mdMsgInfo01Txt01">The password modification procedure has been sent.<br>Please check your e-mail and
          make the necessary changes within one hour.</p>

        <p class="mdMsgInfo01Txt01">A link has been e-mailed to you. Please follow the link to change your password.</p>
        <ul class="MdActionBtn01">
          <li class="mdActionBtn01Li"><a href="/" class="btn btn-success btn-large">返回主页</a></li>
          <!--/MdActionBtn01--></ul>
        <!--/MdMsgInfo01--></div>
      <span class="arMain01Corner01"></span>
      <span class="arMain01Corner02"></span>
      <span class="arMain01Corner03"></span>
      <span class="arMain01Corner04"></span>
      <!--/ArMain01--></div>

    <!--/LyContents02--></div>
</div>