<!--ACCOUNT##这是layout要用的参数，不能删！-->
<div class="container">
  <div class="center-block pal text-center"
       style="background-color: #ecf0f1;border-radius: 6px;max-width: 600px;">
    <form action="/forgetPassword" method="post"
          ng-controller="Form" name="form">
      <h1 class="h4">忘记密码</h1>

      <p>请输入您注册时使用的邮箱，<br>我们会将修改密码的链接通过邮件发送给您。</p>

      <div class="form-group"
           ng-class="{ 'has-error': tooltip || (!form.email.$valid && !focused) }">
        <input type="email" id="_email" name="email" class="form-control flat"
               ng-init="$parent.focused = true; $parent.tooltip = '<%= locals.errMsg || '' %>';"
               ng-focus="$parent.focused = true;" ng-blur="$parent.focused = false;"
               required
               ng-model="$parent.password" ng-change="$parent.tooltip = '';"
               tooltip="{{tooltip}}"
               tooltip-trigger="focus" tooltip-placement="{{placement}}" autofocus>
        <label class="input-icon fui-mail" for="_email"></label>
      </div>
      <button class="btn btn-primary btn-hg btn-block" type="submit">发送</button>
    </form>
  </div>
</div>

<script>
  (function () {
    sng.controller('Form', function ($scope) {
      var refreshPlacement = function () {
        if ($(window).width() < 769) {
          $scope.placement = 'top';
        } else {
          $scope.placement = 'right';
        }
        var active = document.activeElement;
        active.blur();
        active.focus();
      };
      setTimeout(function () {
        refreshPlacement();
      }, 0);
      $(window).resize(function () {
        refreshPlacement();
      });
    });
  })();
</script>