<!--LOGIN##这是layout要用的参数，不能删！-->
<div class="Contents">

  <form action="/login" method="post">
    <input type="hidden" name="fromUrl" value="http://mtm.com/"/>

    <div class="LoginForm">
      <div class="Inner">
        <fieldset class="clearfix">

            <p class="ErrorHint"><%= locals.errMsg || '' %>&nbsp;</p>
            <input type="text" value="<%= locals.email || '' %>"
                   id="_email" name="email"
                   placeholder="用户名或邮箱">
            <input type="password" id="_passwd" name="password"
                   maxlength="20"
                   placeholder="密码">
            <span class="AutoComplete">
              <input type="checkbox" name="autoLogin" value="Y"
                     id="autocomplete"/><label
              for="autocomplete"> 记住密码</label>
            </span>
            <button type="submit" class="btn btn-large" value="Log in">登录</button>
            <br><a class="ForgetPassword" href="/forgetPassword">忘记密码?</a>
        </fieldset>
      </div>
    </div>
  </form>
  <div class="LoginBottom">
    <div class="Inner">
      <dl>
        <dt><a href="/signup" class="btn btn-success btn-large">注册</a></dt>
        <dd>与世界分享你的总结</dd>
      </dl>
    </div>
  </div>

</div>

<script>
  $().ready(function () {
    if (!$("#_email").val()) {
      $("#_email").focus();
    }
  });
</script>