<!DOCTYPE html>
<html dir="ltr" lang="en_US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title>MTM  Account</title>
    <link rel="stylesheet" href="/stylesheets/account_common.css" />
    <script src="/javascripts/account_common.js"></script>
</head>
<body class="LyPage03 ExLangEn">
<div class="LyWrap">

    <!--[[HEADER-AREA]]-->
    <header><div class="LyHead03">

        <nav role="navigation"><ul class="MdGnbUtil01">
            <li class="mdGnbUtil01Li"><a href="http://www.mtm.com">MTM</a></li>
            <!--/MdGnbUtil01--></ul></nav>

        <div class="MdLoginHead01 MdCF">
            <h1 class="mdLoginHead01Ttl" role="banner">MTM</h1>
            <!--/MdRegistHead03--></div>

        <!--/LyHead01--></div></header>
    <!--[[/HEADER-AREA]]-->

    <!--[[CONTENTS-AREA]]-->
    <div class="LyContents03">

        <form action="/login" method="post" id="_naver_login_form" >     <!-- onsubmit="return formSubmit(event);" this function will encryp the user information. use it later.-->
            <input type="hidden" name="rsaKeyName" id="rsaKeyName" value="" />
            <input type="hidden" name="fromUrl" value="http://mtm.com/" />
            <!-- <input type="hidden" name="encryptedLoginParam" value="" id="ipt_login_param_encrypt" /> -->
            <!-- <input type="hidden" name="enc" value="b" /> -->

            <div class="MdFormLogin01">
                <div class="mdFormLogin01Inner MdCF">
                    <fieldset>
                        <legend class="MdHide">登录</legend>
                        <div class="mdFormLogin01Body">

                            <div class="mdFormLogin01MsgBox"><p class="MdMsgError01"><%- errMsg %></div>

                            <div class="mdFormLogin01BodyInner MdCF">

                                <div class="mdFormLogin01Unit01">
                                    <div class="mdFormLogin01Unit01Body">
                                        <div class="MdInputTxt03">
                                            <div class="mdInputTxt03Inner mdInputTxt03UserName"><input type="text" class="mdInputTxt03Input hasPlaceholder" value="<%- email %>" id="_email" name="email" tabindex="1"></div>
                                            <!--/MdInputTxt03--></div>
                                        <div class="MdInputTxt03">
                                            <div class="mdInputTxt03Inner mdInputTxt03Password"><input type="password" class="mdInputTxt03Input hasPlaceholder" value="<%- password %>" id="_passwd" name="password" maxlength="20" tabindex="2"></div>
                                            <!--/MdInputTxt03--></div>

                                        <!--/mdFormLogin01Unit01Body--></div>
                                    <div class="mdFormLogin01Unit01Foot">
                                        <p class="mdFormLogin01Autocomplete"><input type="checkbox"  name="autoLogin" value="Y" class="ipt_cb" id="autocomplete" tabindex="3" /><label for="autocomplete">记住密码</label></p>
                                        <p class="mdFormLogin01ForgetPassword"><a href="/resetPassword">忘记密码?</a></p>
                                        <p class="mdFormLogin01Unit01Btn"><input type="submit" class="MdBtnLogin01" value="Log in" tabindex="4"></p>
                                        <!--/mdFormLogin01Unit01Foot--></div>
                                    <!--/mdFormLogin01Unit01--></div>



                                <!--/mdFormLogin01BodyInner--></div>
                            <!--/mdFormLogin01Body--></div>
                    </fieldset>
                    <!--/mdFormLogin01Inner--></div>
                <!--/MdFormLogin01--></div>

        </form>

        <div class="MdFormLogin02">
            <div class="mdFormLogin02Inner MdCF">
                <dl class="MdRegistLink01">
                    <dt class="mdRegistLink01Btn"><a href="/signup" class="MdBtnRegist02">singup</a></dt>
                    <dd class="mdRegistLink01Txt">Start using a wide range of services <br>by registering a MTM account!</dd>
                    <!--/MdRegistLink01--></dl>
                <!--/mdFormLogin02Inner--></div>
            <!--/MdFormLogin02--></div>

        <!--/LyContents03--></div>
    <!--[[/CONTENTS-AREA]]-->


    <!--[[FOOTER-AREA]]-->
    <footer role="contentinfo">
        <!--[[FOOTER-AREA]]-->
        <footer role="contentinfo">

            <div id="Footer" class="Type01v3">
                <h2>MTM Link</h2>
                <ul class="NaverLink">
                    <li class="firstChild"><a href="http://MTM.com/">Company Profile</a></li>
                    <li><a href="http://www.MTM.com/rules/">Terms of Use</a></li>
                    <li><a href="http://www.MTM.com/privacy/">Privacy Policy</a></li>
                    <li><a href="http://help.MTM.com/faq?serviceNo=1">Support</a></li>
                    <li><a href="http://land.MTM.com/">Official blog</a></li>
                </ul>
                <p>&copy; <b>MTM Corporation</b></p>
            </div>

        </footer>
        <!--[[/FOOTER-AREA]]--></footer>
    <!--[[/FOOTER-AREA]]-->

    <!--/LyWrap--></div>
<!--
<script src="/javascripts/crypt.js"></script> -->

<script>
    $().ready(function() {
        new nj.account.initLoginForm();
    });
</script>
<!--
    function formSubmit(evt){
        evt.preventDefault ? evt.preventDefault() : evt.returnValue = false;

        if(!$("#_naver_login_form").valid()){
            return false;
        }

        var sRsaKeysApi = "/keys";
        nj.account.crypto.initRsaKeys(sRsaKeysApi, function(){
            if(!nj.account.crypto.hasRsaKeys()){
                return false;
            }
            var email = $("#_email");
            var password = $("#_passwd");
            var encryptedLoginParam = $("#ipt_login_param_encrypt");
            var emailval = $.trim(email.val()), passval = $.trim(password.val());
            encryptedLoginParam.val(nj.account.crypto.rsaEncrypt(("0" + emailval.length).slice(-2) + emailval + passval, true));

            email.attr('disabled','disabled');
            password.attr('disabled','disabled');
            password.val("");

            var oKeys = nj.account.crypto.getSplitRsaKey();
            $("#rsaKeyName").val(oKeys.keyname);

            if(encryptedLoginParam.val() == "" && email.val() != ""){
                init();
                email.val("");
                var errorMessage = $("#login_error");
                errorMessage.html("");
                return false;
            }
            email.val("");
            $("#_naver_login_form")[0].submit();

        });

        return false;
    }
    function init(){
        $("#_email").attr('disabled', '');
        $("#_passwd").attr('disabled', '');
        $("#ipt_login_param_encrypt").val("");
    }
</script>
<!--[[/SCRIPT]]-->

</body>
</html>