<!--LOGIN##这是layout要用的参数，不能删！-->
    <div class="LyContents03">

        <form action="/login" method="post" id="_naver_login_form" >     <!-- onsubmit="return formSubmit(event);" this function will encryp the user information. use it later.-->
            <input type="hidden" name="rsaKeyName" id="rsaKeyName" value="" />
          <input type="hidden" name="fromUrl" value="http://mtm.com/" />
            <!-- <input type="hidden" name="encryptedLoginParam" value="" id="ipt_login_param_encrypt" /> -->
            <!-- <input type="hidden" name="enc" value="b" /> -->

            <div class="MdFormLogin01">
                <div class="mdFormLogin01Inner MdCF">
                    <fieldset>
                        <div class="mdFormLogin01Body">

                            <div class="mdFormLogin01MsgBox"><p class="MdMsgError01"><%= !locals.errMsg ? '' : errMsg %></p></div>

                            <div class="mdFormLogin01BodyInner MdCF">

                                <div class="mdFormLogin01Unit01">
                                    <div class="mdFormLogin01Unit01Body">
                                        <div class="MdInputTxt03">
                                            <div class="mdInputTxt03Inner mdInputTxt03UserName"><input style="height: 40px;" type="text" class="" value="<%= !locals.email ? '' : email %>" id="_email" name="email" tabindex="1" placeholder="用户名或邮箱"></div>
                                            <!--/MdInputTxt03--></div>
                                        <div class="MdInputTxt03">
                                            <div class="mdInputTxt03Inner mdInputTxt03Password"><input style="height: 40px;" type="password" class="" id="_passwd" name="password" maxlength="20" tabindex="2" placeholder="密码"></div>
                                            <!--/MdInputTxt03--></div>

                                        <!--/mdFormLogin01Unit01Body--></div>
                                    <div class="mdFormLogin01Unit01Foot">
                                        <p class="mdFormLogin01Autocomplete"><input type="checkbox"  name="autoLogin" value="Y" class="ipt_cb" id="autocomplete" tabindex="3" /><label for="autocomplete">记住密码</label></p>
                                        <p class="mdFormLogin01ForgetPassword"><a href="/forgetPassword">忘记密码?</a></p>
                                        <p class="mdFormLogin01Unit01Btn"><button type="submit" class="btn btn-large" value="Log in" tabindex="4">登录</button></p>
                                        <!--/mdFormLogin01Unit01Foot--></div>
                                    <!--/mdFormLogin01Unit01--></div>



                                <!--/mdFormLogin01BodyInner--></div>
                            <!--/mdFormLogin01Body--></div>
                    </fieldset>
                    <!--/mdFormLogin01Inner--></div>
                <!--/MdFormLogin01--></div>

        </form>

        <div class="MdFormLogin02">
            <div class="mdFormLogin02Inner MdCF">
                <dl class="MdRegistLink01">
                    <dt class="mdRegistLink01Btn"><a href="/signup" class="btn btn-success btn-large">注册</a></dt>
                    <dd class="mdRegistLink01Txt">与世界分享你的总结</dd>
                    <!--/MdRegistLink01--></dl>
                <!--/mdFormLogin02Inner--></div>
            <!--/MdFormLogin02--></div>

        <!--/LyContents03--></div>
    <!--[[/CONTENTS-AREA]]-->



<!--
<script src="/javascripts/crypt.js"></script> -->

<script>
    $().ready(function() {
        new nj.account.initLoginForm();
    });
</script>
<!--
    function formSubmit(evt){
        evt.preventDefault ? evt.preventDefault() : evt.returnValue = false;

        if(!$("#_naver_login_form").valid()){
            return false;
        }

        var sRsaKeysApi = "/keys";
        nj.account.crypto.initRsaKeys(sRsaKeysApi, function(){
            if(!nj.account.crypto.hasRsaKeys()){
                return false;
            }
            var email = $("#_email");
            var password = $("#_passwd");
            var encryptedLoginParam = $("#ipt_login_param_encrypt");
            var emailval = $.trim(email.val()), passval = $.trim(password.val());
            encryptedLoginParam.val(nj.account.crypto.rsaEncrypt(("0" + emailval.length).slice(-2) + emailval + passval, true));

            email.attr('disabled','disabled');
            password.attr('disabled','disabled');
            password.val("");

            var oKeys = nj.account.crypto.getSplitRsaKey();
            $("#rsaKeyName").val(oKeys.keyname);

            if(encryptedLoginParam.val() == "" && email.val() != ""){
                init();
                email.val("");
                var errorMessage = $("#login_error");
                errorMessage.html("");
                return false;
            }
            email.val("");
            $("#_naver_login_form")[0].submit();

        });

        return false;
    }
    function init(){
        $("#_email").attr('disabled', '');
        $("#_passwd").attr('disabled', '');
        $("#ipt_login_param_encrypt").val("");
    }
</script>
<!--[[/SCRIPT]]-->

