<!--[[HEADER-AREA]]-->
<header><div class="LyHead02">
  <div class="lyHead02Inner MdCF">

    <hgroup role="banner">
      <h1 class="MdGnbTtl01"><a href="/">MTM</a></h1>
      <h2 class="MdGnbTtl02"><span>China Account</span></h2>
    </hgroup>

    <nav role="navigation"><ul class="MdGnbUtil02">

      <li class="mdGnbUtil02Li"><a href="/">MTM China</a></li>
      <!--/MdGnbUtil02--></ul></nav>

    <!--/lyHead02Inner--></div>
  <!--/LyHead02--></div></header>
<!--[[/HEADER-AREA]]-->
<!--contents-->


<!--[[CONTENTS-AREA]]-->
<div class="LyContents02">

  <div class="ArMain01">
    <div class="MdMsgInfo01">
      <h1 class="mdMsgInfo01Ttl">You have been successfully logged out of all MTM services.</h1>
      <ul class="MdActionBtn01">
        <li class="mdActionBtn01Li"><a href="/" class="MdBtnReturn01">Return to Homepage</a></li>
        <!--/MdActionBtn01--></ul>
      <!--/MdMsgInfo01--></div>

    <span class="arMain01Corner01"></span>
    <span class="arMain01Corner02"></span>
    <span class="arMain01Corner03"></span>
    <span class="arMain01Corner04"></span>
    <!--/ArMain01--></div>

  <!--/LyContents02--></div>
<!--[[/CONTENTS-AREA]]-->


<!--//contents-->
