<div class="LyContents02">
  <div class="ArMain01">
    <div class="MdMsgInfo01">
      <h1 class="mdMsgInfo01Ttl">Password change completed</h1>

      <p class="mdMsgInfo01Txt01">Your password has been successfully changed. Please use the new password when you
        log-in next time. You can change your mail address or password anytime.</p>
      <ul class="MdActionBtn01">
        <li class="mdActionBtn01Li"><a href="/" class="btn btn-success btn-large">返回主页</a></li>
        <li class="mdActionBtn01Li"><a href="/account/edit" class="btn btn-large">修改帐号信息</a></li>
        <!--/MdActionBtn01--></ul>
      <!--/MdMsgInfo01--></div>
    <!--/ArMain01--></div>
  <!--/LyContents02--></div>