<!--ACCOUNT##这是layout要用的参数，不能删！-->
<div class="Contents">
  <div class="Inner">
    <div class="Message">
      <form id="_registForm" action="/resetPassword" method="post">
        <input type="hidden" name="m" value="modifyPasswordByMail">
        <input type="hidden" name="email" id="email" value="<%= locals.email || '' %>">
        <input type="hidden" name="key" id="key" value="<%= locals.key || '' %>">
        <h4>Changing Your Password</h4>

        <p>Enter a new password.</p>
        <table class="Settings MarginTop MarginBottom">
          <tr>
            <th>Email</th>
            <td><span class="MdTxt02"><%= locals.email || '' %></span></td>
          </tr>
          <tr>
            <th>New Password</th>
            <td><input type="password" id="_passwd" name="newPassword"
                       maxlength="20">
              <span class="ErrorHint"><%= locals.errMsg || '' %></span>
            </td>
          </tr>
          <tr>
            <th>New Password&nbsp;(again)</th>
            <td><input type="password" id="_passwd_confirm"
                       name="newPasswordConfirm" maxlength="20">
              <span class="ErrorHint"><%= locals.errMsg || '' %></span>
            </td>
          </tr>
        </table>
        <div class="text-center">
          <button class="btn btn-success btn-large" type="submit" value="Send">修改密码</button>
        </div>
      </form>
    </div>
  </div>

  <script>
    $().ready(function () {
      new shizier.account.initPasswdResetForm();
    });
  </script>

</div>