<!--ACCOUNT##这是layout要用的参数，不能删！-->
<div class="Contents">
  <div class="Inner">
    <div class="Message">
      <h4>Password change completed</h4>

      <p>Please use the new password when you
        log-in next time.<br>You can change your mail address or password anytime.</p>
      <ul class="BtnSet">
        <li><a href="/" class="btn btn-success btn-large btn-block">返回主页</a></li>
        <li><a href="/account/edit" class="btn btn-large btn-block">修改帐号信息</a></li>
      </ul>
    </div>
  </div>
</div>