<div class="LyWrap">
  <!--[[CONTENTS-AREA]]-->
  <div class="LyContents02">
    <div class="ArMain01">
      <form id="_registForm" name="regform" action="/resetPassword" method="post">
        <input type="hidden" name="m" value="modifyPasswordByMail">
        <!-- <input type="hidden" name="certKey" value="VEivPRgItToixrWEeTjBffuWK8Cyx1UlQzV7xrROz5NcYmo11gqVRBmpHBNN"> -->
        <input type="hidden" name="email" id="email" value="<%= email %>">
        <input type="hidden" name="key" id="key" value="<%= key %>">
        <!-- <input type="hidden" name="lo" id="lo" value="en_US"> -->
        <h2 class="MdTtl01">Changing Your Password</h2>

        <div class="MdTxtWrap01">
          <p class="MdTxt01">Enter a new password.</p>
          <!--/MdTxtWrap01--></div>
        <div class="MdSting02">
          <table>
            <tbody>
            <tr class="firstChild">
              <th class="mdSting02Th04">Enter Email</th>
              <td class="mdSting02Td04"><span class="MdTxt02"><%= email %></span></td>
            </tr>
            <tr>
              <th class="mdSting02Th04">New Password</th>
              <td class="mdSting02Td04"><span class="MdInput01"><input style="height: 34px;" class="mdInput01Input"
                                                                       type="password" id="_passwd" name="newPassword"
                                                                       maxlength="20"><span
                class="mdInput01Corner01"></span><span class="mdInput01Corner02"></span><span
                class="mdInput01Corner03"></span><span class="mdInput01Corner04"></span></span>
                <span class="MdErr01"><%= errMsg %></span>
              </td>
            </tr>
            <tr class="lastChild">
              <th class="mdSting02Th04">New Password<span class="mdSting02Th04Txt">&nbsp;(again)</span></th>
              <td class="mdSting02Td04"><span class="MdInput01"><input style="height: 34px;"
                                                                       class="mdInput01Input mdInput01Active"
                                                                       type="password" id="_passwd_confirm"
                                                                       name="newPasswordConfirm" maxlength="20"><span
                class="mdInput01Corner01"></span><span class="mdInput01Corner02"></span><span
                class="mdInput01Corner03"></span><span class="mdInput01Corner04"></span></span></td>
            </tr>
            </tbody>
          </table>
          <!--/MdSting02--></div>
        <p class="MdSubmit01">
          <button class="btn btn-success" type="submit" value="Send">修改密码</button>
        </p>
        <span class="arMain01Corner01"></span>
        <span class="arMain01Corner02"></span>
        <span class="arMain01Corner03"></span>
        <span class="arMain01Corner04"></span>
        <!--/ArMain01--></form>
    </div>
    <!--/LyContents02--></div>
  <!--[[/CONTENTS-AREA]]-->

  <script>
    $().ready(function () {
      new nj.account.initPasswdResetForm();
    });
  </script>

  <!--//contents-->
</div>