    <!--[[HEADER-AREA]]-->
    <header><div class="LyHead01">

        <nav role="navigation"><ul class="MdGnbUtil01">
            <li class="mdGnbUtil01Li"><a href="/login">login</a></li><li class="mdGnbUtil01Li"><span class="MdGnbSeparator01">|</span><a href="http://www.mtmt.com">MTM</a></li>
            <!--/MdGnbUtil01--></ul></nav>

        <div class="MdRegistHead01 MdCF">
          <table style="margin:0 auto 20px;">
            <td>
              <a class="Logo Logo-64" href="/">子<small><small>儿</small></small></a>
            </td>
            <tr>
          </table>
          <p style="text-align: center;">与世界分享你的总结</p>
            <!--/MdRegistHead01--></div>

        <!--/LyHead01--></div></header>
    <!--[[/HEADER-AREA]]-->

    <!--[[CONTENTS-AREA]]-->
    <div class="LyContents01">


        <script type="text/javascript">
            //<![CDATA[
            function formSubmit(){
            }

            function init(){
                $("ipt_name").value = $("ipta_nickname").value;
            }
            //]]>
        </script>
        <form method="post" id="_registForm" action="/signup">
            <input type="hidden" name="fromUrl" value="http://mtm.com/" />
            <input type="hidden" id="certKey" name="certKey" value="" />
            <!--
            <input type="hidden" name="captchaKey" id="captchaKey" value="1^HJLzy0Lqp23QEf64" class="_inputCaptchaKey" />
             -->

            <div class="MdFormRegist01">
                <div class="mdFormRegist01Inner MdCF">
                    <fieldset>
                        <legend class="MdHide">Input of Registration Information</legend>
                        <div class="mdFormRegist01Body">
                            <div class="mdFormRegist01BodyInner MdCF">

                                <dl class="mdFormRegist01Unit01">
                                    <dt class="mdFormRegist01Unit01Ttl"><span>Username</span></dt>
                                    <dd class="mdFormRegist01Unit01Body">
                                        <div class="MdInputTxt01">
                                            <input style="height: 40px;" type="text" class="_userNameInput" value="" maxlength="20" id="_userName" name="username" /></div>

                                        <div class="mdFormRegist01MsgBox">
                                          <%- locals.nameMsg ? nameMsg : '' %>
                                        </div>
                                    </dd>
                                    <!--/mdFormRegist01Unit01--></dl>

                                <dl class="mdFormRegist01Unit01">
                                    <dt class="mdFormRegist01Unit01Ttl"><span>Email</span></dt>
                                    <dd class="mdFormRegist01Unit01Body">
                                        <div class="MdInputTxt01">
                                            <input style="height: 40px;" type="text" id="_email"  name="email" value="" /></div>

                                        <div class="mdFormRegist01MsgBox">
                                          <%- locals.emailMsg ? emailMsg : '' %>
                                        </div>
                                    </dd>
                                    <!--/mdFormRegist01Unit01--></dl>

                                <dl class="mdFormRegist01Unit01">
                                    <dt class="mdFormRegist01Unit01Ttl"><span>Password</span></dt>
                                    <dd class="mdFormRegist01Unit01Body">
                                        <div class="MdInputTxt01">
                                            <input style="height: 40px;" type="password" maxlength="20" id="_passwd" name="password" /></div>

                                        <div class="mdFormRegist01MsgBox">
                                          <%- locals.passwordMsg ? passwordMsg : '' %>
                                        </div>
                                    </dd>
                                    <!--/mdFormRegist01Unit01--></dl>

                                <!--/mdFormRegist01BodyInner--></div>
                            <!--/mdFormRegist01Body--></div>
                    </fieldset>
                    <!--/mdFormRegist01Inner--></div>
                <!--/MdFormRegist01--></div>


            <div class="MdAgree01">
                <fieldset>
                    <legend class="MdHide">Agreement</legend>
                    <ul class="mdAgree01List">
                        <li class="mdAgree01Li"><input type="checkbox" id="rules"><strong>Agree to <a href="http://www.MTM.com/rules/" target="_blank">MTM&#39;s Terms of service</a> and <a href="http://www.MTM.com/privacy/policy/" target="_blank">Privacy Policy</a></strong></input></li>
                        <input type="hidden" name="newsletterflg" value="N"></input>
                    </ul>
                </fieldset>
                <!--/MdAgree01--></div>

            <button name="signup" style="margin: 30px auto;width: 230px;height: 50px;" class="btn btn-success btn-block btn-large" disabled= "disabled">Sign Up</button>
        </form>



        <!--[[SCRIPT]]-->
        <script>
            $().ready(function() {
                new nj.account.initRegistForm();
                //lcs_do();  9.24
            });
        </script>
        <!--[[/SCRIPT]]-->

        <!--/LyContents01--></div>
    <!--[[/CONTENTS-AREA]]-->

