<!--SIGNUP##这是layout要用的参数，不能删！-->
<form method="post" action="/signup">
  <div class="RegisterForm">
    <div class="Inner">
      <fieldset class="clearfix">
        <dl>
          <dt>用户名</dt>
          <dd>
            <input type="text" value="" maxlength="20"
                   id="_userName" name="username"/>

            <span></span>
            <p class="ErrorHint"><%- locals.nameMsg || '' %></p>
          </dd>
        </dl>
        <dl>
          <dt>邮箱</dt>
          <dd>
            <input type="text" id="_email" name="email" value=""/>

            <p class="ErrorHint">
              <%= locals.emailMsg ? emailMsg : '' %>
            </p>
          </dd>
        </dl>
        <dl>
          <dt>密码</dt>
          <dd>
            <input type="password" maxlength="20" id="_passwd" name="password"/>

            <p class="ErrorHint">
              <%= locals.passwordMsg ? passwordMsg : '' %>
            </p>
          </dd>
        </dl>
      </fieldset>
    </div>
  </div>

  <fieldset class="Agreement">
    <input type="checkbox" id="rules"/>
    <strong>同意石子儿的<a href="/rules" target="_blank">使用条规</a>和<a href="/privacy" target="_blank">隐私条款</a></strong>
  </fieldset>

  <button name="signup" style="margin: 30px auto;width: 230px;height: 50px;"
          class="btn btn-success btn-block btn-large" disabled="disabled">注册
  </button>
</form>

<script>
  $(function () {
    new shizier.account.initRegistForm();
    $("input#_userName").on('focus keyup', function (event) {
      var $this = $(this);
      var errorHintVal = $this.next().next().text();
      if (event.type == 'focus' && errorHintVal && errorHintVal.length) {
        return;
      }
      $this
        .next()
        .text('个人页面: http://shizier.com/u/' + ($(this).val() || '用户名'))
        .next()
        .text('用户名不能更改。');
    });
    if (!$("#_userName").val()) {
      $("#_userName").focus();
    }
    $("input#rules:checkbox").click(function () {
      if ($(this).is(':checked')) {
        $("button[name='signup']").removeAttr("disabled");
      } else {
        $("button[name='signup']").attr("disabled", "disabled");
      }
    });
  });
</script>