<!--SIGNUP##这是layout要用的参数，不能删！-->
<ion-header-bar class="bar-stable">
  <div class="buttons">
    <a class="button button-icon icon ion-ios7-arrow-back" href="/"></a>
  </div>

  <h1 class="title">
    注册
  </h1>

  <div class="buttons">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </div>
</ion-header-bar>

<ion-content>
  <form class="list padding" method="post" action="/signup">
    <p class="text-danger">
      <%= locals.nameMsg || locals.emailMsg || locals.passwordMsg || "" %>&nbsp;
    </p>
    <label class="item item-input padding">
      <input type="text" maxlength="20" autofocus
             ng-model="username"
             ng-init="username = '<%= locals.name || '' %>'"
             name="username" id="_userName" placeholder="用户名">
      <i class="button-icon icon ion-ios7-person-outline placeholder-icon"></i>
    </label>
    <label class="item item-input padding">
      <input type="email"
             ng-model="email"
             ng-init="email = '<%= locals.email || '' %>'"
             name="email" id="_email" placeholder="邮箱">
      <i class="button-icon icon ion-ios7-email-outline placeholder-icon"></i>
    </label>
    <label class="item item-input padding">
      <input type="password" maxlength="20"
             ng-model="password"
             name="password" id="_password" placeholder="密码">
      <i class="button-icon icon ion-ios7-locked-outline placeholder-icon"></i>
    </label>
    <div class="item-checkbox mtl mbl" style="position: relative; margin-left: -5px;">
      <label class="checkbox" style="right: auto;">
        <input type="checkbox" ng-model="rules" ng-init="rules = true;">
      </label>
      <span>同意石子儿的<a href="/rules" target="_blank"
        >《使用条规》</a>和<a href="/privacy" target="_blank"
        >《隐私条款》</a></span>
    </div>
    <button class="button button-block button-positive"
            ng-disabled="!rules"
            type="submit">
      注册石子儿
    </button>
  </form>
</ion-content>