<!--ACCOUNT##这是layout要用的参数，不能删！-->
<div class="Contents">
  <div class="Inner">
    <div class="Message">
      <h4>You account registration has been received.</h4>

      <p>We have sent your confirmation to <strong class="MdColor04"> <%= locals.emailAddress || ''
        %> </strong>. Please check the contents of the confirmation email and finish your MTM account registration.</p>

      <p class="Note">※ If you do not complete the step mentioned above, you will not be able to use all of
        MTM&#39;S services.</p>
      <ul class="BtnSet">
        <li><a href="/" class="btn btn-success btn-large btn-block">返回主页</a></li>
      </ul>
    </div>
  </div>
</div>