<div class="Category dropdown" ng-controller="CategoryCtrl">
  <button class="btn dropdown-toggle btn-block" data-toggle="dropdown"
          ng-class="current == '未分类' ? 'btn-danger' : 'btn-default'"
          type="button"><span class="Current">{{current}}</span><span class="caret"></span></button>
  <span class="dropdown-arrow dropdown-arrow-inverse"></span>
  <ul class="dropdown-menu dropdown-inverse">
    <li ng-repeat="item in items">
      <a ng-class="{ highlighted: current == item }" href="##"
         ng-click="saveCategory(item)">{{item}}</a>
    </li>

    <script>
      function CategoryCtrl($scope, $timeout, $http) {
        $scope.current = '<%= topic.category %>';

        $scope.items = [];
        for (var key in shizier.utils.CATEGORIES2ENG) {
          $scope.items.push(key);
        }

        $scope.saveCategory = function (category) {
          $http.put('/topic/category', {
            topicId: '<%= topic._id %>',
            category: category
          })
            .success(function () {
              $timeout(function() {
                $scope.current = category;
              });
            });
        };
      }
    </script>
  </ul>
</div>