<% var REGEXP_URL = /^((http[s]?|ftp):\/)?\/?((([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9]))(:([^\/]*))?(((\/\w+)*\/)([\w\-\.]+[^#?\s]+))?(\?([^#]*))?(#(.*))?$/; %>
<% if (item.type == 'IMAGE' || item.type == 'ALL') { %>
<div class='ItemContent IMAGE'>
  <div class="WidgetItemImg">
    <a class="ImageLink" href='<%= item.url ? item.url : "" %>'><img class='WidgetItemThumb' src='<%= item.url ? item.url : "" %>'></a>
    <div class="ItemQuoteWrapper">
      <div class="ItemQuoteHeader">来源</div>
      <div class="ItemQuoteOuter NegLinkWrapper">
        <a class="ItemQuote" href="<%= item.quote ? item.quote : '' %>">
          <%= item.quote ? (item.quote = item.quote.match(REGEXP_URL)) ? item.quote[3] : '' : '' %>
        </a>
      </div>
    </div>
  </div>
  <div class="ItemTxt NegLinkWrapper">
    <a class="ItemTtl ImageLink" href='<%= item.url ? item.url : "" %>'><%= item.title ? item.title : '' %></a>
    <p class="ItemDesc"><%- item.description ? item.description.replace(/\n/g, "<br>") : '' %></p>
  </div>
</div>
<% } %>
<% if (item.type == 'TEXT' || item.type == 'ALL') { %>
<div class='ItemContent TEXT'>
  <p class='ItemView'><%- item.text ? item.text.replace(/\n/g, "<br>") : '' %></p>
</div>
<% } %>
<% if (item.type == 'TITLE' || item.type == 'ALL') { %>
<div class='ItemContent TITLE'>
  <p class='ItemView'><%= item.title ? item.title : '' %></p>
</div>
<% } %>