<script>
  window.shizier = window.shizier || {};
  shizier.deleteTopic = function (button) {
    if (!confirm('总结删除后将不能恢复！您确定要删除该总结吗？')) {
      return;
    }
    $(button).button('loading');
    $.ajax(location.href.replace('/edit', ''), {
      type: 'DELETE'
    })
      .done(function () {
        location.href = '/works';
      })
      .fail(function (jqXHR) {
        alert('未能删除该总结！\n' + jqXHR.responseText);
        $(button).button('reset');
      })
  };
</script>
<button data-loading-text="&lt;i class='icon-trash'&gt;&lt;/i&gt; 删除 &lt;i class='icon-spinner icon-spin'&gt;&lt;/i&gt;"
        onclick="shizier.deleteTopic(this);" class="btn btn-link"
        style="color: #c0392b;padding: 0;font-size: 18px;vertical-align: baseline;"
        type="button" title="删除"><i class="icon-trash"></i>
</button>