<% var REGEXP_URL = /^((http[s]?|ftp):\/)?\/?((([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9]))(:([^\/]*))?(((\/\w+)*\/)([\w\-\.]+[^#?\s]+))?(\?([^#]*))?(#(.*))?$/; %>
<% var REGEXP_YOUKU = /http:\/\/v.youku.com\/v_show\/id_(.+)\.html/ %>
<% var REGEXP_YOUKU = /http:\/\/www.tudou.com\/programs\/view\/(.*)\// %>
<% if (item.type == 'IMAGE' || item.type == 'ALL') { %>
<div class='Content IMAGE'>
  <div class="Image">
    <a class="IMAGE_LINK" href='<%= item.url ? item.url : "" %>'>
      <img onerror="mtm.errorImage(this,'default_120x120');" src='<%= item.url ? item.url : "" %>'>
    </a>
    <div class="Quote">
      <span>来源</span>
      <div>
        <a href="<%= item.quote ? item.quote : '' %>">
          <%= item.quote ? (item.quote = item.quote.match(REGEXP_URL)) ? item.quote[3] : '' : '' %>
        </a>
      </div>
    </div>
  </div>
  <div class="Text">
    <a class="IMAGE_LINK" href='<%= item.url ? item.url : "" %>'><%= item.title ? item.title : '' %></a>
    <p><%- item.description ? escape(item.description).replace(/\n/g, "<br>") : '' %></p>
  </div>
</div>
<% } %>
<% if (item.type == 'VIDEO' || item.type == 'ALL') { %>
<div class='Content VIDEO'>
  <% var urlParts = !item.url ? null : item.url.match(REGEXP_URL); %>
  <% var temp; %>
  <% var quote = !urlParts ? null : !urlParts[3] ? null : !(temp = urlParts[3].match(/^[^\.]+\.(([^\.]+)\.([^\.]+\.)*[^\.]+)$/)) ? null : !temp[1] ? null : temp[1]; %>
  <% temp = !(temp = item.url) ? '#vid#' : !(temp = temp.substring(temp.length - 18, temp.length - 5)) ? '#vid#' : temp %>
  <embed style="display: <%= quote != 'youku.com' ? 'none' : 'block' %>;"
         class="YOUKU"
         src="http://static.youku.com/v/swf/qplayer.swf?winType=adshow&amp;VideoIDS=<%= temp %>"
         wmode="transparent"
         width="480"
         height="400"
         align="center"
         border="0">
  <% temp = !(temp = item.url) ? '#vid#' : !(temp = temp.match(/([^\/]{11})(\/|\.html)$/)) ? '#vid#' : !temp[1] ? '#vid#' : temp[1] %>
  <embed style="display: <%= quote != 'tudou.com' ? 'none' : 'block' %>;"
         class="TUDOU"
    src="http://www.tudou.com/v/<%= temp %>/v.swf"
    type="application/x-shockwave-flash"
    allowfullscreen="true"
    wmode="opaque"
    width="480"
    height="400">
  <div class="Quote">
    <span>来源</span>
    <a class="VIDEO_URL" href="<%= item.url ? item.url : '' %>">
      <%= !quote ? '' : quote %>
    </a>
  </div>
  <div class="Text">
    <a class="VIDEO_URL" href='<%= item.url ? item.url : "" %>'><%= item.title ? item.title : '' %></a>
    <p><%- item.description ? escape(item.description).replace(/\n/g, "<br>") : '' %></p>
  </div>
</div>
<% } %>
<% if (item.type == 'CITE' || item.type == 'ALL') { %>
<div class='Content CITE'>
  <p class="Cite">
    <span></span>
    <q><%- item.cite ? escape(item.cite).replace(/\n/g, "<br>") : '' %></q>
  </p>
  <div class="Quote">
    <span>来源</span>
    <a href="<%= item.url ? item.url : '' %>"><%= !item.title ? '' : item.title %></a>
  </div>
  <p class="Description"><%- item.description ? escape(item.description).replace(/\n/g, "<br>") : '' %></p>
</div>
<% } %>
<% if (item.type == 'TEXT' || item.type == 'ALL') { %>
<div class='Content TEXT'>
  <p><%- item.text ? escape(item.text).replace(/\n/g, "<br>") : '' %></p>
</div>
<% } %>
<% if (item.type == 'TITLE' || item.type == 'ALL') { %>
<div class='Content TITLE'>
  <p><%= item.title ? item.title : '' %></p>
</div>
<% } %>