<% var REGEXP_URL = /^(https?|ftp):\/\/(([\w\-]+\.)+[\w\-]+)(\/|\?|$)/i; %>
<% if (item.type == 'IMAGE' || item.type == 'ALL') { %>
<div class='Content IMAGE'>
  <div class="Image">
    <a class="IMAGE_LINK" href='<%= item.url ? item.url : "" %>'>
      <img onerror="mtm.errorImage(this,'default_120x120');" src='<%= item.url ? item.url : "" %>'>
    </a>

    <div class="Quote">
      <span>来源</span>

      <div>
        <a href="<%= item.quote ? item.quote : '' %>">
          <%= item.quote ? (item.quote = item.quote.match(REGEXP_URL)) ? item.quote[2] : '' : '' %>
        </a>
      </div>
    </div>
  </div>
  <div style="overflow: hidden;">
    <div class="Title">
      <a class="IMAGE_LINK" href='<%= item.url ? item.url : "" %>'><%= item.title ? item.title : '' %></a>
    </div>
    <p class="Description"><%- item.description ? escape(item.description).replace(/\n/g, "<br>") : '' %></p>
  </div>
</div>
<% } %>
<% if (item.type == 'VIDEO' || item.type == 'ALL') { %>
<div class='Content VIDEO'>
  <% var urlParts = !item.url ? null : item.url.match(REGEXP_URL); %>
  <% var temp; %>
  <% var quote = !urlParts ? null : !urlParts[2] ? null : !(temp = urlParts[2].match(/youku\.com|tudou\.com$/)) ? null : temp[0]; %>
  <% var vid = !(temp = item.url) ? '#vid#' : !(temp = temp.match(/id_([\w\-]{13})\.html\/?(\?|$)/)) ? '#vid#' : !temp[1] ? '#vid#' : temp[1]; %>
  <% var showThis = quote == 'youku.com' && vid != '#vid#'; %>
  <% var showOne = showOne || showThis; %>
  <embed style="display: <%= !showThis ? 'none' : 'block' %>;"
         class="YOUKU"
         src="http://static.youku.com/v/swf/qplayer.swf?winType=adshow&amp;VideoIDS=<%= vid %>"
         wmode="transparent"
         width="480"
         height="400"
         align="center"
         border="0">
  <% vid = !(temp = item.url) ? '#vid#' : !(temp = temp.match(/([\w\-]{11})(\.html)?\/?(\?|$)/)) ? '#vid#' : !temp[1] ? '#vid#' : temp[1]; %>
  <% var showThis = quote == 'tudou.com' && vid != '#vid#'; %>
  <% var showOne = showOne || showThis; %>
  <embed style="display: <%= !showThis ? 'none' : 'block' %>;"
         class="TUDOU"
         src="http://www.tudou.com/v/<%= vid %>/v.swf"
         type="application/x-shockwave-flash"
         allowfullscreen="true"
         wmode="opaque"
         width="480"
         height="400">
  <div class="Thumb" style="display: <%= showOne ? 'none' : 'block' %>;"></div>
  <div class="Quote">
    <span>来源</span>
    <div>
      <a class="VIDEO_URL" href="<%= item.url ? item.url : '' %>">
        <%= quote ? quote : item.url ? item.url : '' %>
      </a>
    </div>
  </div>
  <p class="Title" style="display: <%= (item.type != 'ALL') && !item.title ? 'none' : 'block' %>;">
    <a class="VIDEO_URL" href='<%= item.url ? item.url : "" %>'><%= item.title ? item.title : '' %></a>
  </p>
  <p class="Description" style="display: <%= (item.type != 'ALL') && !item.description ? 'none' : 'block' %>;"><%- item.description ?
    escape(item.description).replace(/\n/g, "<br>") : '' %></p>
</div>
<% } %>
<% if (item.type == 'CITE' || item.type == 'ALL') { %>
<div class='Content CITE'>
  <p class="Cite">
    <span></span>
    <q><%- item.cite ? escape(item.cite).replace(/\n/g, "<br>") : '' %></q>
  </p>

  <div class="Quote" style="display: <%= (item.type != 'ALL') && !item.url && !item.title ? 'none' : 'block' %>;">
    <span>来源</span>
    <div>
      <a href="<%= !item.url ? '' : item.url %>"><%= !item.url ? '' : !item.title ? item.url : item.title %></a>
      <span ><%= item.url ? '' : !item.title ? '' : item.title %></span>
    </div>
  </div>
  <p class="Description" style="display: <%= (item.type != 'ALL') && !item.description ? 'none' : 'block' %>;"><%- item.description ?
    escape(item.description).replace(/\n/g, "<br>") : '' %></p>
</div>
<% } %>
<% if (item.type == 'TEXT' || item.type == 'ALL') { %>
<div class='Content TEXT'>
  <p><%- item.text ? escape(item.text).replace(/\n/g, "<br>") : '' %></p>
</div>
<% } %>
<% if (item.type == 'TITLE' || item.type == 'ALL') { %>
<div class='Content TITLE'>
  <p><%= item.title ? item.title : '' %></p>
</div>
<% } %>