<td>
  <span>添加条目</span>
  <ul>
    <li>
      <button class="btn btn-link text-default" data-type="LINK_CREATE" type="button">
        <i class="icon-link"></i>
        链接
      </button>
    </li>
    <li>
      <button class="btn btn-link text-default" data-type="IMAGE_CREATE" type="button">
        <i class="icon-picture"></i>
        图片
      </button>
    </li>
    <li>
      <button class="btn btn-link text-default" data-type="VIDEO_CREATE" type="button">
        <i class="icon-film"></i>
        视频
      </button>
    </li>
    <li>
      <button class="btn btn-link text-default" data-type="CITE" type="button">
        <i class="icon-quote-left"></i>
        引用
      </button>
    </li>
    <li>
      <button class="btn btn-link text-default" data-type="TEXT" type="button">
        <i class="icon-align-left"></i>
        文本
      </button>
    </li>
    <li>
      <button class="btn btn-link text-default" data-type="TITLE" type="button">
        <i class="icon-text-width"></i>
        标题
      </button>
    </li>
  </ul>
</td>