<div class="Menu btn-group btn-group-sm"
     ng-class="{OpacityMenu: !items.length || $index == items.length - 1 }">
  <button class="btn btn-inverse" type="button"
          ng-click="createItem(item, 'TITLE')"
          title="标题">
    <i class="fa fa-text-width"></i>
  </button>
  <button class="btn btn-inverse" type="button"
          ng-click="createItem(item, 'TEXT')"
          title="文本">
    <i class="fa fa-align-left"></i>
  </button>
  <button class="btn btn-primary" type="button"
          ng-click="createItem(item, 'IMAGE')"
          title="图片">
    <i class="fa fa-picture-o"></i>
  </button>
  <button class="btn btn-primary" type="button"
          ng-click="createItem(item, 'LINK_CREATE')"
          title="链接">
    <i class="fa fa-link"></i>
  </button>
  <button class="btn btn-default" type="button"
          ng-click="onCreateCite()"
          title="引文">
    <i class="fa fa-quote-left"></i>
  </button>
</div>