<div class="Menu pas">
  <span>添加条目</span>
  <ul>
    <li>
      <button class="btn btn-link" type="button"
              data-type="LINK_CREATE" title="链接">
        <i class="fa fa-link"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-link" type="button"
              data-type="IMAGE_CREATE" title="图片">
        <i class="fa fa-picture-o"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-link" type="button"
              data-type="VIDEO_CREATE" title="视频">
        <i class="fa fa-film"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-link" type="button"
              data-type="CITE" title="引用">
        <i class="fa fa-quote-left"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-link" type="button"
              data-type="WEIBO_CREATE" title="weibo">
        <i class="fa fa-weibo"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-link" type="button"
              data-type="TEXT" title="文本">
        <i class="fa fa-align-left"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-link" type="button"
              data-type="TITLE" title="标题">
        <i class="fa fa-text-width"></i>
      </button>
    </li>
  </ul>
</div>