<% if (item.type == 'LINK' || item.type == 'ALL') { %>
<div class='Content LINK'>
  <p class="Title" style="display: <%= (item.type != 'ALL') && !item.title ? 'none' : 'block' %>;">
    <a target="_blank" class="LINK_URL text-default" href='<%= item.url ? item.url : "" %>'><%= item.title || '' %></a>
  </p>
  <div class="Quote">
    <a target="_blank" class="LINK_URL" href="<%= item.url || '' %>">
      <%= item.url || '' %>
    </a>
  </div>
  <p class="Snippet text-muted" style="display: <%= (item.type != 'ALL') && !item.snippet ? 'none' : 'block' %>;"><%- item.snippet ?
    escape(item.snippet).replace(/\n/g, "<br>") : '' %></p>
  <div class="Thumb" style="display: <%= (item.type != 'ALL') && !item.src ? 'none' : 'block' %>;">
    <a class="fancybox" rel="gallery" href='<%= item.src || "" %>' title="<%= item.title || '' %>">
      <img src="<%= item.src || '' %>">
    </a>
  </div>
  <p class="Description text-secondary" style="display: <%= (item.type != 'ALL') && !item.description ? 'none' : 'block' %>;"><%- item.description ?
    escape(item.description).replace(/\n/g, "<br>") : '' %></p>
</div>
<% } %>
<% if (item.type == 'IMAGE' || item.type == 'ALL') { %>
<div class='Content IMAGE'>
  <div class="Image">
    <a class="IMAGE_LINK fancybox" rel="gallery" href='<%= item.url || "" %>'
       title="<%= (item.title || '') + (item.title && item.description ? ' -- ' : '') + (item.description || '') %>">
      <img onerror="shizier.errorImage(this,'default_120x120');" src='<%= item.url || "" %>'>
    </a>

    <div class="Quote" style="<%- (item.type != 'ALL') && !item.quote ? 'display:none' : '' %>">
      <span>来源</span>
      <div>
        <a target="_blank" href="<%= item.quote || '' %>">
          <%= item.quoteDomain ? item.quoteDomain : '' %>
        </a>
      </div>
    </div>
  </div>
  <div style="overflow: hidden;">
    <div class="Title"><%= item.title || '' %></div>
    <p class="Description text-secondary"><%- item.description ? escape(item.description).replace(/\n/g, "<br>") : '' %></p>
  </div>
</div>
<% } %>
<% if (item.type == 'VIDEO' || item.type == 'ALL') { %>
<div class='Content VIDEO' data-vid="<%= item.vid %>">

  <% include _video_cover.html %>

  <div class="Quote">
    <span>来源</span>
    <div>
      <a target="_blank" class="VIDEO_URL" href="<%= item.url || '' %>"><%= item.quote || item.url || '' %></a>
    </div>
  </div>
  <p class="Title" style="display: <%= (item.type != 'ALL') && !item.title ? 'none' : 'block' %>;">
    <a target="_blank" class="VIDEO_URL text-default" href='<%= item.url ? item.url : "" %>'><%= item.title ? item.title : '' %></a>
  </p>
  <p class="Description text-secondary" style="display: <%= (item.type != 'ALL') && !item.description ? 'none' : 'block' %>;"><%- item.description ?
    escape(item.description).replace(/\n/g, "<br>") : '' %></p>
</div>
<% } %>
<% if (item.type == 'CITE' || item.type == 'ALL') { %>
<div class='Content CITE'>
  <p class="Cite">
    <i class="icon-quote-left text-light"></i>
    <q class="text-secondary"><%- item.cite ? escape(item.cite).replace(/\n/g, "<br>") : '' %></q>
  </p>

  <div class="Quote" style="<%- (item.type != 'ALL') && !item.url && !item.title ? 'display:none' : '' %>">
    <span>来源</span>
    <div>
      <a target="_blank" href="<%= !item.url ? '' : item.url %>"><%= !item.url ? '' : !item.title ? item.url : item.title %></a>
      <span ><%= item.url ? '' : !item.title ? '' : item.title %></span>
    </div>
  </div>
  <p class="Description text-secondary" style="display: <%= (item.type != 'ALL') && !item.description ? 'none' : 'block' %>;"><%- item.description ?
    escape(item.description).replace(/\n/g, "<br>") : '' %></p>
</div>
<% } %>
<% if (item.type == 'WEIBO' || item.type == 'ALL') { %>
<div class='Content WEIBO'>
  <a target="_blank"  class="Avatar AuthorUrl" href="<%= (item.user && 'http://weibo.com/' + item.user.profile_url) || '' %>">
    <img src="<%= item.user && item.user.profile_image_url || '' %>">
  </a>

  <div style="overflow: hidden;">
    <a target="_blank" class="Author AuthorUrl text-default" href="<%= (item.user && 'http://weibo.com/' + item.user.profile_url) || '' %>">
      <span class="ScreenName"><%= item.user && item.user.screen_name || '' %></span>
    </a>
    <a target="_blank" class="Verify <%= !item.user ? '' : !item.user.verified ? '' : item.user.verified_type ? 'ORG' : 'PERSONAL' %>" href="http://verified.weibo.com/verify"><b>V</b></a>
    <span class="AuthorDescription text-muted"><%= item.user && item.user.description || '' %></span>
    <p class="Text"><%= item.text || '' %></p>
    <div class="Pic clearfix" style="<%= item.pic_urls && item.pic_urls.length == 4 && 'width: 170px;' || '' %>">
      <% if (item.pic_urls) { %>
      <% if (item.pic_urls.length == 1) { %>
      <a class="WeiboImage fancybox" rel="gallery" href="item.pic_urls[0].thumbnail_pic"><img src="item.pic_urls[0].thumbnail_pic"></a>
      <% } else { %>
      <% for (var i = 0; i < item.pic_urls.length; i++) { %>
      <% var src = item.pic_urls[i].thumbnail_pic.replace('/thumbnail/', '/square/'); %>
      <a class="WeiboImage fancybox" rel="gallery" href="src"><img src="src"></a>
      <% } %>
      <% } %>
      <% } %>
    </div>
    <% if (item.retweeted_status) { %>
    <% var retweetedItem = item.retweeted_status; %>
    <div class="Retweeted clearfix">
      <p class="CaretShadow">◆</p>
      <p class="Caret">◆</p>
      <a target="_blank" class="Author AuthorUrl text-default" href="<%= (retweetedItem.user && 'http://weibo.com/' + retweetedItem.user.profile_url) || '' %>">
        @<span class="ScreenName"><%= retweetedItem.user && retweetedItem.user.screen_name || '' %></span>
      </a>
      <a target="_blank" class="Verify <%= !retweetedItem.user ? '' : !retweetedItem.user.verified ? '' : retweetedItem.user.verified_type ? 'ORG' : 'PERSONAL' %>" href="http://verified.weibo.com/verify"><b>V</b></a>
      <span class="AuthorDescription text-muted"><%= retweetedItem.user && retweetedItem.user.description || '' %></span>
      <p class="Text"><%= retweetedItem.text || '' %></p>
      <div class="Pic clearfix" style="<%= retweetedItem.pic_urls && retweetedItem.pic_urls.length == 4 && 'width: 170px;' || '' %>">
        <% if (retweetedItem.pic_urls) { %>
        <% if (retweetedItem.pic_urls.length == 1) { %>
        <a class="WeiboImage fancybox" rel="gallery" href="retweetedItem.pic_urls[0].thumbnail_pic"><img src="retweetedItem.pic_urls[0].thumbnail_pic"></a>
        <% } else { %>
        <% for (var i = 0; i < retweetedItem.pic_urls.length; i++) { %>
        <% var src = retweetedItem.pic_urls[i].thumbnail_pic.replace('/thumbnail/', '/square/'); %>
        <a class="WeiboImage fancybox" rel="gallery" href="<%= src %>"><img src="<%= src %>"></a>
        <% } %>
        <% } %>
        <% } %>
      </div>
      <% console.log(retweetedItem.time); %>
      <a target="_blank" class="Time text-muted" style="float: left;" href="<%= retweetedItem.user && 'http://weibo.com/' + retweetedItem.user.idstr + '/' + retweetedItem.mid62 || '' %>"><%= retweetedItem.time || '' %></a>
      <div style="float: right;">
        <a target="_blank" class="Forward" href="<%= retweetedItem.user && 'http://weibo.com/' + retweetedItem.user.idstr + '/' + retweetedItem.mid62 + '?type=repost' || '' %>">转发</a>
        <a target="_blank" class="Comment" href="<%= retweetedItem.user && 'http://weibo.com/' + retweetedItem.user.idstr + '/' + retweetedItem.mid62 || '' %>">评论</a>
      </div>
      <div class="clearfix"></div>
      <p class="Description text-secondary" style="display: <%= (retweetedItem.type != 'ALL') && !retweetedItem.description ? 'none' : 'block' %>;"><%- retweetedItem.description ?
        escape(retweetedItem.description).replace(/\n/g, "<br>") : '' %></p>
    </div>
    <% } %>
    <a target="_blank" class="Time text-muted" style="float: left;" href="<%= item.user && 'http://weibo.com/' + item.user.idstr + '/' + item.mid62 || '' %>"><%= item.time || '' %></a>
    <div style="float: right;">
      <a target="_blank" class="Forward" href="<%= item.user && 'http://weibo.com/' + item.user.idstr + '/' + item.mid62 + '?type=repost' || '' %>">转发</a>
      <a target="_blank" class="Comment" href="<%= item.user && 'http://weibo.com/' + item.user.idstr + '/' + item.mid62 || '' %>">评论</a>
    </div>
    <div class="clearfix"></div>
    <p class="Description text-secondary" style="display: <%= (item.type != 'ALL') && !item.description ? 'none' : 'block' %>;"><%- item.description ?
      escape(item.description).replace(/\n/g, "<br>") : '' %></p>
  </div>
</div>
<% } %>
<% if (item.type == 'TEXT' || item.type == 'ALL') { %>
<div class='Content TEXT'>
  <p class="text-secondary"><%- item.text ? escape(item.text).replace(/\n/g, "<br>") : '' %></p>
</div>
<% } %>
<% if (item.type == 'TITLE' || item.type == 'ALL') { %>
<div class='Content TITLE'>
  <p><%= item.title ? item.title : '' %></p>
</div>
<% } %>