<% if (item.type == 'LINK' || item.type == 'ALL') { %>
<div class='Content LINK'>
  <p class="Title" style="display: <%= (item.type != 'ALL') && !item.title ? 'none' : 'block' %>;">
    <a class="LINK_URL text-default" href='<%= item.url ? item.url : "" %>'><%= item.title ? item.title : '' %></a>
  </p>
  <div class="Quote">
    <a class="LINK_URL" href="<%= item.url ? item.url : '' %>">
      <%= item.url ? item.url : '' %>
    </a>
  </div>
  <p class="Snippet" style="display: <%= (item.type != 'ALL') && !item.snippet ? 'none' : 'block' %>;"><%- item.snippet ?
    escape(item.snippet).replace(/\n/g, "<br>") : '' %></p>
  <div class="Thumb" style="display: <%= (item.type != 'ALL') && !item.src ? 'none' : 'block' %>;">
    <img src="<%= item.src ? item.src : '' %>">
  </div>
  <p class="Description" style="display: <%= (item.type != 'ALL') && !item.description ? 'none' : 'block' %>;"><%- item.description ?
    escape(item.description).replace(/\n/g, "<br>") : '' %></p>
</div>
<% } %>
<% if (item.type == 'IMAGE' || item.type == 'ALL') { %>
<div class='Content IMAGE'>
  <div class="Image">
    <a class="IMAGE_LINK" href='<%= item.url ? item.url : "" %>'>
      <img onerror="mtm.errorImage(this,'default_120x120');" src='<%= item.url ? item.url : "" %>'>
    </a>

    <div class="Quote" style=<%- (item.type != 'ALL') && !item.quote ? 'display:none' : 'display:block' %>>
      <span>来源</span>
      <div>
        <a href="<%= item.quote ? item.quote : '' %>">
          <%= item.quoteDomain ? item.quoteDomain : '' %>
        </a>
      </div>
    </div>
  </div>
  <div style="overflow: hidden;">
    <div class="Title">
      <a class="IMAGE_LINK text-default" href='<%= item.url ? item.url : "" %>'><%= item.title ? item.title : '' %></a>
    </div>
    <p class="Description"><%- item.description ? escape(item.description).replace(/\n/g, "<br>") : '' %></p>
  </div>
</div>
<% } %>
<% if (item.type == 'VIDEO' || item.type == 'ALL') { %>
<div class='Content VIDEO'>

  <% include _videoPlayers.html %>

  <div class="Quote">
    <span>来源</span>
    <div>
      <a class="VIDEO_URL" href="<%= item.url ? item.url : '' %>">
        <%= item.quote ? item.quote : item.url ? item.url : '' %>
      </a>
    </div>
  </div>
  <p class="Title" style="display: <%= (item.type != 'ALL') && !item.title ? 'none' : 'block' %>;">
    <a class="VIDEO_URL text-default" href='<%= item.url ? item.url : "" %>'><%= item.title ? item.title : '' %></a>
  </p>
  <p class="Description" style="display: <%= (item.type != 'ALL') && !item.description ? 'none' : 'block' %>;"><%- item.description ?
    escape(item.description).replace(/\n/g, "<br>") : '' %></p>
</div>
<% } %>
<% if (item.type == 'CITE' || item.type == 'ALL') { %>
<div class='Content CITE'>
  <p class="Cite">
    <i class="icon-quote-left"></i>
    <q><%- item.cite ? escape(item.cite).replace(/\n/g, "<br>") : '' %></q>
  </p>

  <div class="Quote" style=<%- (item.type != 'ALL') && !item.url && !item.title ? 'display:none' : 'display:block' %>>
    <span>来源</span>
    <div>
      <a href="<%= !item.url ? '' : item.url %>"><%= !item.url ? '' : !item.title ? item.url : item.title %></a>
      <span ><%= item.url ? '' : !item.title ? '' : item.title %></span>
    </div>
  </div>
  <p class="Description" style="display: <%= (item.type != 'ALL') && !item.description ? 'none' : 'block' %>;"><%- item.description ?
    escape(item.description).replace(/\n/g, "<br>") : '' %></p>
</div>
<% } %>
<% if (item.type == 'TEXT' || item.type == 'ALL') { %>
<div class='Content TEXT'>
  <p><%- item.text ? escape(item.text).replace(/\n/g, "<br>") : '' %></p>
</div>
<% } %>
<% if (item.type == 'TITLE' || item.type == 'ALL') { %>
<div class='Content TITLE'>
  <p><%= item.title ? item.title : '' %></p>
</div>
<% } %>