<div class='Item'>

  <% if (item) { %>
  <% include _ul_li_item_contents.html %>
  <% } %>

  <div class='BottomUtil' style="overflow: hidden;">
    <div class='ItemUtil1'>
      <button class="INSERT btn btn-link text-muted" type="button"><i class="icon-caret-down"></i> 插入</button>
    </div>
    <div class='ItemUtil2'>
      <button class="EDIT btn btn-link text-muted" type="button"><i class="icon-pencil"></i> 修改</button>
      <span class='VLine VLine-Util'></span>
      <button class="DELETE btn btn-link text-muted"><i class="icon-trash"></i> 删除</button>
    </div>
  </div>
</div>