<li class="<%= item && item.type || '' %> pal" style="position: relative;"
    data-options="<%= item && JSON.stringify(item) || '' %>">

  <% if (item) { %>
  <% include _ul_li_item.html %>
  <% } %>

  <div class="SortUtil">
    <i class="MoveUtil icon-move" title="移动"></i>

    <div>
      <i class="icon-double-angle-up" title="移到顶部"></i>
      <i class="icon-angle-up" title="上移一行"></i>
    </div>
    <div>
      <i class="icon-angle-down" title="下移一行"></i>
      <i class="icon-double-angle-down" title="移到底部"></i>
    </div>
  </div>
</li>