<!DOCTYPE html>
<html>
<head>
  <title><%= locals.title ? title + ' - 石子儿' : '石子儿 - 互联网策展' %></title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;charset=UTF-8">
  <meta name="description" content="<%= locals.description
    || '把各种各样的信息，自由地搭配组合，策展成一个页面保存起来，展示给感兴趣的人。我们致力于让任何人都可以策展信息，让其他人和信息相遇、相会。' %>">
  <link type='text/css' rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
  <link type='text/css' rel='stylesheet' href="/stylesheets/flat-ui.css">
  <link type='text/css' rel="stylesheet" href="/font-awesome-4.0.3/css/font-awesome.min.css">
  <link type='text/css' rel='stylesheet' href='/stylesheets/common.css'/>
  <link type='text/css' rel="stylesheet" href="/stylesheets/topic.css"/>
</head>
<body style="width: 440px; min-width: 440px; background-color: white; position: relative;">
  <div style="height: 40px;background-color: rgba(0,0,0,0.4);position: absolute;top: 0;width: 100%;">
    <table class="pull-left mlm" style=" height: 100%;">
      <td>
        <img src="/images/logo_white_50x20.png">
      </td>
    </table>
    <span class="pull-right mrm" style="line-height: 40px; color: white;">shizier.com</span>
  </div>
  <img onerror="$(this).hide();" src="<%= topic.coverUrl %>"
       style="width: 100%;<%= topic.coverUrl ? '' : 'display: none;' %>">

  <div class="phl">
    <h1 class="h5 mtl"><a href="/topic/<%= topic._id %>"><%= topic.title %></a></h1>

    <div class="clearfix mbm">
      <div class="pull-left">
        <a href="/u/<%= topic.author %>" title="<%= topic.author %>">
          <span class="mrs" style="display: inline-block; width: 30px; height: 30px;">
            <img width="30" height="30" class="img-circle"
                 src="<%= authorInfo.imgUrl || '/images/no_img/user_80x80.png' %>"
                 onerror="shizier.errorImage(this,'user_80x80');">
          </span><span><%= topic.author %></span>
        </a>
            <span class="text-muted small mls">
              <%= topic.updateAt %>
            </span>
      </div>
      <div class="pull-right text-muted">
        <span class="mrs"><i class="fa fa-star"></i> <%= topic.FVCount %></span>
        <i class="fa fa-eye"></i> <%= topic.PVCount %>
      </div>
    </div>

    <p style="<%= !topic.description ? 'display: none;' : '' %>">
      <%= topic.description || '' %>
    </p>

    <% if (!locals.items || !items.length) { %>
    <div class="NoItem">
      <i class="fa fa-file-o text-light" style="font-size: 50px;"></i>

      <p class="text-secondary">此策展还没有内容</p>
    </div>
    <% } %>
  </div>

  <% include _ul.html %>

</body>
</html>