<div class="Band text-inverse" style="background-color: #34495e;"
     data-spy="affix" data-offset-top="72">
  <div class="container">
    <div class="Band_Btn">
      <% if (!topic.publishDate) { %>
      <button name="publish" class='btn btn-xs btn-primary'
              data-loading-text="发布 &lt;i class='fa fa-spinner fa-spin'&gt;&lt;/i&gt;" type="button">发布
      </button>
      <% } %>
      <a name="done"
         class='btn btn-xs btn-default'
         href="<%= topic.publishDate ? '/topic/' + topic._id : '/works' %>">
        完成<%= topic.publishDate ? '' : '草稿' %>
      </a>
    </div>
    <h1 class="Band_Ttl" style="font-size: 18px;">
      <b>策展中<%= topic.publishDate ? '' : '（草稿）' %></b>
      <span id="_asterisk" style="display: none;">*</span>
      <span id="_saved" style="display: none;" class="text-muted">- 所有修改都已保存，可以直接离开本页面</span>
      <span id="_error" style="display: none;" class="text-danger">- 操作失败，请刷新页面撤销刚才的修改</span>
      <span id="_loading" style="display: none;" class="text-muted">- 请稍候 <i class='fa fa-spinner fa-spin'></i></span>
    </h1>
  </div>
</div>

<!--内容-->
<div style="background-color: #ecf0f1; padding-top: 32px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-8 col-lg-7 mvl">

        <% include _category_selector.html %>

        <div style="background-color: white; border-radius: 6px;">
          <div style="position: relative; min-height: 140px; border-radius: 6px 6px 0 0;">
            <img class="HeadThumb" onerror="shizier.errorImage(this, 'default_120x120', true);" src="<%= topic.coverUrl || '' %>"
                 style="border-radius: 6px 6px 0 0;width: 100%;">
            <h1 class="h5 HeadTtl mbn pal hidden-xs text-inverse"
                style="position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.6);"><%= topic.title %></h1>
          </div>
          <div id="_topItem" class="phl pbm">
            <h1 class="h5 mtl HeadTtl visible-xs"><%= topic.title %></h1>

            <p class="HeadDesc mtm"><%= topic.description || '' %></p>
            <div class="clearfix">
              <div class="pull-right">
                <button name="edit" class="btn btn-link text-muted mrs" type="button"
                        style="vertical-align: baseline;padding: 0;font-size: 18px;"
                        title="编辑封面、标题、简介"><i
                  class="fa fa-pencil"></i></button>

                <% include _deleteBtn.html %>

              </div>
              <div class="pull-left">
                <div class="StaticMenu">

                  <% include _menu.html %>

                </div>
              </div>
            </div>
          </div>
          <form id="_topWidget" class="phl" style="display: none;">
            <div class="pvl">
              <div class="form-group">
                <input name="url" class="form-control flat" placeholder="图片URL" id="_top_url" type="text">
                <label class="input-icon fa fa-link" for="_top_url"></label>
                <div class="InfoHint text-muted">
                  由于受版权保护，有些图片可能无法引用
                </div>
                <div class="BtnSet">
                  <button name="preview" class="btn btn-primary" type="button">预览</button>
                  <button name="reset" class="btn btn-default" type="button">取消</button>
                </div>
              </div>

              <div id="_topWidget_title" class="form-group">
                <div class="Required Required-4px"></div>
                <input name="title" type="text" class="form-control flat"
                       placeholder="策展标题（5~50字）"/>
              </div>
              <div id="_topWidget_description" class="form-group">
                <textarea style='overflow: hidden;' name="description" class="form-control flat HeightAnimation"
                          placeholder="策展描述（150字以内，换行符无效）"></textarea>
              </div>

              <% include _widget_BtnSet.html %>

            </div>
          </form>

          <% include _ul.html %>

          <!--模板-->
          <div class="TEMPLATES" style="display:none;">
            <ul>
              <% var item = null; %>
              <% include _ul_li.html %>
            </ul>

            <form class="Widget">
              <!--插入内容-->
            </form>

            <div class="Widget">

              <div class='Content LINK_CREATE'>
                <div class="form-group">
                  <div class="Required"></div>
                  <input name="url" class="form-control flat AUTO_FOCUS" placeholder="链接URL" id="_link_url" type="text">
                  <label class="input-icon fa fa-link" for="_link_url"></label>
                </div>
                <button name="preview" class="btn btn-info pull-left mrs" type="button" disabled='disabled'
                        data-loading-text="预览 &lt;i class='fa fa-spinner fa-spin'&gt;&lt;/i&gt;">预览
                </button>

                <% include _widget_BtnSet.html %>

              </div>

              <div class='Content LINK'>
                <div class="form-group">
                  <input name="title" class="form-control flat" placeholder="链接标题" type="text">

                  <div class="Quote">
                    <i class="fa fa-globe"></i>
                    <a class="LINK_URL"></a>
                  </div>
                </div>

                <div class="form-group">
                  <textarea name="snippet" class="form-control flat" placeholder="链接摘要"></textarea>
                </div>

                <div class="Thumb">
                  <div class="Image">
                    <div style="position: relative;display: inline-block;">
                      <img onerror="shizier.errorImage(this, 'default_120x120', true);">

                      <div class="Loading"
                           style="position: absolute;top: 0;left: 0;bottom: 0;right: 0;background-color: rgba(0,0,0,0.2);">
                        <table style="margin: 0 auto;height: 100%;">
                          <td>
                            <i class="fa fa-spinner fa-spin" style="color: white"></i>
                          </td>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-xs btn-default" type="button"><i class="fui-arrow-left"></i></button>
                    <button class="btn btn-xs btn-default" type="button"><i class="fui-arrow-right"></i></button>
                  </div>
                  <span class="text-muted" name="pagination"></span>

                  <label class="checkbox text-inverse">
                    <input type="checkbox" id="noImg">
                    无图片
                  </label>

                  <div class="form-group">
                    <input class="form-control flat Url" placeholder="自定义图片URL（可选）" id="_link_thumb_url" type="text">
                    <label class="input-icon fa fa-link" for="_link_thumb_url"></label>
                    <button name="customize" class="btn btn-default mtx" type="button">确定</button>
                  </div>
                </div>
                <div class="form-group">
                  <textarea name="description" class="form-control flat AUTO_FOCUS" placeholder="链接评论"></textarea>
                </div>

                <% include _widget_BtnSet.html %>

              </div>

              <div class='Content IMAGE_CREATE'>
                <div class="Image">
                  <i class="fa fa-picture-o text-muted"></i>
                </div>
                <div class="InfoHint text-muted">
                  由于受版权保护，有些图片可能无法引用
                </div>
                <div>
                  <div class="form-group">
                    <div class="Required"></div>
                    <input name="url" class="form-control flat AUTO_FOCUS" placeholder="图片URL" id="_image_url" type="text">
                    <label class="input-icon fa fa-link" for="_image_url"></label>
                  </div>
                  <button name="preview" class="btn btn-info pull-left mrs" type="button" disabled='disabled'
                          data-loading-text="预览 &lt;i class='fa fa-spinner fa-spin'&gt;&lt;/i&gt;">预览
                  </button>

                  <% include _widget_BtnSet.html %>

                </div>
              </div>

              <div class='Content IMAGE'>
                <div class="Image text-center">
                  <img onerror="shizier.errorImage(this, 'default_120x120', true);">
                </div>

                <div class="form-group">
                  <input name="title" class="form-control flat Bold AUTO_FOCUS" placeholder="图片标题" type="text">
                </div>
                <div class="form-group">
                  <input name="quote" class="form-control flat Url" placeholder="图片来源网页URL" type="text">
                </div>
                <div class="form-group">
                  <textarea name="description" class="form-control flat" placeholder="图片介绍、评论"></textarea>
                </div>

                <% include _widget_BtnSet.html %>

              </div>

              <div class='Content VIDEO_CREATE'>
                <div class="Thumb">
                  <i class="fa fa-film text-muted"></i>
                </div>
                <div class="InfoHint text-muted">
                  目前已支持<a
                  target="_blank" class="text-primary" href="http://www.youku.com">优酷</a>、<a
                  target="_blank" class="text-primary" href="http://www.tudou.com">土豆</a>、<a
                  target="_blank" class="text-primary" href="http://www.iqiyi.com/">爱奇艺</a>、<a
                  target="_blank" class="text-primary" href="http://www.pps.tv/">PPS</a>、<a
                  target="_blank" class="text-primary" href="http://tv.sohu.com/">搜狐视频</a>、<a
                  target="_blank" class="text-primary" href="http://v.qq.com/">腾讯视频</a>、<a
                  target="_blank" class="text-primary" href="http://video.sina.com.cn">新浪视频</a>、<a
                  target="_blank" class="text-primary" href="http://v.ifeng.com/">凤凰视频</a>、<a
                  target="_blank" class="text-primary" href="http://www.letv.com/">乐视</a>、<a
                  target="_blank" class="text-primary" href="http://www.pptv.com/">PPTV</a>、<a
                  target="_blank" class="text-primary" href="http://www.ku6.com/">酷6</a>、<a
                  target="_blank" class="text-primary" href="http://www.56.com/">56</a>、<a
                  target="_blank" class="text-primary" href="http://www.baomihua.com/">爆米花</a>、<a
                  target="_blank" class="text-primary" href="http://www.yinyuetai.com/">音悦台</a>、<a
                  target="_blank" class="text-primary" href="http://www.acfun.tv/">AcFun</a>、<a
                  target="_blank" class="text-primary" href="http://www.bilibili.tv/">bilibili</a>等视频网站的视频播放页链接。
                </div>
                <div class="form-group">
                  <div class="Required"></div>
                  <input name="url" class="form-control flat AUTO_FOCUS" placeholder="视频URL" id="_video_url" type="text">
                  <label class="input-icon fa fa-link" for="_video_url"></label>
                </div>
                <button name="preview" class="btn btn-info pull-left mrs" type="button" disabled='disabled'
                        data-loading-text="预览 &lt;i class='fa fa-spinner fa-spin'&gt;&lt;/i&gt;">预览
                </button>

                <% include _widget_BtnSet.html %>

              </div>

              <div class='Content VIDEO'>

                <% var item = {}; %>
                <% include _video_cover.html %>

                <div class="Quote">
                  <i class="fa fa-globe"></i>
                  <a class="VIDEO_URL"></a>
                </div>

                <div class="form-group mtx">
                  <input name="title" class="form-control flat Bold" placeholder="视频标题" type="text">
                </div>
                <div class="form-group">
                  <textarea class="form-control flat AUTO_FOCUS" name="description" placeholder="视频介绍、评论"></textarea>
                </div>

                <% include _widget_BtnSet.html %>

              </div>

              <div class='Content CITE'>
                <div class="form-group">
                  <div class="Required"></div>
                  <textarea class="form-control flat AUTO_FOCUS" name="cite" placeholder="引文"></textarea>
                </div>
                <div class="form-group">
                  <input class="form-control flat" name="url" placeholder="引文来源网页URL" id="_cite_url" type="text">
                  <label class="input-icon fa fa-link" for="_cite_url"></label>
                </div>
                <div class="form-group">
                  <input class="form-control flat" name="title" placeholder="引文来源网页标题" type="text">
                </div>
                <div class="form-group">
                  <textarea class="form-control flat" name="description" placeholder="引文介绍、评论"></textarea>
                </div>

                <% include _widget_BtnSet.html %>

              </div>

              <div class='Content WEIBO_CREATE'>
                <div class="Avatar img-circle text-center"
                     style="background-color: white; width: 50px; height: 50px;">
                  <i class="fa fa-weibo"
                     style="font-size: 30px; line-height: 1.7;"></i>
                </div>
                <div style="overflow: hidden;">
                  <div class="InfoHint text-muted">
                    由于受隐私设置保护，有些微博将无法引用
                  </div>
                  <div class="form-group">
                    <div class="Required" style="float: left;"></div>
                    <input name="url" class="form-control flat AUTO_FOCUS" placeholder="新浪微博URL" id="_weibo_url" type="text">
                    <label class="input-icon fa fa-link" for="_weibo_url"></label>
                  </div>
                  <button name="preview" class="btn btn-info pull-left mrs" type="button" disabled='disabled'
                          data-loading-text="预览 &lt;i class='fa fa-spinner fa-spin'&gt;&lt;/i&gt;">预览
                  </button>

                  <% include _widget_BtnSet.html %>

                </div>
              </div>

              <div class='Content WEIBO'>

                <div class="clearfix">
                  <a target="_blank"  class="Avatar AuthorUrl">
                    <img class="img-circle">
                  </a>

                  <div style="overflow: hidden;">
                    <a target="_blank" class="Author AuthorUrl">
                      <span class="ScreenName"></span>
                    </a>
                    <a target="_blank" class="Verify" href="http://verified.weibo.com/verify"><b>V</b></a>
                  </div>
                </div>

                <div class="Text" style="color: white;"></div>
                <div class="Pic clearfix"></div>
                <a target="_blank" class="Time text-muted pull-left"></a>
                <div class="clearfix"></div>

                <div class="form-group">
                  <textarea name="description" class="form-control flat AUTO_FOCUS" placeholder="微博介绍、评论"></textarea>
                </div>

                <% include _widget_BtnSet.html %>

              </div>

              <div class='Content TEXT'>
                <div class="form-group">
                  <div class="Required"></div>
                  <textarea name="text" class="form-control flat AUTO_FOCUS" placeholder="文本"></textarea>
                </div>

                <% include _widget_BtnSet.html %>

              </div>

              <div class='Content TITLE'>
                <div class="form-group">
                  <div class="Required"></div>
                  <input name="title" class="form-control flat Bold AUTO_FOCUS" placeholder="标题" type="text">
                </div>

                <% include _widget_BtnSet.html %>

              </div>

            </div>

            <% var item = null; %>
            <% include _ul_li_item.html %>

            <div class="Item">

              <% var item = { type: 'ALL' }; %>
              <% include _ul_li_item_contents.html %>

            </div>

            <% include _video_player.html %>

            <a class="WeiboImage fancybox" rel="gallery"><img></a>

            <div class="Retweeted clearfix">
              <a target="_blank" class="Author AuthorUrl">
                @<span class="ScreenName"></span>
              </a>
              <a target="_blank" class="Verify" href="http://verified.weibo.com/verify"><b>V</b></a>
              <div class="Text"></div>
              <div class="Pic clearfix"></div>
              <a target="_blank" class="Time text-muted pull-left"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-4 mvl"></div>
    </div>
  </div>
</div>

<% include ../_toTop.html %>