<script type="text/javascript" src="/javascripts/jquery.autosize.min.js"></script>
<div class="EditHead">

</div>
<div class="Contents">
  <div class="Top">
    <div class="TopInner">
      <div class="Heading">
        <form id="_jMissionForm">
          <fieldset class="EditForm">
            <div id="editFormBox01">
              <div class="InputForm Required">
                <input class="InputFormInputTxt PlaceHolder" type="text" placeholder="输入总结标题（50个字以内）"/>
                <a class="EditFormOption ButtonToggle ButtonToggleClose" href="##">可选项目<span class="ButtonToggleIco"></span></a>
              </div>
            </div>
            <div id="editFormBox02">
              <dl id="editFormItem01">
                <dt class="Hide">标题图片</dt>
                <dd id="editFormImgArea01">
                  <ul id="editFormImgAddList01">
                    <li>
                      <a class="A1" href="#">搜索图片</a>
                    </li>
                    <li>
                      <a class="A1" href="#">上传图片</a>
                    </li>
                  </ul>
                </dd>
              </dl>
              <dl id="editFormItem02">
                <dt class="Hide">总结说明</dt>
                <dd>
                  <textarea id="inputForm01" placeholder="输入总结说明（150字以内，换行符无效）"></textarea>
                </dd>
              </dl>
            </div>
          </fieldset>
        </form>
      </div>
      <table id="widgetUtil01">
        <td>
        <div id="widgetUtilTtl01"><b>添加条目</b></div>
        <ul>
          <li>
            <a>链接</a>
          </li>
          <li>
            <a>图片</a>
          </li>
          <li>
            <a>视频</a>
          </li>
          <li>
            <a>引用</a>
          </li>
          <li>
            <a>文本</a>
          </li>
          <li>
            <a>标题</a>
          </li>
        </ul>
        </td>
      </table>
    </div>
  </div>
  <div id="contentsWrap01">
    <div id="main01">
      <div id="mainInner01">
        <div id="widgetList01">
          <div class="Widget WidgetTypeTxt">
            <form>
              <div class="WidgetInput WidgetTxtInput Required">
                <textarea class="WidgetInputBox WidgetTxtInputBox" placeholder="输入文本"></textarea>
              </div>
            </form>
          </div>
        </div>
        <div id="pagination01"></div>
      </div>
    </div>
    <div id="sub01"></div>
  </div>
</div>