<!--内容-->
<div class="background-clouds">
  <div class="container">
    <div class="row pbl">
      <div class="col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-8 col-lg-7">
        <div class="background-white mtl" style="border-radius: 6px;">
          <div class="TopicHead" style="position: relative; min-height: 140px; border-radius: 6px 6px 0 0;">
            <a href="<%= topic.cover_url %>" title="<%= topic.title %>">
              <img onerror="$(this).hide();" src="<%= topic.cover_url %>" alt="<%= topic.title %>"
                   style="width: 100%; border-radius: 6px 6px 0 0; <%= topic.cover_url ? '' : 'display: none;' %>">
            </a>
            <h1 class="Title mbn hidden-xs" >
              <a class="text-inverse pal h5" style="display: block;" href="/topic/<%= topic._id %>"><%= topic.title %></a>
            </h1>
          </div>

          <div class="phl">
            <h1 class="h5 mtl visible-xs"><a href="/topic/<%= topic._id %>"><%= topic.title %></a></h1>

            <div class="clearfix mtm mbm">
              <a class="pull-left mrs" href="/u/<%= author.loginName %>" title="<%= author.loginName %>">
                <img width="30" height="30" class="img-circle"
                     style="display: inline-block; width: 30px; height: 30px;"
                     src="<%= author.url || '/images/no_img/user_80x80.png' %>"
                     alt="<%= author.loginName %>"
                     onerror="shizier.errorImage(this,'user_80x80');">
                <%= author.loginName %>
              </a>
              <span class="text-muted small pull-left" title="更新日期">
                <% function _prefixZero(num) {
                  return num < 10 ? '0' + num : num;
                } %>
                <%= topic.update_at.getFullYear() + '-'
                      + _prefixZero(topic.update_at.getMonth() + 1) + '-'
                      + _prefixZero(topic.update_at.getDate()) + ' '
                      + _prefixZero(topic.update_at.getHours()) + ':'
                      + _prefixZero(topic.update_at.getMinutes()) + ':'
                      + _prefixZero(topic.update_at.getSeconds()) %>
              </span>
              <div class="pull-right">
                <span class="text-muted mls" title="浏览"><i class="fa fa-eye"></i>
                  <%= topic.PV_count + Math.ceil(Math.log((Date.now() - topic.publishDate.getTime())/100000000 + 1) * 100) %>
                </span>
              </div>
            </div>

            <p class="mbn" style="<%= !topic.description ? 'display: none;' : '' %>">
              <%= topic.description || '' %>
            </p>

            <% if (!locals.items || !items.length) { %>
            <div class="text-muted text-center" style="padding: 140px 0px;">
              <i class="fa fa-file-o" style="font-size: 50px;"></i>

              <div>此策展还没有内容</div>
            </div>
            <% } %>
          </div>

          <% include _ul.html %>

          <!--模板-->
          <div class="TEMPLATES" style="display:none;">

            <% include _video_player.html %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>