<!--内容-->
<div class="TopicWrapper" style="background-color: #ecf0f1;">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-8 col-lg-7 mvl">
        <div style="background-color: white;border-radius: 6px;">
          <img onerror="$(this).hide();" src="<%= topic.coverUrl %>"
               style="border-radius: 6px 6px 0 0;width: 100%;<%= topic.coverUrl ? '' : 'display: none;' %>">

          <div class="phl">
            <div class="HeadTxt clearfix">
              <h5 class="HeadTtl"><a href="/topic/<%= topic._id %>"><%= topic.title %></a></h5>

              <div class="clearfix mbm">
                <div class="pull-left">
                  <a href="/u/<%= topic.author %>" title="<%= topic.author %>">
                    <span class="mrs" style="display: inline-block; width: 30px; height: 30px;">
                      <img width="30" height="30" class="img-circle"
                         src="<%= authorInfo.imgUrl || '/images/no_img/user_80x80.png' %>"
                         onerror="shizier.errorImage(this,'user_80x80');">
                    </span><span><%= topic.author %></span>
                  </a>
                  <span class="text-muted small mls">
                    <i class="fa fa-edit"></i>
                    <%= topic.updateAt %>
                  </span>
                </div>
                <div class="pull-right">
                  <span class="text-muted mrs"><i class="fa fa-eye"></i> <%= topic.PVCount %></span>
                  <button name="favorite" class="<%- locals.liked ? 'ExSelected' : '' %> btn btn-link mrs"
                          style="padding: 0;vertical-align: baseline;font-size: 18px;"
                          data-favorite='{"topicId":"<%= topic._id %>"}'>
                    <i class="HeadFVBtnIco fa fa-star StarIcon"></i> <span class="FVCount text-muted"><%= topic.FVCount %></span>
                  </button>
                  <% if (locals.isAuthor) { %>
                  <a class="mrs" href="/topic/<%= topic._id %>/edit" title="编辑"><i class="fa fa-pencil"></i></a>
                  <% include _deleteBtn.html %>
                  <% } %>
                  <a class="mls" target="_blank" href="/topic/<%= topic._id %>/share_chang" title="分享"><i
                    class="fa fa-share"></i></a>
                </div>
              </div>

              <p style="<%= !topic.description ? 'display: none;' : '' %>">
                <%= topic.description || '' %>
              </p>
            </div>
            <% if (!locals.items || !items.length) { %>
            <div class="NoItem">
              <i class="fa fa-file-o text-light" style="font-size: 50px;"></i>

              <p class="text-secondary">这个总结还没有内容</p>
            </div>
            <% } %>
          </div>

          <% include _ul.html %>

          <!--模板-->
          <div class="TEMPLATES" style="display:none;">

            <% include _video_player.html %>

          </div>

        </div>
      </div>
      <div class="col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-4 col-lg-5 mvl">
        <div class="pal" style="background-color: #2c3e50;color:white;border-radius: 6px;">
          <div class="clearfix">
            <a class="pull-left mrl"
               href="/u/<%= topic.author %>" title="<%= topic.author %>">
              <img width="80" height="80" class="img-circle"
                   style="border: 5px solid #fff; background-color: white;"
                   src="<%= authorInfo.imgUrl || '/images/no_img/user_80x80.png' %>"
                   onerror="errorImage(this,'user80x80');">
            </a>

            <h6 style="margin-top: 0;">
              <a href="/u/<%= topic.author %>" title="<%= topic.author %>">
                <%= topic.author %>
              </a>
            </h6>
            <% if (authorInfo.personalSite) { %>
            <% var site = authorInfo.personalSite || ''; %>
            <p class="mtm">
              <a target="_blank" href="<%= site %>"
                 title="<%= site %>"
                 style="word-break: break-all;">
                <i class="fa fa-home"></i>
                <%= site %>
              </a>
            </p>
            <% } %>
          </div>
          <% if (authorInfo.description) { %>
          <div class="mtm"><%- authorInfo.description || '' %></div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../_toTop.html %>