<div class="Band">
  <div class="Inner">
    <table>
      <td>
        <ol>
          <li>
            <a class="text-secondary" href="/">石子儿首页</a>
            <i class="icon-angle-right"></i>
          </li>
        </ol>
      </td>
    </table>
  </div>
</div>
<div class="Top">
  <div class="Inner">
    <div class="HeadMain clearfix">
      <div class="HeadThumb" style="display: <%= !topic.coverUrl ? 'none' : 'block' %>;">
        <img width="95" height="95" onerror="shizier.errorImage(this,'image_95x95');"
             src="<%= topic.coverUrl || '' %>">
      </div>

      <div class="HeadTxt">
        <div class="HeadTtlWrapper">
          <h1 class="HeadTtl"><a class="text-default"
                                 href="/topic/<%= topic._id %>"><%= topic.title %></a></h1>

          <% if (locals.isAuthor) { %>
          <div class='HeadUtil'>
            <a href="/topic/<%= topic._id %>/edit?editTop=1"><i class="icon-pencil"></i> 修改</a>
            <span class='VLine VLine-Util'></span>

            <% include _deleteBtn.html %>

          </div>
          <% } %>
        </div>

        <p class="HeadDescWrapper">
          <span style="<%= !topic.description ? 'display: none;' : '' %>"
                class="HeadDesc text-secondary">
            <%= topic.description || '' %>
          </span>
          <span class="text-muted" style="font-size: 10px;">
            <i class="icon-edit" style="vertical-align: middle;"></i>
            更新日期: <%= topic.updateAt %>
          </span>
        </p>

        <div class="HeadOption clearfix">
          <div class="HeadUser" style="float: left;">
            <a class="text-default" href="/u/<%= topic.author %>" title="<%= topic.author %>">
              <span class="HeadUserThumb"><img width="30" height="30"
                                               src="<%= authorInfo.imgUrl || '/images/no_img/user_80x80.png' %>"
                                               onerror="shizier.errorImage(this,'user_80x80');"></span><span
              class="HeadUserName"><%= topic.author %></span>
            </a>
          </div>
          <a target="_blank" style="float: left; margin-right: 10px;" class="btn btn-default" href="/topic/<%= topic._id %>/share_chang">生成长微博</a>
          <!-- Baidu Button BEGIN -->
          <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_t163" data-cmd="t163" title="分享到网易微博"></a></div>
          <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"16"},"share":{},"image":{"viewList":["tsina","qzone","tqq","renren","t163"],"viewText":"分享到：","viewSize":"16"},"slide":{"type":"slide","bdImg":"3","bdPos":"left","bdTop":"100"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["tsina","qzone","tqq","renren","t163"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];</script>
          <!-- Baidu Button END -->
        </div>
      </div>
    </div>
    <div class="HeadSub">
      <div class="HeadCount">
        <span class="HeadFVCount">
          <span class="HeadFVCountNum"><i class="HeadFVIco icon-star" style="vertical-align: middle;"></i> <span><%= topic.FVCount %></span></span>
          <span class="HeadFVCountLabel text-secondary">喜欢</span>
        </span>
        <span class="HeadPVCount">
          <span class="HeadPVCountNum"><%= topic.PVCount %></span>
          <span class="HeadPVCountLabel text-secondary">浏览</span>
        </span>
      </div>

      <button name="favorite" class="<%- locals.liked ? 'ExSelected' : '' %> btn btn-large"
              data-favorite='{"topicId":"<%= topic._id %>"}'>
        <i class="HeadFVBtnIco icon-star StarIcon"></i>
        <span class="HeadFVBtnTxt">喜欢</span>
      </button>
    </div>
  </div>
</div>

<!--内容-->
<div class="TopicWrapper clearfix">
  <div class="Main">
    <% if (!locals.items || !items.length) { %>
    <div class="NoItem">
      <i class="icon-file-alt text-light" style="font-size: 50px;"></i>

      <p class="text-secondary">这个总结还没有内容。
        <% if (locals.isAuthor) { %>
        <br>要添加吗？
        <% } %>
      </p>
      <% } %>
      <% if (locals.isAuthor) { %>
      <a name="add" class="btn btn-default text-success" href="/topic/<%= topic._id %>/edit" type="button">
        <i class="icon-plus-sign"></i>
        <span class="text-default">添加条目</span>
      </a>
      <% } %>
      <% if (!locals.items || !items.length) { %>
    </div>
    <% } %>

    <% include _ul.html %>

    <!--模板-->
    <div class="TEMPLATES" style="display:none;">

      <% include _video_player.html %>

    </div>

  </div>
  <div class="Sub"><!--right side--->
    <div class="SubInner">

      <div class="SubAuthor">
        <div class="SubAuthorProfile">
          <div class="SubAuthorProfileUnit">
            <h6 class="SubAuthorProfileUnitTitle">
              <a href="/u/<%= topic.author %>" class="SubAuthorProfileUnitTitleUserName" title="<%= topic.author %>">
                <img width="80" height="80"
                     src="<%= authorInfo.imgUrl || '/images/no_img/user_80x80.png' %>"
                     onerror="errorImage(this,'user80x80');"
                     class="SubAuthorProfileUnitTitleUserNameThumb"> <%= topic.author %>
              </a>
            </h6>

            <p class="SubAuthorProfileUnitLink">
              <% if (authorInfo.personalSite) { %>
              <span class="SubAuthorProfileUnitLinkSite">
                <a href="<%= authorInfo.personalSite || '' %>" title="<%= authorInfo.personalSite || '' %>"
                   class="btn btn-small btn-default" target="_blank">
                  <i class="icon-home text-success"></i>
                  个人网站
                </a>
              </span>
              <% } else { %>
              <span class="SubAuthorProfileUnitLinkSite ExDisabled">
                <button disabled class="btn btn-small" type="button">个人网站</button>
              </span>
              <% } %>
            </p>
          </div>
          <p class="SubAuthorProfileTxt"><%- authorInfo.description || '' %></p>
        </div>

      </div>
      <div class="SubSeparator">
        <hr>
      </div>

    </div>
  </div>
</div>

<% include ../_toTop.html %>