<!DOCTYPE html>
<html>
<head>
  <title><%= locals.title ? title + ' - 石子儿' : '石子儿 - 与世界分享你的总结' %></title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;charset=UTF-8">
  <meta name="description" content="<%= locals.description
    || '把各种各样的信息，自由地搭配组合，总结成一个页面保存起来，展示给感兴趣的人。我们的致力于让任何人都可以设计信息，让其他人和信息相遇、相会。' %>">
  <link type='text/css' rel='stylesheet' href='/stylesheets/bootstrap.css'/>
  <link type='text/css' rel='stylesheet' href='/stylesheets/todc-bootstrap.css'/>
  <link type='text/css' rel="stylesheet" href="/stylesheets/font-awesome.min.css">
  <link type='text/css' rel='stylesheet' href='/stylesheets/common.css'/>
  <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
  <script type="text/javascript" src="/javascripts/common.js"></script>
</head>
<body style="background-color: #ddd; width: 520px; min-width: 520px; margin: 0 auto;">
<div style="width: 480px; background-color: #eee; margin: 20px; border-radius: 5px; padding: 20px;">
  <img id="_chang" src="/images/loading.gif" style="display: block;margin: 0 auto;">
  <p id="_loading" style="margin-top: 20px;text-align: center;font-size: 20px;line-height: 1;">正在生成长微博</p>
</div>
<div id="_bubble" style="display: none;position: fixed; top: 0; left: 50%; margin: 20px 20px 20px 260px; background-color: #eee; border-radius: 5px; padding: 20px;">
  <p style="position: absolute; left: -8px; font-size: 30px; top: 10px; line-height: 1; color: #eee;">◆</p>
  <a id="_src">图片地址</a>
  <button id="_forceRender" class="btn btn-link text-muted" style="margin-left: 30px;">重新生成</button>
  <!-- Baidu Button BEGIN -->
  <div class="bdsharebuttonbox" style="margin-top: 10px;"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_t163" data-cmd="t163" title="分享到网易微博"></a></div>
  <script></script>
  <!-- Baidu Button END -->
</div>
<script>
  $(function () {
    function create(forceRender) {
      $('#_loading').show();
      $('#_bubble').hide();
      $('#_chang').attr('src', '/images/loading.gif');
      console.log(location.pathname);
      $.post(location.pathname + (forceRender ? '?force=1' : ''))
        .done(function (data) {
          window._bd_share_config = {"common": {"bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdUrl": location.href.replace('/share_chang', ''), "bdPic": 'http://' + location.host + data.src, "bdStyle": "2", "bdSize": "16"}, "share": {}};
          with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion=' + ~(-new Date() / 36e5)];
          $('#_loading').hide();
          $('#_bubble').show();
          $('#_src').attr('href', data.src);
          $('#_chang').attr('src', data.src);
        });
    }
    create();
    $('#_forceRender').click(function () {
      create(true);
    });
  });
</script>
</body>
</html>