<!DOCTYPE html>
<html>
<head>
  <title><%= locals.title ? title + ' - 石子儿' : '石子儿 - 与世界分享你的总结' %></title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;charset=UTF-8">
  <meta name="description" content="<%= locals.description
    || '把各种各样的信息，自由地搭配组合，总结成一个页面保存起来，展示给感兴趣的人。我们的致力于让任何人都可以设计信息，让其他人和信息相遇、相会。' %>">
  <link type='text/css' rel='stylesheet' href='/stylesheets/bootstrap.css'/>
  <link type='text/css' rel='stylesheet' href='/stylesheets/todc-bootstrap.css'/>
  <link type='text/css' rel="stylesheet" href="/stylesheets/font-awesome.min.css">
  <link type='text/css' rel='stylesheet' href='/stylesheets/common.css'/>
  <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
  <script type="text/javascript" src="/javascripts/common.js"></script>
</head>
<body style="background-color: #eee; width: 520px; min-width: 520px; margin: 0 auto;">
<div style="width: 480px; background-color: #f7f7f7; margin: 20px; border-radius: 5px; padding: 20px;">
<img src="/images/loading.gif" style="display: block;margin: 0 auto;">
</div>
<script>
  $.post(location.href)
    .done(function (data) {
      $(function () {
        $('img').attr({
          src: data.src,
          width: '100%'
        });
      })
    });
</script>
</body>
</html>