<tr>
  <th>
    <a href="<%= topic.topicUrl %>">
      <img src="<%= topic.cover_url || '/images/no_img/image_95x95.png' %>" width="60"
           height="60" onerror="mtm.errorImage(this,'image_95x95');">
    </a>
  </th>
  <td>
    <p style="font-size: 14px;"><a href="<%= topic.topicUrl %>"><%= topic.title || '' %></a></p>

    <p class="text-muted">更新日期: <%= topic.create_date || '' %></p>
    <i class="icon-star StarIconFull"></i>
    <span> <%= topic.FVCount || '0' %></span>
    <span class="VLine VLine-Header"></span>
    <span><%= topic.PV_count || '0' %></span>
    <span class="text-muted"> 访问量</span>
  </td>
</tr>