<div class="MainHead clearfix">
  <h5 style="float: left;"><%= authorName %> 的总结</h5>

  <div class="dropdown" style="float: right;">
    <button style="width: 160px;" class="mtm btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      <% if (sortOrder == 'U') { %>
      更新日期排序
      <% } else if (sortOrder == 'F') { %>
      喜欢数排序
      <% } else if (sortOrder == 'N') { %>
      名字排序
      <% } %>
      <span class="caret"></span>
    </button>
    <span class="dropdown-arrow dropdown-arrow-inverse"></span>
    <ul class="dropdown-menu dropdown-inverse">
      <li><a href="?order=U">更新日期排序</a></li>
      <li><a href="?order=F">喜欢数排序</a></li>
      <li><a href="?order=N">名字排序</a></li>
    </ul>
  </div>
</div>

<% if (topics.length) { %>
<table class="table table-hover">
  <colgroup>
    <col style="width: 166px;">
  </colgroup>
  <style>
    .Cover:hover { opacity: 0.8;}
  </style>
  <% for (i in locals.topics) { %>
  <% var topic = topics[i] %>
  <tr>
    <th>
      <a class="Cover" target="_blank" href="/topic/<%= topic._id || '' %>" title="<%= topic.title || '' %>"
        style="display: block; width: 150px; height: 100px; background: url('<%= topic.cover_url %>') no-repeat center #7f8c8d; background-size: cover;">
      </a>
    </th>
    <td>
      <h6>
        <a target="_blank" href="/topic/<%= topic._id || '' %>" title="<%= topic.title || '' %>" class="text-default">
          <%= topic.title || '' %>
        </a>
      </h6>

      <p class="text-muted pull-left">更新日期: <%= topic.create_date || '' %></p>
      <p class="pull-right">
        <i class="icon-star StarIconFull"></i>
        <span style="width: 40px;display: inline-block;"> <%= topic.FVCount || '0' %></span>
        <span class="text-muted"><i class="icon-eye-open"></i></span>
        <span style="width: 80px;display: inline-block;"><%= topic.PV_count || '0' %></span>
      </p>
    </td>
  </tr>
  <% } %>
</table>

<% locals.query = 'order=' + sortOrder + '&'; %>
<% include ../_pagination.html %>

<% } else { %>
<div class="mdMypageMTMList01NoItem mdNoItem01NoLink" data-na="NA:noitem">
  <p class="mdMypageMTMList01NoItemTxt">
    还没制作总结。
  </p>
</div>
<% } %>