<div class="MainHead clearfix">
  <h5 style="float: left;"><%= authorName %> 的总结</h5>

  <div class="dropdown" style="float: right;">
    <button style="width: 160px;" class="btn dropdown-toggle" type="button" data-toggle="dropdown">
      <% if (sortOrder == 'U') { %>
      更新日期排序
      <% } else if (sortOrder == 'F') { %>
      人气排序
      <% } else if (sortOrder == 'N') { %>
      名字排序
      <% } %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="?order=U">更新日期排序</a></li>
      <li><a href="?order=F">人气排序</a></li>
      <li><a href="?order=N">名字排序</a></li>
    </ul>
  </div>
</div>

<% if (topics.length) { %>
<table class="TopicTable">
  <% for (i in locals.topics) { %>
  <% var topic = topics[i] %>
  <tr>
    <th>
      <a target="_blank" href="<%= topic.topicUrl || '' %>" title="<%= topic.title || '' %>">
        <img src="<%= topic.cover_url || '/images/no_img/image_95x95.png' %>" width="60"
             height="60" onerror="shizier.errorImage(this,'image_95x95');">
      </a>
    </th>
    <td>
      <p style="font-size: 14px;">
        <a target="_blank" href="<%= topic.topicUrl || '' %>" title="<%= topic.title || '' %>" class="text-default">
          <%= topic.title || '' %>
        </a>
      </p>

      <p class="text-muted">更新日期: <%= topic.create_date || '' %></p>
      <i class="icon-star StarIconFull"></i>
      <span style="width: 40px;display: inline-block;"> <%= topic.FVCount || '0' %></span>
      <span class="text-muted">浏览</span>
      <span><%= topic.PV_count || '0' %></span>
    </td>
  </tr>
  <% } %>
</table>

<% locals.query = 'order=' + sortOrder + '&'; %>
<% include ../_pagination.html %>

<% } else { %>
<div class="mdMypageMTMList01NoItem mdNoItem01NoLink" data-na="NA:noitem">
  <p class="mdMypageMTMList01NoItemTxt">
    没制作总结。
  </p>
</div>
<% } %>