<div class="MainHead">
  <h5>设置</h5>

  <div style="position: relative;">
    <a href="/account">个人信息更新</a>
  </div>
</div>

<div class="HLine"></div>

<form class="SettingsForm" action="/settings" method="post">
  <input type="hidden" name="fromUrl" value="/settings"/>
  <fieldset>
    <ul>
      <li id="_thumbEdit">
        <h6>头像</h6>

        <div class="Thumb" style="float: left;position: relative;">
          <img width="120" height="120" src="/images/no_img/user_120x120.png">
          <img width="120" height="120" id="_thumb"
               onerror="shizier.errorImage(this, 'image_95x95')"
               src="<%= locals.imageUrl || '' %>"
               style="position: absolute;left: 0;top: 0;">
        </div>

        <div style="overflow: hidden;">
          <input type="text" name="url" placeholder="输入图片URL">
        </div>
        <div class="InfoHint text-muted" style="height: 15px;">
          由于受版权保护，有些图片可能无法引用
        </div>
        <div class="BtnSet">
          <button name="preview" class="btn btn-small btn-inverse" type="button">预览</button>
          <button name="reset" class="btn btn-small" type="button">重置</button>
        </div>
      </li>
      <li>
        <h6>自我介绍</h6>

        <div style="overflow: hidden;">
          <textarea class="InputBox_Introduce" placeholder="请填写您的自我介绍"><%= description %></textarea>
        </div>
        <div style="position: relative;">
          <p class="IntroduceCount"><span>0</span>/100</p>
        </div>
      </li>
      <li>
        <h6>个人主页</h6>

        <div style="overflow: hidden;">
          <input name="site" class="Url" type="text" size="100" placeholder="请填写您的网站或者个人博客地址"
                 value="<%- locals.connectUrl ? locals.connectUrl : '' %>">
        </div>
      </li>
      <li>
        <h6>&nbsp;</h6>
        <button name="save" style="width: 160px;" class="btn btn-large" type="button">保存</button>
      </li>
    </ul>
  </fieldset>
</form>
