<div class="clearfix">
  <h5 class="pull-left">设置</h5>

  <a href="/account" class="pull-right btn btn-default mtm">更多个人信息</a>
</div>

<hr>

<form class="form-horizontal" id="_settings">
  <div class="form-group">
    <label for="_avatar" class="col-sm-2 control-label">头像</label>

    <div class="col-sm-10" id="_thumbEdit">

      <div class="pull-left mrl img-circle-border-clouds"
           style="width: 130px; height: 130px;">
        <img class="img-circle" width="120" height="120" id="_thumb"
             onerror="shizier.errorImage(this, 'image_95x95')"
             src="<%= locals.imageUrl || '/images/no_img/user_120x120.png' %>">
      </div>

      <div class="pull-left">
        <div>
          <input class="form-control" type="text" id="_avatar" name="url" placeholder="输入图片URL">
        </div>
        <div class="InfoHint text-muted">
          由于受版权保护，有些图片可能无法引用
        </div>
        <div class="BtnSet">
          <button name="preview" class="btn btn-inverse" type="button">预览</button>
          <button name="reset" class="btn btn-default" type="button">取消</button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="_description" class="col-sm-2 control-label">自我介绍</label>

    <div class="col-sm-10">
      <textarea class="form-control" id="_description" placeholder="请填写您的自我介绍"><%= description %></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="_site" class="col-sm-2 control-label">个人主页</label>

    <div class="col-sm-10">
      <input id="_site" name="site" class="Url form-control" type="text" size="100" placeholder="请填写您的网站或者个人博客地址"
             value="<%= locals.connectUrl ? locals.connectUrl : '' %>">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2"></div>

    <div class="col-sm-10">
      <button name="save" style="width: 160px;" class="btn btn-large btn-primary" type="submit">保存</button>
    </div>
  </div>
</form>

<script>
  $(function ($) {
    var $thumbEdit = $('#_thumbEdit');
    var $img = $thumbEdit.find('#_thumb');
    var coverUrl = $img.attr('src');
    var $input = $thumbEdit.find('input[name="url"]');
    var $preview = $thumbEdit.find('button[name="preview"]');
    var $reset = $thumbEdit.find('button[name="reset"]');
    $input.keypress(function (event) {
      if (event.keyCode != 13) {
        return;
      }
      $preview.click();
      return false;
    });
    $preview.click(function () {
      $img.attr('src', shizier.utils.suffixImage($input.val()));
    });
    $reset.click(function () {
      $img.attr('src', coverUrl);
    });
    $('#_settings').submit(function () {
      var imageUrl = $img.attr('src');
      var description = $('#_description').val();
      var connectUrl = $('input[name="site"]').val();
      //then send ajax to server.
      $.post('/settings', {
        imageUrl: imageUrl, description: description, connectUrl: connectUrl
      }).done(function () {
          alert('已更新您的个人设置');
          location.reload();
        })
        .fail(function () {
          alert('未能成功更新您的个人设置！');
        });
      return false;
    });
  });
</script>