<!--ACCOUNT##这是layout要用的参数，不能删！-->
<div class="Contents">
  <div class="Inner">
    <div class="Message Message-AL">
      <form method="post" action="/account" id="_registForm" onsubmit="return validatePass()">
        <input type="hidden" name="fromUrl" id="fromUrl" value="/accountVerify">
        <input type="hidden" name="username" value="<%= locals.username || '' %>" id="_username">
        <h4>密码确认</h4>

        <p>为了您的账户安全，请再次登录。</p>
        <table class="Settings MarginTop MarginBottom">
          <tbody>
          <tr class="BorderTop">
            <th><strong>用户名</strong></th>
            <td><strong><%= locals.username || '' %></strong></td>
          </tr>
          <tr class="BorderBottom">
            <th><strong>密码</strong></th>
            <td><input type="password" id="_passwd" name="password" maxlength="20">
              <span class="ErrorHint"><%= locals.errMsg || '' %></span>
            </td>
          </tr>
          </tbody>
        </table>
        <div style="text-align: center;">
          <button class="btn btn-large btn-success" type="submit">登录</button>
        </div>
      </form>
    </div>
  </div>

  <script>
    $().ready(function () {
      new shizier.account.initMailChangeForm();
    });
    function validatePass() {
      var password = $("#_passwd").val();
      if (!password) {
        $('span[class="ErrorHint"]').text('请输入密码');
        return false;
      }
    }
  </script>

</div>