  <div class="ArCol01 FnSideContent">
            <div class="MdFVAdd01"><a class="mdFVAdd01Btn FnRegister" title="新規アイテム追加">新規アイテム追加</a></div>
            <div class="MdTagList02">
                <h1 class="mdTagList02Ttl"><span class="mdTagList02AddTxt">タグ</span><span class="MdBtn01Add05"><input type="button" value="タグを追加" title="タグを追加" class="mdBtn01Add05Btn"></span></h1>

                <div class="MdScrollBox01 FnScrollBox">
                    <div class="mdScrollBox01Panel">
                        <ul class="mdTagList02Ul ExScroll">
                        </ul>
                        <!--/mdScrollBox01Panel--></div>
                    <div class="MdScroll01">
                        <span class="mdScroll01Bar" style="height:60px;"></span>
                        <!--/MdScroll01--></div>
                    <!--/MdScrollBox01--></div>
                <!--/MdTagList02--></div>
            <!--/ArCol01--></div>

        <div class="ArCol02 FnListContent">
            <div class="MdFVHead01">
                <h1 class="MdHide">お気に入りアイテム一覧</h1>
                <div class="MdFVNav01">
                    <ul class="mdFVNav01List01 FnNavigateTabs">
                        <li class="mdFVNav01Item01All" title="すべて" data-type="all">すべて</li>
                        <li class="mdFVNav01Item01Matome" title="まとめ" data-type="matome_list" style="display:none;">まとめ</li>
                        <li class="mdFVNav01Item01Topic" title="トピック" data-type="matome_topic" style="display:none;">トピック</li>
                        <li class="mdFVNav01Item01Curator" title="キュレーター" data-type="matome_curator" style="display:none;">キュレーター</li>
                        <li class="mdFVNav01Item01Link" title="リンク" data-type="link" style="display:none;">リンク</li>
                        <li class="mdFVNav01Item01Img" title="画像" data-type="photo" style="display:none;">画像</li>
                        <li class="mdFVNav01Item01Video" title="動画" data-type="video" style="display:none;">動画</li>
                        <li class="mdFVNav01Item01Quote" title="引用" data-type="quote" style="display:none;">引用</li>
                        <li class="mdFVNav01Item01Tweet" title="ツイート" data-type="tweet" style="display:none;">ツイート</li>
                        <li class="mdFVNav01Item01Txt" title="テキスト" data-type="text" style="display:none;">テキスト</li>
                    </ul>
                    <!--/MdFVNav01--></div>

                <div class="mdFVHead01Option01">
                    <ul class="mdFVHead01Option01List">
                        <li class="mdFVHead01Option01Item"><span class="MdCheckBox01 FnCheckBoxOption" title="すべて選択"><input type="checkbox" class="mdCheckBox01Input"><!--/MdCheckBox01--></span><span class="MdSeparator01P12">|</span></li>
                        <li class="mdFVHead01Option01Item"><a class="mdFVHead01Btn01Tag01 ExDisabled FnTagOption" title="タグ"><span class="mdFVHead01Btn01Ico"></span><span class="mdFVHead01Btn01Txt">タグ</span></a><span class="MdSeparator01P12">|</span></li>
                        <li class="mdFVHead01Option01Item"><a class="mdFVHead01Btn01Del01 FnRemoveOption" title="削除"><span class="mdFVHead01Btn01Ico"></span><span class="mdFVHead01Btn01Txt">削除</span></a></li>
                        <li class="mdFVHead01Option01Item">
                            <div class="MdInputSearch05 FnInputArea">
                                <div class="mdInputSearch05Inner">
                                    <span class="mdInputSearch05Ico"></span>
                                    <input type="text" class="mdInputSearch05Input FnInputOption" maxlength="255">
                                    <span class="MdBtn01Del10" style="display:none;"><a class="mdBtn01Del10Btn" title="削除">削除</a></span>
                                </div>
                                <!--/MdInputSearch05--></div>
                        </li>
                    </ul>
                </div>
                <!--/MdFVHead01--></div>
            <div class="MdFVList01 ExScroll">
                <div class="MdScrollBox01 FnScrollBox">
                    <div class="mdScrollBox01Panel FnList">

                        <!--/mdScrollBox01Panel--></div>
                    <div class="MdScroll01">
                        <span class="mdScroll01Bar" style="height:60px;"></span>
                        <!--/MdScroll01--></div>
                    <!--/MdScrollBox01--></div>
                <!--/MdFVList01--></div>

            <div class="MdFVFoot01 FnListFooter">

                <div class="MdPagination05 FnListPager">
                    <ul>
                        <li class="mdPagination05First"><a class="mdPagination05FirstBtn ExDisabled FnDecrementPage" title="最初へ" data-increment="first">最初へ</a></li>
                        <li class="mdPagination05Prev"><a class="mdPagination05PrevBtn ExDisabled FnDecrementPage" title="前へ" data-increment="-1">前へ</a></li>
                        <li class="mdPagination05Current01"><span class="mdPagination05Current01Input"><input type="text" class="mdPagination05Current01InputBox FnPageInput" value="1" style="width:8px;" maxlength="10"></span>&nbsp;/&nbsp;<span class="mdPagination05Current01Max FnPageMax"></span></li>
                        <li class="mdPagination05Next"><a class="mdPagination05NextBtn FnIncrementPage" title="次へ" data-increment="1">次へ</a></li>
                        <li class="mdPagination05Last"><a class="mdPagination05LastBtn FnIncrementPage" title="最後へ" data-increment="last">最後へ</a></li>
                    </ul>
                    <!--/MdPagination05--></div>

                <!--/MdFVFoot01--></div>
            <!--/ArCol02--></div>

        <div class="ArCol03 FnEndContent">
            <!--/ArCol03--></div>

