<div class="Contents">
  <div class="Inner">

    <div class="Sub">

      <ul class="SubPV">
        <li>
          <p><%= topicsCount %></p>

          <p>总结数</p>
        </li>

        <div class="Seperator"></div>

        <li>
          <p><%= topicsPageView %></p>

          <p>月访问量</p>
        </li>
      </ul>
      <img width="120" height="120" class="SubThumb" src="/images/no_img/user_120x120.png">

      <h3 class="SubTtl"><%= username %></h3>

      <a class="BtnSettings" href="/settings">设置</a>

      <div style="position: relative;">
                <span class="SubFV"><span class="FVIco"></span><span
                  class="mdFVCount01Num"><%= favourite %></span></span>
      </div>

      <div class="SubSeparator"></div>

      <ul class="PersonalSubNav NegLinkWrapper">
        <!--<li><a href="/faq?groupNo=147">用户激励指南</a></li>-->
        <li><a href="/bookmarklet">bookmarklet</a></li>
      </ul>

    </div>

    <% if (locals.personalType == 'WORKS') { %>
    <% include _works.html %>
    <% } else if (locals.personalType == 'SETTINGS') { %>
    <% include _settings.html %>
    <% } %>

  </div>
</div>
<!--/CONTENTS-AREA-->
<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
<div class="diigolet notice" id="diigolet-notice" style="display: none;">
  <div><b>&nbsp;</b>

    <p>Ok, done!</p><span id="close"></span></div>
</div>
<div id="diigolet-csm" style="position: absolute; left: -9764px; top: 206px; display: none;" class="yellow"><a
  id="diigolet-csm-highlight" href="javascript:void(0);"></a><a id="diigolet-csm-search" href="javascript:void(0);"></a>

  <div id="diigolet-csm-color" class="small hidden" style="height: 0px;"><a class="diigolet-csm-coloritem"
                                                                            id="diigolet-csm-yellow"
                                                                            style="height: 0px;"></a><a
    class="diigolet-csm-coloritem" id="diigolet-csm-blue" style="height: 0px;"></a><a class="diigolet-csm-coloritem"
                                                                                      id="diigolet-csm-green"
                                                                                      style="height: 0px;"></a><a
    class="diigolet-csm-coloritem" id="diigolet-csm-pink" style="height: 0px;"></a></div>
</div>
