<div class="Contents">
  <div class="Inner">
    <div class="Sub">
      <ul class="SubPV">
        <li>
          <p><%= topicsCount %></p>

          <p>总结数</p>
        </li>

        <div class="HLine"></div>

        <li>
          <p><%= topicsPageView %></p>

          <p>月访问量</p>
        </li>
      </ul>
      <div class="Thumb">
        <img width="120" height="120"
             src="<%= locals.imageUrl ? locals.imageUrl : '/images/no_img/user_120x120.png' %>">
      </div>

      <h5 class="SubTtl"><%= username %></h5>

      <div class="BtnSet">
        <a href="/settings">
          <button class="btn btn-small" type="button">设置</button>
        </a>
      </div>

      <div style="position: relative;">
        <span class="SubFV"><i class="FVIco icon-star"></i><span
          class="mdFVCount01Num"> <%= favourite %></span></span>
      </div>

      <hr>

      <nav class="Nav Nav-Personal">
        <ul>
          <!--<li><a href="/faq?groupNo=147">用户激励指南</a></li>-->
          <li><a href="/bookmarklet">bookmarklet</a></li>
        </ul>
      </nav>

    </div>

    <div class="Main">
      <% if (locals.personalType == 'WORKS') { %>
      <% include _works.html %>
      <% } else if (locals.personalType == 'SETTINGS') { %>
      <% include _settings.html %>
      <% } %>
    </div>

  </div>
</div>