<!--CONTENTS-AREA-->
<div class="LyContents MdCF"  data-na="NA:mymatome">
<div class="lyContentsWrap MdCF">
<div class="LyMain" role="main" data-na="NA:main">
  <div class="ArMain01">

    <div class="MdProfileHead01">
      <h1 class="mdProfileHead01Ttl"><%= authorName %>的主页<span class="MdBtn01Rss01" >
        <!--<a href="/" class="mdBtn01Rss01Btn" title="" >RSS</a></span>-->
      </h1>
      <!--/MdProfileHead01--></div>

    <div class="MdMypageMTMList01">
      <div class="mdMypageMTMList01Head">

        <ul class="mdMypageMTMList01Tab MdCF" data-na="NA:listselect">
          <%if (singleMade) { %>
          <li class="mdMypageMTMList01TabLi ExSelected"><span class="mdMypageMTMList01TabItem01" data-na="NL:create">个人制作</span></li>
          <% } else { %>
          <li class="mdMypageMTMList01TabLi"><a href="<%= thisUrl %>"><span class="mdMypageMTMList01TabItem01" data-na="NL:create">个人制作</span></a></li>
          <% } %>

          <%if (singleMade ) { %>
          <li class="mdMypageMTMList01TabLi"> <a href="<%= thisUrlJoin %>"><span class="mdMypageMTMList01TabItem02" data-na="NL:join">他人合作</span></a></li>
          <% } else { %>
          <li class="mdMypageMTMList01TabLi ExSelected"><span class="mdMypageMTMList01TabItem02" data-na="NL:join">他人合作</span></li>
          <% } %>
        </ul>
        <h2 class="MdHide">
          <%if (singleMade ) { %>
          个人制作
          <% } else { %>
          他人合作
          <% } %>

        </h2>

        <div class="MdSelectBox02">
          <div class="mdSelectBox02Label01">
            <span class="mdSelectBox02Label01Txt">
              <% if (uSelect)  { %>
                更新日期排序
              <% } else if (fSelect)  { %>
                人气排序
              <% } else if (nSelect)  { %>
                名字排序
              <% } %>
            </span>
            <span class="mdSelectBox02Label01Ico"></span>
          </div>
          <ul class="mdSelectBox02Option01" style="display:none" data-na="NA:sortselect">
            <li data-value="U"  id='u'
            <% if (uSelect)  { %>
            selected="true"
            <% } %>
            data-na="NC:sort">更新日期排序</li>
            <li data-value="F"   id='f'
            <% if (fSelect)  { %>
            selected="true"
            <% } %>
            data-na="NC:sort">人气排序</li>
            <li data-value="N"  id='n'
            <% if (nSelect)  { %>
            selected="true"
            <% } %>
            data-na="NC:sort">名字排序</li>
          </ul>
          <!-- /.mdMypageMTMList01Select --></div>
      </div><!-- /mdMypageMTMList01Head -->

      <%if (topics.length ) { %>
      <div class="mdMypageMTMList01Item">
        <ul class="MdMTMTtlList01" data-na="NA:creatematome">
          <% for (i in locals.topics) { %>
          <% var topic = topics[i] %>
          <% include _eachTopic.html %>
          <% } %>
        </ul><!-- /.MdMTMTtlList01 -->
      </div>
      <% } else { %>
      <div class="mdMypageMTMList01NoItem mdNoItem01NoLink" data-na="NA:noitem">
        <p class="mdMypageMTMList01NoItemTxt">
          <% if(singleMade) { %>
          没制作总结。
          <% } else { %>
          没有参加的总结。
          <% } %>
        </p>
      </div><!--/MdNoItem01-->

      <% } %>

      <div class="MdPagination04" data-na="NA:pager" >




        <strong>1</strong>
        <a href="#" onclick="goPage(2);return false;" data-na="NC:page" >2</a>




        <a href="#" onclick="goPage(3);return false;" data-na="NC:page" >3</a>
        <a href="#" onclick="goPage(4);return false;" data-na="NC:page" >4</a>
        <a href="#" onclick="goPage(5);return false;" data-na="NC:page" >5</a>

        <span class="mdPagination04Break">...</span>

        <a href="#" onclick="goPage(222);return false;" data-na="NC:page" >222</a>
        <a href="#" onclick="goPage(223);return false;" data-na="NC:page" >223</a>
        <!--/MdPagination04--></div>

      <form name="form" action="/u/username" method="get">
        <input type="hidden" name="page" value="1" />
        <input type="hidden" name="order" value="U"/>
        <input type="hidden" name="type" value="C"/>
      </form>
      <script type="text/javascript">
        function goPage(page) {
          document.form.page.value = page;
          document.form.submit()
          return false;
        }
      </script>



    </div><!--/MdMypageMTMList01-->


    <!--/ArMain01--></div>
  <!--/LyMain--></div>

<div class="LySub">

<div class="ArMySub01" data-na="NA:userinfo">
  <div class="arMySub01Inner">
    <div class="MdMySubProf01 mdMySubProf01Others">
      <div class="mdMySubProf01Unit01">
        <ul class="mdMySubProf01PV">
          <li class="mdMySubProf01PVItem01">
            <span class="mdMySubProf01PVCount"><%= authorWorkCount %></span>
            <span>总结数</span>
          </li>
          <li class="mdMySubProf01PVItem02">
            <span class="mdMySubProf01PVCount"><%= authorMonthPV %></span>
            <span>月访问量</span>
          </li>
        </ul>
        <div class="MdThumb01">
          <span class="mdThumb01Inner"><img id="" title="" width="120" height="120" src="<%= locals.authorImage ? locals.authorImage : '/images/no_img/user_120x120.png' %>" onerror="errorImage(this,'user120x120');" ></span>
        </div>
        <h3 class="mdMySubProf01Ttl"><span class="mdMySubProf01UserName"><%= authorName %></span> </h3>
        <p class="mdMySubProf01Txt"><%- authorDescription %></p>
        <p class="mdMySubProf01Link"><a class="MdBtn02Site01" href="<%= authorPersonalUrl %>>" target="_blank" data-na="NL:homepage"><span class="mdBtn02Site01Ico"></span><span class="mdBtn02Site01Txt">联合运营</span></a></p>

        <div class="mdMySubProf01FV">
          <a class="MdFVBtn02" data-favorite="{&quot;url&quot;:&quot;<%= thisUrl %>&quot;}" data-na="NC:addfavorite"><span class="mdFVBtn02Wrap"><span class="mdFVBtn02Ico"></span><span class="mdFVBtn02Txt">添加到收藏</span></span></a>
          <span class="MdFVCount01"><span class="mdFVCount01Ico"></span><span class="mdFVCount01Num"><%= authorFavourite %></span></span>
        </div>
      </div>
      <!--/MdMySubProf01--></div>
  </div>
  <!--/ArMySub01--></div>

<div class="ArMySubSeparator01"><hr></div>



<div class="ArMySubSeparator01"><hr></div>


<!--/LySub--></div>

<!--/lyContentsWrap--></div>
<!--/LyContents--></div>

<!--/CONTENTS-AREA-->


