<!--CONTENTS-AREA-->
<div class="LyContents MdCF"  data-na="NA:mymatome">
<div class="lyContentsWrap MdCF">
<div class="LyMain" role="main" data-na="NA:main">
  <div class="ArMain01">

    <div class="MdProfileHead01">
      <h1 class="mdProfileHead01Ttl"><%= authorName %>的主页<span class="MdBtn01Rss01" >
        <!--<a href="/" class="mdBtn01Rss01Btn" title="" >RSS</a></span>-->
      </h1>
      <!--/MdProfileHead01--></div>

    <div class="MdMypageMTMList01">
      <div class="mdMypageMTMList01Head">

        <ul class="mdMypageMTMList01Tab MdCF" data-na="NA:listselect">
          <li class="mdMypageMTMList01TabLi ExSelected"><span class="mdMypageMTMList01TabItem01" data-na="NL:create">个人制作</span></li>
          <li class="mdMypageMTMList01TabLi"><a href="u/username?type=J"><span class="mdMypageMTMList01TabItem02" data-na="NL:join">他人合作</span></a></li>
        </ul>
        <h2 class="MdHide">个人制作</h2>

        <div class="MdSelectBox02">
          <div class="mdSelectBox02Label01">
				<span class="mdSelectBox02Label01Txt">
          更新日順				</span>
            <span class="mdSelectBox02Label01Ico"></span>
          </div>
          <ul class="mdSelectBox02Option01" style="display:none" data-na="NA:sortselect">
            <li data-value="U" selected="true" data-na="NC:sort">更新日期排序</li>
            <li data-value="F"  data-na="NC:sort">人气排序</li>
            <li data-value="N"  data-na="NC:sort">名字排序</li>
          </ul>
          <!-- /.mdMypageMTMList01Select --></div>
      </div><!-- /mdMypageMTMList01Head -->

      <div class="mdMypageMTMList01Item">
        <ul class="MdMTMTtlList01" data-na="NA:creatematome">
          <li class="mdMTMTtlList01Item">
            <span class="mdMTMTtlList01Thumb"><a href="http://matome.naver.jp/odai/2137487420736284001" data-na="NL:thumbnail"><img src="http://tv4.search.naver.jp/jthumb?size=ct60x60&q=http%3A%2F%2Fblog.oggi.tv%2Fofficial%2FTOKYOFM.jpg" alt="" onerror="errorImage(this,'image60x60');" /></a></span>
            <div class="mdMTMTtlList01Txt">
              <h3 class="mdMTMTtlList01Ttl"><a href="http://matome.naver.jp/odai/2137487420736284001" data-na="NL:title">【ズムサタ・モッチー】望月理恵 画像 プロフィール【ズームインサタデー 女子ア…</a></h3>
              <p class="mdMTMTtlList01TimeStamp">更新日: 2013年10月12日</p>
              <ul class="MdSocialCountList01">
                <li class="mdSocialCountList01Li mdSocialCountList01Facebook"><span class="mdSocialCountList01Ico">新浪微博</span><span class="mdSocialCountList01Num">0</span></li>
                <li class="mdSocialCountList01Li mdSocialCountList01Hatena"><span class="mdSocialCountList01Ico">微信</span><span class="mdSocialCountList01Num">1</span></li>
                <li class="mdSocialCountList01Li mdSocialCountList01FV"><span class="MdSeparator01P06">|</span><span class="mdSocialCountList01Ico">收藏</span><span class="mdSocialCountList01Num">5</span></li>
                <li class="mdSocialCountList01Li mdSocialCountList01View"><span class="MdSeparator01P06">|</span><span class="mdSocialCountList01Num">5864</span><span class="mdSocialCountList01Label">访问量</span></li>
              </ul><!-- /MdSocialCountList01 -->
            </div><!-- /.MdMTMTtlList01Txt -->
          </li><!-- /.MdMTMTtlList01Item -->

        <li class="mdMTMTtlList01Item">
          <span class="mdMTMTtlList01Thumb"><a href="http://matome.naver.jp/odai/2135185349363260401" data-na="NL:thumbnail"><img src="http://tv4.search.naver.jp/jthumb?size=ct60x60&q=http%3A%2F%2Fgame.watch.impress.co.jp%2Fimg%2Fgmw%2Fdocs%2F451%2F663%2Fsaka06.jpg" alt="" onerror="errorImage(this,'image60x60');" /></a></span>
          <div class="mdMTMTtlList01Txt">
            <h3 class="mdMTMTtlList01Ttl"><a href="http://matome.naver.jp/odai/2135185349363260401" data-na="NL:title">【画像集】寺田ちひろ（Terada Chihiro）【王様のブランチ・ZIP！…</a></h3>
            <p class="mdMTMTtlList01TimeStamp">更新日: 2013年10月12日</p>
            <ul class="MdSocialCountList01">
              <li class="mdSocialCountList01Li mdSocialCountList01Facebook"><span class="mdSocialCountList01Ico">Facebook</span><span class="mdSocialCountList01Num">0</span></li>
              <li class="mdSocialCountList01Li mdSocialCountList01Hatena"><span class="mdSocialCountList01Ico">はてなブックマーク</span><span class="mdSocialCountList01Num">1</span></li>
              <li class="mdSocialCountList01Li mdSocialCountList01FV"><span class="MdSeparator01P06">|</span><span class="mdSocialCountList01Ico">お気に入り</span><span class="mdSocialCountList01Num">5</span></li>
              <li class="mdSocialCountList01Li mdSocialCountList01View"><span class="MdSeparator01P06">|</span><span class="mdSocialCountList01Num">9359</span><span class="mdSocialCountList01Label">view</span></li>
            </ul><!-- /MdSocialCountList01 -->
          </div><!-- /.MdMTMTtlList01Txt -->
        </li><!-- /.MdMTMTtlList01Item -->
        <li class="mdMTMTtlList01Item">
          <span class="mdMTMTtlList01Thumb"><a href="http://matome.naver.jp/odai/2133997697563422101" data-na="NL:thumbnail"><img src="http://tv4.search.naver.jp/jthumb?size=ct60x60&q=http%3A%2F%2Fstat.profile.ameba.jp%2Fprofile_images%2F20110824%2F14%2Fa7%2Fd9%2Fj%2Fo015001501314162905227.jpg" alt="" onerror="errorImage(this,'image60x60');" /></a></span>
          <div class="mdMTMTtlList01Txt">
            <h3 class="mdMTMTtlList01Ttl"><a href="http://matome.naver.jp/odai/2133997697563422101" data-na="NL:title">【画像集】小野寺結衣（Onodera Yui）【ZIP！ ジップ 日テレ キャ…</a></h3>
            <p class="mdMTMTtlList01TimeStamp">更新日: 2013年10月12日</p>
            <ul class="MdSocialCountList01">
              <li class="mdSocialCountList01Li mdSocialCountList01Facebook"><span class="mdSocialCountList01Ico">Facebook</span><span class="mdSocialCountList01Num">0</span></li>
              <li class="mdSocialCountList01Li mdSocialCountList01Hatena"><span class="mdSocialCountList01Ico">はてなブックマーク</span><span class="mdSocialCountList01Num">1</span></li>
              <li class="mdSocialCountList01Li mdSocialCountList01FV"><span class="MdSeparator01P06">|</span><span class="mdSocialCountList01Ico">お気に入り</span><span class="mdSocialCountList01Num">2</span></li>
              <li class="mdSocialCountList01Li mdSocialCountList01View"><span class="MdSeparator01P06">|</span><span class="mdSocialCountList01Num">42594</span><span class="mdSocialCountList01Label">view</span></li>
            </ul><!-- /MdSocialCountList01 -->
          </div><!-- /.MdMTMTtlList01Txt -->
        </li><!-- /.MdMTMTtlList01Item -->
        <li class="mdMTMTtlList01Item">
          <span class="mdMTMTtlList01Thumb"><a href="http://matome.naver.jp/odai/2134184257098037601" data-na="NL:thumbnail"><img src="http://tv4.search.naver.jp/jthumb?size=ct60x60&q=http%3A%2F%2Fmantan-web.jp%2Fassets%2Fimages%2F2011%2F08%2F25%2F20110824dog00m200055000c_250.jpg" alt="" onerror="errorImage(this,'image60x60');" /></a></span>
          <div class="mdMTMTtlList01Txt">
            <h3 class="mdMTMTtlList01Ttl"><a href="http://matome.naver.jp/odai/2134184257098037601" data-na="NL:title">【女子アナ】徳島えりか 画像集【日テレ 行列&amp;ゴーイング アナウンサー】</a></h3>
            <p class="mdMTMTtlList01TimeStamp">更新日: 2013年10月12日</p>
            <ul class="MdSocialCountList01">
              <li class="mdSocialCountList01Li mdSocialCountList01Facebook"><span class="mdSocialCountList01Ico">Facebook</span><span class="mdSocialCountList01Num">0</span></li>
              <li class="mdSocialCountList01Li mdSocialCountList01Hatena"><span class="mdSocialCountList01Ico">はてなブックマーク</span><span class="mdSocialCountList01Num">1</span></li>
              <li class="mdSocialCountList01Li mdSocialCountList01FV"><span class="MdSeparator01P06">|</span><span class="mdSocialCountList01Ico">お気に入り</span><span class="mdSocialCountList01Num">1</span></li>
              <li class="mdSocialCountList01Li mdSocialCountList01View"><span class="MdSeparator01P06">|</span><span class="mdSocialCountList01Num">21675</span><span class="mdSocialCountList01Label">view</span></li>
            </ul><!-- /MdSocialCountList01 -->
          </div><!-- /.MdMTMTtlList01Txt -->
        </li><!-- /.MdMTMTtlList01Item -->
        <li class="mdMTMTtlList01Item">
          <span class="mdMTMTtlList01Thumb"><a href="http://matome.naver.jp/odai/2133976368144380401" data-na="NL:thumbnail"><img src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20120323%2F15%2F15005%2F8%2F640x480x8fc10c2638597a277b02e992.jpg%2F120%2F120&twidth=60&theight=60&qlt=80&res_format=jpg&op=sc" alt="" onerror="errorImage(this,'image60x60');" /></a></span>
          <div class="mdMTMTtlList01Txt">
            <h3 class="mdMTMTtlList01Ttl"><a href="http://matome.naver.jp/odai/2133976368144380401" data-na="NL:title">【女子アナ】上野優花 かわいい画像集【ニュースバード アナウンサー】</a></h3>
            <p class="mdMTMTtlList01TimeStamp">更新日: 2013年10月12日</p>
            <ul class="MdSocialCountList01">
              <li class="mdSocialCountList01Li mdSocialCountList01Facebook"><span class="mdSocialCountList01Ico">Facebook</span><span class="mdSocialCountList01Num">4</span></li>
              <li class="mdSocialCountList01Li mdSocialCountList01Hatena"><span class="mdSocialCountList01Ico">はてなブックマーク</span><span class="mdSocialCountList01Num">3</span></li>
              <li class="mdSocialCountList01Li mdSocialCountList01FV"><span class="MdSeparator01P06">|</span><span class="mdSocialCountList01Ico">お気に入り</span><span class="mdSocialCountList01Num">5</span></li>
              <li class="mdSocialCountList01Li mdSocialCountList01View"><span class="MdSeparator01P06">|</span><span class="mdSocialCountList01Num">104328</span><span class="mdSocialCountList01Label">view</span></li>
            </ul><!-- /MdSocialCountList01 -->
          </div><!-- /.MdMTMTtlList01Txt -->
        </li><!-- /.MdMTMTtlList01Item -->
          <!-- /.MdMTMTtlList01 --></ul>
      </div>

      <div class="MdPagination04" data-na="NA:pager" >




        <strong>1</strong>
        <a href="#" onclick="goPage(2);return false;" data-na="NC:page" >2</a>




        <a href="#" onclick="goPage(3);return false;" data-na="NC:page" >3</a>
        <a href="#" onclick="goPage(4);return false;" data-na="NC:page" >4</a>
        <a href="#" onclick="goPage(5);return false;" data-na="NC:page" >5</a>

        <span class="mdPagination04Break">...</span>

        <a href="#" onclick="goPage(222);return false;" data-na="NC:page" >222</a>
        <a href="#" onclick="goPage(223);return false;" data-na="NC:page" >223</a>
        <!--/MdPagination04--></div>

      <form name="form" action="/u/username" method="get">
        <input type="hidden" name="page" value="1" />
        <input type="hidden" name="order" value="U"/>
        <input type="hidden" name="type" value="C"/>
      </form>
      <script type="text/javascript">
        function goPage(page) {
          document.form.page.value = page;
          document.form.submit()
          return false;
        }
      </script>



    </div><!--/MdMypageMTMList01-->


    <!--/ArMain01--></div>
  <!--/LyMain--></div>

<div class="LySub">

<div class="ArMySub01" data-na="NA:userinfo">
  <div class="arMySub01Inner">
    <div class="MdMySubProf01 mdMySubProf01Others">
      <div class="mdMySubProf01Unit01">
        <ul class="mdMySubProf01PV">
          <li class="mdMySubProf01PVItem01">
            <span class="mdMySubProf01PVCount"><%= authorWorkCount %></span>
            <span>总结数</span>
          </li>
          <li class="mdMySubProf01PVItem02">
            <span class="mdMySubProf01PVCount"><%= authorMonthPV %></span>
            <span>月访问量</span>
          </li>
        </ul>
        <div class="MdThumb01">
          <span class="mdThumb01Inner"><img id="" title="" width="120" height="120" src="<%= locals.authorImage ? locals.authorImage : '/images/no_img/user_120x120.png' %>" onerror="errorImage(this,'user120x120');" ></span>
        </div>
        <h3 class="mdMySubProf01Ttl"><span class="mdMySubProf01UserName"><%= authorName %></span> </h3>
        <p class="mdMySubProf01Txt"><%- authorDescription %></p>
        <p class="mdMySubProf01Link"><a class="MdBtn02Site01" href="<%= authorPersonalUrl %>>" target="_blank" data-na="NL:homepage"><span class="mdBtn02Site01Ico"></span><span class="mdBtn02Site01Txt">联合运营</span></a></p>

        <div class="mdMySubProf01FV">
          <a class="MdFVBtn02" data-favorite="{&quot;url&quot;:&quot;<%= thisUrl %>&quot;}" data-na="NC:addfavorite"><span class="mdFVBtn02Wrap"><span class="mdFVBtn02Ico"></span><span class="mdFVBtn02Txt">添加到收藏</span></span></a>
          <span class="MdFVCount01"><span class="mdFVCount01Ico"></span><span class="mdFVCount01Num"><%= authorFavourite %></span></span>
        </div>
      </div>
      <!--/MdMySubProf01--></div>
  </div>
  <!--/ArMySub01--></div>

<div class="ArMySubSeparator01"><hr></div>

<div class="ArMySub02">
  <div class="MdSubTopicRelated01" data-na="NA:joinedtopic">
    <h2 class="MdSubTtl01">参加的话题<span class="MdBtn01Toggle01 mdBtn01Toggle01Open FnEditUserToggle"><a href="#" class="mdBtn01Toggle01Btn" title="開く" data-na="NC:toggle">打卡</a></span></h2>
    <div class="MdTopicWordList01 MdCF">
      <ul data-pageData="{&quot;total&quot;:1463, &quot;page&quot;:1, &quot;fetch&quot;:20, &quot;totalPage&quot;:74, &quot;userHash&quot;:&quot;u4ramja6jhzty2388kzt&quot;}" class="mdTopicWordList01Ul">
        <li class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1Lv2o" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->女優<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(8431)</span></a><!--
--></a></li><li class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1Hipw" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->ネットで話題<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(52282)</span></a><!--
--></a></li><li class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1HinO" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->美人<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(10160)</span></a><!--
--></a></li><li class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1Lv56" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->話題の人物<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(8910)</span></a><!--
--></a></li><li class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1Hiq7" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->Twitter<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(24599)</span></a><!--
--></a></li><li class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1HinT" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->モデル<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(4604)</span></a><!--
--></a></li><li class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1HipV" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->CM<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(3281)</span></a><!--
--></a></li><li class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1HipB" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->エンタメニュース<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(18273)</span></a><!--
--></a></li><li style="display:none;" class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1Hilg" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->これはひどい<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(32202)</span></a><!--
--></a></li><li style="display:none;" class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1HinR" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->女子アナ<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(3164)</span></a><!--
--></a></li><li style="display:none;" class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1Hio8" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->ファッション<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(11792)</span></a><!--
--></a></li><li style="display:none;" class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1Hinp" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->ドラマ<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(5259)</span></a><!--
--></a></li><li style="display:none;" class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1HinS" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->アイドル<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(9251)</span></a><!--
--></a></li><li style="display:none;" class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1LvND" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->芸能人<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(7787)</span></a><!--
--></a></li><li style="display:none;" class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1Hilh" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->これはすごい<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(38198)</span></a><!--
--></a></li><li style="display:none;" class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1Hio5" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->コーディネート<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(6505)</span></a><!--
--></a></li><li style="display:none;" class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1LxXv" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->速報<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(3528)</span></a><!--
--></a></li><li style="display:none;" class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1Hiny" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->映画<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(9233)</span></a><!--
--></a></li><li style="display:none;" class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1LvLC" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->俳優<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(3700)</span></a><!--
--></a></li><li style="display:none;" class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1Hink" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->アート<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(4978)</span></a><!--
--></a></li>
      </ul>
      <!--/MdTopicWordList01--></div>
    <p style="display:none;" class="MdPagination02"><span class="mdPagination02PageInfo"><span class="MdFontB">1/74</span></span><a href="#" class="mdPagination02Prev" title="前へ" data-na="NC:prev">前へ</a><a href="#" class="mdPagination02Next" title="次へ" data-na="NC:next">次へ</a></p>
    <!--/MdSubTopicRelated01--></div>
  <!--/ArMySub02--></div>

<div class="ArMySubSeparator01"><hr></div>


<!--/LySub--></div>

<!--/lyContentsWrap--></div>
<!--/LyContents--></div>

<!--/CONTENTS-AREA-->


