<!--CONTENTS-AREA-->
<div class="LyContents MdCF" data-na="NA:works">
    <!--CONTENTS-WRAP-AREA-->
    <div class="lyContentsWrap MdCF">
        <div class="LyMain" role="main" data-na="NA:main">
            <div class="ArMain01">


                <div class="MdMypageHead01" data-na="NA:header">
                    <h1 class="mdMypageHead01Ttl01"><%- username %>'s summarise </h1>
                    <!--/MdMypageHead01--></div>

                <div class="MdMPMTMDetail" data-na="NA:list">
                    <table class="MdMPMTMTbl01">
                        <colgroup>
                            <col style="width:404px;*width:374px;">
                            <col style="width:115px;*width:85px;">
                            <col style="width:94px;*width:64px;">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>

                            <th class="mdMPMTMTbl01ThMTM MdAlignLeft">
                                Summarise
                                <div class="mdMPMTMTbl01Date">
                                    <span data-na="NC:sortcreated" class="mdMPMTMTbl01Sort ExSelected" data-value="c" data-order="a">create date<span class="mdMPMTMTbl01SortIco"></span></span>
                                    <span data-na="NC:sortupdated" class="mdMPMTMTbl01Sort" data-value="u" data-order="d">update date<span class="mdMPMTMTbl01SortIco"></span></span>
                                </div>
                            </th>
                            <th class="mdMPMTMTbl01ThPV">
                                <span data-na="NC:sortpageview" class="mdMPMTMTbl01Sort" data-value="p" data-order="d">pageview<span class="mdMPMTMTbl01SortIco"></span></span>
                            </th>
                            <th class="mdMPMTMTbl01ThRate">
                                <span data-na="NC:sortper" class="mdMPMTMTbl01Sort" data-value="r" data-order="d">ratio<span class="mdMPMTMTbl01SortIco"></span></span>

                            </th>
                            <th class="mdMPMTMTbl01ThAnalysis"><span class="MdNonDisp">詳細ページへのリンク</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for (i in locals.topics) { %>
                         <% include topicShort.html %>
                        <% } %>
                        </tbody>

                        <!--/MdMPMTMTbl01--></table>
                    <!--/MdMPMTMDetail--></div>


                <!--/ArMyMain01--></div>

            <!--/LyMain--></div>


        <div class="LySub">

            <div class="ArMySub01" data-na="NA:userinfo">
                <div class="arMySub01Inner">
                    <div class="MdMySubProf01">
                        <div class="mdMySubProf01Unit01">
                            <ul class="mdMySubProf01PV">
                                <li class="mdMySubProf01PVItem01">
                                    <span class="mdMySubProf01PVCount"><%= topicsCount %></span>
                                    <span class="mdMySubProf01PVLabelMTMNumber">まとめ作成数</span>
                                </li>
                                <li class="mdMySubProf01PVItem02">
                                    <span class="mdMySubProf01PVCount"><%= topicsPageView %></span>
                                    <span class="mdMySubProf01PVLabelMonthly">月間ページビュー</span>
                                </li>
                            </ul>
                            <div class="MdThumb01">
                                <span class="mdThumb01Inner"><img src="/images/personal/user_120x120.png"></span>
                            </div>
                            <h3 class="mdMySubProf01Ttl"><span class="mdMySubProf01UserName"><%= username %></span>さん</h3>


                            <p class="mdMySubProf01Btn"><span class="MdMPBtn01P03"><a href="/settings" class="mdMPBtn01P03Btn">設定</a></span></p>
                            <div class="mdMySubProf01FV">
                                <span class="MdFVCount01"><span class="mdFVCount01Ico"></span><span class="mdFVCount01Num"><%= favourite %></span></span>
                            </div>
                        </div>
                        <!--/MdMySubProf01--></div>
                </div>
                <!--/ArMySub01--></div>

            <div class="ArMySubSeparator01"><hr></div>


            <div class="ArMySub02">
                <ul class="MdMySubNav02" data-na="NA:ownerlink">
                    <!-- <li class="mdMySubNav02Item01"><a href="/faq?groupNo=147" data-na="NL:click">インセンティブ利用ガイド</a></li> -->
                    <li class="mdMySubNav02Item01"><a href="/bookmarklet" data-na="NL:bookmarklet">bookmarklet</a></li>
                    <!--/MdMySubNav02--></ul>
                <!--/ArMySub02--></div>

            <!--/LySub--></div>

        <!--/lyContentsWrap--></div>
    <!--/LyContents--></div>
<!--/CONTENTS-AREA-->
 <!--
    <script type="text/javascript">
        $(function() {
            nj.matome.manage.top.init({
                defaultSlectType: "p",
                defaultSlectSpan: 1,
                defaultDisabledSpan: []
            });
        });
    </script>
 -->
