<div class="Band Band-Nav">
  <% var categoryType = locals.categoryType_pre || locals.pageType; %>
  <div class="container">
    <div class="dropdown pull-left">
      <button type="button" data-toggle="dropdown"
              class="btn btn-square dropdown-toggle btn-default">
        <i class="fa fa-bookmark-o"></i> 所有分类 <small style="line-height: 1;"> ( <%= locals.totalTopicCount %> ) </small>
        <i class="fa fa-bars mls"></i>
      </button>
      <span class="dropdown-arrow dropdown-arrow-inverse"></span>
      <ul class="dropdown-menu dropdown-inverse">
        <% var temp = {'生活':'cutlery','娱乐':'music','新闻':'globe','科技':'rocket'}; %>
        <% var temp2 = {'生活':'muted','娱乐':'warning','新闻':'info','科技':'danger'}; %>
        <% for (var key in CATEGORIES2ENG) { %>
        <li class="<%- categoryType == key ? 'selected' : '' %>">
          <a href="/<%= CATEGORIES2ENG[key] %>">
            <%if(temp[key]){%><i class="fa fa-<%= temp[key] %> text-<%= temp2[key] %>"></i><%}%> <%= key %> <small style="line-height: 1;"> ( <%- locals.categoryTopicCount[key] || '0' %> ) </small>
          </a>
        </li>
        <% } %>
        <li class="<%- categoryType == '最新' ? 'selected' : '' %>">
          <a href="/new">最新 <small style="line-height: 1;"> ( <%- locals.totalTopicCount || '0' %> ) </small></a></li>
      </ul>
    </div>
    <% if (locals.pageType != 'INDEX') { %>
    <a class="btn btn-square pull-left <%- locals.pageType == 'TAG' || locals.pageType == 'TOPIC' ? 'btn-default' : 'btn-primary' %>"
       href="/<%= CATEGORIES2ENG[categoryType] %>"><%= categoryType %> <small style="line-height: 1;"> ( <%= locals.topicCount %> )</small></a>
    <% } %>
    <% if (locals.pageType == 'TAG') { %>
    <div style="overflow: hidden;">
      <a href="/tag/<%- encodeURIComponent(tag) %>"
         class="btn btn-primary btn-square pull-left">
        <i class="fa fa-tag" style="font-size: 14px;"></i> <%= tag %>
      </a>
    </div>
    <% } else if (locals.pageType == 'TOPIC') { %>
    <div style="overflow: hidden;">
      <a href="/topic/<%- locals.topic._id %>"
         class="btn btn-primary btn-square pull-left"
         style="max-width: 100%; text-overflow: ellipsis; overflow: hidden;">
        <%= locals.topic.title %>
      </a>
    </div>
    <% } else if (locals.tags) { %>
    <div class="Tags plm pull-right hidden-xs">
      <% for (var i = 0; i < Math.min(tags.length, 2); i++) { %>
      <a target="_blank" href="/tag/<%- encodeURIComponent(tags[i]) %>"
         class="tag btn btn-default btn-xs"><%= tags[i] %></a>
      <% } %>
    </div>
    <% } %>
  </div>
</div>