<% var pageType = locals.pageType_pre || locals.pageType; %>
<% if (locals.isAdmin) { %>
<div class="row ptl">
  <div class="col-xs-12">

    <div class="visible-lg">
      <div class="btn-group">
        <a class="btn btn-primary <%- pageType == 'INDEX' ? 'active' : '' %>"
           href="/">首页</a>
        <a class="btn btn-primary <%- pageType == '综合' ? 'active' : '' %>"
           href="/hot">综合</a>
        <a class="btn btn-primary <%- pageType == '最新' ? 'active' : '' %>"
           href="/new">最新</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-primary <%- pageType == '娱乐' ? 'active' : '' %>"
           href="/entertainment">娱乐</a>
        <a class="btn btn-primary <%- pageType == '科技' ? 'active' : '' %>"
           href="/tech">科技</a>
        <a class="btn btn-primary <%- pageType == '新闻' ? 'active' : '' %>"
           href="/news">新闻</a>
        <a class="btn btn-primary <%- pageType == '时尚' ? 'active' : '' %>"
           href="/fashion">时尚</a>
        <a class="btn btn-primary <%- pageType == '生活' ? 'active' : '' %>"
           href="/life">生活</a>
        <a class="btn btn-primary <%- pageType == '幽默' ? 'active' : '' %>"
           href="/humor">幽默</a>
        <a class="btn btn-primary <%- pageType == '文化' ? 'active' : '' %>"
           href="/culture">文化</a>
        <a class="btn btn-primary <%- pageType == '商业' ? 'active' : '' %>"
           href="/business">商业</a>
        <a class="btn btn-primary <%- pageType == '体育' ? 'active' : '' %>"
           href="/sport">体育</a>
        <a class="btn btn-primary <%- pageType == '未分类' ? 'active' : '' %>"
           href="/unclassified">未分类</a>
      </div>
    </div>

    <div class="btn-group hidden-lg">
      <a class="btn btn-primary <%- pageType == 'INDEX' ? 'active' : '' %>"
         href="/">首页</a>
      <a class="btn btn-primary <%- pageType == '综合' ? 'active' : '' %>"
         href="/hot">综合</a>
      <a class="btn btn-primary <%- pageType == '最新' ? 'active' : '' %>"
         href="/new">最新</a>

      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          分类
          <span class="caret"></span>
        </button>
        <span class="dropdown-arrow dropdown-arrow-inverse"></span>
        <ul class="dropdown-menu dropdown-inverse">
          <li class="<%- pageType == '娱乐' ? 'selected' : '' %>">
            <a href="/entertainment">娱乐</a></li>
          <li class="<%- pageType == '科技' ? 'selected' : '' %>">
            <a href="/tech">科技</a></li>
          <li class="<%- pageType == '新闻' ? 'selected' : '' %>">
            <a href="/news">新闻</a></li>
          <li class="<%- pageType == '时尚' ? 'selected' : '' %>">
            <a href="/fashion">时尚</a></li>
          <li class="<%- pageType == '生活' ? 'selected' : '' %>">
            <a href="/life">生活</a></li>
          <li class="<%- pageType == '幽默' ? 'selected' : '' %>">
            <a href="/humor">幽默</a></li>
          <li class="<%- pageType == '文化' ? 'selected' : '' %>">
            <a href="/culture">文化</a></li>
          <li class="<%- pageType == '商业' ? 'selected' : '' %>">
            <a href="/business">商业</a></li>
          <li class="<%- pageType == '体育' ? 'selected' : '' %>">
            <a href="/sport">体育</a></li>
          <li class="<%- pageType == '未分类' ? 'selected' : '' %>">
            <a href="/unclassified">未分类</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
<% } %>