<div class="row">
  <% for (i in topics) { %>
  <% var topic = topics[i]; %>
  <div class="col-sm-6 col-md-4 col-lg-3 mtl">
    <div class="Tile" style="background-color: white; border-radius: 6px; max-width: 260px; margin: 0 auto;">
      <a class="Cover text-inverse"
         style="display: block; position: relative; min-height: 140px; border-radius: 6px 6px 0 0;"
         target="_blank" href="/topic/<%= topic._id %>" title="<%= topic.title %>">
        <div style="border-radius: 6px 6px 0 0; height: 150px;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='<%= topic.cover_url %>',sizingMethod='scale');
            -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='<%= topic.cover_url %>',sizingMethod='scale');
            background: url('<%= topic.cover_url %>') no-repeat center; background-size: cover;">
        </div>
        <div class="mbn pam Title"
            style="position: absolute; bottom: 0; left: 0; right: 0;">
          <div style="line-height: 1.2;font-size: 18px;height: 42px;overflow: hidden; font-weight: bold;">
            <%= topic.title %>
          </div>
        </div>
      </a>

      <div class="mhm">
        <div class="clearfix pbx text-muted" style="font-size: 14px;">
          <div class="pull-right">
            <a class="text-muted mrs Share" target="_blank" href="/topic/<%= topic._id %>/share_chang" title="分享"><i class="fa fa-share"></i></a>
            <span class="mrs"><i class="fa fa-star"></i> <%= topic.FVCount %></span>
            <span><i class="fa fa-eye"></i> <%= topic.PV_count %></span>
          </div>
          <div class="prs" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
            <a class="text-muted" target="_blank" href="/u/<%= topic.author_name %>" title="<%= topic.author_name %>"><%= topic.author_name %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>