<div class="row">
  <% for (i in topics) { %>
  <% var topic = topics[i]; %>
  <div class="col-sm-6 col-md-4 col-lg-3 mtl">
    <div style="background-color: white;border-radius: 6px;">
      <style>
        .Cover:hover { opacity: 0.8;}
      </style>
      <a target="_blank" class="Cover" href="/topic/<%= topic._id %>" title="<%= topic.title %>"
         style="display: block;height: 200px; background: url('<%= topic.coverUrl %>') no-repeat center #7f8c8d; background-size: cover;border-radius: 6px 6px 0 0;">
      </a>

      <div class="mhm">
        <div class="mtm mbm" style="height:56px;overflow: hidden;">
          <a class="h6" style="font-weight: normal; font-size: 20px;"
             target="_blank" href="/topic/<%= topic._id %>" title="<%= topic.title %>"><%= topic.title %></a>
        </div>
        <div class="clearfix pbx">
          <div class="pull-right">
            <span class="text-muted mrx"><i class="icon-star"></i> <%= topic.FVCount %></span>
            <span class="text-muted mrx"><i class="icon-eye-open"></i> <%= topic.PVCount %></span>
            <a class="text-muted" target="_blank" href="/topic/<%= topic._id %>/share_chang" title="分享"><i class="icon-share-alt"></i></a>
          </div>
          <div style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
            <a target="_blank" href="/u/<%= topic.author %>" title="<%= topic.author %>"><%= topic.author %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>