<% for (i in topics) { %>
<% var topic = topics[i]; %>
  <div class="Tile clearfix mbl">
    <a class="Cover pull-left"
       style="display: block; height: 85px; width: 85px;
          filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='<%= topic.cover_url || '' %>',sizingMethod='scale');
          -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='<%= topic.cover_url || '' %>',sizingMethod='scale');
          background: url(<%= topic.cover_url || '' %>) no-repeat center; background-size: cover;"
       href="/topic/<%= topic._id %>" title="<%= topic.title %>">
    </a>

    <div class="plm" style="overflow: hidden;line-height: 1.5;">
      <h2 class="Title mvn hidden-xs" style="font-size: 18px;line-height: 1.5;
         text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
        <a href="/topic/<%= topic._id %>"
           title="<%= topic.title %>">
          <%= topic.title %>
        </a>
      </h2>
      <h2 class="Title mvn visible-xs"
          style="height: 66px;font-size: 14px;line-height: 1.5;overflow: hidden;">
        <a href="/topic/<%= topic._id %>"
           title="<%= topic.description || '' %>">
          <%= topic.title %>
        </a>
      </h2>
      <div class="hidden-xs" style="line-height: 12px;">
        <a class="text-muted" style="font-size: 12px; line-height: 18px"
           target="_blank" href="/u/<%= topic.author_name %>" title="<%= topic.author_name %>">
          <%= topic.author_name %>
        </a>
      </div>
      <div class="text-muted hidden-xs"
           style="font-size: 14px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
           title="<%= topic.description || '' %>">
        <%= topic.description || '' %>&nbsp;
      </div>
      <div class="text-muted" style="font-size: 12px;">
        <div class="pull-left">
          <span class="mrs" title="关注"><i class="fa fa-star"></i> <%= topic.FVCount %></span>
          <span class="mrs" title="浏览"><i class="fa fa-eye"></i>
            <%= topic.PV_count + Math.ceil(Math.log((Date.now() - topic.publishDate.getTime())/100000000 + 1) * 100) %>
          </span>
          <!--<a class="text-muted mrs Share" target="_blank" href="/topic/<%= topic._id %>/share_chang" title="分享"><i class="fa fa-share"></i></a>-->
        </div>
        <div class="pull-right hidden-xs" style="font-size: 12px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
          <i class="fa fa-puzzle-piece"></i> 策展了来自
          <b class="text-asbestos"><%= Topic[topic._id] && Topic[topic._id].siteCount || 0 %></b>
          个网站的
          <span class="text-asbestos"><%= Topic[topic._id] && Topic[topic._id].urlCount || 0 %></span>
          条碎片信息
        </div>
        <div class="pull-right visible-xs"
             style="font-size: 12px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
          title="策展了来自 <%= Topic[topic._id] && Topic[topic._id].siteCount || 0 %> 个网站的 <%= Topic[topic._id] && Topic[topic._id].urlCount || 0 %> 条碎片信息">
          <i class="fa fa-globe"></i>
          <b class="text-asbestos"><%= Topic[topic._id] && Topic[topic._id].siteCount || 0 %></b>
          <i class="fa fa-puzzle-piece mls"></i>
          <span class="text-asbestos"><%= Topic[topic._id] && Topic[topic._id].urlCount || 0 %></span>
        </div>
      </div>
    </div>
  </div>
<% } %>