<div class="row">
  <% for (i in topics) { %>
  <% var topic = topics[i]; %>
  <div class="col-sm-6 col-md-4 col-lg-3 mtl">
    <div class="Tile" style="background-color: white; border-radius: 6px;">
      <style>
        .Cover:hover { opacity: 0.8;}
        .Share { display: none; }
        .Tile:hover .Share { display: inline; }
      </style>
      <a target="_blank" class="Cover" href="/topic/<%= topic._id %>" title="<%= topic.title %>"
         style="border-radius: 6px 6px 0 0; display: block; height: 200px; background: url('<%= topic.cover_url %>') no-repeat center #7f8c8d; background-size: cover;">
      </a>

      <div class="mhm">
        <div class="mtm mbs" style="height:60px;overflow: hidden;">
          <a class="h6" style="font-weight: normal; font-size: 20px;"
             target="_blank" href="/topic/<%= topic._id %>" title="<%= topic.title %>"><%= topic.title %></a>
        </div>
        <div class="clearfix pbx" style="font-size: 14px;">
          <div class="pull-right">
            <a class="text-muted mrs Share" target="_blank" href="/topic/<%= topic._id %>/share_chang" title="分享"><i class="fa fa-share"></i></a>
            <span class="text-muted mrs"><i class="fa fa-star"></i> <%= topic.FVCount %></span>
            <span class="text-muted"><i class="fa fa-eye"></i> <%= topic.PV_count %></span>
          </div>
          <div style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
            <a target="_blank" href="/u/<%= topic.author_name %>" title="<%= topic.author_name %>"><%= topic.author_name %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>