<div id="_scrollUtil" class="btn-group-vertical">
  <button class="ToTop btn btn-link" title="返回顶部">
    <i class="fa fa-angle-up"></i>
  </button>
  <button class="ToBottom btn btn-link" title="滚到底部">
    <i class="fa fa-angle-down"></i>
  </button>
</div>

<script>
  $(function () {
    //回顶部按钮
    var MIN_SCROLL = 100;
    var $window = $(window);
    var $document = $(document);
    var $_scrollUtil = $('#_scrollUtil');
    var $toTop = $('.ToTop');
    var $toBottom = $('.ToBottom');
    if ($document.height() - $window.height() > MIN_SCROLL) {
      $_scrollUtil.addClass('VISIBLE');
    } else {
      $_scrollUtil.removeClass('VISIBLE');
    }
    $window.on('scroll resize', function () {
      if ($document.height() - $window.height() > MIN_SCROLL) {
        $_scrollUtil.addClass('VISIBLE');
      } else {
        $_scrollUtil.removeClass('VISIBLE');
      }
    });
    $toTop.click(function () {
      $toTop.blur();
      $('html, body').animate({scrollTop: 0}, 250);
    });
    $toBottom.click(function () {
      $toBottom.blur();
      $('html, body').animate({scrollTop: $document.height() - $window.height()}, 250);
    });
  })
</script>