
<% include _band.html %>

<div class="background-clouds">
  <div class="container pbl">
    <% var temp = {'生活':'life','娱乐':'entertainment','新闻':'news','科技':'tech','文化':'culture'}; %>
    <% var temp2 = {'生活':'cutlery','娱乐':'music','新闻':'globe','科技':'rocket','文化':'book'}; %>
    <% var temp3 = {'生活':'muted','娱乐':'warning','新闻':'info','科技':'danger','文化':'black'}; %>
    <h1 class="h6 mvn text-default mtl" style="display: block;">
      <!--下面一行会出现undefined，但是不影响-->
      <i class="fa fa-<%= temp2[pageType] %> text-<%= temp3[pageType] %>"></i> <%= pageType %>
    </h1>
    <div class="row">
      <div class="col-md-5 col-lg-4">

        <% if (locals.pageType != '最新') { %>
        <% include _tags.html %>
        <% include _authors.html %>
        <% } %>

      </div>
      <div class="col-md-7 col-lg-8">
        <% include _topics.html %>

        <% include _pagination.html %>
      </div>
    </div>
  </div>
</div>