<!--ACCOUNT##这是layout要用的参数，不能删！-->
<ion-header-bar class="bar-stable">
  <div class="buttons">
    <a class="button button-icon icon ion-ios7-arrow-back" href="/"></a>
  </div>

  <h1 class="title">
    404
  </h1>

  <div class="buttons">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </div>
</ion-header-bar>

<ion-content class="text-center padding">
  <h1 class="h5 text-center">对不起，该网页无法正确显示</h1>
  <p>请核对一下链接</p>
  <a href="/" class="button button-positive button-block">返回主页</a>
</ion-content>