
<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" dir="ltr">
<head>
    <meta charset="UTF-8">

    <META NAME="ROBOTS" CONTENT="NOYDIR">
    <META NAME="ROBOTS" CONTENT="NOODP">
    <meta http-equiv="X-UA-Compatible" content="IE=8">

    <title>NAVER まとめ[情報をデザインする。キュレーションプラットフォーム]</title>
    <meta name="keywords" content="NAVER,まとめ,NAVER まとめ,キュレーション,キュレーター,WEBキュレーター,検索,話題" xml:lang="ja" lang="ja" />
    <meta name="description" content="あらゆる情報を、自由に組み合わせ、ひとつのページにまとめて保存・紹介できるサービス。誰もが[情報をデザイン]できるようにすることで、今までにない人と情報との出会いを実現します。" />

    <link rel="canonical" href="http://matome.naver.jp"/>

    <script type="text/javascript">
        var SUGGEST_URL = "http://matome.naver.jp";
        if(typeof suggestOption == "undefined"){
            suggestOption = {Url : SUGGEST_URL, params: {official: 1}};
        }
    </script>

    <meta property="og:title" content="NAVER まとめ[情報をデザインする。キュレーションプラットフォーム]">
    <meta property="og:type" content="website">
    <meta property="og:description" content="あらゆる情報を、自由に組み合わせ、ひとつのページにまとめて保存・紹介できるサービス。誰もが[情報をデザイン]できるようにすることで、今までにない人と情報との出会いを実現します。">
    <meta property="og:url" content="http://matome.naver.jp/">
    <meta property="og:image" content="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Fstatic.naver.jp%2Fmatome_ver4%2Fimg%2Fcommon%2Fog%2Fogimage_20120614.png&amp;twidth=200&amp;theight=200&amp;qlt=80&amp;res_format=jpg&amp;op=r">
    <meta property="og:site_name" content="NAVER まとめ">
    <meta property="fb:admins" content="100002409002490">
    <meta property="fb:app_id" content="115249445227759">
    <link rel="stylesheet" type="text/css" href="http://static.naver.jp/matome_ver4/css/MTM_common_13800104942008.css" />
    <link rel="stylesheet" type="text/css" href="http://static.naver.jp/matome_ver4/css/MTM_top_13800104942008.css" />



    <link rel="alternate" media="handheld" href="http://matome.naver.jp/" />
    <link rel="alternate" href="http://matome.naver.jp/feed/hot" type="application/rss+xml" title="" id="gallery" />
    <script type="text/javascript" charset="utf-8" src="http://static.naver.jp/matome_ver4/js/jquery_13800104942008.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://static.naver.jp/matome_ver4/js/nj.common_13800104942008.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://static.naver.jp/matome_ver4/js/nj.matome.suggest_13800104942008.js"></script>
    <script>
        nj.Bootloader({
            server: "http://static.naver.jp",
            project: "matome_ver4",
            tagno: "13800104942008"
        });
    </script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(
                ['_setAccount', ' UA-21743622-1'],
                ['_trackPageview'],
                ['b._setAccount', ' UA-21743622-2'],
                ['b._trackPageview']
        );
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>

<body class="CTypeMTMTop ExOsMac">
<div id="_alertLayerArea" style="display:none;position:absolute;"></div>
<script type="text/javascript">
    //<![CDATA[
    NStat.init({
        v : "20130117",
        q : "",
        pt : "matome.top",
        p : "RCPriUQrIu8ssa0dGudsssssssB-389426",
        s : "FnlVe2aCQlIAAMM2y6o"
    },{server:"http://sc.naver.jp/cc"});
    //]]>
</script>


<div class="LyWrap">
<div class="lyWrapInner">
<script language='javascript'>
    function goLogout() {
        location.href="https://ssl.naver.jp/logout?fromUrl="+encodeURIComponent(location.href);
    }
    function goLogin() {
        location.href="https://ssl.naver.jp/login?fromUrl="+encodeURIComponent(location.href);
    }
</script>

<header><div class="LyHead">

    <div class="lyHeadWrap">
        <div class="lyHeadInner">


            <div class="MdHeadTtlGroup01" role="banner" data-na="NA:logo">
                <h1 class="MdHeadTtl01"><a href="http://matome.naver.jp" title="NAVER まとめ" class="mdHeadTtl01Img" data-na="NL:matome">NAVER まとめ</a></h1>
                <!--/MdHeadTtlGroup01--></div>


            <form action="http://matome.naver.jp/search" id="searchForm" method="get" class="MdHeadSearch01" role="search" onsubmit="return nj.common.replaceLocationIfNullQuery(this);" data-na="NA:search">
                <fieldset>
                    <legend class="mdHeadSearch01Hide">検索</legend>
                    <div class="mdHeadSearch01Input">
                        <div class="mdHeadSearch01InputInner">
                            <input id="q" name="q" type="text" maxlength="255" class="mdHeadSearch01InputTxt" accesskey="s" title="検索" alt="検索" value="" data-na="NL:keyword">
                        </div>
                    </div><input type="button" class="mdHeadSearch01Btn01" title="検索" data-na="NL:search">
                </fieldset></form>
            <script type="text/javascript">
                $(function(){
                    nj.matome.suggest.init(suggestOption);
                });
                function getNullQueryReferencePage(){
                    return "http://matome.naver.jp"
                }
            </script>

            <div class="lyHeadNav" role="navigation">
                <nav>
                    <ul class="MdHeadUtil01 mdHeadUtil01Login" data-na="NA:gnbLogin"><!--
--><li class="mdHeadUtil01Li mdHeadUtil01LiServiceTop"><a href="http://www.naver.jp" data-na="NL:naver">NAVER</a></li><!--
--><li class="mdHeadUtil01Li"><a href="http://matome.naver.jp/favorites" data-na="NL:favorites"><img id=""  width="20" height="20" src="/img/Gone" onerror="errorImage(this,'user20x20');" class="mdHeadUtil01Thumb">stefanzan</a><span class="MdHeadSeparator01">|</span></li><!--
--><li class="mdHeadUtil01Li"><a href="http://matome.naver.jp/notifications" data-na="NL:notifications">お知らせ</a><span class="mdHeadUtil01Count" style="display:none;"><span class="mdHeadUtil01CountInner">0</span></span><span class="MdHeadSeparator01">|</span></li><!--
--><li class="mdHeadUtil01Li"><a href="http://matome.naver.jp/odai/new" data-na="NL:matomenew">まとめ作成</a><span class="MdHeadSeparator01">|</span></li><!--
--><li class="mdHeadUtil01Li"><button class="mdHeadUtil01Open" data-na="NC:open">開く</button><!--
--><ul class="mdHeadUtil01Sub" style="display:none;"><!--
--><li class="mdHeadUtil01SubLi"><a href="http://matome.naver.jp/settings" data-na="NC:setting">設定</a></li><!--
--><li class="mdHeadUtil01SubLi"><a href="http://help.naver.jp/faq?serviceNo=4" data-na="NC:help">ヘルプ</a></li><!--
--><li class="mdHeadUtil01SubLi mdHeadUtil01SubLiLast"><a href="javascript:goLogout()" data-na="NC:logout">ログアウト</a><span class="mdHeadUtil01SubPointer"></span></li><!--
--></ul><!--
--></li><!--
--><!--/MdHeadUtil01--></ul>
                </nav><!--/lyHeadNav--></div>
            <!--/lyHeadInner--></div>
        <!--/lyHeadWrap--></div>
    <!--/LyHead--></div></header>
<!--/HEADER-AREA-->


<!--CONTENTS-AREA-->
<div class="LyContents MdCF" data-na="NA:top" >

<!--TOP-CONTENTS-AREA-->
<div class="LyTop" data-na="NA:header" >
    <div class="lyTopInner">
        <p class="MdTopDate01"><time datetime="2013-09-29"><em class="mdTopDate01Today">2013.9.29</em><span class="mdTopDate01Week">(Sun)</span></time></p>

        <div class="MdSocialLink01">
            <ul class="mdSocialLink01Ul MdCF">
                <li><a href="https://www.facebook.com/navermatome" target="_blank" title="Facebook" data-na="NL:facebook" ><span class="mdSocialLink01IcoFb">Facebook</span></a></li>
                <li><a href="http://twitter.com/#!/matomenaver" target="_blank" title="Twitter" data-na="NL:twitter" ><span class="mdSocialLink01IcoTwtr">Twitter</span></a></li>
                <li><a href="http://matome.naver.jp/feed/hot" target="_blank" title="RSS" data-na="NL:rss" ><span class="mdSocialLink01IcoRss">RSS</span></a></li>
            </ul>
            <!--/MdSocialLink01--></div>

    </div>
    <!--/LyTop--></div>
<!--/TOP-CONTENTS-AREA-->

<!--CONTENTS-WRAP-AREA-->
<div class="lyContentsWrap MdCF">

<!--MAIN-CONTENTS-AREA-->
<div class="LyMain" role="main">

<div class="ArColWrap MdCF">

<div class="ArCol01" data-na="NA:categorylist" >
    <ul class="MdTopNav01">
        <li class="mdTopNav01Item ExSelected"><a href="http://matome.naver.jp/" data-na="NL:categoryname" >総合</a></li>
        <li class="mdTopNav01Item"><a href="http://matome.naver.jp/girls" data-na="NL:categoryname" >ガールズ</a></li>
        <li class="mdTopNav01Item"><a href="http://matome.naver.jp/news" data-na="NL:categoryname" >ニュース･ゴシップ</a></li>
        <li class="mdTopNav01Item"><a href="http://matome.naver.jp/entertainment" data-na="NL:categoryname" >エンタメ･カルチャー</a></li>
        <li class="mdTopNav01Item"><a href="http://matome.naver.jp/spot" data-na="NL:categoryname" >おでかけ･グルメ</a></li>
        <li class="mdTopNav01Item"><a href="http://matome.naver.jp/life" data-na="NL:categoryname" >暮らし･アイデア</a></li>
        <li class="mdTopNav01Item"><a href="http://matome.naver.jp/recipe" data-na="NL:categoryname" >レシピ</a></li>
        <li class="mdTopNav01Item"><a href="http://matome.naver.jp/wellness" data-na="NL:categoryname" >カラダ</a></li>
        <li class="mdTopNav01Item"><a href="http://matome.naver.jp/business" data-na="NL:categoryname" >ビジネススキル</a></li>
        <li class="mdTopNav01Item"><a href="http://matome.naver.jp/tech" data-na="NL:categoryname" >IT･ガジェット</a></li>
        <li class="mdTopNav01Item"><a href="http://matome.naver.jp/design" data-na="NL:categoryname" >デザイン･アート</a></li>
        <li class="mdTopNav01Item"><a href="http://matome.naver.jp/trivia" data-na="NL:categoryname" >雑学</a></li>
        <li class="mdTopNav01Item"><a href="http://matome.naver.jp/humor" data-na="NL:categoryname" >おもしろ</a></li>
        <li class="mdTopNav01Item"><a href="http://matome.naver.jp/popular" data-na="NL:categoryname" >定番</a></li>
        <!--/MdTopNav01--></ul>
    <!--/ArCol01--></div>

<div class="ArCol02">

<div class="MdTopMTMList01" data-na="NA:matomelista" >
<div class="mdTopMTMList01Ttl"><h2>注目まとめ</h2></div>
<ul class="mdTopMTMList01List">
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2137957121856262601" data-na="NL:matomeimage" ><img width="60" height="60" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Ft0.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcSzP3WfwH4YnaImYwwuCRDPXNcC8PMT5gSqbhibL2PaSLePLqLUCnHo8B4&amp;twidth=60&amp;theight=60&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2137957121856262601" title="いつの間にかスマホ生活との相性を高めていた固定電話" data-na="NL:matomename" >いつの間にかスマホ生活との相性を高めていた固定電話</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="いな逆さん"><a href="http://matome.naver.jp/mymatome/%E3%81%84%E3%81%AA%E9%80%86" data-na="NL:usernick" >いな逆</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">11579</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2138037441724617601" data-na="NL:matomeimage" ><img width="60" height="60" src="http://tv2.search.naver.jp/jthumb?size=ct60x60&amp;q=http://image.news.livedoor.com/newsimage/5/a/5ac9a_1223_4d543b45_a2767cdc.jpg" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2138037441724617601" title="食べてみたい！「ななつ星」のミシュラン二ツ星スイーツ" data-na="NL:matomename" >食べてみたい！「ななつ星」のミシュラン二ツ星スイーツ</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="njip.fibさん"><a href="http://matome.naver.jp/mymatome/njip.fib" data-na="NL:usernick" >njip.fib</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">9101</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2138038474132628501" data-na="NL:matomeimage" ><img width="60" height="60" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20130929%2F85%2F880565%2F6%2F254x254x2c11990f01e700b4654aa4f1.jpg%2F120%2F120&amp;twidth=60&amp;theight=60&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2138038474132628501" title="「雑談力」で人生が大きく変わる！中身のない会話の重要性" data-na="NL:matomename" >「雑談力」で人生が大きく変わる！中身のない会話の重要性</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="lessthanpandaさん"><a href="http://matome.naver.jp/mymatome/lessthanpanda" data-na="NL:usernick" >lessthanpanda</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">46705</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2137859484988339001" data-na="NL:matomeimage" ><img width="60" height="60" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Ft0.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcRkdwVDSOZB6FVbYxzbkmerZrXEMODt4WSsIwsjaxZHILCLF-ombN2p5ws&amp;twidth=60&amp;theight=60&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2137859484988339001" title="これはビックリ！考えもしなかった予想外の展開に驚く衝撃映画！" data-na="NL:matomename" >これはビックリ！考えもしなかった予想外の展開に驚く衝撃映画！</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="poemoftheriverさん"><a href="http://matome.naver.jp/mymatome/poemoftheriver" data-na="NL:usernick" >poemoftheriver</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">51418</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2138035376409830001" data-na="NL:matomeimage" ><img width="60" height="60" src="http://tv3.search.naver.jp/jthumb?size=ct60x60&amp;q=http://www5a.biglobe.ne.jp/~relish-1/spain/sagura2.jpg" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2138035376409830001" title="2026年完成と話題の”サグラダ･ファミリア”の豆知識" data-na="NL:matomename" >2026年完成と話題の”サグラダ･ファミリア”の豆知識</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="今日のニュースさん"><a href="http://matome.naver.jp/mymatome/%E4%BB%8A%E6%97%A5%E3%81%AE%E3%83%8B%E3%83%A5%E3%83%BC%E3%82%B9" data-na="NL:usernick" >今日のニュース</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">75767</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2138009391110618201" data-na="NL:matomeimage" ><img width="60" height="60" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Ftv4.search.naver.jp%2Fjdanmi%3Fsize%3D150x0%26q%3Dhttp%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20120808%2F12%2F1183362%2F14%2F379x250xf56acafa38f8ca1097e9cf92.jpg%2F120%2F120&amp;twidth=60&amp;theight=60&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2138009391110618201" title="TPP・関税まわりの攻防戦が終わりそうにない" data-na="NL:matomename" >TPP・関税まわりの攻防戦が終わりそうにない</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="Nanaruさん"><a href="http://matome.naver.jp/mymatome/Nanaru" data-na="NL:usernick" >Nanaru</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">25447</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2138000650918135801" data-na="NL:matomeimage" ><img width="60" height="60" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Ft1.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcRh-RpVa9fQCC3_8r8FGJUSrkjGasTF7zodTdO_GviRfof_IMvefdC0pX39OA&amp;twidth=60&amp;theight=60&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2138000650918135801" title="秋冬アウターは、細身に見える「ビッグシルエット」がよさそう" data-na="NL:matomename" >秋冬アウターは、細身に見える「ビッグシルエット」がよさそう</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="ChieChieさん"><a href="http://matome.naver.jp/mymatome/ChieChie" data-na="NL:usernick" >ChieChie</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">123122</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2138001185324281301" data-na="NL:matomeimage" ><img width="60" height="60" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Ft3.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcS8rdlIv7mt5YqA-4qaIIYwby7DFOvNiBv0Hlw8lANTo25NSwJ67SjsEw&amp;twidth=60&amp;theight=60&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2138001185324281301" title="少ない資源でのし上がる、観光立国スイスのすごい戦略" data-na="NL:matomename" >少ない資源でのし上がる、観光立国スイスのすごい戦略</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="デュナズさん"><a href="http://matome.naver.jp/mymatome/%E3%83%87%E3%83%A5%E3%83%8A%E3%82%BA" data-na="NL:usernick" >デュナズ</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">33460</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2138038256331066201" data-na="NL:matomeimage" ><img width="60" height="60" src="http://tv3.search.naver.jp/jthumb?size=ct60x60&amp;q=http://blogimg.goo.ne.jp/user_image/43/59/6499b4505e94a9afa2320667806b68ba.jpg" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2138038256331066201" title="出来る人は自然と&quot;左右の耳&quot;を使い分けているのかも" data-na="NL:matomename" >出来る人は自然と&quot;左右の耳&quot;を使い分けているのかも</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="ppp_comさん"><a href="http://matome.naver.jp/mymatome/ppp_com" data-na="NL:usernick" >ppp_com</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">2160</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2138026448167693101" data-na="NL:matomeimage" ><img width="60" height="60" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Ft3.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcSq2TFBu8jUjgCfQTEyhuK2Y3jkGUfDvRp4qLgnHrVSeiHzMIIZBzlKtVw&amp;twidth=60&amp;theight=60&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2138026448167693101" title="やっと？学校がネットいじめ対策に本腰入れはじめてる" data-na="NL:matomename" >やっと？学校がネットいじめ対策に本腰入れはじめてる</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="ruchikuruさん"><a href="http://matome.naver.jp/mymatome/ruchikuru" data-na="NL:usernick" >ruchikuru</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">39552</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2138027580876820301" data-na="NL:matomeimage" ><img width="60" height="60" src="http://tv3.search.naver.jp/jthumb?size=ct60x60&amp;q=http://pucchi.net/hokkaido/image_foods/sanma02.jpg" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2138027580876820301" title="食欲の「秋」に食べたい栄養が高い”旬の食材”とは・・冬に備えよう！" data-na="NL:matomename" >食欲の「秋」に食べたい栄養が高い”旬の食材”とは・・冬に備えよ…</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="alive1984さん"><a href="http://matome.naver.jp/mymatome/alive1984" data-na="NL:usernick" >alive1984</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">63347</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2138032526196643101" data-na="NL:matomeimage" ><img width="60" height="60" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Ft3.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcRJaI0RAOOiaP3eRHZ8nJ_tfcVhnLVWYrzFGQPYU_mYP0M8zyCiMuHBh6E&amp;twidth=60&amp;theight=60&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2138032526196643101" title="【アメリカ】政府のデフォルトという「考えられない」事態の可能性" data-na="NL:matomename" >【アメリカ】政府のデフォルトという「考えられない」事態の可能性</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="sting222さん"><a href="http://matome.naver.jp/mymatome/sting222" data-na="NL:usernick" >sting222</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">56290</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2138033590401133501" data-na="NL:matomeimage" ><img width="60" height="60" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Ft3.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcSozneX8YJlhnCRgMYi1LeVJpag2Oo6t_6NKSZ6tBqg4KP1n3w-Dmnj6Q&amp;twidth=60&amp;theight=60&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2138033590401133501" title="今、もう一度見たい！三谷幸喜が脚本を手掛けた名作テレビ作品" data-na="NL:matomename" >今、もう一度見たい！三谷幸喜が脚本を手掛けた名作テレビ作品</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="nonu-ruさん"><a href="http://matome.naver.jp/mymatome/nonu-ru" data-na="NL:usernick" >nonu-ru</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">40215</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2138034637705875101" data-na="NL:matomeimage" ><img width="60" height="60" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Ft1.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcSxrDYE0sxGBMqP2y9ZbilsS0VD7gAMDKpPtEY0lxC1zT5kZ_bj33o8SA&amp;twidth=60&amp;theight=60&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2138034637705875101" title="パキスタン地震で隆起した島は泥火山の可能性！？日本近海にもある泥火山とは？" data-na="NL:matomename" >パキスタン地震で隆起した島は泥火山の可能性！？日本近海にもある…</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="ふみふむふむふみさん"><a href="http://matome.naver.jp/mymatome/%E3%81%B5%E3%81%BF%E3%81%B5%E3%82%80%E3%81%B5%E3%82%80%E3%81%B5%E3%81%BF" data-na="NL:usernick" >ふみふむふむふみ</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">31731</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2137948669294742501" data-na="NL:matomeimage" ><img width="60" height="60" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Ft2.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcSsNE6WyFvJeVlLKGHJfUGNahchuts31lH7AYxfXE4FYvWVY7Sce3eb-w&amp;twidth=60&amp;theight=60&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2137948669294742501" title="最終回を迎えた「あまちゃん」のこだわりが詰まった舞台裏" data-na="NL:matomename" >最終回を迎えた「あまちゃん」のこだわりが詰まった舞台裏</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="サインinさん"><a href="http://matome.naver.jp/mymatome/%E3%82%B5%E3%82%A4%E3%83%B3in" data-na="NL:usernick" >サインin</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">210403</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2138016291032282901" data-na="NL:matomeimage" ><img width="60" height="60" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Ft3.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcR6Lm_syd9Kr7d1HfOvF_6VAC0I84cXG1DvMIe_B_whShEsqIpEbvkn-eo&amp;twidth=60&amp;theight=60&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2138016291032282901" title="その威力は震度３レベル！？ライブの「タテノリ」問題が深刻になっていた" data-na="NL:matomename" >その威力は震度３レベル！？ライブの「タテノリ」問題が深刻になっ…</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="kiki-2013さん"><a href="http://matome.naver.jp/mymatome/kiki-2013" data-na="NL:usernick" >kiki-2013</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">63970</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2138030987492360601" data-na="NL:matomeimage" ><img width="60" height="60" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Ft2.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcRigLCz8XEbOlQfL_SKS_IaoX-O3VKq9S5aqO7gyvEiBAWaZWEI7JeZj7Q&amp;twidth=60&amp;theight=60&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2138030987492360601" title="かわいいパンダのアニメやキャラ。元祖トトロから、パン田くんまで" data-na="NL:matomename" >かわいいパンダのアニメやキャラ。元祖トトロから、パン田くんまで</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="meihinn3さん"><a href="http://matome.naver.jp/mymatome/meihinn3" data-na="NL:usernick" >meihinn3</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">43330</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2138029297787129601" data-na="NL:matomeimage" ><img width="60" height="60" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20130928%2F11%2F1386121%2F9%2F364x364x78f01e5a1790e6967a5abe0b.jpg%2F120%2F120&amp;twidth=60&amp;theight=60&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2138029297787129601" title="船上の5ツ星ホテル！秘境アマゾンを行くラグジュアリーな船上ホテルで味わう非日常体験！" data-na="NL:matomename" >船上の5ツ星ホテル！秘境アマゾンを行くラグジュアリーな船上ホテ…</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="m_a_t_o_m_eさん"><a href="http://matome.naver.jp/mymatome/m_a_t_o_m_e" data-na="NL:usernick" >m_a_t_o_m_e</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">27929</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2138033938902947001" data-na="NL:matomeimage" ><img width="60" height="60" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Ffarm8.static.flickr.com%2F7262%2F7851359102_3ded1773a4_m.jpg&amp;twidth=60&amp;theight=60&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2138033938902947001" title="金メダル、実は&quot;銀&quot;で出来てるって知ってました？" data-na="NL:matomename" >金メダル、実は&quot;銀&quot;で出来てるって知ってました？</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="nicotimeさん"><a href="http://matome.naver.jp/mymatome/nicotime" data-na="NL:usernick" >nicotime</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">23662</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
<li class="mdTopMTMList01Item">
    <div class="mdTopMTMList01Thumb"><a href="http://matome.naver.jp/odai/2138029920989358301" data-na="NL:matomeimage" ><img width="60" height="60" src="http://tv1.search.naver.jp/jthumb?size=ct60x60&amp;q=http://suk2.tok2.com/user/hojyo/img/2007-05-25-1.jpg" onerror="errorImage(this,'image60x60');" ></a></div>
    <div class="mdTopMTMList01Txt">
        <h3 class="mdTopMTMList01ItemTtl"><a href="http://matome.naver.jp/odai/2138029920989358301" title="今夜寝たら明日死んでいるかも？・・・突然死の恐怖と原因、その予防・対処法。" data-na="NL:matomename" >今夜寝たら明日死んでいるかも？・・・突然死の恐怖と原因、その予…</a></h3>
        <div class="mdTopMTMList01Option">
            <p class="mdTopMTMList01UserName" title="zinpeizinpeiさん"><a href="http://matome.naver.jp/mymatome/zinpeizinpei" data-na="NL:usernick" >zinpeizinpei</a>さん</p>
            <p class="mdTopMTMList01PVCount"><span class="mdTopMTMList01PVCountNum">187270</span><span class="mdTopMTMList01PVCountUnit">view</span></p>
        </div>
    </div>
</li>
</ul>
<!--/MdTopMTMList01--></div>
<!--/ArCol02--></div>

<div class="ArCol03">
    <ul class="MdTopMTMList02" data-na="NA:matomelista" >
        <li class="mdTopMTMList02Item">
            <a href="http://matome.naver.jp/odai/2137894794759716201" data-na="NL:matomename" >
                <h3 class="mdTopMTMList02ItemTtl" title="1コイン？美容師と繋がるサービスでカットができる">1コイン？美容師と繋がるサービスでカットができる</h3>
                <p class="mdTopMTMList02Desc">1000円カットはあるけど、ヘアサロンで安く切ることできないの？カットモデルになりたくても、どうすればいいかわかんないし…そんな疑問に答えるアプリがあった</p>
            </a>
            <div class="mdTopMTMList02Option">
                <p class="mdTopMTMList02UserName" title="ティースさん"><a href="http://matome.naver.jp/mymatome/%E3%83%86%E3%82%A3%E3%83%BC%E3%82%B9" data-na="NL:usernick" >ティース</a>さん</p>
                <p class="mdTopMTMList02PVCount"><span class="mdTopMTMList02PVCountNum">98766</span><span class="mdTopMTMList02PVCountUnit">view</span></p>
            </div>
        </li>
        <li class="mdTopMTMList02Item">
            <a href="http://matome.naver.jp/odai/2137956822253755601" data-na="NL:matomename" >
                <h3 class="mdTopMTMList02ItemTtl" title="脇役も光ってたドラマ「半沢直樹」の裏エピソード">脇役も光ってたドラマ「半沢直樹」の裏エピソード</h3>
                <p class="mdTopMTMList02Desc">最終回は視聴率40％を超えそうな勢いをみせるドラマ「半沢直樹」。主演の堺雅人だけでなく、サブキャラも毒のある役が多くて、見ごたえたっぷり。気になる最終回の前に、撮影やドラマにまつわるエピソードを集めま…</p>
            </a>
            <div class="mdTopMTMList02Option">
                <p class="mdTopMTMList02UserName" title="柚来さん"><a href="http://matome.naver.jp/mymatome/%E6%9F%9A%E6%9D%A5" data-na="NL:usernick" >柚来</a>さん</p>
                <p class="mdTopMTMList02PVCount"><span class="mdTopMTMList02PVCountNum">504752</span><span class="mdTopMTMList02PVCountUnit">view</span></p>
            </div>
        </li>
        <li class="mdTopMTMList02Item">
            <a href="http://matome.naver.jp/odai/2137982275997815301" data-na="NL:matomename" >
                <h3 class="mdTopMTMList02ItemTtl" title="【原爆/シャンソン/同性愛】美輪明宏の儚くも美しい壮絶人生">【原爆/シャンソン/同性愛】美輪明宏の儚くも美しい壮絶…</h3>
                <p class="mdTopMTMList02Desc">美輪明宏さんといえば、美意識の高さや独自の人生観を持ち、どのジャンルにも当てはまらないオンリーワンな存在です。その美輪さんがこれまでどのような人生を歩んできたのかまとめました。</p>
            </a>
            <div class="mdTopMTMList02Option">
                <p class="mdTopMTMList02UserName" title="romonさん"><a href="http://matome.naver.jp/mymatome/romon" data-na="NL:usernick" >romon</a>さん</p>
                <p class="mdTopMTMList02PVCount"><span class="mdTopMTMList02PVCountNum">269969</span><span class="mdTopMTMList02PVCountUnit">view</span></p>
            </div>
        </li>
        <li class="mdTopMTMList02Item">
            <a href="http://matome.naver.jp/odai/2137847251831583301" data-na="NL:matomename" >
                <h3 class="mdTopMTMList02ItemTtl" title="合わせると可愛い！『マスキュリン×フェミニン』の秋冬コーデ">合わせると可愛い！『マスキュリン×フェミニン』の秋冬コ…</h3>
                <p class="mdTopMTMList02Desc">13～14年秋冬デザイナーコレクションで最も有力視されているトレンドは、マスキュリン＆フェミニン。男性らしさと女性らしさの対比ミックスを楽しむというより、メンズのアイテムを取り入れて女性らしいエレガン…</p>
            </a>
            <div class="mdTopMTMList02Option">
                <p class="mdTopMTMList02UserName" title="働きたくないさん"><a href="http://matome.naver.jp/mymatome/%E5%83%8D%E3%81%8D%E3%81%9F%E3%81%8F%E3%81%AA%E3%81%84" data-na="NL:usernick" >働きたくない</a>さん</p>
                <p class="mdTopMTMList02PVCount"><span class="mdTopMTMList02PVCountNum">157524</span><span class="mdTopMTMList02PVCountUnit">view</span></p>
            </div>
        </li>
        <li class="mdTopMTMList02Item">
            <a href="http://matome.naver.jp/odai/2137968923636498901" data-na="NL:matomename" >
                <h3 class="mdTopMTMList02ItemTtl" title="【初心者】猫の写真の撮り方">【初心者】猫の写真の撮り方</h3>
                <p class="mdTopMTMList02Desc">室内で猫の写真を撮る時のポイントや、野良猫に出会ったときの写真の撮り方をまとめました。ページ下部、【応用編】も追加いたしました。</p>
            </a>
            <div class="mdTopMTMList02Option">
                <p class="mdTopMTMList02UserName" title="sumonyaさん"><a href="http://matome.naver.jp/mymatome/sumonya" data-na="NL:usernick" >sumonya</a>さん</p>
                <p class="mdTopMTMList02PVCount"><span class="mdTopMTMList02PVCountNum">66446</span><span class="mdTopMTMList02PVCountUnit">view</span></p>
            </div>
        </li>
        <li class="mdTopMTMList02Item">
            <a href="http://matome.naver.jp/odai/2137978841485092501" data-na="NL:matomename" >
                <h3 class="mdTopMTMList02ItemTtl" title="石田太郎さん死去。生前語った演じることの「魅力」とは">石田太郎さん死去。生前語った演じることの「魅力」とは</h3>
                <p class="mdTopMTMList02Desc">石田太郎さんが２１日午後１時ごろ、ドラマ撮影の現場で倒れ亡くなりました。石田さんとはどのような人物だったのでしょうか。</p>
            </a>
            <div class="mdTopMTMList02Option">
                <p class="mdTopMTMList02UserName" title="TyamadaZさん"><a href="http://matome.naver.jp/mymatome/TyamadaZ" data-na="NL:usernick" >TyamadaZ</a>さん</p>
                <p class="mdTopMTMList02PVCount"><span class="mdTopMTMList02PVCountNum">53719</span><span class="mdTopMTMList02PVCountUnit">view</span></p>
            </div>
        </li>
        <li class="mdTopMTMList02Item">
            <a href="http://matome.naver.jp/odai/2137974982963500301" data-na="NL:matomename" >
                <h3 class="mdTopMTMList02ItemTtl" title="エッグベネディクトも！ポーチドエッグを簡単に作ろう">エッグベネディクトも！ポーチドエッグを簡単に作ろう</h3>
                <p class="mdTopMTMList02Desc">一品にもサラダにも。料理の幅が広がるよ。別名落としたまご。</p>
            </a>
            <div class="mdTopMTMList02Option">
                <p class="mdTopMTMList02UserName" title="wampoさん"><a href="http://matome.naver.jp/mymatome/wampo" data-na="NL:usernick" >wampo</a>さん</p>
                <p class="mdTopMTMList02PVCount"><span class="mdTopMTMList02PVCountNum">163541</span><span class="mdTopMTMList02PVCountUnit">view</span></p>
            </div>
        </li>
        <li class="mdTopMTMList02Item">
            <a href="http://matome.naver.jp/odai/2137985750920742901" data-na="NL:matomename" >
                <h3 class="mdTopMTMList02ItemTtl" title="多くの人に知ってほしい、悲しすぎるペットショップの裏事情">多くの人に知ってほしい、悲しすぎるペットショップの裏事…</h3>
                <p class="mdTopMTMList02Desc">私たちを癒してくれる可愛いペット。そのペットたちが売られているペットショップには、私たちの知らない深い闇が存在するのです。</p>
            </a>
            <div class="mdTopMTMList02Option">
                <p class="mdTopMTMList02UserName" title="ppp_comさん"><a href="http://matome.naver.jp/mymatome/ppp_com" data-na="NL:usernick" >ppp_com</a>さん</p>
                <p class="mdTopMTMList02PVCount"><span class="mdTopMTMList02PVCountNum">405092</span><span class="mdTopMTMList02PVCountUnit">view</span></p>
            </div>
        </li>
        <li class="mdTopMTMList02Item">
            <a href="http://matome.naver.jp/odai/2137948114287669101" data-na="NL:matomename" >
                <h3 class="mdTopMTMList02ItemTtl" title="ゲーム音楽にこめられたこだわりが深かった">ゲーム音楽にこめられたこだわりが深かった</h3>
                <p class="mdTopMTMList02Desc">マリオの効果音って、音だけで何の動きをしているかわかりますよね。適当でいいと思いきや、ゲームサウンドを作るには熱くて深いこだわりがあったのでした。</p>
            </a>
            <div class="mdTopMTMList02Option">
                <p class="mdTopMTMList02UserName" title="バウズさん"><a href="http://matome.naver.jp/mymatome/%E3%83%90%E3%82%A6%E3%82%BA" data-na="NL:usernick" >バウズ</a>さん</p>
                <p class="mdTopMTMList02PVCount"><span class="mdTopMTMList02PVCountNum">101183</span><span class="mdTopMTMList02PVCountUnit">view</span></p>
            </div>
        </li>
        <li class="mdTopMTMList02Item">
            <a href="http://matome.naver.jp/odai/2137983553504230001" data-na="NL:matomename" >
                <h3 class="mdTopMTMList02ItemTtl" title="新聞がなくなる？ベネズエラの紙不足があまりに深刻だった">新聞がなくなる？ベネズエラの紙不足があまりに深刻だった</h3>
                <p class="mdTopMTMList02Desc">南米大陸でも指折りの自然の宝庫として知られているベネズエラ。そのベネズエラではとにかくトイレットペーパーが不足しているそう。資源が豊富なベネズエラで一体何が起こっているのか。</p>
            </a>
            <div class="mdTopMTMList02Option">
                <p class="mdTopMTMList02UserName" title="deehurunさん"><a href="http://matome.naver.jp/mymatome/deehurun" data-na="NL:usernick" >deehurun</a>さん</p>
                <p class="mdTopMTMList02PVCount"><span class="mdTopMTMList02PVCountNum">17646</span><span class="mdTopMTMList02PVCountUnit">view</span></p>
            </div>
        </li>
        <!--/MdTopMTMList02--></ul>
    <!--/ArCol03--></div>

<!--/ArColWrap--></div>

<div class="ArMain01">

    <div class="MdPagination04" data-na="NA:pager" >




        <strong>1</strong>
        <a href="#" onclick="goPage(2);return false;" data-na="NC:page" >2</a>




        <a href="#" onclick="goPage(3);return false;" data-na="NC:page" >3</a>
        <a href="#" onclick="goPage(4);return false;" data-na="NC:page" >4</a>
        <a href="#" onclick="goPage(5);return false;" data-na="NC:page" >5</a>

        <span class="mdPagination04Break">...</span>

        <a href="#" onclick="goPage(49);return false;" data-na="NC:page" >49</a>
        <a href="#" onclick="goPage(50);return false;" data-na="NC:page" >50</a>
        <!--/MdPagination04--></div>

    <form name="pageForm" action="http://matome.naver.jp/">
        <input type="hidden" name="page" value="1" />
    </form>
    <script type="text/javascript">
        function goPage(page) {
            document.pageForm.page.value = page;
            document.pageForm.submit()
            return false;
        }
    </script>
    <!--/ArMain01--></div>

<!--/LyMain--></div>
<!--/MAIN-CONTENTS-AREA-->

<!--SUB-CONTENTS-AREA-->
<div class="LySub">
<!-- TAA -->
<div class="MdAd04">
    <div class="mdAd04Script01">
        <script type="text/javascript">
            (function(d){d.write('<scr'+'ipt type="text/javascript" src="'+(d.location.protocol=='https:'?'https:':'http:')+'//api.unthem.com/js/pcad.js?zname=pcna001&ref='+encodeURIComponent(d.referrer)+'&_='+Math.round(Math.random()*10000000000)+'"" charset=""UTF-8""></scr'+'ipt>');})(document);
        </script>
        <!--/mdAd04Script01--></div>
    <!--/MdAd04--></div>
<div class="ArSubSeparator03" style="height:20px;"><hr></div>
<!-- TAA -->
<div class="ArSub03" data-na="NA:recommendedtopic" >
    <div class="MdSubTopicList01">
        <div class="mdSubTopicList01Ttl"><h2>おすすめトピック</h2><a href="http://matome.naver.jp/keyword/" data-na="NL:topiclist" >トピック一覧</a></div>
        <div class="MdTopicWordList01 MdCF">
            <ul class="mdTopicWordList01Ul">
                <li class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1LuzE" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->事件・事故<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(11228)</span></a><!--
--></li><li class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1M2ga" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->ガールズ<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(9085)</span></a><!--
--></li><li class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1Hinf" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->スポーツ<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(5304)</span></a><!--
--></li><li class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1Hiny" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->映画<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(9067)</span></a><!--
--></li><li class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1LvBW" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->世界遺産<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(675)</span></a><!--
--></li><li class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1Hipq" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->ライフハック<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(8418)</span></a><!--
--></li><li class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1Luxe" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->びっくり(ﾟдﾟ)!<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(22995)</span></a><!--
--></li><li class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1HioY" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->スイーツ<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(3062)</span></a><!--
--></li><li class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1HioM" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->教育<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(1184)</span></a><!--
--></li><li class="mdTopicWordList01Li"><!--
--><!--
--><!--
--><a href="http://matome.naver.jp/topic/1LvXe" class="MdTopicWord01" data-na="NL:topic" ><!--
--><!-- interest_match_relevant_zone_start --><!--
-->時事解説<!--
--><!--
--><!-- interest_match_relevant_zone_end --><!--
--><span class="mdTopicWord01Num">(544)</span></a><!--
--></li>
            </ul>
            <!--/MdTopicWordList01--></div>
        <!--/MdSubTopicList01--></div>
    <!--/ArSub03--></div>
<!--TEA-->
<div class="ArSubSeparator03" style="height:20px;"><hr></div><!--/TEA-->
<div class="ArSub03" data-na="NA:recommendedmatome" >
    <div class="MdSubMTMList01">
        <div class="mdSubMTMList01Ttl"><h2>おすすめまとめ</h2></div>
        <ul class="mdSubMTMList01List">
            <li class="mdSubMTMList01Item">
                <div class="mdSubMTMList01Thumb"><a href="http://matome.naver.jp/odai/2137698458870809101" data-na="NL:matomeimage" ><img width="45" height="45" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20130904%2F82%2F807772%2F42%2F222x222x0b9c38d2c48c93aab97d5edc.jpg%2F120%2F120&amp;twidth=45&amp;theight=45&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image45x45');" ></a></div>
                <div class="mdSubMTMList01Txt">
                    <h3 class="mdSubMTMList01Link"><a href="http://matome.naver.jp/odai/2137698458870809101" data-na="NL:matomename" >じーっと見てるとジワジワ来る、オロナインの6秒動画</a></h3>
                    <p class="mdSubMTMList01Username"><a href="http://matome.naver.jp/mymatome/%E3%81%BE%E3%81%A8%E3%82%81%E7%B7%A8%E9%9B%86%E9%83%A8" data-na="NL:usernick" >まとめ編集部</a>さん</p>
                </div>
            </li>
            <li class="mdSubMTMList01Item">
                <div class="mdSubMTMList01Thumb"><a href="http://matome.naver.jp/odai/2137645947167607601" data-na="NL:matomeimage" ><img width="45" height="45" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20130913%2F82%2F807772%2F22%2F103x103xef82d0bced60a20caa48f3a8.jpg%2F120%2F120&amp;twidth=45&amp;theight=45&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image45x45');" ></a></div>
                <div class="mdSubMTMList01Txt">
                    <h3 class="mdSubMTMList01Link"><a href="http://matome.naver.jp/odai/2137645947167607601" data-na="NL:matomename" >NO MORE筋トレ。痩せスイッチで代謝はUPできる</a></h3>
                    <p class="mdSubMTMList01Username"><a href="http://matome.naver.jp/mymatome/%E3%81%BE%E3%81%A8%E3%82%81%E7%B7%A8%E9%9B%86%E9%83%A8" data-na="NL:usernick" >まとめ編集部</a>さん</p>
                </div>
            </li>
            <li class="mdSubMTMList01Item">
                <div class="mdSubMTMList01Thumb"><a href="http://matome.naver.jp/odai/2137750278223386001" data-na="NL:matomeimage" ><img width="45" height="45" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20130828%2F82%2F807772%2F16%2F266x266x1c4d86e6825799c377aa7aba.jpg%2F120%2F120&amp;twidth=45&amp;theight=45&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image45x45');" ></a></div>
                <div class="mdSubMTMList01Txt">
                    <h3 class="mdSubMTMList01Link"><a href="http://matome.naver.jp/odai/2137750278223386001" data-na="NL:matomename" >スイーツを諦めない。ダイエット中のちょっとした逃げ道</a></h3>
                    <p class="mdSubMTMList01Username"><a href="http://matome.naver.jp/mymatome/%E3%81%BE%E3%81%A8%E3%82%81%E7%B7%A8%E9%9B%86%E9%83%A8" data-na="NL:usernick" >まとめ編集部</a>さん</p>
                </div>
            </li>
            <li class="mdSubMTMList01Item">
                <div class="mdSubMTMList01Thumb"><a href="http://matome.naver.jp/odai/2137604742208614801" data-na="NL:matomeimage" ><img width="45" height="45" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20130909%2F82%2F807772%2F1%2F300x300x0c374c1357b1e0a9e34d7061.jpg%2F120%2F120&amp;twidth=45&amp;theight=45&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image45x45');" ></a></div>
                <div class="mdSubMTMList01Txt">
                    <h3 class="mdSubMTMList01Link"><a href="http://matome.naver.jp/odai/2137604742208614801" data-na="NL:matomename" >能率UPを狙うそれぞれの「ひと休み」が進化してる</a></h3>
                    <p class="mdSubMTMList01Username"><a href="http://matome.naver.jp/mymatome/%E3%81%BE%E3%81%A8%E3%82%81%E7%B7%A8%E9%9B%86%E9%83%A8" data-na="NL:usernick" >まとめ編集部</a>さん</p>
                </div>
            </li>
            <li class="mdSubMTMList01Item">
                <div class="mdSubMTMList01Thumb"><a href="http://matome.naver.jp/odai/2137845375218774901" data-na="NL:matomeimage" ><img width="45" height="45" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20130912%2F82%2F807772%2F34%2F212x212x695388e8be5e16f2a3a78324.jpg%2F120%2F120&amp;twidth=45&amp;theight=45&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image45x45');" ></a></div>
                <div class="mdSubMTMList01Txt">
                    <h3 class="mdSubMTMList01Link"><a href="http://matome.naver.jp/odai/2137845375218774901" data-na="NL:matomename" >「すべり芸人」のトーク番組でケミストリーが起きてるｗ</a></h3>
                    <p class="mdSubMTMList01Username"><a href="http://matome.naver.jp/mymatome/%E3%81%BE%E3%81%A8%E3%82%81%E7%B7%A8%E9%9B%86%E9%83%A8" data-na="NL:usernick" >まとめ編集部</a>さん</p>
                </div>
            </li>
        </ul>
        <!--/MdSubMTMList01--></div>
    <!--/ArSub03--></div>
<!--TEB-->
<!--/TEB-->
<!--TEC-->
<div class="ArSubSeparator03" style="height:20px;"><hr></div>
<div class="ArSub03">
    <ul class="MdSubTopBanner01 MdMarginBottom05">
        <li>
            <a href="http://matome.naver.jp/odai/2134007657272372801" onclick="javascript:_gaq.push(['_trackPageview', '/c_count/matome_guide']);"><img src="http://static.naver.jp/matome_ver4/img/common/bnr_guide.png" alt="まとめ作成ガイド"></a>
        </li>
        <!--/MdSubTopBanner01--></ul>
    <!--/ArSub03--></div><!--/TEC-->
<!--TED-->
<div class="ArSubSeparator03"><hr></div><!--/TED-->
<div class="ArSub03" data-na="NA:updatedmatome" >
    <div class="MdSubMTMList01">
        <div class="mdSubMTMList01Ttl"><h2>更新まとめ</h2></div>
        <ul class="mdSubMTMList01List">
            <li class="mdSubMTMList01Item">
                <div class="mdSubMTMList01Thumb"><a href="http://matome.naver.jp/odai/2137989795341501401" data-na="NL:matomeimage" ><img width="45" height="45" src="http://tv4.search.naver.jp/jthumb?size=ct45x45&amp;q=http://livedoor.blogimg.jp/onigirivip-2ch/imgs/4/5/45127577.jpg" onerror="errorImage(this,'image45x45');" ></a></div>
                <div class="mdSubMTMList01Txt">
                    <h3 class="mdSubMTMList01Link"><a href="http://matome.naver.jp/odai/2137989795341501401" data-na="NL:matomename" >【コスプレ収集】SAOアスナ／ソードアート・オンライン</a></h3>
                    <p class="mdSubMTMList01Username"><a href="http://matome.naver.jp/mymatome/a-hybrid" data-na="NL:usernick" >a-hybrid</a>さん</p>
                </div>
            </li>
            <li class="mdSubMTMList01Item">
                <div class="mdSubMTMList01Thumb"><a href="http://matome.naver.jp/odai/2138042766959705301" data-na="NL:matomeimage" ><img width="45" height="45" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Ft1.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcRcMxlGCBRPGJsWc8xzBqDt-3LolVAq_VwfKkIt-1MMBq_oOg6UVizg-mED&amp;twidth=45&amp;theight=45&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image45x45');" ></a></div>
                <div class="mdSubMTMList01Txt">
                    <h3 class="mdSubMTMList01Link"><a href="http://matome.naver.jp/odai/2138042766959705301" data-na="NL:matomename" >【ボール以外でも】　65億円でアーセナルに移籍したエジルの超絶テクニ…</a></h3>
                    <p class="mdSubMTMList01Username"><a href="http://matome.naver.jp/mymatome/s.n.24" data-na="NL:usernick" >s.n.24</a>さん</p>
                </div>
            </li>
            <li class="mdSubMTMList01Item">
                <div class="mdSubMTMList01Thumb"><a href="http://matome.naver.jp/odai/2133014645692724601" data-na="NL:matomeimage" ><img width="45" height="45" src="http://rr.img.naver.jp:80/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20130426%2F78%2F734228%2F32%2F596x596x3c21ab4c29869a6a29b728d4.jpg%2F120%2F120&amp;twidth=45&amp;theight=45&amp;qlt=80&amp;res_format=jpg&amp;op=sc" onerror="errorImage(this,'image45x45');" ></a></div>
                <div class="mdSubMTMList01Txt">
                    <h3 class="mdSubMTMList01Link"><a href="http://matome.naver.jp/odai/2133014645692724601" data-na="NL:matomename" >＠モデル【 #水原希子 】美女！下着！水着！エロ画像（306枚以上）</a></h3>
                    <p class="mdSubMTMList01Username"><a href="http://matome.naver.jp/mymatome/a-network" data-na="NL:usernick" >a-network</a>さん</p>
                </div>
            </li>
            <li class="mdSubMTMList01Item">
                <div class="mdSubMTMList01Thumb"><a href="http://matome.naver.jp/odai/2136335049007991501" data-na="NL:matomeimage" ><img width="45" height="45" src="http://tv4.search.naver.jp/jthumb?size=ct45x45&amp;q=http%3A%2F%2Flalalive2.cocolog-nifty.com%2Fblog%2Fimages%2Fshiro20070225.jpg" onerror="errorImage(this,'image45x45');" ></a></div>
                <div class="mdSubMTMList01Txt">
                    <h3 class="mdSubMTMList01Link"><a href="http://matome.naver.jp/odai/2136335049007991501" data-na="NL:matomename" >月島、木場、三鷹、国分寺、習志野、大阪で見つけた癒しの“ふくろうカフ…</a></h3>
                    <p class="mdSubMTMList01Username"><a href="http://matome.naver.jp/mymatome/tAkU" data-na="NL:usernick" >tAkU</a>さん</p>
                </div>
            </li>
        </ul>
        <!--/MdSubMTMList01--></div>
    <!--/ArSub03--></div>
<!--TEE-->
<div class="ArSubSeparator03 MdMarginTop11"><hr></div>
<div class="ArSub03" data-na="NA:banner2">
    h2 class="MdSubTtl03 MdMarginBottom06">公式まとめ</h2>
    <ul class="MdSubTopBanner01">
        <li>
            <div class="MdBanner01 mdBanner01Subaru01">
                <div class="mdBanner01Thumb"><a href="http://matome.naver.jp/bp/subaru" title="SUBARU公式まとめ" onclick="javascript:_gaq.push(['_trackPageview', '/c_count/bp_subaru/top']);" class="mdBanner01ThumbImg">SUBARU公式まとめ</a></div>
                <div class="mdBanner01Txt">
                    <h3 class="mdBanner01Ttl"><a href="http://matome.naver.jp/bp/subaru" onclick="javascript:_gaq.push(['_trackPageview', '/c_count/bp_subaru/top']);">SUBARU公式まとめ</a></h3>
                    <p class="mdBanner01Username"><a href="http://matome.naver.jp/mymatome/SUBARU%E5%85%AC%E5%BC%8F" onclick="javascript:_gaq.push(['_trackPageview', '/c_count/bp_subaru_pf/top']);">SUBARU公式</a>さん</p>
                </div>
                <!--/MdBanner01Subaru01--></div>
        </li>
        <!--/MdSubTopBanner01--></ul>
    <!--/ArSub03--></div><!--/TEE-->
<!--/LySub--></div>
<!--/SUB-CONTENTS-AREA-->



<!--/lyContentsWrap--></div>
<!--/CONTENTS-WRAP-AREA-->


<!--/LyContents--></div>
<!--/CONTENTS-AREA-->



<!--FOOTER-AREA-->
<footer role="contentinfo"><div class="LyFoot FnFooter" data-na="NA:footer" >
    <div class="lyFootInner">
        <h2 class="MdHide">NAVER リンク</h2>
        <div class="MdNaverLink01">
            <ul class="mdNaverLink01Ul">
                <li class="mdNaverLink01Li"><a href="http://linecorp.com/" data-na="NL:corp">会社概要</a><span class="MdFootSeparator01">|</span></li>
                <li class="mdNaverLink01Li"><a href="http://www.naver.jp/rules/" data-na="NL:rules">利用規約</a><span class="MdFootSeparator01">|</span></li>
                <li class="mdNaverLink01Li"><a href="http://www.naver.jp/privacy/" data-na="NL:privacy">プライバシー</a><span class="MdFootSeparator01">|</span></li>
                <li class="mdNaverLink01Li"><a href="http://help.naver.jp/faq?serviceNo=4" data-na="NL:faq">ヘルプ</a><span class="MdFootSeparator01">|</span></li>
                <li class="mdNaverLink01Li"><a href="http://naverland.naver.jp/" data-na="NL:naverland">公式ブログ</a></li>
            </ul>
            <p class="MdCopyright01"><small>&copy; <b>LINE Corporation</b></small></p>
            <!--/MdNaverLink01--></div>
        <!--/lyFootInner--></div>
    <!--/LyFoot--></div></footer>
<!--/FOOTER-AREA-->

<script type="text/javascript" charset="utf-8" src="http://static.naver.jp/matome_ver4/js/nj.matome.navigate.gnb_13800104942008.js"></script>
<script type="text/javascript">try{$(document).ready(function(){nj.matome.navigate.gnb.init();});}catch(e){}</script>
<!-- /#lyWrapInner --></div>
<!-- /#LyWrap --></div>

<script type="text/javascript">
    lcs_do();
</script>
<script type="text/javascript">
    var STATIC_SERVER = "http://static.naver.jp";
    var SEARCH_SERVER = "http://search.naver.jp";

    var G_HEADER_LOGON_TEMPLATE = [
        '<li class="mdHeadUtil01Li"><a href="http://matome.naver.jp/odai/new" data-na="NL:matomenew">まとめ作成</a><span class="MdHeadSeparator01">|</span></li>',
        '<li class="mdHeadUtil01Li"><a href="javascript:goLogout()" data-na="NC:logout">ログアウト</a></li>'
    ].join("");

</script>

<script charset="utf-8" type="text/javascript">
    document.domain = "mtm.com";
</script>
<script type="text/javascript">
    //<![CDATA[
    $(function()
    {
        nj.matome.toTopButton.appendTo();
    });
    //]]>
</script></body>
</html>
