<ion-header-bar class="bar-stable">
  <div class="buttons">
    <a class="button button-icon" href="/">
      <img src="/images/logo_full_160x64.png" style="height: 20px;">
    </a>
  </div>
  <h1 class="title">
    热门话题
  </h1>

  <div class="buttons">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </div>
</ion-header-bar>

<ion-tabs class="tabs-dark tabs-icon-only">

  <ion-tab title="Topic" icon-on="ion-ios7-chatbubble" icon-off="ion-ios7-chatbubble-outline">
    <ion-content scroll="false" class="stable-bg">
      <div style="height: 100%;">
        <ion-slide-box style="height: 100%;" show-pager="false">
          <ion-slide style="height: 100%;">
            <ion-scroll style="height: 100%;" class="">
              <div class="text-center" style="margin-top: 10px;">
                <i class="fa fa-arrows-h"></i><br>
                向右滑动预览热门话题
              </div>
              <div class="list card" style="margin-bottom: 30px;">
                <% locals.items.forEach(function (item, index) { %>
                <a class="item" href="/t/<%= item.topic.text %>">
                  <span class="text-muted">#</span>
                  <span>
                    <%= item.topic.text %>
                  </span>
                  <span class="text-muted">#</span>
                  <% if (item.topic.itemCount - 1) { %>
                  <span class="badge badge-stable" style="right: 15px;">
                    <%= item.topic.itemCount %>
                  </span>
                  <% } %>
                </a>
                <% }); %>
              </div>
            </ion-scroll>
          </ion-slide>

          <% include ./_ul.html %>

        </ion-slide-box>
      </div>
    </ion-content>
  </ion-tab>

  <ion-tab title="User" icon-on="ion-ios7-person" icon-off="ion-ios7-person-outline">
    <!-- Tab 2 content -->
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
    <!-- Tab 3 content -->
  </ion-tab>

</ion-tabs>

<!--模板-->
<div class="TEMPLATES" style="display:none;">
  <% include ./topic2/_video_player.html %>
</div>