<ion-header-bar class="bar-stable">
  <div class="buttons">
    <a class="button button-icon" href="/">
      <img src="/images/logo_full_160x64.png" style="height: 20px;">
    </a>
  </div>
  <h1 class="title">
    热门话题
  </h1>

  <div class="buttons">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </div>
</ion-header-bar>

<ion-tabs class="tabs-dark tabs-icon-only">

  <ion-tab title="Topic" icon-on="ion-ios7-chatbubble" icon-off="ion-ios7-chatbubble-outline">
    <ion-content scroll="false" class="stable-bg"
                 ng-init="yourself = <%= JSON.stringify(locals.yourself && {
                      _id: locals.yourself._id,
                      loginName: locals.yourself.loginName,
                      url: locals.yourself.url
                    }) %>;"
                 ng-controller="IndexCtrl">
      <ion-slide-box style="height: 100%;" on-slide-changed="slideHasChanged($index)"
                     pager-click="activeIndex = index;" active-slide="activeIndex">
        <ion-slide style="height: 100%;">
          <ion-scroll style="height: 100%;">
            <div class="text-center" style="padding-top: 10px;">
              <i class="fa fa-arrows-h"></i><br>
              向右滑动预览热门话题
            </div>
            <div class="list card">
              <a class="item" href="/t/{{item.topic.text}}"
                 ng-repeat="item in items">
                <span class="text-muted">#</span>
                  <span>
                    {{item.topic.text}}
                  </span>
                <span class="text-muted">#</span>
                <span class="badge badge-assertive" style="right: 15px;"
                      ng-show="item.topic.itemCount - 1">
                  {{item.topic.itemCount}}
                </span>
              </a>
            </div>
            <div style="height: 110px;">
              <ion-infinite-scroll
                ng-if="!noMoreHotTopics"
                on-infinite="loadMore()">
              </ion-infinite-scroll>
              <div class="text-center" style="margin: 20px 0;"
                   ng-show="noMoreHotTopics">
                没有更多热门话题了
              </div>
            </div>
          </ion-scroll>
        </ion-slide>

        <% include ./_ul.html %>

      </ion-slide-box>

      <script id="comment.html" type="text/ng-template">
        <div id="_comment" class="modal item item-avatar">
          <img style="border-radius: 50%;"
               ng-src="{{yourself.url || '/images/no_img/user_80x80.png'}}">
          <h2>
            <a ng-show="yourself" href="/u/{{yourself.loginName}}">{{yourself.loginName}}</a>
            <span ng-show="!yourself" class="text-muted">匿名用户</span>
          </h2>
          <form class="mtm" ng-submit="submit(item, $parent)" style="position: relative;">
            <input type="text"
                   ng-model="$parent.comment" maxlength="140"
                   placeholder="发表评论"/>
            <div class="LetterCounter positive">
              {{comment.length || 0}}/140
            </div>
          </form>
        </div>
      </script>
    </ion-content>
  </ion-tab>

  <ion-tab title="User" icon-on="ion-ios7-person" icon-off="ion-ios7-person-outline">
    <!-- Tab 2 content -->
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
    <!-- Tab 3 content -->
  </ion-tab>

</ion-tabs>