<div class="Contents">
  <div class="Top">
    <div class="Inner"></div>
  </div>

  <div class="Inner">
    <div class="Main">
      <div class="ColWrapper">
        <div class="Col01">
          <ul class="NegLinkWrapper">
            <li class="Selected"><a href="/">综合</a></li>
            <li><a href="/">女性</a></li>
          </ul>
        </div>
        <div class="Col02">
          <h2>人气总结</h2>
          <ul class="HotTopicList NegLinkWrapper">
            <% for (i in hot) { %>
            <li>
              <table style="width: 100%;">
                <td>
                  <a href="/topic/<%= hot[i].id %>"><img class="TopicThumb" style="float: left;" width="60" height="60"
                                                         onerror="errorImage(this,'image_60x60');"
                                                         src="<%= !hot[i].coverUrl ? '/images/no_img/image_60x60.png' : hot[i].coverUrl %>"></a>
                </td>
                <td style="width: 100%;">
                  <div class="">
                    <h3 class="TopicTtl"><a href="/topic/<%= hot[i].id %>"><%= hot[i].title %></a></h3>
                    <a class="TopicAuthor" href="/u/<%= hot[i].author %>"><%= hot[i].author %></a>
                    <span class="PVCount"><b><%= hot[i].PVCount %></b>view</span>
                  </div>
                </td>
              </table>
            </li>
            <% } %>
          </ul>
        </div>
        <div class="Col03"></div>
      </div>
    </div>
    <div class="Sub"></div>
  </div>
</div>