<!DOCTYPE html>
<% var temp = !locals.body ? null : locals.body.match(/^<!\-\-([^#]*)##/); %>
<% temp = !temp ? null : !temp[1] ? null : temp[1] %>
<% locals.pageType = locals.pageType || temp; %>
<html lang="zh-cn" ng-app="sng" class="<%= locals.pageType || '' %>" xmlns:wb=“http://open.weibo.com/wb”>
<head>
  <title><%= locals.title ? title + ' - 石子儿' : '石子儿 - 互联网内容策展' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;charset=UTF-8">
  <meta name="description" content="<%= locals.description
    || '把各种各样的信息，自由地搭配组合，策展成一个页面保存起来，展示给感兴趣的人。我们致力于让任何人都可以策展信息，让其他人和信息相遇、相会。' %>">
  <meta name="keyword" content="石子儿，石子，石子网，石子儿网，石子微集，策展，互联网内容策展">
  <% if (locals.pageType == 'TOPIC') { %>
  <!--必填-->
  <meta property="og:type" content="webpage" />
  <meta property="og:url" content="http://shizier.com/topic/<%= topic._id %>" />
  <meta property="og:title" content="<%= topic.title %>" />
  <meta property="og:description" content="<%= topic.description || '' %>" />
  <!--选填-->
  <meta property="og:image" content="<%= topic.cover_url %>" />
  <% } %>

  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <!--<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">-->
  <!--<link type='text/css' rel='stylesheet' href='http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.css'/>-->
  <link type='text/css' rel='stylesheet' href="/stylesheets/flat-ui.css">
  <link href="/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <!--<link href="http://cdn.bootcss.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">-->
  <link type='text/css' rel='stylesheet' href='/stylesheets/common.css'/>
  <% if (locals.pageType == 'ACCOUNT' || locals.pageType == 'LOGIN' || locals.pageType == 'SIGNUP') { %>
  <link type='text/css' rel="stylesheet" href="/stylesheets/account.css"/>
  <% } %>
  <% (locals.css || []).forEach(function (css) { %>
  <link type='text/css' rel='stylesheet' href='<%= css %>'/>
  <% }); %>

  <!--更高版本的cdn上404,貌似确实是有bug的-->
  <!--[if IE]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/angular.js/1.2.15/angular.min.js"></script>
  <script>
    window.shizier = window.shizier || {};
    shizier.pageType = '<%= locals.pageType %>';
  </script>
  <!--<script type="text/javascript" src="/javascripts/bootstrap.js"></script>-->
  <!--<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>-->
  <script src="http://cdn.bootcss.com/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/ui-bootstrap-tpls-0.10.0.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap-select.js"></script>
  <script type="text/javascript" src="/javascripts/flatui-checkbox.js"></script>
  <script type="text/javascript" src="/javascripts/flatui-radio.js"></script>
  <script type="text/javascript" src="/javascripts/common.js"></script>
  <% if (locals.pageType == 'ACCOUNT' || locals.pageType == 'LOGIN' || locals.pageType == 'SIGNUP') { %>
  <script type="text/javascript" src="/javascripts/account.js"></script>
  <% } %>
  <% (locals.js || []).forEach(function (js) { %>
  <script type="text/javascript" src="<%= js %>"></script>
  <% }); %>
</head>
<body>
<% if (locals.pageType != 'SIGNUP' && locals.pageType != 'LOGIN' && locals.pageType != 'VERIFY' && locals.pageType != 'EDIT') { %>
<header class="navbar navbar-default Header mbn">
  <div class="container">
    <ul class="nav navbar-nav" style="margin-left: -15px;">
      <li>
        <a class="Logo" href="/" title="互联网内容策展">
          <img class="mrm" src="/images/logo_full_160x64.png">
          互联网内容策展
        </a>
      </li>
      <!--<li>-->
        <!--<a href="/test" title="互联网内容策展">体验新功能（测试版）</a>-->
      <!--</li>-->
    </ul>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <% if (!locals.yourself) { %>
      <li><a href="/signup">注册</a></li>
      <li><a class="ShowLogin" href="##">登录</a></li>
      <% } else { %>
      <li>
        <a href="/works">
          <i class="fa fa-caret-down"></i>
          <img class="img-circle" width="20" height="20"
            src="<%= locals.yourself.url || '/images/no_img/user_80x80.png' %>"
            onerror="shizier.errorImage(this,'user_80x80');">
          <%= locals.yourself.loginName %>
          <% if(locals.yourself.messageCount) { %>
          <span class="navbar-new"><%= locals.yourself.messageCount %></span>
          <% } %>
        </a>
        <ul style="z-index: 1002;">
          <li>
            <a href="/settings">
              <i class="fa fa-cog"></i>
              设置
            </a>
          </li>
          <li>
            <form action="/logout" method="post">
              <button class="btn btn-link btn-block Logout" type="submit">
                <i class="fa fa-sign-out"></i>
                登出
              </button>
            </form>
          </li>
        </ul>
      </li>
      <% } %>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="collapse" id="bs-example-navbar-collapse-1">
        <ul class="navbar-nav man pan pbl visible-xs">
          <% if (!locals.yourself) { %>
          <li><a href="/signup">注册</a></li>
          <li><a href="/login">登录</a></li>
          <% } else { %>
          <li>
            <a href="/works" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
              <img class="img-circle" width="20" height="20"
                   src="<%= locals.yourself.url || '/images/no_img/user_80x80.png' %>"
                   onerror="shizier.errorImage(this,'user_80x80');">
              <%= locals.yourself.loginName %>
            </a>
          </li>
          <li>
            <form action="/logout" method="post">
              <button class="btn btn-link btn-block Logout" type="submit">
                <i class="fa fa-sign-out"></i>
                登出
              </button>
            </form>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</header>
<% } %>

<div class="Contents">

  <%- body %>

</div>

<% if (locals.pageType != 'EDIT') { %>
<footer class="Footer pal">
  <ul class="pan">
    <li><a href="/about">关于我们</a></li>
    <li><a href="/rules">使用条规</a></li>
    <li><a href="/privacy">隐私条款</a></li>
    <li><a href="/help">帮助</a></li>
  </ul>
  <p>Copyright © 2013-2014 <a href="/">shizier.com</a> all rights reserved</p>
</footer>
<% } %>

<% include _toTop.html %>

<% if (locals.pageType != 'LOGIN' && locals.pageType != 'SIGNUP' && locals.pageType != 'ACCOUNT') { %>
<% include _loginDialog.html %>
<% } %>

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-45968298-1', 'shizier.com');
  ga('send', 'pageview');

</script>

</body>
</html>