<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link type='text/css' rel='stylesheet' href='/stylesheets/common.css'/>
  <% for (i in locals.css) { %>
  <link type='text/css' rel='stylesheet' href='<%= css[i] %>'/>
  <% } %>
  <script type="text/javascript" src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
  <header class='Header'>
    <div class="Inner"></div>
  </header>
  <%- body %>
  <footer class='Footer'>
    <div class='Inner'>
      <ul class='MtmLinkUl'>
        <li>
          <a>关于我们</a>
          <span class='FooterSeparator'>|</span>
          <a>使用条规</a>
          <span class='FooterSeparator'>|</span>
        </li>
      </ul>
      <p class='Copyright'>
        <small>© <b>mtm</b></small>
      </p>
    </div>
  </footer>
  <% for (i in locals.js) { %>
  <script type="text/javascript" async="async" src="<%= js[i] %>"></script>
  <% } %>
</body>
</html>