<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link type='text/css' rel='stylesheet' href='/stylesheets/common.css'/>
  <link type='text/css' rel='stylesheet' href='<%= css %>'/>
  <script type="text/javascript" src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
  <header class='Header'>
    <div class="HeaderInner"></div>
  </header>
  <%- body %>
  <footer class='Footer'>
    <div class='FooterInner'>
      <ul class='MtmLinkUl'>
        <li>
          <a href='#'>关于我们</a>
          <span class='FooterSeparator'>|</span>
          <a href='#'>使用条规</a>
          <span class='FooterSeparator'>|</span>
        </li>
      </ul>
      <p class='Copyright'>
        <small>© <b>mtm</b></small>
      </p>
    </div>
  </footer>
  <script type="text/javascript" async="async" src="<%= js %>"></script>
</body>
</html>