<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="ROBOTS" content="NOYDIR">
<meta name="ROBOTS" content="NOODP">
<meta http-equiv="X-UA-Compatible" content="IE=8">

<title><%- title %></title>
<% for(i in css) { %>
<link type='text/css' rel='stylesheet' href='<%= css[i] %>'/>
<% } %>
<link rel="stylesheet" href="/stylesheets/personalAccountManage/MTM_common.css">
<link rel="stylesheet" href="/stylesheets/personalAccountManage/MTM_mypage_admin_13800104942008.css">
  <!--
<script type="text/javascript" charset="utf-8" src="/javascripts/personalAccountManage/jquery_13800104942008.js"></script> -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!--
<script type="text/javascript" async="" src="/javascripts/personalAccountManage/ga.js"></script>
<script type="text/javascript" charset="utf-8" src="/javascripts/personalAccountManage/jquery_13800104942008.js"></script>
<script type="text/javascript" charset="utf-8" src="/javascripts/personalAccountManage/nj.common_13800104942008.js"></script>
<script type="text/javascript" charset="utf-8" src="/javascripts/personalAccountManage/nj.matome.profile.notify_13800104942008.js"></script>
-->
<script type="text/javascript" chartset="utf-8" src="/javascripts/personalAccountManage/personal.js"></script>
<!--
<script>
nj.Bootloader({
server: "http://static.naver.jp",
project: "matome_ver4",
tagno: "13800104942008"
}); -->
  <!--
</script><script type="text/javascript" charset="utf-8" src="/javascripts/personalAccountManage/manage_files/nj.matome.manage.top_13800104942008.js"></script>

<!-- using google analytics-->
      <!--
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-*****-*']);
    _gaq.push(['_trackPageview']);
    (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
</script>
-->
</head>


<body class="CTypeMyMTM ExOsMac" >

<div class="LyWrap">

    <div class="lyWrapInner">

        <header><div class="LyHead">
            <div class="lyHeadWrap">
                <div class="lyHeadInner">

                    <div class="MdHeadTtlGroup01" role="banner" data-na="NA:logo">
                        <h1 class="MdHeadTtl01"><a href="/" title="MTM" class="mdHeadTtl01Img" data-na="NL:matome">MTM</a></h1>
                        <!--/MdHeadTtlGroup01--></div>

                    <div class="lyHeadNav" role="navigation">
                        <nav>
                            <h2 class="MdHide">My Page</h2>
                            <ul class="MdHeadNav01">
                                <li class="mdHeadNav01Li"><a href="/favourites" data-na="NC:favourites">favourite</a></li>
                                <li class="mdHeadNav01Li ExSelected"><a href="/works" data-na="NC:works">管理</a></li>
                                <li class="mdHeadNav01Li"><a href="/connections" data-na="NC:connections">外部連携</a></li>
                                <!--/MdHeadNav01--></ul>
                        </nav>
                        <nav>
                            <ul class="MdHeadUtil01 mdHeadUtil01Login" data-na="NA:gnbLogin"><!--
<!-- todo: personal image
--><li class="mdHeadUtil01Li"><a href="/favourites" data-na="NL:favorites"><img id="" width="20" height="20" src="images/personal/user_20x20.png" onerror="errorImage(this,&#39;user20x20&#39;);" class="mdHeadUtil01Thumb"><%= username %></a><span class="MdHeadSeparator01">|</span></li><!--
--><li class="mdHeadUtil01Li"><a href="/notifications" data-na="NL:notifications">notifications</a><span class="mdHeadUtil01Count" style="display: none;"><span class="mdHeadUtil01CountInner">0</span></span><span class="MdHeadSeparator01">|</span></li><!--
--><li class="mdHeadUtil01Li"><a href="/odai/new" data-na="NL:matomenew">create</a><span class="MdHeadSeparator01">|</span></li><!--
--><li class="mdHeadUtil01Li">
                              <button class="mdHeadUtil01Open" data-na="NC:open">open</button><!--
--><ul class="mdHeadUtil01Sub" style="display: none;"><!--
--><li class="mdHeadUtil01SubLi"><a href="/settings" data-na="NC:setting">setting</a></li><!--
--><li class="mdHeadUtil01SubLi"><a href="/faq?serviceNo=4" data-na="NC:help">help</a></li><!--
--><li class="mdHeadUtil01SubLi mdHeadUtil01SubLiLast"><a href="/logout" data-na="NC:logout">logout</a><span class="mdHeadUtil01SubPointer"></span></li><!--
--></ul><!--
--></li><!--
--><!--/MdHeadUtil01--></ul>
                        </nav><!--/lyHeadNav--></div>
                    <!--/lyHeadInner--></div>
                <!--/lyHeadWrap--></div>
            <!--/LyHead--></div></header>
        <!--/HEADER-AREA-->


      <!--CONTENTS-AREA-->
      <div class="LyContents MdCF" data-na="NA:works">
        <!--CONTENTS-WRAP-AREA-->
        <div class="lyContentsWrap MdCF">



        <%- body %>


          <div class="LySub">

            <div class="ArMySub01" data-na="NA:userinfo">
              <div class="arMySub01Inner">
                <div class="MdMySubProf01">
                  <div class="mdMySubProf01Unit01">
                    <ul class="mdMySubProf01PV">
                      <li class="mdMySubProf01PVItem01">
                        <span class="mdMySubProf01PVCount"><%= topicsCount %></span>
                        <span class="mdMySubProf01PVLabelMTMNumber">まとめ作成数</span>
                      </li>
                      <li class="mdMySubProf01PVItem02">
                        <span class="mdMySubProf01PVCount"><%= topicsPageView %></span>
                        <span class="mdMySubProf01PVLabelMonthly">月間ページビュー</span>
                      </li>
                    </ul>
                    <div class="MdThumb01">
                      <span class="mdThumb01Inner"><img src="/images/personal/user_120x120.png"></span>
                    </div>
                    <h3 class="mdMySubProf01Ttl"><span class="mdMySubProf01UserName"><%= username %></span>さん</h3>


                    <p class="mdMySubProf01Btn"><span class="MdMPBtn01P03"><a href="/settings" class="mdMPBtn01P03Btn">設定</a></span></p>
                    <div class="mdMySubProf01FV">
                      <span class="MdFVCount01"><span class="mdFVCount01Ico"></span><span class="mdFVCount01Num"><%= favourite %></span></span>
                    </div>
                  </div>
                  <!--/MdMySubProf01--></div>
              </div>
              <!--/ArMySub01--></div>

            <div class="ArMySubSeparator01"><hr></div>


            <div class="ArMySub02">
              <ul class="MdMySubNav02" data-na="NA:ownerlink">
                <!-- <li class="mdMySubNav02Item01"><a href="/faq?groupNo=147" data-na="NL:click">インセンティブ利用ガイド</a></li> -->
                <li class="mdMySubNav02Item01"><a href="/bookmarklet" data-na="NL:bookmarklet">bookmarklet</a></li>
                <!--/MdMySubNav02--></ul>
              <!--/ArMySub02--></div>

            <!--/LySub--></div>

          <!--/lyContentsWrap--></div>
        <!--/LyContents--></div>
      <!--/CONTENTS-AREA-->

<!--FOOTER-AREA-->
<footer role="contentinfo"><div class="LyFoot FnFooter" data-na="NA:footer">
    <div class="lyFootInner">
        <h2 class="MdHide">MTM Link</h2>
        <div class="MdNaverLink01">
            <ul class="mdNaverLink01Ul">
                <li class="mdNaverLink01Li"><a href="/companyinfo.html" data-na="NL:corp">Company Info</a><span class="MdFootSeparator01">|</span></li>
                <li class="mdNaverLink01Li"><a href="/rules/" data-na="NL:rules">Rules</a><span class="MdFootSeparator01">|</span></li>
                <li class="mdNaverLink01Li"><a href="/privacy/" data-na="NL:privacy">privacy</a><span class="MdFootSeparator01">|</span></li>
                <li class="mdNaverLink01Li"><a href="/faq?serviceNo=4" data-na="NL:faq">help</a><span class="MdFootSeparator01">|</span></li>
                <!--<li class="mdNaverLink01Li"><a href="/mtmland/" data-na="NL:naverland">公式ブログ</a></li> -->
            </ul>
            <p class="MdCopyright01"><small>© <b>MTM Corporation</b></small></p>
            <!--/MdNaverLink01--></div>
        <!--/lyFootInner--></div>
    <!--/LyFoot--></div></footer>
<!--/FOOTER-AREA-->
<!--
<script type="text/javascript" charset="utf-8" src="/javascripts/personalAccountManage/nj.matome.navigate.gnb_13800104942008.js"></script>
<script type="text/javascript">try{$(document).ready(function(){nj.matome.navigate.gnb.init();});}catch(e){}</script>
-->
<!-- /#lyWrapInner --></div>
<!-- /#LyWrap --></div>
<!--
<script type="text/javascript">
//<![CDATA[
NStat.init({
	v : "20130117",
	q : "",
	pt : "matome.mypage",
	p : "RCq3dUQrItwssLDkeesssssssuk-399112",
	s : "jHiK5fcySlIAAnoyAk8"
},{server:"http://sc.naver.jp/cc"});
//]]>
</script>
<!--
<script type="text/javascript">
lcs_do();
</script>
-->
<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div><div class="diigolet notice" id="diigolet-notice" style="display: none;"><div><b>&nbsp;</b><p>Ok, done!</p><span id="close"></span></div></div><div id="diigolet-csm" style="position: absolute; left: -9764px; top: 206px; display: none;" class="yellow"><a id="diigolet-csm-highlight" href="javascript:void(0);"></a><a id="diigolet-csm-search" href="javascript:void(0);"></a><div id="diigolet-csm-color" class="small hidden" style="height: 0px;"><a class="diigolet-csm-coloritem" id="diigolet-csm-yellow" style="height: 0px;"></a><a class="diigolet-csm-coloritem" id="diigolet-csm-blue" style="height: 0px;"></a><a class="diigolet-csm-coloritem" id="diigolet-csm-green" style="height: 0px;"></a><a class="diigolet-csm-coloritem" id="diigolet-csm-pink" style="height: 0px;"></a></div></div>
</body>
</html>
