<!DOCTYPE html>
<html>
<head>
  <title><%= locals.title %></title>
  <meta name="renderer" content="webkit">
  <meta charset="UTF-8">
  <META NAME="ROBOTS" CONTENT="NOYDIR">
  <META NAME="ROBOTS" CONTENT="NOODP">
  <meta http-equiv="X-UA-Compatible" content="IE=10">
  <link type='text/css' rel='stylesheet' href='/stylesheets/showPerson/personal-common.css'/>
  <link type='text/css' rel='stylesheet' href='/stylesheets/showPerson/profile.css'/>
  <% for (i in locals.css) { %>
  <link type='text/css' rel='stylesheet' href='<%= css[i] %>'/>
  <% } %>
  <% for (i in locals.js) { %>
  <script type="text/javascript" src="<%= js[i] %>"></script>
  <% } %>
</head>


<body class="CTypeProfile ExOsMac">

<div class="LyWrap">
  <div class="lyWrapInner">
    <header><div class="LyHead">
      <div class="lyHeadWrap">
        <div class="lyHeadInner">

          <div class="MdHeadTtlGroup01" role="banner" data-na="NA:logo">
            <h1 class="MdHeadTtl01"><a href="/" title="MTM" class="mdHeadTtl01Img" data-na="NL:matome">MTM </a></h1>
            <!--/MdHeadTtlGroup01--></div>

          <div class="lyHeadNav" role="navigation">
            <nav>
              <% if (!locals.username) { %>
              <ul class="MdHeadUtil01" data-na="NA:gnb_lgd"><!--

--><li class="mdHeadUtil01Li"><a href="/topic/create" >创建总结</a><span class="MdHeadSeparator01">|</span></li><!--
--><li class="mdHeadUtil01Li"><a href="/signup">注册</a><span class="MdHeadSeparator01">|</span></li><!--
--><li class="mdHeadUtil01Li"><a href="/login" >登录</a></li><!--
--><!--/MdHeadUtil01--></ul>
              <%} else {%>
              <ul class="MdHeadUtil01 mdHeadUtil01Login" data-na="NA:gnbLogin"><!--

--><li class="mdHeadUtil01Li"><a href="/works" ><img width="20" height="20"  class="mdHeadUtil01Thumb" src="<%= locals.imageUrl ? locals.imageUrl : '/images/no_img/user_20x20.png' %>" onerror="mtm.errorImage(this,'user_20x20');"><%= username %></a><span class="MdHeadSeparator01">|</span></li><!--
--><li class="mdHeadUtil01Li"><a href="/notifications" >通知</a><span class="mdHeadUtil01Count" style="display:none;"><span class="mdHeadUtil01CountInner">0</span></span><span class="MdHeadSeparator01">|</span></li><!--
--><li class="mdHeadUtil01Li"><a href="/topic/create" >创建总结</a><span class="MdHeadSeparator01">|</span></li><!--
--><li class="mdHeadUtil01Li"><button class="mdHeadUtil01Open" >更多</button><!--
--><ul class="mdHeadUtil01Sub" style="display:none;"><!--
--><li class="mdHeadUtil01SubLi"><a href="/settings" >设置</a></li><!--
--><li class="mdHeadUtil01SubLi"><a href="/faq?serviceNo=4" >帮助</a></li><!--
--><li class="mdHeadUtil01SubLi mdHeadUtil01SubLiLast"><a href="/logout" >登出</a><span class="mdHeadUtil01SubPointer"></span></li><!--
--></ul><!--
--></li><!--
--><!--/MdHeadUtil01--></ul>
              <% } %>
            </nav><!--/lyHeadNav-->
          </div>

          <!--/lyHeadInner--></div>
        <!--/lyHeadWrap--></div>
      <!--/LyHead--></div></header>
    <!--/HEADER-AREA-->

    <%- body %>

    <!--FOOTER-AREA-->
    <footer role="contentinfo"><div class="LyFoot FnFooter" data-na="NA:footer" >
      <div class="lyFootInner">
        <h2 class="MdHide">MTM 链接</h2>
        <div class="MdNaverLink01">
          <ul class="mdNaverLink01Ul">
            <li class="mdNaverLink01Li"><a href="/" data-na="NL:corp">关于我们</a><span class="MdFootSeparator01">|</span></li>
            <li class="mdNaverLink01Li"><a href="/" data-na="NL:rules">使用条规</a><span class="MdFootSeparator01">|</span></li>
            <li class="mdNaverLink01Li"><a href="/" data-na="NL:privacy">私有规定</a><span class="MdFootSeparator01">|</span></li>
            <li class="mdNaverLink01Li"><a href="/faq?serviceNo=4" data-na="NL:faq">帮助</a><span class="MdFootSeparator01">|</span></li>
          </ul>
          <p class="MdCopyright01"><small>&copy; <b>MTM Coporation</b></small></p>
          <!--/MdNaverLink01--></div>
        <!--/lyFootInner--></div>
      <!--/LyFoot--></div></footer>
    <!--/FOOTER-AREA-->

    <!-- /#lyWrapInner --></div>
  <!-- /#LyWrap --></div>

</body>
</html>