<ion-header-bar class="bar-stable">
  <div class="buttons">
    <a class="button button-icon icon ion-ios7-arrow-back" href="/"></a>
  </div>

  <h1 class="title">
    采集神器
  </h1>

  <div class="buttons">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </div>
</ion-header-bar>

<ion-content class="text-center" scroll="false">
  1.将我
  <a href="javascript:(function () {var _my_script = document.createElement('SCRIPT');_my_script.type = 'text/javascript';
                              _my_script.src = 'http://shizier.com/javascripts/bookmarklet.js';document.getElementsByTagName('head')[0].appendChild(_my_script);}());"
     style="cursor: move;vertical-align: middle;-webkit-user-drag:auto;"
     class="mvm button button-stable">★采集石子儿</a>
  <i class="fa fa-level-up"></i> 拖放到书签栏<br>
  2.在任意网页点击我看看效果 <i class="fa fa-magic"></i>
</ion-content>