<div class="pal text-center">
  1.将我
  <a href="javascript:(function () {var _my_script = document.createElement('SCRIPT');_my_script.type = 'text/javascript';
                              _my_script.src = 'http://shizier.com/javascripts/bookmarklet.js';document.getElementsByTagName('head')[0].appendChild(_my_script);}());"
     style="cursor: move;"
     class="mvm btn btn-primary btn-hg">★采集石子儿</a>
  <i class="fa fa-level-up"></i> 拖放到书签栏<br>
  2.在任意网页点击我看看效果 <i class="fa fa-smile-o"></i>
</div>