<div class="pal text-center">
  我是石子儿采集助手<br>
  为方便您在浏览任意网页时<br>
  都能“一键”采集石子儿<br>
  您只需要：<br>
  1.将我
  <a href="javascript:(function () {var _my_script = document.createElement('SCRIPT');_my_script.type = 'text/javascript';
                              _my_script.src = 'http://shizier.com/javascripts/bookmarklet.js';document.getElementsByTagName('head')[0].appendChild(_my_script);}());"
     style="cursor: move;"
     class="mvm btn btn-primary btn-hg">★ 采集石子儿</a>
  <i class="fa fa-level-up"></i> 拖放到书签栏<br>
  2.在任意网页点击我<br>
  就能“一键”采集：<br>
  <i class="fa fa-picture-o"></i> 图片、
  <i class="fa fa-play-circle"></i> 视频、
  <i class="fa fa-quote-left"></i> 引文、
  <i class="fa fa-weibo"></i> 微博、
  <i class="fa fa-globe"></i> 网页
</div>