<ion-header-bar class="bar-stable">
  <div class="buttons">
    <a class="button button-icon icon ion-ios7-arrow-back" href="/"></a>
  </div>

  <h1 class="title">
    # <%= locals.topic.text %> #
  </h1>

  <div class="buttons">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </div>
</ion-header-bar>

<ion-content scroll="false" class="stable-bg">
  <div style="height: 100%;">
    <ion-slide-box style="height: 100%;" pager-click="activeIndex = index;" active-slide="activeIndex">

      <% include ./_ul.html %>

    </ion-slide-box>
  </div>
</ion-content>

<!--模板-->
<div class="TEMPLATES" style="display:none;">
  <% include ./_video_player.html %>
</div>