<!--PERSONAL##这是layout要用的参数，不能删！-->
<div class="background-clouds">
  <div class="container pbl">
    <% if (locals.personalType == 'WORKS' && locals.items.length) { %>
    <div class="row"
         ng-init="comments = <%= JSON.stringify(locals.comments) %>">
      <div class="col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-8 col-lg-7">
        <div class="background-white mtl pal" style="border-radius: 6px;">

          <h1 class="h6 text-center" style="margin: 40px 0;">
            您最近被评论的石子儿
          </h1>

          <div style="margin: 0 -20px;">
            <% include _ul.html %>
          </div>

          <!--模板-->
          <div class="TEMPLATES" style="display:none;">

            <% include ../topic2/_video_player.html %>

          </div>
        </div>
      </div>
      <div class="col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-4 col-lg-5">
        <div class="SpitWrapper hidden-xs hidden-sm">
          <div class="SpitBubble background-clouds-lighten mvl pal" style="border-radius: 6px;"
               ng-init="yourself = <%= JSON.stringify(locals.yourself && {
                _id: locals.yourself._id,
                loginName: locals.yourself.loginName,
                url: locals.yourself.url
              }) %>;init();"
               ng-controller="CommentCtrl2">
            <% if (locals.yourself) { %>
            <div class="clearfix background-clouds-darken phl ptl" style="border-radius: 6px 6px 0 0;margin: -20px -20px 0;">
              <a class="img-circle-border pull-left mrm"
                 href="/u/{{yourself.loginName}}">
                <img class="img-circle" width="50" height="50" ng-src="{{yourself.url || '/images/no_img/user_80x80.png'}}">
              </a>
              <div style="overflow: hidden;">
                <div style="line-height: 1;">
                  <a href="/u/{{yourself.loginName}}">{{yourself.loginName}}</a>
                </div>
                <form class="mtm" ng-submit="submit()">
                  <div class="form-group">
                    <input type="text" class="form-control AUTO_FOCUS"
                           ng-model="comment" maxlength="140"
                           placeholder="发表评论，回车发送"/>
                    <div class="LetterCounter">{{comment.length || 0}}/140</div>
                  </div>
                </form>
              </div>
            </div>
            <% } else { %>
            <div class="clearfix background-clouds-darken phl ptl" style="border-radius: 6px 6px 0 0;margin: -20px -20px 0;">
              <div class="img-circle-border pull-left mrm">
                <img class="img-circle" width="50" height="50" ng-src="/images/no_img/user_80x80.png">
              </div>
              <div style="overflow: hidden;">
                <div class="text-muted" style="line-height: 1;">
                  匿名用户
                </div>
                <form class="mtm" ng-submit="submit()">
                  <div class="form-group">
                    <input type="text" class="form-control AUTO_FOCUS"
                           ng-model="comment" maxlength="140"
                           placeholder="发表评论，回车发送"/>
                    <div class="LetterCounter">{{comment.length || 0}}/140</div>
                  </div>
                </form>
              </div>
            </div>
            <% } %>
            <div class="SpitCount text-center mtm">
              <i class="fa fa-comment-o"></i>
              共{{comments[itemId].length}}条评论
            </div>
            <div class="Spits Comments">
              <div class="Comment pvm clearfix" ng-repeat="comment in comments[itemId]">
                <a class="img-circle-border-clouds pull-left mrm" ng-show="comment.author"
                   href="/u/{{comment.author.loginName}}">
                  <img class="img-circle" width="50" height="50" ng-src="{{comment.author.url || '/images/no_img/user_80x80.png'}}">
                </a>
                <div class="img-circle-border-clouds pull-left mrm" ng-show="!comment.author">
                  <img class="img-circle" width="50" height="50" ng-src="/images/no_img/user_80x80.png">
                </div>
                <div style="overflow: hidden;">
                  <div class="clearfix" style="line-height: 1;">
                    <button class="btn btn-link pan pull-right mlm"
                            ng-class="comment.liked ? 'text-muted' : 'text-danger'"
                            ng-click="like(comment)"
                            type="button">
                      <span class="text-muted">{{comment.like || ''}}</span> <i class="fa fa-thumbs-o-up"></i>
                    </button>
                    <a href="/u/{{comment.author.loginName}}" ng-show="comment.author">
                      {{comment.author.loginName}}
                    </a>
                    <span class="text-muted" ng-show="!comment.author">匿名用户</span>
              <span class="text-muted mls" style="font-size: 12px;">
                {{comment.createDate}}
              </span>
                  </div>
                  <div class="mtm">{{comment.text}}</div>
                </div>
              </div>
            </div>
            <div class="Arrow" ng-style="{top: arrowY}"></div>
          </div>
        </div>
      </div>
    </div>
    <% } %>
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <div class="clearfix pal mtl"
             style="background-color: #34495e;color:white;border-radius: 6px;">
          <div class="pull-left mrl img-circle-border"
               style="width: 130px; height: 130px;">
            <img class="img-circle" width="120" height="120" id="_thumb"
                 onerror="shizier.errorImage(this, 'image_95x95')"
                 src="<%= locals.user.url || '/images/no_img/user_120x120.png' %>">
          </div>
          <ul style="list-style: none;padding: 0;overflow: hidden;">
            <li>
              <p>
                <%= locals.topicCount || '0' %><br>
                策展总数
              </p>
            </li>

            <li>
              <p>
                <%= locals.topicsPageView || '0' %><br>
                总浏览量
              </p>
            </li>
          </ul>

          <h1 class="h6 mtn"><%= locals.user.loginName %></h1>

          <div class="mtm text-muted" style="font-size: 12px;">
            注册时间：
            <%= locals.user.createDate.getFullYear() + '-'
            + (locals.user.createDate.getMonth() + 1) + '-'
            + locals.user.createDate.getDate() %>
          </div>

          <% if (locals.personalType != 'PERSONAL') { %>
          <div class="mtm">
            <a href="/settings" class="btn btn-primary">设置</a>
          </div>
          <% } else { %>
          <% if (locals.user.personalSite) { %>
          <div class="mtm">
            <a target="_blank" href="<%= locals.user.personalSite || '' %>"
               title="<%= locals.user.personalSite || '' %>">
              <i class="fa fa-home"></i>
              <%= locals.user.personalSite || '' %>
            </a>
          </div>
          <% } %>
          <div class="mtm">
            <button name="favoriteUser" class="<%= locals.likedBefore ? 'ExSelected' : '' %> btn btn-default"
                    data-favorite='{"authorName":"<%= locals.user.loginName %>"}' title="喜欢">
              <i class="fa fa-star StarIcon"></i>
              <span class="FVCount"><%= locals.user.favourite || '0' %></span>
            </button>

            <% include ../_followUser.html %>

          </div>
          <% } %>
        </div>
      </div>

      <div class="col-md-8 col-lg-9">
        <div class="pal mtl" style="background-color: white;border-radius: 6px;">
          <% if (locals.personalType == 'WORKS') { %>
          <% include _works.html %>
          <% } else if (locals.personalType == 'SETTINGS') { %>
          <% include _settings.html %>
          <% } else if (locals.personalType == 'PERSONAL') { %>
          <% include _user.html %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>