.StarIcon {
  color: #dddddd;
  text-shadow: 0 0 1px #777777;
}
.ExSelected .StarIcon,
.StarIconFull {
  color: #ffdd11;
  text-shadow: 0 0 1px #443a00;
}
.text-default {
  color: #34495e;
}
.text-default:hover {
  color: #2c3e50;
}
.text-muted {
  color: #bdc3c7;
}
.text-inverse {
  color: #ffffff;
}
.text-primary {
  color: #1abc9c;
}
.text-primary:hover {
  color: #15967d;
}
.text-warning {
  color: #f1c40f;
}
.text-warning:hover {
  color: #c19d0c;
}
.text-danger {
  color: #e74c3c;
}
.text-danger:hover {
  color: #b93d30;
}
.text-success {
  color: #2ecc71;
}
.text-success:hover {
  color: #25a35a;
}
.text-info {
  color: #3498db;
}
.text-info:hover {
  color: #2a7aaf;
}
.Message {
  text-align: center;
  padding: 60px;
  border: 1px solid #eee;
  margin: 20px 0;
}
.Message h4 {
  margin: 0 0 22px 0;
  font-weight: bold;
}
.Message p {
  margin: 0 0 8px 0;
  font-size: 14px;
}
.Message p.Note {
  margin: -5px 0 0 0;
  padding: 0 0 8px 0;
  font-size: 12px;
  color: #aaaaaa;
}
.Message .BtnSet {
  margin-top: 35px;
}
.Message .BtnSet li + li {
  margin-top: 10px;
}
.Message.Message-Error {
  text-align: left;
}
.Message.Message-Error .BtnSet {
  text-align: center;
}
.Message.Message-AL {
  text-align: left;
}
.TextList li {
  padding-left: 10px;
}
.TextList li:before {
  content: '· ';
}
.ErrorInfo {
  border: 1px solid #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background: #f7f4eb;
  line-height: 1.3846;
  padding: 10px 20px;
  text-align: left;
  margin-bottom: 20px;
}
.ErrorInfo span {
  font-size: 14px;
  font-weight: bold;
}
.Settings {
  width: 100%;
}
.Settings th,
.Settings td {
  text-align: left;
}
.Settings tr + tr th,
.Settings tr + tr td {
  padding-top: 20px;
}
.Settings .BorderTop {
  border-top: 1px solid #ddd;
}
.Settings .BorderTop th,
.Settings .BorderTop td {
  padding-top: 20px;
}
.Settings .BorderBottom {
  border-bottom: 1px solid #ddd;
}
.Settings .BorderBottom th,
.Settings .BorderBottom td {
  padding-bottom: 20px;
}
.Settings.MarginTop {
  margin-top: 20px;
}
.Settings.MarginBottom {
  margin-bottom: 20px;
}
.Settings th {
  padding-left: 16px;
  width: 150px;
}
.Settings li {
  padding: 0 18px 0 0;
  display: inline;
}
.Settings input[type=checkbox],
.Settings input[type=radio],
.Settings label {
  cursor: pointer;
  vertical-align: middle;
}
.login-form:before {
  display: none;
}
