@import "theme";

.modal {
  overflow-y: auto;
}
.WidgetItemList {
  padding-bottom: 0;
}
.WidgetItemList .Hoverable:hover {
  background-color: transparent;
}
.Content.IMAGE {
  width: 100% !important;
}
.dropdown-menu {
  font-size: 15px;
  background-color: transparent;
  margin-top: 0;
  visibility: visible;
  opacity: 1;
  z-index: 1041;
}
.input-group-addon {
  border: none;
  background-color: @color-muted;
  color: white;
  font-size: 18px;
  font-weight: bold;
}