.StarIcon {
  color: white;
}
.ExSelected .StarIcon,
.StarIconFull {
  color: #f1f742;
}
.background-white {
  background-color: white;
}
.background-clouds {
  background-color: #ecf0f1;
}
.background-clouds-darken {
  background-color: #e0e7e8;
}
.background-clouds-lighten {
  background-color: #f8f9fa;
}
.background-muted {
  background-color: #bdc3c7;
}
.background-concrete {
  background-color: #95a5a6;
}
.background-primary {
  background-color: #1abc9c;
}
.background-warning {
  background-color: #f1c40f;
}
.background-danger {
  background-color: #e74c3c;
}
.background-success {
  background-color: #2ecc71;
}
.background-info {
  background-color: #3498db;
}
.background-default {
  background-color: #34495e;
}
.text-theme {
  color: #669966;
}
.text-default,
.text-default-a {
  color: #34495e;
}
.text-default:hover {
  color: #2c3e50;
}
.text-asbestos {
  color: #7f8c8d;
}
.text-black {
  color: black;
}
.text-muted {
  color: #bdc3c7;
}
.text-inverse {
  color: #ffffff;
}
.text-primary {
  color: #1abc9c;
}
.text-primary:hover {
  color: #15967d;
}
.text-warning {
  color: #f1c40f;
}
.text-warning:hover {
  color: #c19d0c;
}
.text-danger {
  color: #e74c3c;
}
.text-danger:hover {
  color: #b93d30;
}
.text-success {
  color: #2ecc71;
}
.text-success:hover {
  color: #25a35a;
}
.text-info {
  color: #3498db;
}
.text-info:hover {
  color: #2a7aaf;
}
.modal {
  overflow-y: auto;
}
.WidgetItemList {
  padding-bottom: 0;
}
.WidgetItemList .Hoverable:hover {
  background-color: transparent;
}
.Content.IMAGE {
  width: 100% !important;
}
.dropdown-menu {
  font-size: 15px;
  background-color: #1abc9c;
  margin-top: 0;
  visibility: visible;
  opacity: 1;
  z-index: 1041;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.dropdown-menu li:first-child > a {
  border-radius: 0;
  padding-top: 8px;
}
.input-group-addon {
  border: none;
  background-color: #bdc3c7;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
