html,
body,
.Inner {
  width: 440px;
  min-width: 440px;
}
.Shadow {
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffffff', GradientType=0);
}
.HeadTtl {
  margin: 0;
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
}
.HeadOption {
  margin-top: 7px;
  width: 420px;
}
.HeadOption .HeadUser {
  margin-right: 10px;
}
.HeadOption .HeadUser .HeadUserThumb {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.HeadOption .HeadUser .HeadUserName {
  font-weight: bold;
}
.HeadOption .UserDesc {
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.HeadDescWrapper {
  margin-top: 13px;
}
.HeadDescWrapper .HeadDesc {
  margin-right: 8px;
}
.TopicWrapper {
  background: none;
  width: 440px;
}
.TopicWrapper .Main {
  width: 420px;
  margin: 0 10px 50px;
}
.IMAGE .Image img {
  max-width: 200px;
  max-height: 400px;
}
.VIDEO embed {
  width: 420px;
  height: 360px;
}
.SortUtil {
  display: none;
}
