.StarIcon {
  color: white;
}
.ExSelected .StarIcon,
.StarIconFull {
  color: #ffdd11;
}
.text-theme {
  color: #669966;
}
.text-default {
  color: #34495e;
}
.text-default:hover {
  color: #2c3e50;
}
.text-muted {
  color: #bdc3c7;
}
.text-inverse {
  color: #ffffff;
}
.text-primary {
  color: #1abc9c;
}
.text-primary:hover {
  color: #15967d;
}
.text-warning {
  color: #f1c40f;
}
.text-warning:hover {
  color: #c19d0c;
}
.text-danger {
  color: #e74c3c;
}
.text-danger:hover {
  color: #b93d30;
}
.text-success {
  color: #2ecc71;
}
.text-success:hover {
  color: #25a35a;
}
.text-info {
  color: #3498db;
}
.text-info:hover {
  color: #2a7aaf;
}
textarea {
  font-family: arial, sans-serif;
  min-height: 85px;
  padding-bottom: 0;
  resize: vertical;
}
body {
  word-wrap: break-word;
  font-family: "微软雅黑", arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "微软雅黑", arial, sans-serif;
}
.navbar-unread,
.navbar-new {
  font-family: "微软雅黑", arial, sans-serif;
}
.form-control {
  font-family: "微软雅黑", arial, sans-serif;
}
.tagsinput input {
  font-family: "微软雅黑", arial, sans-serif;
}
.video-js .vjs-text-track-display {
  font-family: "微软雅黑", arial, sans-serif;
}
table {
  word-break: break-all;
}
.carousel-caption a {
  font-size: 40px;
}
@media (max-width: 768px) {
  .carousel-caption h3 {
    font-size: 24px !important;
  }
  .carousel-caption a {
    font-size: 24px !important;
  }
}
.carousel-control {
  background-image: none !important;
  cursor: pointer;
}
.carousel-inner .item {
  height: 250px;
}
.carousel {
  background-color: #95a5a6;
}
.carousel-control i {
  top: 50%;
  left: 50%;
  position: absolute;
  display: block;
  margin: -10px 0 0 -6px;
}
.SIGNUP .container,
.LOGIN .container,
.VERIFY .container {
  max-width: 400px;
  position: relative;
}
.img-circle-border {
  border: 5px solid white;
  background-color: white;
  border-radius: 50%;
}
.img-circle-border-clouds {
  border: 5px solid #ecf0f1;
  background-color: #ecf0f1;
  border-radius: 50%;
}
.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}
.input-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  line-height: 37px;
  vertical-align: middle;
  font-size: 20px;
  color: #b2bcc5;
  background-color: #ffffff;
  padding: 0 12px 0 0;
  border-radius: 6px;
}
.checkbox .icons .first-icon,
.radio .icons .first-icon,
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  background-color: transparent;
}
#fancybox-thumbs.bottom {
  bottom: 15px !important;
}
.Required {
  position: relative;
}
.Required:before {
  content: '*';
  position: absolute;
  left: 3px;
  top: 4px;
  color: red;
  font-size: 14px;
}
.Required.Required-4px:before {
  left: 4px;
}
/*按钮*/
.InfoHint {
  font-size: 14px;
}
/*徽标*/
.Logo {
  padding: 16px 15px !important;
}
.Logo img {
  width: 100px;
  height: 40px;
}
.Logo:hover {
  opacity: 0.8;
}
.Logo-Circle {
  padding: 10px 20px;
  color: white;
  position: relative;
  display: block;
  border-radius: 50%;
  background-color: #1abc9c;
  width: 200px;
  height: 200px;
  margin: 40px auto;
}
.Logo-Circle:hover {
  color: #1abc9c;
  opacity: 0.8;
}
.Logo-Circle:hover img {
  margin-top: 58px;
}
.Logo-Circle img {
  width: 160px;
  height: 64px;
  position: absolute;
  margin-top: 25px;
  transition: 0.25s;
}
.Logo-Circle p {
  text-align: center;
  margin-top: 109px;
}
.navbar {
  background-color: white;
}
.navbar .nav > li {
  display: block;
}
.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-nav.hidden-xs .btn {
  border-radius: 2px;
  color: #ffffff;
  display: block;
  font-size: 14px;
  padding: 6px 9px;
  text-decoration: none;
  line-height: 1.7222;
  text-align: left;
}
.navbar-nav.hidden-xs .btn:hover {
  background-color: #1abc9c;
}
.navbar-toggle {
  margin-top: 19px;
}
.navbar-nav.visible-xs {
  width: 100%;
}
.navbar-nav.visible-xs li {
  display: block;
  width: 100%;
}
.navbar-nav.visible-xs li a {
  display: block;
  width: 100%;
}
.navbar-nav.visible-xs .btn,
.navbar-nav.visible-xs a {
  line-height: 28px;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 15px;
  text-decoration: none;
  text-align: left;
  color: #34495e !important;
}
.navbar-nav.visible-xs .btn:hover,
.navbar-nav.visible-xs a:hover {
  color: #1abc9c !important;
}
.Baidu {
  width: 130px !important;
}
.Band {
  background-color: #34495e;
}
.Band .caret {
  border-top-color: white;
}
.Band .tags {
  line-height: 41px;
  white-space: nowrap;
  overflow: hidden;
}
.Band .tags .tag {
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 768px) {
  .Band .container {
    padding: 0;
  }
}
.Authors {
  max-height: 113px;
  overflow: hidden;
}
.Authors:hover a {
  opacity: 0.5;
}
.Authors a {
  display: inline-block;
  vertical-align: bottom;
  width: 60px;
  -webkit-filter: grayscale(75%);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.Authors a:hover {
  -webkit-filter: grayscale(0%);
  opacity: 1;
}
.Authors a:hover .Authors_Name {
  text-overflow: clip;
}
.Authors a:hover .Authors_Category {
  color: #34495e;
}
.Authors a:first-child,
.Authors a:first-child + a,
.Authors a:first-child + a + a {
  width: 80px;
}
.Authors a:first-child img,
.Authors a:first-child + a img,
.Authors a:first-child + a + a img {
  width: 70px;
  height: 70px;
}
.Authors img {
  width: 50px;
  height: 50px;
}
.Authors .Authors_Name,
.Authors .Authors_Category {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  height: 20px;
  line-height: 20px;
}
.Authors .Authors_Category {
  height: 13px;
  line-height: 13px;
  font-size: 13px;
}
.Tile .Share {
  display: none;
}
.Tile:hover .Share {
  display: inline;
}
.Tile .Title {
  background-color: rgba(0, 0, 0, 0.6);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#99000000', EndColorStr='#99000000');
}
.Tile .Cover:hover .Title {
  background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#ff000000', EndColorStr='#ff000000');
}
.TopicHead .Title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#99000000', EndColorStr='#99000000');
}
.TopicHead .Title:hover {
  background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#ff000000', EndColorStr='#ff000000');
}
.Tile-Inner {
  opacity: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.Tile-Sub:hover .Tile-Inner {
  opacity: 0.9;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}
/*页脚*/
.Footer {
  background-color: white;
  text-align: center;
}
.Footer li {
  display: inline;
}
.Footer li + li {
  margin-left: 20px;
}
.dropdown-toggle {
  text-align: left;
}
.dropdown-menu {
  min-width: 100%;
}
.dropdown .caret {
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -3px;
}
.pagination {
  margin-bottom: 0;
}
.pagination .previous a:not([href]),
.pagination .next a:not([href]) {
  background-color: transparent !important;
}
.LoginDialog .modal-body {
  background-color: #ecf0f1;
}
#_toTop {
  position: fixed;
  display: none;
  right: 30px;
  opacity: 0.5;
  padding: 4px 12px;
  background-color: #999;
  color: white;
}
#_toTop:hover,
#_toTop:active,
#_toTop:focus {
  opacity: 1;
  background-color: #eee;
  color: black;
}
