textarea {
  font-family: arial, sans-serif;
  min-height: 85px;
  padding-bottom: 0;
  resize: vertical;
}
input[name='url'],
input.Url {
  color: #999;
}
body {
  word-wrap: break-word;
}
table {
  word-break: break-all;
}
.SIGNUP .container,
.LOGIN .container,
.VERIFY .container {
  width: 400px;
}
.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}
.input-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  line-height: 37px;
  vertical-align: middle;
  font-size: 20px;
  color: #b2bcc5;
  background-color: #ffffff;
  padding: 0 12px 0 0;
  border-radius: 6px;
}
.checkbox .icons .first-icon,
.radio .icons .first-icon,
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  background-color: transparent;
}
#fancybox-thumbs.bottom {
  bottom: 15px !important;
}
.Required {
  position: relative;
}
.Required:before {
  content: '*';
  position: absolute;
  left: 3px;
  top: 4px;
  color: red;
  font-size: 14px;
}
.Required.Required-4px:before {
  left: 4px;
}
/*按钮*/
.InfoHint {
  font-size: 14px;
}
/*徽标*/
.Logo {
  padding: 10px 20px !important;
}
.Logo img {
  width: 100px;
  height: 40px;
}
.LOGIN .Logo img,
.SIGNUP .Logo img {
  width: 160px;
  height: 64px;
}
.Logo:hover {
  opacity: 0.8;
}
.LOGIN .Logo,
.SIGNUP .Logo {
  position: relative;
  display: block;
  border-radius: 50%;
  background-color: #1abc9c;
  width: 200px;
  height: 200px;
  margin: 40px auto;
}
.LOGIN .Logo img,
.SIGNUP .Logo img {
  position: absolute;
  margin-top: 25px;
  transition: all 0.25s ease 0s;
}
.LOGIN .Logo p,
.SIGNUP .Logo p {
  text-align: center;
  margin-top: 109px;
}
.LOGIN .Logo:hover img,
.SIGNUP .Logo:hover img {
  margin-top: 58px;
}
/*分割线*/
.VLine {
  display: inline-block;
  width: 0;
  height: 11px;
  border-left: 1px solid #eee;
  vertical-align: middle;
}
.VLine.VLine-Header {
  margin: 0 9px 0 11px;
}
.VLine.VLine-Footer {
  margin: 0 11px 0 15px;
}
.VLine.VLine-Util {
  margin: 0 5px;
}
.HLine {
  border-top: 1px solid #dddddd;
}
.HLine.HLine-Personal {
  margin: 25px 0;
}
.navbar-inverse {
  border-radius: 0;
}
.navbar-inverse .navbar-brand {
  border: none;
}
.navbar-nav > li {
  float: none;
}
.navbar-inverse .nav > li > a {
  border: none !important;
}
/*导航*/
.Nav a,
.Nav button {
  text-align: left !important;
}
.Nav a,
.Nav button,
.Nav a:hover,
.Nav button:hover,
.Nav a:focus,
.Nav button:focus {
  color: #545454;
}
.Nav.Nav-Left {
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
}
.Nav.Nav-Left li {
  display: inline;
  margin-right: 30px;
}
.Nav.Nav-Left .SELECTED > a {
  font-weight: bold;
  color: #000000;
}
.Nav.Nav-Right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.Nav.Nav-Right .Nav-Right_Inner {
  margin: 10px 0;
}
.Nav.Nav-Right .Nav-Right_Inner * {
  vertical-align: middle;
}
.Nav.Nav-Right .Nav-Right_Inner img {
  margin-right: 5px;
}
.Nav.Nav-Right .Nav-Right_Inner > li {
  display: inline;
}
.Nav.Nav-Right .Nav-Right_Inner > li:last-of-type > button {
  margin-left: -6px;
  padding: 0 6px;
  vertical-align: middle;
}
.Nav.Nav-Right .Nav-Right_Inner > li:last-of-type > button > i {
  font-size: 8px;
  vertical-align: middle;
}
.Nav.Nav-Drop {
  z-index: 1002;
  position: absolute;
  right: 0;
  width: 98px;
  background-color: white;
  border: 1px solid #cfcfcf;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.Nav.Nav-Drop a,
.Nav.Nav-Drop button {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
}
.Nav.Nav-Drop a:hover,
.Nav.Nav-Drop button:hover,
.Nav.Nav-Drop a:focus,
.Nav.Nav-Drop button:focus {
  background-color: #f0f0f0;
  text-decoration: none;
}
.Nav.Nav-Drop a i,
.Nav.Nav-Drop button i {
  display: inline-block;
  width: 18px;
}
/*页脚*/
.Footer {
  padding: 25px;
  background-color: #fff;
  text-align: center;
}
.Footer li {
  display: inline;
}
.Footer li + li {
  margin-left: 20px;
}
.Footer p {
  margin: 10px 0 0;
}
.LoginDialog .modal-dialog {
  width: 400px;
}
.LoginDialog .modal-dialog .AutoComplete input[type="checkbox"] {
  vertical-align: middle;
}
.LoginDialog .modal-dialog .AutoComplete * {
  cursor: pointer;
}
.LoginDialog .modal-dialog .modal-header {
  background-color: #fcfcfc;
}
.LoginDialog .modal-dialog .modal-header .Logo {
  width: auto;
}
.LoginDialog .modal-dialog .modal-header .Logo,
.LoginDialog .modal-dialog .modal-header .Logo img {
  display: inline-block;
}
.LoginDialog .modal-dialog .modal-header .Logo strong {
  font-size: 14px;
  vertical-align: bottom;
}
.LoginDialog .modal-dialog .modal-footer {
  background-color: #f3f3f3;
}
/* 页码显示 */
.Pagination {
  line-height: 1.2;
  text-align: center;
}
.Pagination a,
.Pagination strong {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 2px;
  padding: 6px 8px;
  font-weight: bold;
}
.Pagination a {
  border: 1px solid #ebebeb;
  text-decoration: none;
}
.Pagination a:hover,
.Pagination a:active,
.Pagination a:focus {
  background-color: #f0f0f0;
  color: black !important;
}
#_toTop {
  position: fixed;
  display: none;
  right: 30px;
  opacity: 0.5;
  padding: 4px 12px;
  background-color: #999;
  color: white;
}
#_toTop:hover,
#_toTop:active,
#_toTop:focus {
  opacity: 1;
  background-color: #eee;
  color: black;
}
