textarea {
  font-family: arial, sans-serif;
  min-height: 85px;
  padding-bottom: 0;
  resize: vertical;
}
body {
  word-wrap: break-word;
  font-family: "微软雅黑", arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "微软雅黑", arial, sans-serif;
}
.navbar-unread,
.navbar-new {
  font-family: "微软雅黑", arial, sans-serif;
}
.form-control {
  font-family: "微软雅黑", arial, sans-serif;
}
.tagsinput input {
  font-family: "微软雅黑", arial, sans-serif;
}
.video-js .vjs-text-track-display {
  font-family: "微软雅黑", arial, sans-serif;
}
table {
  word-break: break-all;
}
.SIGNUP .container,
.LOGIN .container,
.VERIFY .container {
  max-width: 400px;
  position: relative;
}
.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}
.checkbox .icons .first-icon,
.radio .icons .first-icon,
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  background-color: transparent;
}
#fancybox-thumbs.bottom {
  bottom: 15px !important;
}
.Required {
  position: relative;
}
.Required:before {
  content: '*';
  position: absolute;
  left: 3px;
  top: 4px;
  color: red;
  font-size: 14px;
}
.Required.Required-4px:before {
  left: 4px;
}
/*按钮*/
.InfoHint {
  font-size: 14px;
}
/*徽标*/
.Logo {
  padding: 10px 20px !important;
}
.Logo img {
  width: 100px;
  height: 40px;
}
.LOGIN .Logo img,
.SIGNUP .Logo img,
.VERIFY .Logo img {
  width: 160px;
  height: 64px;
}
.Logo:hover {
  opacity: 0.8;
}
.LOGIN .Logo,
.SIGNUP .Logo,
.VERIFY .Logo {
  position: relative;
  display: block;
  border-radius: 50%;
  background-color: #1abc9c;
  width: 200px;
  height: 200px;
  margin: 40px auto;
}
.LOGIN .Logo img,
.SIGNUP .Logo img,
.VERIFY .Logo img {
  position: absolute;
  margin-top: 25px;
  transition: all 0.25s ease 0s;
}
.LOGIN .Logo p,
.SIGNUP .Logo p,
.VERIFY .Logo p {
  text-align: center;
  margin-top: 109px;
}
.LOGIN .Logo:hover img,
.SIGNUP .Logo:hover img,
.VERIFY .Logo:hover img {
  margin-top: 58px;
}
.navbar-nav > li {
  float: none;
}
/*页脚*/
.Footer {
  padding: 25px;
  background-color: #fff;
  text-align: center;
}
.Footer li {
  display: inline;
}
.Footer li + li {
  margin-left: 20px;
}
.Footer p {
  margin: 10px 0 0;
}
.LoginDialog .modal-dialog {
  width: 400px;
}
.LoginDialog .modal-dialog .AutoComplete input[type="checkbox"] {
  vertical-align: middle;
}
.LoginDialog .modal-dialog .AutoComplete * {
  cursor: pointer;
}
.LoginDialog .modal-dialog .modal-header {
  background-color: #fcfcfc;
}
.LoginDialog .modal-dialog .modal-header .Logo {
  width: auto;
}
.LoginDialog .modal-dialog .modal-header .Logo,
.LoginDialog .modal-dialog .modal-header .Logo img {
  display: inline-block;
}
.LoginDialog .modal-dialog .modal-header .Logo strong {
  font-size: 14px;
  vertical-align: bottom;
}
.LoginDialog .modal-dialog .modal-footer {
  background-color: #f3f3f3;
}
#_toTop {
  position: fixed;
  display: none;
  right: 30px;
  opacity: 0.5;
  padding: 4px 12px;
  background-color: #999;
  color: white;
}
#_toTop:hover,
#_toTop:active,
#_toTop:focus {
  opacity: 1;
  background-color: #eee;
  color: black;
}
