@import "theme";

html.EDIT {
  height: 100%;
}

.EDIT {
  body, .Contents {
    height: 100%;
  }
  .EditArea {
    padding: 0 490px 0 20px;
    position: absolute; top: 41px; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    .Main {
      margin: 20px auto 200px;
      width: 653px; max-width: 100%;
    }
    .ps-scrollbar-y-rail {
      right: 461px !important;
    }
    #_scrollUtil2 {
      position: fixed;
      z-index: 9999;
      bottom: 20px;right: 472px;
    }
  }
}

.Band {
  &.background-danger {
    background-color: @color-danger;
  }
  &.background-warning {
    background-color: @color-warning;
  }
  background-color: @color-default;
  z-index: 1001; position: fixed; left: 0; top: 0; right: 0;
  height: 41px;
  .Band_Ttl {
    position: fixed; left: 0; right: 472px;
    padding: 0 18px 0 20px;
    h1 {
      font-size: 18px;
      white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: 0; line-height: 41px;
    }
  }
  .Band_Btn {
    position: fixed; right: 0;
    line-height: 41px;
  }
}

.Categories {
  .btn {
    border-radius: 0;
    &.active {
      background-color: white;
      color: @color-muted;
    }
  }
}

.Collection {
  .Categories, .Scrollable { width: 458px;}
  .Categories {
    position: fixed; top: 41px; right: 0;
  }
  .Scrollable {
    position: fixed; top: 77px; bottom: 0; right: 0;
    overflow: hidden;
  }
}

.Cover {
  &:hover, &:focus {
    background-color: lighten(@color-clouds, 4%);
    img { opacity: 0.9; }
  }
}

.ui-sortable-placeholder {
  visibility: visible !important;
  background: url(/images/bg_WidgetDragPlaceholder.png) repeat;
}

.WidgetItemList-Main {
  min-height: 300px;
  .ui-sortable-placeholder {
    max-height: 65px;
  }
}

.WidgetItemList-Sub {
  padding-bottom: 0;
  transition: margin-bottom 0.25s; -webkit-transition: margin-bottom 0.25s;
  .Hoverable {
    cursor: move;
    .IMAGE .Image img {
      max-width: 100px;
      max-height: 100px;
    }
  }
}

.SortUtil {
  position: absolute; top: 0; right: -18px; z-index: 1000; bottom: 0; width: 18px;
  >span {
    display: block;
    width: 100%;
    height: 100%;
  }
  >div>i {
    display: block; opacity: 0.5; line-height: 18px; width: 18px; height: 18px;
    text-align: center; cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  >div:first-of-type { position: absolute; top: 0; }
  >div:last-of-type { position: absolute; bottom: 0; }
}

/*Hoverable*/
.WidgetItemList {
  &.WidgetItemList-Sorting {
    .AddUtil { display: none; }
    .Hoverable {
      background-color: white;
      button.COLLECT { display: none; }
      .EditUtil { display: none; }
    }
  }
  >li {
    &:first-child .SortUtil>div:first-of-type { visibility: hidden; }
    &:last-child .SortUtil>div:last-of-type { visibility: hidden; }
  }
  .Hoverable {
    .MoveUtil { cursor: move; }
    .SortUtil { opacity: 0; }
    &:hover {
      .SortUtil { opacity: 1; }
      .EditUtil { display: block; }
    }

    .Widget {
      background-color: darken(@color-clouds, 4%) !important;
    }
  }
  .ui-sortable-helper {
    max-height: 65px;
    &.Hoverable, .Hoverable {
      background-color: lighten(@color-clouds, 4%);
    }
    .SortUtil>div { visibility: hidden }
    .SortUtil { opacity: 1; }
    .Item, .Widget {
      max-height: 65px;
      overflow: hidden;
    }
  }
}

.EditUtil {
  background-color: lighten(@color-clouds, 4%); border-top-left-radius: 6px;
  .btn {
    color: @color-muted;
  }
  .EDIT:hover,.EDIT:focus {
    color: @color-primary;
  }
  .DELETE:hover,.DELETE:focus {
    color: @color-danger;
  }
  display: none; line-height: 1;
  position: absolute; bottom: 0; right: 15px;
  .btn {
    vertical-align: baseline;
    padding: 0;
    font-size: 18px;
  }
}
.AppendUtil {
  border-top-left-radius: 0; border-top-right-radius: 6px;
  right: auto; left: 0;
  .APPEND:hover,.APPEND:focus {
    color: @color-primary;
  }
}

.AddUtil {
  position: absolute; bottom: -18px; left: 0; right: 0; text-align: center;
}

/*菜单*/
.Menu {
  z-index: 1000;
  opacity: 0;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  &.OpacityMenu { opacity: 0.1; }
  &:hover { opacity: 1 !important; }
}

.WEIBO {
  .Handle { visibility: hidden !important; }
}

.SelectImage {
  button {
    padding: 0; border-radius: 0; max-width: 100%;
    img {
      max-height: 500px; max-width: 500px;
    }
  }
}