button[name='preview']{float: right;width: 62px;padding: 0;}
/*li*/
.WidgetItemList>li:hover .SortUtil {visibility: visible;}
.WidgetItemList>li:hover .BottomUtil {visibility: visible;}
.WidgetItemList>li:first-child .SortUtil>div:first-of-type{visibility: hidden;}
.WidgetItemList>li:last-child .SortUtil>div:last-of-type{visibility: hidden;}
.WidgetItemList-Sorting>li>div{box-shadow: 0 0 0 2px rgb(51, 204, 0);}
.WidgetItemList-Sorting>li>div:hover{background-color: #fff;}
.ui-sortable-helper>div{background-color: transparent !important;box-shadow: 0 0 0 0 !important;}
.ui-sortable-helper>div>:first-child{max-height: 100px !important;margin-left: 200px !important;
    background-color: rgba(51, 204, 0, 0.2) !important;box-shadow: 0 0 0 3px rgba(51, 204, 0, 0.2) !important;}
.ui-sortable-helper .SortUtil>div, .ui-sortable-helper .BottomUtil {visibility: hidden !important;}
.ui-sortable-helper .MoveUtil{visibility: visible !important;outline: none !important;}
.WidgetDragPlaceholder{margin-bottom: 15px;height: 20px;
    background: url(/images/bg_WidgetDragPlaceholder.png) repeat;box-shadow: 0 0 0 0 !important;}
/*悬浮菜单栏*/
.Band{position: absolute;top: 48px;left: 0;width: 100%;min-width: 960px;height: 42px;border-bottom: 1px solid rgb(231, 231, 231);background: none repeat scroll 0 0 rgb(249, 249, 249);}
.Band-Fixed{position: fixed;top: 0;z-index: 1001;}
.Band_Ttl{float: left;}
.Band_Ttl h1{font-size: 14px;font-weight: bold;}
.Band_Btn{margin-right: 6px;float:right;}
/*编辑标题、缩略图、简介*/
.Edit_Top{padding-top: 42px;padding-bottom: 15px;}
.Edit_Top form{padding-top: 25px;padding-bottom: 11px;border-bottom: 3px solid rgb(0, 0, 0);}
.Edit_Top fieldset:first-child {height: 40px;}
.Edit_Top input[name="title"] {display: inline-block;width: 779px;padding: 0 10px;height: 40px;line-height: 38px;font-size: 23px;font-weight: bold;
    background-color: rgb(255, 254, 238);background-position: 5px 10px;}
.Edit_Top_OptionBtn {margin-left: 15px;line-height: 1;color: rgb(102, 102, 102) !important;position: absolute;bottom: 0;}
.Edit_Top fieldset:last-child {margin-top: 25px;width: 779px;}
.Edit_Top_Thumb {float: left;margin-right: 15px;background: url("/images/photo_95x95.png");}
.Edit_Top_Thumb_Extra {float: left;width: 252px;margin-right: 15px;display: none;}
.Edit_Top form textarea[name='description']{min-height: 95px;}
/*静态菜单*/
.StaticMenu {width: 100%;height: 43px;margin-bottom: 10px;background: url("/images/bg_widgetUtil01.png");}
.StaticMenu td{padding: 0 5px;}
.StaticMenu span{cursor: default;font-weight: bold;}
.StaticMenu ul{display:inline;}
.StaticMenu li{margin-left: 25px;display:inline;}
.StaticMenu a{color: rgb(0, 0, 0);text-decoration: none;}
/*微件*/
.MENU table{width: 100%;height: 35px;line-height: 14px;border: 1px solid rgb(219, 219, 219);background-color: rgb(239, 239, 239);}
.MENU span{margin-left: 13px;color: rgb(131, 131, 131);font-weight: bold;}
.MENU ul{display: inline;}
.MENU li{display: inline;margin-left: 11px;}
.MENU a{padding: 0 5px;color: rgb(0, 0, 0);}
.MENU_Close{text-align: right;line-height: 9px;}
.MENU_Close i{cursor: pointer;line-height: 33px;padding: 0 12px;display: inline-block;}

.IMAGE_CREATE input {float: left;width: 258px;padding-right: 4px;}
.IMAGE input[name='title']{margin-bottom: 7px;}
.IMAGE input[name='quote'] {margin-bottom: 10px;}
.VIDEO_CREATE input{float: left;width: 570px;padding-right: 4px;}
.VIDEO input[name='title']{margin-top: 8px;}
.VIDEO textarea[name='description'] {margin-top: 10px;}
.CITE textarea[name='cite']{min-height: 95px;font-size: 14px;margin-bottom: 10px;}
.CITE input[name='url']{margin-bottom: 7px;}
.CITE input[name='title'] {height: 25px;margin-bottom: 10px;}
.CITE textarea[name='description'] {min-height: 45px;}