.StarIcon {
  color: white;
}
.ExSelected .StarIcon,
.StarIconFull {
  color: #f1f742;
}
.background-white {
  background-color: white;
}
.background-clouds {
  background-color: #ecf0f1;
}
.background-clouds-darken {
  background-color: #e0e7e8;
}
.background-clouds-lighten {
  background-color: #f8f9fa;
}
.background-muted {
  background-color: #bdc3c7;
}
.background-concrete {
  background-color: #95a5a6;
}
.background-primary {
  background-color: #1abc9c;
}
.background-warning {
  background-color: #f1c40f;
}
.background-danger {
  background-color: #e74c3c;
}
.background-success {
  background-color: #2ecc71;
}
.background-info {
  background-color: #3498db;
}
.background-default {
  background-color: #34495e;
}
.text-theme {
  color: #669966;
}
.text-default,
.text-default-a {
  color: #34495e;
}
.text-default:hover {
  color: #2c3e50;
}
.text-asbestos {
  color: #7f8c8d;
}
.text-black {
  color: black;
}
.text-muted {
  color: #bdc3c7;
}
.text-inverse {
  color: #ffffff;
}
.text-primary {
  color: #1abc9c;
}
.text-primary:hover {
  color: #15967d;
}
.text-warning {
  color: #f1c40f;
}
.text-warning:hover {
  color: #c19d0c;
}
.text-danger {
  color: #e74c3c;
}
.text-danger:hover {
  color: #b93d30;
}
.text-success {
  color: #2ecc71;
}
.text-success:hover {
  color: #25a35a;
}
.text-info {
  color: #3498db;
}
.text-info:hover {
  color: #2a7aaf;
}
.Cover:hover,
.Cover:focus {
  background-color: #f8f9fa;
}
.Cover:hover img,
.Cover:focus img {
  opacity: 0.9;
}
.ui-sortable-placeholder {
  visibility: visible !important;
  background: url(/images/bg_WidgetDragPlaceholder.png) repeat;
}
.WidgetItemList-Main .ui-sortable-placeholder {
  height: 65px !important;
}
.WidgetItemList-Sub {
  padding-bottom: 0;
  margin-bottom: 200px;
  transition: margin-bottom 0.25s;
  -webkit-transition: margin-bottom 0.25s;
}
.WidgetItemList-Sub:hover {
  margin-bottom: 0;
}
.WidgetItemList-Sub li {
  cursor: move;
}
.WidgetItemList-Sub li .Item {
  height: 65px;
  overflow: hidden;
  transition: height 0.25s;
  -webkit-transition: height 0.25s;
}
.WidgetItemList-Sub li .Item:hover {
  height: 265px;
}
.Collection .Categories {
  width: 100%;
  border-radius: 6px 6px 0 0;
}
.Collection .Categories .btn {
  border-radius: 0;
}
.Collection .Categories .btn:first-child {
  border-top-left-radius: 6px;
}
.Collection .Categories .btn.active {
  background-color: white;
  color: #34495e;
}
/*li*/
.WidgetItemList.WidgetItemList-Sorting > li {
  background-color: white !important;
}
.WidgetItemList.WidgetItemList-Sorting > li button.COLLECT {
  display: none !important;
}
.WidgetItemList.WidgetItemList-Sorting > li .AddUtil {
  display: none !important;
}
.WidgetItemList.WidgetItemList-Sorting > li .EditUtil {
  display: none !important;
}
.WidgetItemList > li .MoveUtil {
  cursor: move !important;
}
.WidgetItemList > li .SortUtil {
  visibility: hidden;
  display: block;
}
.WidgetItemList > li:hover .SortUtil {
  visibility: visible;
}
.WidgetItemList > li:hover .EditUtil {
  display: block;
}
.WidgetItemList > li:first-child .SortUtil > div:first-of-type {
  visibility: hidden;
}
.WidgetItemList > li:last-child .SortUtil > div:last-of-type {
  visibility: hidden;
}
.WidgetItemList > li .Widget {
  background-color: #e0e7e8 !important;
}
.WidgetItemList > li.WidgetDragPlaceholder {
  height: 65px;
  background: url(/images/bg_WidgetDragPlaceholder.png) repeat;
}
.WidgetItemList > li.ui-sortable-helper {
  max-height: 65px !important;
  overflow: hidden;
  background-color: rgba(102, 153, 102, 0.2) !important;
}
.WidgetItemList > li.ui-sortable-helper .SortUtil > div,
.WidgetItemList > li.ui-sortable-helper button.COLLECT,
.WidgetItemList > li.ui-sortable-helper .AddUtil,
.WidgetItemList > li.ui-sortable-helper .EditUtil {
  visibility: hidden !important;
}
.WidgetItemList > li.ui-sortable-helper .MoveUtil {
  visibility: visible !important;
}
.WidgetItemList .AddUtil {
  display: block;
}
.WidgetItemList .AddUtil .Menu {
  background-color: rgba(26, 188, 156, 0.8);
}
.WidgetItemList li:last-child .Menu.OpacityMenu {
  opacity: 0.1;
}
/*悬浮菜单栏*/
.Band {
  top: 72px;
  left: 0;
  right: 0;
  z-index: 1001;
  position: absolute;
}
.Band.affix {
  top: 0;
  position: fixed;
}
.Band .Band_Ttl {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  line-height: 41px;
}
.Band .Band_Btn {
  float: right;
  line-height: 41px;
}
.Collection.affix {
  position: static;
}
@media (min-width: 992px) {
  .Collection.affix {
    width: 293px;
    top: 61px;
    position: fixed !important;
  }
  .Collection.affix-bottom {
    position: relative !important;
  }
}
@media (min-width: 1200px) {
  .Collection.affix {
    width: 458px;
  }
}
.StaticMenu {
  position: absolute;
  bottom: -18px;
  left: 20px;
  z-index: 1000;
}
/*菜单*/
.Menu {
  opacity: 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  line-height: 1;
  border-radius: 6px;
  background-color: #1abc9c;
}
.Menu span {
  cursor: default;
  font-weight: bold;
  color: white;
}
.Menu button {
  color: white !important;
}
.Menu ul {
  display: inline;
  padding: 0 20px;
}
.Menu ul li {
  display: inline;
  margin-left: 15px;
}
.Menu .btn {
  vertical-align: baseline;
  padding: 0;
  font-size: 18px;
}
.StaticMenu .Menu.OpacityMenu {
  opacity: 0.1;
}
.Menu:hover {
  opacity: 1 !important;
}
.IMAGE_CREATE .Image {
  margin: 0 auto 5px;
  width: 300px;
  max-width: 100%;
  height: 220px;
  background-color: white;
  text-align: center;
}
.IMAGE_CREATE .Image i {
  line-height: 220px;
  font-size: 30px;
}
.VIDEO_CREATE .Thumb {
  margin: 0 auto 5px;
  width: 300px;
  max-width: 100%;
  height: 220px;
  background-color: white;
  text-align: center;
}
.VIDEO_CREATE .Thumb i {
  line-height: 220px;
  font-size: 30px;
}
.WEIBO .Handle {
  visibility: hidden !important;
}
