@import "theme";

/*li*/
.WidgetItemList {
  &.WidgetItemList-Sorting>li {
    box-shadow: 0 0 0 2px @theme-color;
    background-color: white !important;
    .AddUtil { display: none !important; }
    .EditUtil { display: none !important; }
  }
  >li {
    .MoveUtil { cursor: move !important; }
    .SortUtil { visibility: hidden; display: block; }
    &:hover {
      .SortUtil { visibility: visible; }
      .EditUtil { display: block; }
    }
    &:first-child .SortUtil>div:first-of-type { visibility: hidden; }
    &:last-child .SortUtil>div:last-of-type { visibility: hidden; }

    &.WidgetDragPlaceholder {
      height: 70px;
      background: url(/images/bg_WidgetDragPlaceholder.png) repeat;
      box-shadow: none !important;
    }

    &.ui-sortable-helper {
      .Item, .Widget { overflow: hidden; max-height: 100px !important; }
      max-height: 140px !important;
      box-shadow: none !important;

      background-color: fade(@theme-color, 20%) !important;
      .SortUtil>div, .AddUtil, .EditUtil { visibility: hidden !important; }
      .MoveUtil { visibility: visible !important; }
    }
  }
  .AddUtil {
    display: block;
    opacity: 0;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    &:hover { opacity: 1 !important; }
    .Menu {
      span { color: white; }
      button { color: white; }
    }
  }
  li:last-child {
    .AddUtil {
      opacity: 0.1;
    }
  }
}

/*悬浮菜单栏*/
.Band {
  top:72px; left: 0; right: 0;z-index: 1001;position: absolute;
  &.affix{ top:0; position: fixed; }
  .Band_Ttl {
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: 0; line-height: 36px;
  }
  .Band_Btn { float: right; }
}

/*菜单*/
.Menu {
  display: inline-block;
  span { cursor: default; font-weight: bold; }
  ul {
    display: inline;
    padding: 0 20px;
    li {
      display: inline; margin-left: 15px;
    }
  }
  .btn {
    vertical-align: baseline;
    padding: 0;
    font-size: 18px;
  }
}

/*微件*/
.LINK {
  .Thumb {
    .Image { width: 150px; }
    .btn-group {
      margin-right: 5px;
    }
    span[name="pagination"] { font-weight: bold; vertical-align: middle; }
  }
}

.IMAGE_CREATE {
  .Image {
    width: 300px; height: 220px; background-color: #f3f3f3; text-align: center;
    i { line-height: 220px; font-size: 30px; }
  }
}

.IMAGE {
  input[name='title'] { margin-bottom: 7px; }
  input[name='quote'] { margin-bottom: 10px; }
}

.VIDEO {
  input[name='title'] { margin-top: 8px; }
  textarea[name='description'] { margin-top: 10px; }
}

.WEIBO {
  .Handle { visibility: hidden !important; }
}