/*悬浮菜单栏*/
.EditHead{position: absolute;top: 48px;left: 0px;width: 100%;min-width: 960px;height: 41px;border-bottom: 1px solid rgb(231, 231, 231);background: none repeat scroll 0% 0% rgb(249, 249, 249);}
.EditHeadFixed{position: fixed;top: 0;z-index: 1500;}
.EditHeadTtl{color: #000000;font-size: 14px;font-weight: bold;}
.EditHeadBtn{margin-right: 6px;float:right;height: 100%}
.BtnHeadSave{width: 63px;height: 25px;background-position: 0px 0px;}
.BtnSaveDraft{background-position: -65px 0;height: 25px;width: 88px;}
.BtnPublish{background-position: -155px 0;height: 25px;width: 73px;}
.BtnHeadCancel{background-position: -70px -30px;height: 25px;width: 73px;}
.Top{padding-top: 41px;padding-bottom: 15px;}
.Heading{padding-top: 26px;padding-bottom: 10px;border-bottom: 3px solid rgb(0, 0, 0);}
.Required{padding-left: 15px !important;background: url("/images/FormInputGuide.png") no-repeat scroll 5px 8px;}
/*微件*/
.WidgetMenuBtn {text-decoration: none}
.WidgetItemList {padding-bottom: 1px;}
.WidgetItemList li{position: relative;background-color: rgb(255, 255, 255)}
.ui-sortable-helper{background-color: rgba(40, 184, 55, 0.2)!important;-webkit-box-shadow:rgba(0,0,0,0.2) 1px 1px 2px;-moz-box-shadow:rgba(0,0,0,0.2) 1px 1px 2px;box-shadow:rgba(0,0,0,0.2) 1px 1px 2px}
.WidgetInput.TEXT{min-height: 68px;padding: 5px 5px 0 0;}
.WidgetInput.TITLE{min-height: 28px;padding: 0 5px;}
.WidgetInputBox{background-color: #ffffff;width: 100%;border-width: 1px;border-style: solid;border-color: rgb(202, 206, 209) rgb(232, 234, 235) rgb(232, 234, 235) rgb(202, 206, 209);}
.WidgetInputBox.TEXT{min-height: 66px;padding: 5px 5px 0 0;resize: none;font-size: 14px}
.WidgetInputBox.TITLE{font-size: 14px;padding: 0 5px;font-weight: bold;line-height: 28px;height: 28px;vertical-align: middle}
.HeightAnimation{transition: height 0.2s ease 0s;}
.WidgetButton{margin: 14px 0px 0px;letter-spacing:7px}
.WidgetDragPlaceholder{width: 635px;background: url(/images/bg_WidgetDragPlaceholder.png) repeat 0 0}
.WidgetItem:hover .ItemUtil1 {visibility: visible}
.WidgetItem:hover .ItemUtil2 {visibility: visible}
.ui-sortable-helper:hover .ItemUtil1 {visibility: hidden}
.ui-sortable-helper:hover .ItemUtil2 {visibility: hidden}
/*编辑标题、缩略图、简介*/
.EditFormBox01 {height: 41px;}
.InputBoxTitle {display: inline-block;width: 779px;padding: 0px 10px;background-color: rgb(255, 254, 238);background-position: 5px 10px;border: 1px solid rgb(40, 185, 55);height: 40px;line-height: 38px;font-size: 23px;font-weight: bold;vertical-align: middle;}
.EditFormOption {margin-left: 15px;display: inline-block;vertical-align: bottom;}
.EditFormBox02 {margin-top: 25px;}
.EditFormItem01 {width: 95px;margin-right: 15px;float: left;}
.EditFormItem02 {float: left;width: 669px;}
.EditFormImgArea01 {position: relative;width: 95px;height: 140px;background: url("/images/photo_95x95.png") no-repeat scroll 0px 0px transparent;}
.EditFormImgAddList01 {position: absolute;top: 98px;left: 0px;margin-top: 3px;}
.InputBoxDesc {border-style: solid;border-width: 1px;border-color: rgb(201, 205, 208) rgb(232, 234, 235) rgb(232, 234, 235) rgb(201, 205, 208);min-height: 95px;height: 95px;width: 100%;overflow: auto;padding: 5px}
/*静态菜单*/
.WidgetMenu01 {position: relative;height: 43px;margin-bottom: 10px;padding: 0px 5px;background: url("/images/bg_widgetUtil01.png") repeat-x scroll 0px 0px transparent;}
.WidgetUtilTtl01 {margin-right: 25px;display: inline-block;cursor: default}
.WidgetMenu01 ul{display: inline-block;}
.WidgetMenu01 li{margin-right: 25px;display: inline-block;}
.WidgetMenu01 a{color: rgb(0, 0, 0);}