@import "theme";

input[type="text"], input[type="password"], textarea {
  width: 100%;
}

/*li*/
.WidgetItemList {
  button[name='preview'] { float: left; width: 62px; padding-left: 0; padding-right: 0; margin-left: 5px; }
  &.WidgetItemList-Sorting>li>div {
    box-shadow: 0 0 0 2px @theme-color;
    &:hover { background-color: white; }
  }
  >li {
    .MoveUtil { cursor: move !important; }
    .BottomUtil {
      display: block;
      margin-top: 2px;
      .ItemUtil1 { float: left; }
      .ItemUtil2 { float: right; }
    }
    &:hover {
      .SortUtil, .BottomUtil { visibility: visible; }
    }
    &:first-child .SortUtil>div:first-of-type { visibility: hidden; }
    &:last-child .SortUtil>div:last-of-type { visibility: hidden; }
    >div { margin-bottom: 16px; }
    &.TITLE>div { margin-bottom: 6px; }

    &.WidgetDragPlaceholder { margin-bottom: 18px; height: 20px;
      background: url(/images/bg_WidgetDragPlaceholder.png) repeat; box-shadow: 0 0 0 0 !important; }

    &.ui-sortable-helper {
      >div {
        background-color: transparent !important; box-shadow: 0 0 0 0 !important;
        >:first-child { max-height: 100px !important; margin-left: 200px !important;
          background-color: fade(@theme-color, 20%) !important; box-shadow: 0 0 0 3px fade(@theme-color, 20%) !important; }
      }
      .SortUtil>div, .BottomUtil { visibility: hidden !important; }
      .MoveUtil { visibility: visible !important; outline: none !important; }
    }
  }
}

body { position: relative; }

/*悬浮菜单栏*/
.Band {
  position: absolute; top: 48px; left: 0; right: 0; height: 37px; z-index: 1001;
  border-bottom: 1px solid rgb(231, 231, 231); background-color: rgb(245, 245, 245);
  .Inner { max-width: 960px; width: auto; }
  .Band_Ttl {
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: 0; line-height: 36px;
  }
  .Band_Btn { float: right; }
}

/*编辑标题、缩略图、简介*/
.Top {
  padding-top: 37px;
  form {
    #_coverWrapper {
      float: left;
      button[name="cover"] {
        margin-right: 15px; position: relative; width: 97px; height: 97px;
        img { position: absolute; top: 0; left: 0; }
      }
    }
    .Edit_Top_Thumb_Extra { float: left; width: 252px; margin-right: 15px; display: none; }
    #_topWidget_title {
      height: 40px;
      input[name="title"] { display: inline-block; padding: 0 10px; height: 40px; line-height: 38px; font-size: 23px; font-weight: bold;
        background-color: rgb(255, 254, 238); }
    }
    #_topWidget_description {
      margin-top: 7px;
      textarea { min-height: 90px; }
    }
  }
}

/*菜单*/
.Menu {
  display: inline-block;
  span { cursor: default; font-weight: bold; }
  ul {
    display: inline;
    li {
      display: inline; margin-left: 25px;
      i { vertical-align: middle; }
    }
  }
}

.StaticMenu .Menu {
  width: 100%; height: 46px; line-height: 43px; margin-bottom: 10px; border-top: 3px solid black;
  padding-left: 5px;
  background-image: -moz-linear-gradient(top, #ffffff, #fafafa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#fafafa));
  background-image: -webkit-linear-gradient(top, #ffffff, #fafafa);
  background-image: -o-linear-gradient(top, #ffffff, #fafafa);
  background-image: linear-gradient(to bottom, #ffffff, #fafafa);
  border-bottom: 1px solid #f0f0f0;
}

.WidgetItemList .Menu {
  span { padding-right: 6px; color: #999; }
  button { color: #999; }
}

/*微件*/
.LINK_CREATE input { float: left; width: 568px; }

.LINK {
  textarea[name='snippet'] { margin-top: 3px; }
  .Thumb {
    .Image { width: 150px; float: left; margin-right: 20px; min-height: 1px; }
    .Thumb_Editor { padding-top: 5px; }
    .btn-group {
      margin-right: 5px;
      .btn { padding: 0; width: 21px; height: 21px; }
    }
    span[name="pagination"] { font-weight: bold; vertical-align: middle; }
  }
  textarea[name='description'] { margin-top: 10px; }
}

.IMAGE_CREATE {
  input { float: left; width: 258px; }
  .Image {
    width: 300px; height: 220px; background-color: #f3f3f3; text-align: center;
    i { line-height: 220px; font-size: 30px; }
  }
}

.IMAGE {
  input[name='title'] { margin-bottom: 7px; }
  input[name='quote'] { margin-bottom: 10px; }
}

.VIDEO_CREATE input { float: left; width: 568px; }

.VIDEO {
  input[name='title'] { margin-top: 8px; }
  textarea[name='description'] { margin-top: 10px; }
}

.CITE {
  textarea[name='cite'] { min-height: 95px; font-size: 14px; margin-bottom: 10px; }
  input[name='url'] { margin-bottom: 7px; }
  input[name='title'] { height: 25px; margin-bottom: 10px; }
  textarea[name='description'] { min-height: 45px; }
}

.TEXT textarea { font-size: 14px; }