.Contents{padding: 25px 0;overflow: hidden;}
.Sub{float: left;width: 264px;padding-right: 25px;}
.Thumb {width: 122px;height: 122px;border-radius: 3px 3px 3px 3px;border: 1px solid rgb(221, 221, 221);margin-right: 10px;}
.SubPV{float: right;width: 102px;margin-top: 2px;}
.SubPV>li{padding: 9px 0 9px;}
.SubPV>li>p:first-child{color: rgb(51, 51, 51);font-size: 20px;font-family: Arial,Helvetica,sans-serif;line-height: 1;}
.HLine {border-top: 1px solid rgb(221, 221, 221);}
.SubPV>li>p:last-child{color: rgb(84, 84, 84);font-size: 10px;margin-top: 8px;line-height: 1;}
.SubTtl{margin-top: 12px;color: rgb(51, 51, 51);font-size: 14px;font-weight: bold;}
.BtnSettings{
    margin-top: 10px;
    display: block;
    width: 44px;
    height: 30px;
    line-height: 31px;
    font-size: 11px;
    background: url("/images/personal/sprite_admin.png") -330px -210px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none!important;}
.SubFV{
    bottom: 0;
    right: 0;
    position: absolute;}
.FVIco{
    display: inline-block;
    margin-right: 3px;
    vertical-align: -2px;
    width: 15px;
    height: 14px;
    background: url("/images/personal/sprite_FVBtn.png") -40px -240px;
}

.HLine-Personal{margin: 25px 0;}

.Nav-Personal{padding-bottom: 20px;}
.Nav-Personal li{line-height: 1;margin-bottom: 10px;padding-left: 7px;background: url("/images/personal/sprite_Sub.png") no-repeat -135px 0;}

.Main{overflow: hidden;border-left: 1px solid rgb(221, 221, 221);padding: 0 0 50px 25px;}
.MainHead{margin-bottom: 10px;}
.MainHead>h1{
    line-height: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;}
.MainHead a{position: absolute;right: 0;bottom: 0;color: rgb(153, 153, 153);}
.MainTbl{width: 100%;}
.MainTbl th{padding: 9px 0 9px 8px;
    border-top: 1px solid rgb(232, 233, 234);
    border-bottom: 1px solid rgb(232, 233, 234);
    background: url("/images/personal/bg_Tbl.png") no-repeat scroll 0 4px whitesmoke;
    color: rgb(153, 153, 153);
    font-weight: normal;}
.MainTbl th:first-child{background-image: none;text-align: left;padding: 9px 15px;}
.MainTbl th .SELECTED{color: rgb(0, 0, 0);}
.MainTbl th a{color: rgb(153, 153, 153);}
.MainTblSortSub{float: right;font-size: 10px;}
.MainTblSortSub a{vertical-align: middle;}
.MainTblSortIco{
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 10px;
    overflow: hidden;
    margin-left: 1px;
    padding: 0;
    border: 0 none;
    background: url("/images/personal/sprite_admin.png") no-repeat scroll -135px 0 transparent;}
.MainTbl td{
    padding: 9px 10px;
    border-bottom: 1px solid rgb(242, 242, 242);
    color: rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;height: 80px;}
.MainTbl td:first-child{text-align: left;}
.MainTblTtl{
    line-height: 21px;
    margin-bottom: 3px;
    font-size: 16px;
}
.MainTblTtl a{color: rgb(0, 0, 0);}
.MainTblDate{color: rgb(153, 153, 153);}
.MainTblPV{font-size: 18px;}
.MainTblRate{font-size: 10px;}
.SettingsForm{padding-top: 20px;color: rgb(153, 153, 153);}
.SettingsForm li{padding-bottom: 20px;overflow: hidden;}
.SettingsForm li>h3{
    display: block;
    float: left;
    width: 130px;
    min-height: 1px;
    color: rgb(51, 51, 51);
    font-weight: bold;}
.InputBox_Introduce{padding: 8px;height: 104px;resize: none;color: rgb(102, 102, 102);}
.IntroduceCount{position: absolute;right: 0;top: 0;font-family: Tahoma,Arial,Helvetica,sans-serif;font-size: 10px;}
.IntroduceCount>span{font-weight: bold;}
.BtnSettingsSave{width: 160px;
    height: 40px;
    background: url("/images/personal/sprite_admin.png") no-repeat scroll -330px -165px transparent;
    cursor: pointer;}