.StarIcon {
  color: #dddddd;
  text-shadow: 0 0 1px #777777;
}
.ExSelected .StarIcon,
.StarIconFull {
  color: #ffdd11;
  text-shadow: 0 0 1px #443a00;
}
.affix {
  position: static;
}
@media (min-width: 992px) {
  .affix {
    position: fixed;
    width: 293px;
    top: 20px;
  }
}
@media (min-width: 1200px) {
  .affix {
    width: 263px;
  }
}
.SubFV {
  bottom: 0;
  right: 0;
  position: absolute;
  line-height: 1;
}
.FVIco {
  color: #ffdd11;
  text-shadow: 0 0 1px #443a00;
}
