@theme-color: #696;
@FV-color: #fd1;
@FV-shadow-color: darken(@FV-color, 40%);
@FV-empty-color: #ddd;
@FV-empty-shadow-color: darken(@FV-empty-color, 40%);

@color-clouds: #ecf0f1;
@color-muted: #bdc3c7;
@color-concrete: #95a5a6;
@color-primary: #15967d;
@color-warning: #c19d0c;
@color-danger: #b93d30;
@color-success: #25a35a;
@color-info: #2a7aaf;
@color-default: #34495e;

.StarIcon {
  color: white;
}
.ExSelected .StarIcon, .StarIconFull {
  color: #ffdd11;
}
//added
.text-default {
  color: #34495e;
}
.text-default:hover {
  color: #2c3e50;
}
//moved--start
.text-muted {
  color: #bdc3c7;
}
.text-inverse {
  color: #ffffff;
}
.text-primary {
  color: #1abc9c;
}
.text-primary:hover {
  color: #15967d;
}
.text-warning {
  color: #f1c40f;
}
.text-warning:hover {
  color: #c19d0c;
}
.text-danger {
  color: #e74c3c;
}
.text-danger:hover {
  color: #b93d30;
}
.text-success {
  color: #2ecc71;
}
.text-success:hover {
  color: #25a35a;
}
.text-info {
  color: #3498db;
}
.text-info:hover {
  color: #2a7aaf;
}
//moved--end