/*内容*/
.TopicWrapper {
  width: 960px;
  min-height: 81px;
  margin: 0 auto;
  background: url("/images/bg_ContentsWrapper.png") repeat-y scroll 660px 0px transparent;
}
.TopicWrapper .Main {
  float: left;
  width: 635px;
  min-height: 41px;
  padding-bottom: 40px;
}
.TopicWrapper .Pagination {
  line-height: 19px;
  margin: 30px 0 40px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}
.TopicWrapper .Sub {
  position: relative;
  float: right;
  width: 300px;
  padding-bottom: 40px;
}
/*条目*/
.WidgetItemList > li > div {
  background-color: #ffffff;
  margin-bottom: 35px;
}
.WidgetItemList > li > div:hover {
  background-color: #f8f8f8;
  box-shadow: 0 0 0 3px #f8f8f8;
}
.WidgetItemList > li > div > :first-child {
  overflow: hidden;
}
.WidgetItemList > li.TITLE > div {
  margin-bottom: 25px;
}
.WidgetItemList .Contents {
  *zoom: 1;
}
.WidgetItemList .Contents:before,
.WidgetItemList .Contents:after {
  display: table;
  content: " ";
}
.WidgetItemList .Contents:after {
  clear: both;
}
.WidgetItemList .Quote {
  *zoom: 1;
  font-size: 11px;
  line-height: 13px;
  margin-top: 3px;
  min-width: 100px;
}
.WidgetItemList .Quote:before,
.WidgetItemList .Quote:after {
  display: table;
  content: " ";
}
.WidgetItemList .Quote:after {
  clear: both;
}
.WidgetItemList .Quote * {
  color: #aaaaaa;
}
.WidgetItemList .Quote span {
  float: left;
  margin-right: 5px;
}
.WidgetItemList .Quote div {
  overflow: hidden;
}
.LINK .Quote a {
  color: #7c94aa;
}
.IMAGE .Quote {
  max-width: 300px;
}
.CITE .Quote {
  margin-top: 7px;
}
/*工具栏*/
.SortUtil {
  position: absolute;
  top: 0px;
  right: -24px;
  padding-left: 3px;
  visibility: hidden;
}
.SortUtil i {
  display: block;
  line-height: 21px;
  width: 21px;
  height: 21px;
  text-align: center;
  cursor: pointer;
}
.SortUtil i:hover {
  outline: dotted 1px;
}
.BottomUtil {
  display: none;
  visibility: hidden;
  line-height: 1;
}
.BottomUtil a,
.HeadUtil a {
  color: #7c94aa;
  display: inline-block;
}
.LINK .Title a {
  font-size: 20px;
  line-height: 26px;
  text-decoration: underline;
}
.LINK .Title a:hover,
.LINK .Title a:active,
.LINK .Title a:focus {
  text-decoration: none;
}
.LINK .Snippet {
  line-height: 17px;
  margin-top: 3px;
  color: #aaaaaa;
}
.LINK .Thumb {
  margin-top: 7px;
}
.LINK .Thumb img {
  max-width: 150px;
  max-height: 150px;
}
.LINK .Description {
  margin-top: 10px;
  padding-left: 6px;
  border-left: 2px solid #ccc;
  color: #666;
  font-size: 14px;
  line-height: 20px;
}
.IMAGE_CREATE .Image,
.IMAGE .Image {
  float: left;
  margin-right: 10px;
}
.IMAGE .Image img {
  max-width: 300px;
  max-height: 600px;
}
.IMAGE .Title {
  margin-bottom: 4px;
  line-height: 24px;
  font-weight: bold;
  font-size: 18px;
}
.IMAGE .Description {
  line-height: 20px;
  color: #666;
  font-size: 14px;
}
.VIDEO_CREATE .Thumb,
.VIDEO .Thumb {
  text-align: center;
  width: 300px;
  height: 220px;
  background-color: #f3f3f3;
}
.VIDEO_CREATE .Thumb i,
.VIDEO .Thumb i {
  line-height: 220px;
  color: #ccd;
  font-size: 30px;
}
.VIDEO .Title {
  margin-top: 8px;
  line-height: 24px;
  font-weight: bold;
  font-size: 18px;
}
.VIDEO .Description {
  margin-top: 10px;
  padding-left: 6px;
  border-left: 2px solid #ddd;
  color: #666;
  font-size: 14px;
  line-height: 20px;
}
.CITE .Cite {
  line-height: 26px;
  color: #666;
  font-weight: bold;
  font-size: 20px;
}
.CITE .Cite i {
  font-size: 20px;
  color: #ccc;
}
.CITE .Cite q {
  quotes: none;
}
.CITE .Description {
  margin-top: 10px;
  padding-left: 6px;
  border-left: 2px solid #ccc;
  color: #666;
  font-size: 14px;
  line-height: 20px;
}
.TEXT p {
  line-height: 20px;
  color: #666;
  font-size: 14px;
}
.TITLE p {
  line-height: 26px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding-bottom: 5px;
  border-bottom: 2px solid #EAECEE;
}
.Contents {
  padding-bottom: 25px;
}
.Top {
  height: 37px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e7e7e7;
}
.Top li {
  display: inline;
}
.Top li a {
  color: #4c4c4c;
}
.Top li i {
  vertical-align: middle;
  padding: 0 4px;
}
.Head {
  margin-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
  background-color: #f9f9f9;
}
.Head .Inner {
  overflow: hidden;
  padding: 15px 0;
  position: relative;
}
.Head .Inner .HeadMain {
  margin-top: -3px;
  width: 725px;
}
.Head .Inner .HeadMain .HeadThumb {
  float: left;
  margin: 3px 15px 0 0;
  width: 95px;
  height: 95px;
}
.Head .Inner .HeadMain .HeadTxt {
  overflow: hidden;
}
.Head .Inner .HeadMain .HeadTxt .HeadTtlWrapper {
  margin-bottom: 7px;
}
.Head .Inner .HeadMain .HeadTxt .HeadTtlWrapper .HeadTtl {
  display: inline;
  font-size: 32px;
  line-height: 38px;
  margin-right: 15px;
}
.Head .Inner .HeadMain .HeadTxt .HeadTtlWrapper .HeadTtl a {
  color: #000000;
}
.Head .Inner .HeadMain .HeadTxt .HeadTtlWrapper .HeadUtil {
  display: inline-block;
}
.Head .Inner .HeadMain .HeadTxt .HeadDesc {
  margin-right: 8px;
  color: #666666;
}
.Head .Inner .HeadMain .HeadTxt .HeadDate {
  display: inline-block;
  color: #aaaaaa;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.Head .Inner .HeadMain .HeadTxt .HeadOption {
  margin-top: 13px;
}
.Head .Inner .HeadMain .HeadTxt .HeadOption .HeadUser {
  margin-right: 6px;
}
.Head .Inner .HeadMain .HeadTxt .HeadOption .HeadUser .HeadUserThumb {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.Head .Inner .HeadMain .HeadTxt .HeadOption .HeadUser .HeadUserName {
  color: #000000 !important;
  font-weight: bold;
}
.Head .Inner .HeadSub {
  width: 220px;
  text-align: right;
  position: absolute;
  top: 15px;
  right: 0;
}
.Head .Inner .HeadSub .HeadCount {
  margin: 0 0 8px;
  *margin-bottom: 5px;
}
.Head .Inner .HeadSub .HeadCount .HeadFVCount {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding-right: 13px;
  *padding-right: 17px;
  vertical-align: top;
  text-align: center;
}
.Head .Inner .HeadSub .HeadCount .HeadFVCount .HeadFVCountNum {
  display: block;
  line-height: 1;
  *line-height: 1.15;
  margin-top: -3px;
  *margin-top: 0;
  color: #000;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.Head .Inner .HeadSub .HeadCount .HeadFVCount .HeadFVIco {
  color: #ffdd11;
  text-shadow: 0 0 1px #443a00;
}
.Head .Inner .HeadSub .HeadCount .HeadFVCount .HeadFVCountLabel {
  display: block;
  margin-top: 3px;
  *margin-top: 0;
  line-height: 1;
  *line-height: 1.15;
  color: #666;
  font-size: 11px;
}
.Head .Inner .HeadSub .HeadCount .HeadPVCount {
  display: inline-block;
  border-left: 1px solid #eeeeee;
  padding-left: 13px;
  text-align: center;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.Head .Inner .HeadSub .HeadCount .HeadPVCount .HeadPVCountNum {
  display: block;
  line-height: 1;
  margin-top: -3px;
  color: black;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.Head .Inner .HeadSub .HeadCount .HeadPVCount .HeadPVCountLabel {
  display: block;
  margin-top: 3px;
  line-height: 1;
  color: #666;
  font-size: 11px;
}
.Head .Inner .HeadSub .HeadFVBtnIco {
  margin-right: 7px;
  color: #dddddd;
  text-shadow: 0 0 1px #777777;
}
.Head .Inner .HeadSub .ExSelected .HeadFVBtnIco {
  color: #ffdd11;
  text-shadow: 0 0 1px #443a00;
}
.Head .Inner .HeadSub .HeadFVBtnTxt {
  color: black;
  font-weight: bold;
  font-size: 14px;
}
.SubSeparator {
  height: 15px;
  background: #ffffff;
}
.SubAuthor {
  border: 5px solid #e2e5e8;
}
.SubAuthorProfile {
  padding: 15px 15px 15px;
}
.SubAuthorProfileUnit {
  position: relative;
  min-height: 80px;
  padding: 0 0 0 90px;
}
.SubAuthorProfileUnitTitle {
  line-height: 1.2;
  padding: 0 0 7px;
  color: #666666;
}
.SubAuthorProfileUnit .SubAuthorProfileUnitTitle a {
  color: #000;
  font-weight: bold;
}
.SubAuthorProfileUnitTitleUserNameThumb {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
}
.SubAuthorProfileUnitLinkSiteBtn {
  width: 86px;
  height: 23px;
  background-position: -70px -90px;
  vertical-align: middle;
  background-image: url("/images/personal/sprite_MdBtn_130918.png");
  display: inline-block;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
  padding: 0;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -9999px;
  *text-indent: 0;
  *line-height: 9999px;
  *word-wrap: normal;
}
.SubAuthorProfileUnitLinkSite.ExDisabled .SubAuthorProfileUnitLinkSiteBtn {
  background-position: -70px -120px;
  cursor: default;
}
.SubAuthorProfileTxt {
  line-height: 1.5;
  margin: 7px 0 -4px;
  word-wrap: break-word;
  color: #666666;
}
#LoginPanel {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #fff !important;
  color: #000 !important;
  font-family: "Hiragino Kaku Gothic Pro", "MS PGothic", sans-serif !important;
  font-size: 12px !important;
  text-align: left;
}
#LoginPanel h1,
#LoginPanel h2,
#LoginPanel h3 {
  margin: 0 !important;
  font-size: 1em !important;
}
#LoginPanel ul {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
#LoginPanel em {
  font-style: normal !important;
}
#LoginPanel a img {
  border: none !important;
  vertical-align: top !important;
}
#LoginPanel input {
  font-family: 'Hiragino Kaku Gothic Pro', 'MS PGothic', sans-serif;
  font-size: 1em !important;
  vertical-align: top !important;
}
#LoginPanel label {
  cursor: pointer !important;
}
#LoginPanel fieldset {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}
#LoginPanel button {
  border: none !important;
  cursor: pointer !important;
  vertical-align: top !important;
}
#LoginPanel button * {
  display: none !important;
}
#LoginPanel a {
  color: #093e8c !important;
  text-decoration: underline !important;
}
#LoginPanel a:hover,
#LoginPanel a:active,
#LoginPanel a:focus {
  text-decoration: underline !important;
}
#LoginPanel {
  float: left !important;
  position: absolute !important;
  width: 399px !important;
  background: url("/images/loginDialog/bg_contents.png") repeat-x 0 bottom !important;
  *background: none !important;
  font-size: 12px !important;
  line-height: 15px !important;
  padding-bottom: 2px !important;
  *padding-bottom: 0 !important;
}
#LoginPanel .LoginPanelArea {
  position: relative !important;
  width: 395px !important;
  border: 2px solid #4b4b4b !important;
  background-color: #ffffff;
}
#LoginPanel h1 {
  height: 11px !important;
  line-height: 11px !important;
  padding: 14px 25px 13px !important;
  background-color: #fcfcfc !important;
  border-bottom: 1px solid #ebebeb !important;
  text-align: left !important;
}
#LoginPanel h1 img.h1title {
  margin-top: -1px;
  margin-left: 3px;
}
#LoginPanel .info {
  position: absolute !important;
  left: 135px !important;
  top: 14px !important;
  height: 1em;
  line-height: 1em !important;
  padding-left: 7px !important;
  border-left: 1px solid #ebebeb !important;
  color: #969696 !important;
  vertical-align: bottom !important;
}
#LoginPanel .registerArea {
  margin: 20px 0 !important;
  padding: 0 0 0 15px !important;
  zoom: 1 !important;
}
#LoginPanel .registerArea:after {
  display: block;
  content: "" !important;
  clear: both !important;
}
#LoginPanel .registerArea h2 {
  width: 137px !important;
  float: left !important;
}
#LoginPanel .registerArea p {
  float: right !important;
  width: 235px !important;
  margin-top: 0 !important;
  padding-top: 21px !important;
  color: #5e5e5e !important;
}
#LoginPanel .registerArea .picktxt {
  font-size: 13px !important;
  font-family: Verdana !important;
  letter-spacing: -1px !important;
}
#LoginPanel .registerArea em {
  font-weight: bold !important;
}
#LoginPanel .loginArea {
  background: #f3f3f3 !important;
}
#LoginPanel .loginArea ul.formList {
  float: left !important;
  clear: both !important;
  width: auto !important;
  padding: 0 !important;
  margin: 0 !important;
}
#LoginPanelForm .loginArea {
  *zoom: 1;
  width: 345px !important;
  padding: 25px !important;
}
#LoginPanelForm .loginArea:after {
  content: "";
  display: block;
  clear: both;
}
#LoginPanelForm .loginArea ul.formList {
  float: left !important;
  clear: both !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
}
#LoginPanelForm .loginArea li.nvrId {
  margin: 0;
  padding: 0;
}
#LoginPanelForm .loginArea li.pass {
  margin-top: 3px !important;
  padding: 0 !important;
}
#LoginPanelForm .loginArea p.loginBtn {
  width: 77px !important;
  float: right !important;
  margin-right: -1px !important;
  vertical-align: top !important;
  height: 65px;
}
li.nvrId input.message,
li.nvrId input.message2 {
  background: transparent url("/images/loginDialog/bg_input_mail.png") no-repeat 0 0 !important;
  display: inline !important;
}
li.pass input.message {
  background: transparent url("/images/loginDialog/bg_input_pass.gif") no-repeat 0 0 !important;
  display: inline !important;
}
#LoginPanelForm .loginArea ul.formList li {
  background: url("/images/loginDialog/bg_input_top.gif") repeat-x 0 1px;
}
#LoginPanelForm .loginArea ul.formList .input {
  display: inline !important;
  width: 249px !important;
  height: 15px !important;
  padding: 6px 7px 7px !important;
  vertical-align: top !important;
  border-top: 1px solid #aaa !important;
  border-right: 1px solid #cecece !important;
  border-bottom: 1px solid #cecece !important;
  border-left: 1px solid #aaa !important;
  background: transparent url("/images/loginDialog/bg_input.gif") no-repeat 0 0;
  color: #000 !important;
  font: 12px/15px Arial, Helvetica, sans-serif !important;
}
#LoginPanelForm .loginArea ul.formList .focus {
  color: #000000;
}
#LoginPanelForm ul.supportNavi {
  clear: both !important;
  *zoom: 1;
  overflow: hidden !important;
  padding-top: 5px !important;
}
#LoginPanelForm ul.supportNavi:after {
  content: "";
  display: block;
  clear: both;
}
#LoginPanelForm ul.supportNavi li {
  display: inline !important;
  float: left !important;
  color: #5e5e5e !important;
}
#LoginPanelForm ul.supportNavi li a {
  text-decoration: none !important;
  color: #5e5e5e !important;
}
#LoginPanelForm ul.supportNavi li a:hover {
  text-decoration: underline !important;
}
#LoginPanelForm ul.supportNavi li.lost {
  margin-left: 7px !important;
  padding-left: 7px !important;
  background: url("/images/loginDialog/line_txt.gif") bottom left no-repeat !important;
}
#LoginPanelForm .supportNavi input {
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
#LoginPanelForm .supportNavi .lost {
  padding-top: 0 !important;
  line-height: 1 !important;
  padding-top: 2px !important;
}
*:first-child + html #LoginPanelForm .supportNavi input {
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  vertical-align: middle !important;
  margin-left: -3px !important;
  margin-right: -2px !important;
}
*:first-child + html #LoginPanelForm .supportNavi .lost {
  padding-top: 4px !important;
}
#LoginPanel .closeBtn {
  position: absolute !important;
  right: 16px !important;
  top: 14px !important;
  cursor: pointer !important;
}
#LoginPanel .loginArea p.attention {
  width: 313px !important;
  margin: -5px 0 14px !important;
  color: #ff2400 !important;
  font-weight: bold !important;
}
.linkedAccount {
  margin: 21px 0 -1px -1px;
  color: #969696;
  white-space: nowrap;
}
.linkedAccount .linkedAccountTxt {
  margin-bottom: 8px !important;
  padding-left: 1px;
}
.linkedAccount a {
  margin-right: 10px;
}
.linkedAccount img {
  vertical-align: top;
}
body #LoginPanel .registerArea p {
  margin-top: 0 !important;
}
body #LoginPanel h1 {
  height: 11px !important;
  line-height: 11px !important;
}
.Main {
  padding-bottom: 0;
}
.Main a[name="add"] {
  margin-bottom: 15px;
}
.Main a[name="add"] > i {
  color: #669966;
  vertical-align: middle;
  font-size: 15px;
}
.NoItem {
  position: relative;
  padding: 140px 0px 160px;
  text-align: center;
}
.NoItem > p {
  color: #666666;
  margin-bottom: 11px;
}
.TopicPagination {
  margin-bottom: 40px;
  line-height: 1.2;
  margin: 30px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}
.TPagination {
  margin-bottom: 40px;
  line-height: 1.2;
  margin: 30px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}
.TPaginationBreak {
  display: inline-block;
  margin: 0 2px;
  padding: 8px 11px;
  font-weight: bold;
  vertical-align: top;
}
.TPagination strong {
  padding: 9px 11px;
  color: #000;
  display: inline-block;
  margin: 0 2px;
  font-weight: bold;
  vertical-align: top;
}
.TPagination a {
  display: inline-block;
  margin: 0 2px;
  padding: 8px 11px;
  font-weight: bold;
  vertical-align: top;
}
.TPagination a:link,
.Pagination a:visited {
  border: 1px solid #ebebeb;
  color: #999;
  text-decoration: none;
}
.TPagination a:hover,
.TPagination a:active,
.TPagination a:focus {
  cursor: pointer;
  background-color: #f0f0f0;
  color: #000;
  text-decoration: none;
}
