@import "theme";
@import "utils";

.Shadow {
  position: absolute; bottom: 0; height: 150px; width: 100%;
  background-image: -moz-linear-gradient(top, fadeout(white, 100%), white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(fadeout(white, 100%)), to(white));
  background-image: -webkit-linear-gradient(top, fadeout(white, 100%), white);
  background-image: -o-linear-gradient(top, fadeout(white, 100%), white);
  background-image: linear-gradient(to bottom, fadeout(white, 100%), white);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffffff', GradientType=0);
}

/*条目*/
.WidgetItemList {
  list-style: none; padding: 0 0 40px; margin-bottom: 0;
  >li {
    >div {
      &:hover { background-color: #f8f8f8; }
    }
  }
  .Content { .clearfix(); }
  .Quote {
    &, * { color: #999; }
    font-size: 11px; line-height: 13px; margin-top: 3px;
  }
}

.Quote {
  .LINK & a { color: rgb(124, 148, 170); }
  .CITE & { margin-top: 5px; }
}

/*工具栏*/
.SortUtil {
  position: absolute; top: 0px; right: -21px; display: none;
  i {
    display: block; line-height: 21px; width: 21px; height: 21px; text-align: center; cursor: pointer;
    &:hover { color: #1abc9c; }
  }
}

.BottomUtil {
  display: none; line-height: 1;
  position: absolute; bottom: -18px; left: 0; right: 0; padding: 0 15px;
  z-index: 1000;
  .AddUtil {
    background-color: fade(#000, 3%); border-radius: 6px;
  }
  .EditUtil {
    background-color: #f8f8f8; border-radius: 6px;
    .btn {
      color: #999;
    }
  }
  .btn {
    vertical-align: baseline;
    padding: 0;
    font-size: 18px;
  }
}

.Content.LINK {
  .Title {
    font-size: 20px; line-height: 1.1;
    a {
      font-weight: bold;
    }
  }
  .Snippet { line-height: 17px; margin-top: 3px; }
  .Thumb {
    margin-top: 7px;
    img { max-width: 150px; max-height: 150px; }
  }
  .Description { margin-top: 10px; padding-left: 6px; border-left: 2px solid #ccc; font-size: 14px; line-height: 20px; }
}

.Item .IMAGE {
  width: 600px; max-width: 100%; margin: auto;
  .Image { text-align: center;}
  img { max-width: 100%; max-height: 600px; }
  .Title { text-align: center; line-height: 24px; font-weight: bold; font-size: 18px; }
  .Description { line-height: 20px; font-size: 14px; }
}

.VIDEO_CREATE {
  .Thumb { text-align: center; width: 300px; height: 220px; background-color: #f3f3f3;
    i { line-height: 220px; font-size: 30px; }
  }
}

.VIDEO {
  .Cover {
    text-align: center; width: 120px; height: 90px; display: block;
    background-color: #f3f3f3; background-repeat: no-repeat; background-size: cover;
    border-radius: 0; padding: 0;
    .Background { width: 120px; height: 90px; }
    i {
      line-height: 95px; font-size: 60px;
      color: rgba(255, 255, 255, 0.6);
    }
    &:hover, &:focus, &:active {
      .Background { background-color: rgba(0, 0, 0, 0.6); }
      i {
        color: #eee;
      }
    }
  }
  .Title { margin-top: 8px; line-height: 20px; font-weight: bold; font-size: 18px; }
  .Description { margin-top: 10px; padding-left: 6px; border-left: 2px solid #ddd; font-size: 14px; line-height: 20px; }
}

.CITE {
  .Cite {
    line-height: 26px; font-weight: bold; font-size: 20px;
    i { font-size: 20px; }
    q { quotes: none; }
  }
  .Description { margin-top: 5px; padding-left: 6px; border-left: 2px solid #ccc; font-size: 14px; line-height: 20px; }
}

.WEIBO, .WEIBO_CREATE {
  .Avatar {
    float: left; margin-right: 10px;
    img { width: 50px; height: 50px; background-color: #f3f3f3; }
  }
  .Author { font-weight: bold; }
  >div>.Author { font-size: 14px; }
  .Text { line-height: 23px; margin: 4px 0; color: #333; }
  >div>.Text { font-size: 14px; }
  .Verify {
    display: none;
    &.PERSONAL {
      display: inline; text-decoration: none; color: #fb0; text-shadow: 0 0 1px #f90;
    }
    &.ORG {
      display: inline; text-decoration: none; color: #07e; text-shadow: 0 0 1px #14f;
    }
  }
  >div>.Verify { font-size: 14px; }
  .Pic { width: 255px; margin-bottom: 15px; display: none;
    a { float: left; margin: 5px 5px 0 0; }
  }
  .Retweeted {
    background-color: #f2f2f2; border: solid 1px #d9d9d9; border-radius: 5px;
    padding: 10px 20px; margin: 10px 0 15px; position: relative;
    .CaretShadow { position: absolute; top: -11px; color: #d9d9d9; }
    .Caret { position: absolute; top: -10px; color: #f2f2f2; }
    .AuthorDescription { font-size: 10px; }
  }
  .Handle { float: right; visibility: hidden; }
  textarea[name="description"] { margin-top: 10px; }
  .Description { margin-top: 10px; padding-left: 6px; border-left: 2px solid #ddd; font-size: 14px; line-height: 20px; }
}

.WidgetItemList>li:hover {
  .WEIBO, .WEIBO_CREATE {
    .Handle { visibility: visible; }
  }
}

.Item .TITLE { padding-bottom: 5px; border-bottom: 2px solid #EAECEE; }

.Band {
  li {
    display: inline;
  }
}

.HeadTxt {
  overflow: hidden;
  .HeadTtlWrapper {
    .HeadTtl, .HeadTtlPlaceholder {
      display: inline; font-size: 32px; line-height: 38px; margin-right: 15px;
    }
    .HeadUtil { display: inline-block; }
  }
}

.HeadSub {
  width: 220px; text-align: right;
  .HeadCount {
    margin: 0 0 8px; *margin-bottom: 5px;
    .HeadFVCount {
      display: inline-block; *display: inline; *zoom: 1; padding-right: 13px; *padding-right: 17px; vertical-align: top; text-align: center;
      .HeadFVCountNum { display: block; line-height: 1; *line-height: 1.15; margin-top: -3px; *margin-top: 0; font-size: 22px; }
      .HeadFVIco { color: @FV-color; text-shadow: 0 0 1px @FV-shadow-color; }
      .HeadFVCountLabel { display: block; margin-top: 3px; *margin-top: 0; line-height: 1; *line-height: 1.15; font-size: 11px }
    }
    .HeadPVCount {
      display: inline-block; border-left: 1px solid rgb(238, 238, 238); padding-left: 13px; text-align: center;
      .HeadPVCountNum { display: block; line-height: 1; margin-top: -3px; font-size: 22px; }
      .HeadPVCountLabel { display: block; margin-top: 3px; line-height: 1; font-size: 11px; }
    }
  }
  .HeadFVBtnIco { margin-right: 7px; color: @FV-empty-color; text-shadow: 0 0 1px @FV-empty-shadow-color; }
  .ExSelected .HeadFVBtnIco { color: @FV-color; text-shadow: 0 0 1px @FV-shadow-color; }
  .HeadFVBtnTxt { font-weight: bold; font-size: 14px }
}

.Main a[name="add"] { margin-bottom: 15px; }

.NoItem { position: relative; padding: 140px 0px 160px; text-align: center; }

.NoItem>p { color: rgb(102, 102, 102); margin-bottom: 11px; }

@media (max-width: 1100px) {
  .bdshare-slide-button { display: none !important; }
}