@import "theme";
@import "utils";

/*条目*/
.WidgetItemList {
  list-style: none; padding: 0 0 40px; margin-bottom: 0;
  >li {
    position: relative;
    &:hover {
      button.COLLECT { display: block; }
    }
    button.COLLECT {
      position: absolute; top: 20px; right: 20px; display: none; opacity: 0.3;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.Quote {
  &, * { color: @color-muted; }
  font-size: 12px; line-height: 13px; margin-top: 3px;
}

/*工具栏*/
.SortUtil {
  position: absolute; top: 0px; right: -21px; display: none; z-index: 1000;
  i {
    display: block; line-height: 21px; width: 21px; height: 21px; text-align: center; cursor: pointer;
    &:hover { color: #1abc9c; }
  }
}
.AddUtil {
  display: none;
  position: absolute; bottom: -18px; left: 20px;
  z-index: 1000;
}
.EditUtil {
  background-color: lighten(@color-clouds, 4%); border-top-left-radius: 6px;
  .btn {
    color: @color-muted;
  }
  .EDIT:hover,.EDIT:focus {
    color: @color-primary;
  }
  .DELETE:hover,.DELETE:focus {
    color: @color-danger;
  }
  display: none; line-height: 1;
  position: absolute; bottom: 0; right: 15px;
  .btn {
    vertical-align: baseline;
    padding: 0;
    font-size: 18px;
  }
}

.WidgetItemList>li {
  &:hover { background-color: lighten(@color-clouds, 4%); }

  .LINK,
  .LINK_CREATE,
  .IMAGE,
  .IMAGE_CREATE,
  .VIDEO,
  .VIDEO_CREATE,
  .WEIBO,
  .WEIBO_CREATE {
    border-radius: 6px; background-color: @color-clouds;
    width: 500px; max-width: 100%; margin: auto;
  }

  .LINK {
    .Title {
      font-size: 20px; line-height: 1.1;font-weight: bold;
      img { width: 16px; height: 16px; }
      a { vertical-align: middle; }
    }
    .Quote { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
    .Snippet { line-height: 1.2; }
    .Thumb {
      img { max-width: 100px; max-height: 100px; }
    }
    .Description { padding-left: 6px; border-left: 2px solid @color-muted; line-height: 1.4; }
  }

  .IMAGE {
    img { max-width: 100%; max-height: 500px; }
    .Title { line-height: 1.1; font-weight: bold; }
    .Description { line-height: 1.4; }
  }

  .VIDEO {
    embed { background-color: white; }
    .Cover {
      transition: none; -webkit-transition: none;
      border-radius: 0; padding: 0;
      text-align: center; width: 120px; height: 90px; display: block;
      background: @color-concrete no-repeat center; background-size: cover;
      .Background {
        width: 120px; height: 90px;
        transition: 0.25s; -webkit-transition: 0.25s;
      }
      i {
        line-height: 90px; font-size: 60px;
        color: rgba(255, 255, 255, 0.6);
      }
      &:hover, &:focus, &:active {
        .Background { background-color: rgba(0, 0, 0, 0.6); }
        i {
          color: #eee;
        }
      }
    }
    .Title { font-weight: bold; line-height: 1.1; }
    .Description { padding-left: 6px; border-left: 2px solid @color-muted;line-height: 1.4; }
  }

  &:hover {
    .WEIBO, .WEIBO_CREATE {
      .Handle { visibility: visible; }
    }
  }

  .WEIBO,.WEIBO_CREATE {
    .Retweeted {
      background-color: darken(@color-clouds, 4%); border-radius: 6px;
      padding: 5px 10px; margin: 10px 0; font-size: 80%;
    }
    .Avatar {
      width: 50px; height: 50px; float: left; margin-right: 10px; background-color: white;
      img { width: 50px; height: 50px; }
      i { font-size: 30px; line-height: 50px; }
    }
    .Author { font-weight: bold; }
    .Text { margin-top: 5px; }
    .Verify {
      display: none;
      &.PERSONAL {
        display: inline; text-decoration: none; color: #fb0;
      }
      &.ORG {
        display: inline; text-decoration: none; color: #07e;
      }
    }
    .Pic { width: 255px; margin-bottom: 15px;
      a { float: left; margin: 5px 5px 0 0; }
    }
    .Handle { float: right; visibility: hidden; }
    .Description { padding-left: 6px; border-left: 2px solid @color-muted; line-height: 1.4; }
  }

  .CITE {
    .Cite {
      line-height: 1.4; font-weight: bold; font-size: 20px;
      q { quotes: none; }
    }
    .Description { padding-left: 6px; border-left: 2px solid @color-muted; line-height: 1.4; }
  }

  .TEXT { line-height: 1.4; }
}

.Item .TITLE { padding-bottom: 5px; border-bottom: 2px solid @color-muted; margin-bottom: 0; }

.DeleteTopic {
  padding: 0 !important; font-size: 18px; vertical-align: baseline;
  &:hover,&:focus { color: @color-danger !important; }
}

tags-input {
  .host {
    outline: none;
  }
  .tags {
    overflow: hidden;
    word-wrap: break-word;
    cursor: text;
    background-color: white;
    border: 2px solid @color-muted;
    border-radius: 6px;
    padding: 6px 1px 1px 6px;
    .tag-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    .tag-item {
      border-radius: 4px;
      background-color: @color-muted;
      color: #ffffff;
      font-size: 14px;
      cursor: pointer;
      float: left;
      margin: 0 5px 5px 0;
      overflow: hidden;
      line-height: 15px;
      padding: 5px 15px 5px 15px;
      position: relative;
      vertical-align: middle;
      -webkit-transition: 0.25s;
      transition: 0.25s;
      .remove-button {
        color: #ffffff;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        opacity: 0;
        padding: 5px 7px 5px 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        text-align: right;
        text-decoration: none;
        width: 100%;
        z-index: 2;
        display: none\9;
      }
      &:hover {
        background-color: @color-concrete;
        padding-left: 10px;
        padding-right: 20px;
        .remove-button {
          opacity: 1;
          display: block\9;
        }
      }
      &.selected {
        background: @color-danger;
        &:hover { background: #c0392b; }
      }
    }
    .input {
      min-width: 31px;
      float: left;
      height: 25px;
      font-size: 14px;
      border: none;
      color: @color-default;
      margin: 0 5px 5px 0;
      outline: none !important;
      vertical-align: baseline;
      &.invalid-tag {
        color: @color-danger;
      }
    }
  }
  &.ng-invalid .tags {
    border: 2px solid @color-danger;
  }
}