.StarIcon {
  color: white;
}
.ExSelected .StarIcon,
.StarIconFull {
  color: #f1f742;
}
.background-white {
  background-color: white;
}
.background-clouds {
  background-color: #ecf0f1;
}
.background-muted {
  background-color: #bdc3c7;
}
.background-concrete {
  background-color: #95a5a6;
}
.background-primary {
  background-color: #1abc9c;
}
.background-warning {
  background-color: #f1c40f;
}
.background-danger {
  background-color: #e74c3c;
}
.background-success {
  background-color: #2ecc71;
}
.background-info {
  background-color: #3498db;
}
.background-default {
  background-color: #34495e;
}
.text-theme {
  color: #669966;
}
.text-default,
.text-default-a {
  color: #34495e;
}
.text-default:hover {
  color: #2c3e50;
}
.text-asbestos {
  color: #7f8c8d;
}
.text-muted {
  color: #bdc3c7;
}
.text-inverse {
  color: #ffffff;
}
.text-primary {
  color: #1abc9c;
}
.text-primary:hover {
  color: #15967d;
}
.text-warning {
  color: #f1c40f;
}
.text-warning:hover {
  color: #c19d0c;
}
.text-danger {
  color: #e74c3c;
}
.text-danger:hover {
  color: #b93d30;
}
.text-success {
  color: #2ecc71;
}
.text-success:hover {
  color: #25a35a;
}
.text-info {
  color: #3498db;
}
.text-info:hover {
  color: #2a7aaf;
}
.noTransition * {
  -webkit-transition: none !important;
  transition: none !important;
}
/*条目*/
.WidgetItemList {
  list-style: none;
  padding: 0 0 40px;
  margin-bottom: 0;
}
.Quote {
  font-size: 12px;
  line-height: 13px;
  margin-top: 3px;
}
.Quote,
.Quote * {
  color: #bdc3c7;
}
/*工具栏*/
.SortUtil {
  position: absolute;
  top: 0px;
  right: -21px;
  display: none;
}
.SortUtil i {
  display: block;
  line-height: 21px;
  width: 21px;
  height: 21px;
  text-align: center;
  cursor: pointer;
}
.SortUtil i:hover {
  color: #1abc9c;
}
.AddUtil {
  display: none;
  position: absolute;
  bottom: -18px;
  left: 20px;
  z-index: 1000;
}
.EditUtil {
  background-color: #f8f9fa;
  border-radius: 6px;
  display: none;
  line-height: 1;
  position: absolute;
  bottom: 0;
  right: 15px;
}
.EditUtil .btn {
  color: #bdc3c7;
}
.EditUtil .EDIT:hover,
.EditUtil .EDIT:focus {
  color: #1abc9c;
}
.EditUtil .DELETE:hover,
.EditUtil .DELETE:focus {
  color: #e74c3c;
}
.EditUtil .btn {
  vertical-align: baseline;
  padding: 0;
  font-size: 18px;
}
.WidgetItemList > li:hover {
  background-color: #f8f9fa;
}
.WidgetItemList > li .LINK,
.WidgetItemList > li .LINK_CREATE,
.WidgetItemList > li .IMAGE,
.WidgetItemList > li .IMAGE_CREATE,
.WidgetItemList > li .VIDEO,
.WidgetItemList > li .VIDEO_CREATE,
.WidgetItemList > li .WEIBO,
.WidgetItemList > li .WEIBO_CREATE {
  border-radius: 6px;
  background-color: #ecf0f1;
  width: 500px;
  max-width: 100%;
  margin: auto;
}
.WidgetItemList > li .LINK .Title {
  font-size: 20px;
  line-height: 1.1;
  font-weight: bold;
}
.WidgetItemList > li .LINK .Title img {
  width: 16px;
  height: 16px;
}
.WidgetItemList > li .LINK .Title a {
  vertical-align: middle;
}
.WidgetItemList > li .LINK .Quote {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.WidgetItemList > li .LINK .Snippet {
  line-height: 1.2;
}
.WidgetItemList > li .LINK .Thumb img {
  max-width: 100px;
  max-height: 100px;
}
.WidgetItemList > li .LINK .Description {
  padding-left: 6px;
  border-left: 2px solid #bdc3c7;
  line-height: 1.4;
}
.WidgetItemList > li .IMAGE img {
  max-width: 100%;
  max-height: 500px;
}
.WidgetItemList > li .IMAGE .Title {
  line-height: 1.1;
  font-weight: bold;
}
.WidgetItemList > li .IMAGE .Description {
  line-height: 1.4;
}
.WidgetItemList > li .VIDEO embed {
  background-color: white;
}
.WidgetItemList > li .VIDEO .Cover {
  transition: none;
  -webkit-transition: none;
  border-radius: 0;
  padding: 0;
  text-align: center;
  width: 120px;
  height: 90px;
  display: block;
  background: #95a5a6 no-repeat center;
  background-size: cover;
}
.WidgetItemList > li .VIDEO .Cover .Background {
  width: 120px;
  height: 90px;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}
.WidgetItemList > li .VIDEO .Cover i {
  line-height: 90px;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.6);
}
.WidgetItemList > li .VIDEO .Cover:hover .Background,
.WidgetItemList > li .VIDEO .Cover:focus .Background,
.WidgetItemList > li .VIDEO .Cover:active .Background {
  background-color: rgba(0, 0, 0, 0.6);
}
.WidgetItemList > li .VIDEO .Cover:hover i,
.WidgetItemList > li .VIDEO .Cover:focus i,
.WidgetItemList > li .VIDEO .Cover:active i {
  color: #eee;
}
.WidgetItemList > li .VIDEO .Title {
  font-weight: bold;
  line-height: 1.1;
}
.WidgetItemList > li .VIDEO .Description {
  padding-left: 6px;
  border-left: 2px solid #bdc3c7;
  line-height: 1.4;
}
.WidgetItemList > li:hover .WEIBO .Handle,
.WidgetItemList > li:hover .WEIBO_CREATE .Handle {
  visibility: visible;
}
.WidgetItemList > li .WEIBO .Retweeted,
.WidgetItemList > li .WEIBO_CREATE .Retweeted {
  background-color: #e0e7e8;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 10px 0;
  font-size: 80%;
}
.WidgetItemList > li .WEIBO .Avatar,
.WidgetItemList > li .WEIBO_CREATE .Avatar {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
  background-color: white;
}
.WidgetItemList > li .WEIBO .Avatar img,
.WidgetItemList > li .WEIBO_CREATE .Avatar img {
  width: 50px;
  height: 50px;
}
.WidgetItemList > li .WEIBO .Avatar i,
.WidgetItemList > li .WEIBO_CREATE .Avatar i {
  font-size: 30px;
  line-height: 50px;
}
.WidgetItemList > li .WEIBO .Author,
.WidgetItemList > li .WEIBO_CREATE .Author {
  font-weight: bold;
}
.WidgetItemList > li .WEIBO .Text,
.WidgetItemList > li .WEIBO_CREATE .Text {
  margin-top: 5px;
}
.WidgetItemList > li .WEIBO .Verify,
.WidgetItemList > li .WEIBO_CREATE .Verify {
  display: none;
}
.WidgetItemList > li .WEIBO .Verify.PERSONAL,
.WidgetItemList > li .WEIBO_CREATE .Verify.PERSONAL {
  display: inline;
  text-decoration: none;
  color: #fb0;
}
.WidgetItemList > li .WEIBO .Verify.ORG,
.WidgetItemList > li .WEIBO_CREATE .Verify.ORG {
  display: inline;
  text-decoration: none;
  color: #07e;
}
.WidgetItemList > li .WEIBO .Pic,
.WidgetItemList > li .WEIBO_CREATE .Pic {
  width: 255px;
  margin-bottom: 15px;
  display: none;
}
.WidgetItemList > li .WEIBO .Pic a,
.WidgetItemList > li .WEIBO_CREATE .Pic a {
  float: left;
  margin: 5px 5px 0 0;
}
.WidgetItemList > li .WEIBO .Handle,
.WidgetItemList > li .WEIBO_CREATE .Handle {
  float: right;
  visibility: hidden;
}
.WidgetItemList > li .WEIBO .Description,
.WidgetItemList > li .WEIBO_CREATE .Description {
  padding-left: 6px;
  border-left: 2px solid #bdc3c7;
  line-height: 1.4;
}
.WidgetItemList > li .CITE .Cite {
  line-height: 1.4;
  font-weight: bold;
  font-size: 20px;
}
.WidgetItemList > li .CITE .Cite q {
  quotes: none;
}
.WidgetItemList > li .CITE .Description {
  padding-left: 6px;
  border-left: 2px solid #bdc3c7;
  line-height: 1.4;
}
.Item .TITLE {
  padding-bottom: 5px;
  border-bottom: 2px solid #bdc3c7;
  margin-bottom: 0;
}
.DeleteTopic {
  padding: 0 !important;
  font-size: 18px;
  vertical-align: baseline;
}
.DeleteTopic:hover,
.DeleteTopic:focus {
  color: #e74c3c !important;
}
