@import "theme";
@import "utils";

/*内容*/
.TopicWrapper {
  width: 960px; min-height: 81px; margin: 0 auto; background: url("/images/bg_ContentsWrapper.png") repeat-y scroll 660px 0px transparent;
  .Main { float: left; width: 635px; min-height: 41px; padding-bottom: 40px; }
  .Pagination { line-height: 19px; margin: 30px 0 40px 0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; text-align: center; }
  .Sub { position: relative; float: right; width: 300px; padding-bottom: 40px; }
}

/*条目*/
.WidgetItemList {
  >li {
    >div {
      background-color: rgb(255, 255, 255); margin-bottom: 35px;
      &:hover { background-color: #f8f8f8; box-shadow: 0 0 0 3px #f8f8f8; }
      >:first-child { overflow: hidden; }
    }
    &.TITLE>div { margin-bottom: 25px; }
  }
  .Content { .clearfix(); }
  .Quote {
    .clearfix(); font-size: 11px; line-height: 13px; margin-top: 3px; min-width: 100px;
    * { color: rgb(170, 170, 170); }
    span { float: left; margin-right: 5px; }
    div { overflow: hidden; }
  }
}

.Quote {
  .LINK & a { color: rgb(124, 148, 170); }
  .IMAGE & { max-width: 300px; }
  .CITE & { margin-top: 7px; }
}

/*工具栏*/
.SortUtil {
  position: absolute; top: 0px; right: -24px; padding-left: 3px; visibility: hidden;
  i {
    display: block; line-height: 21px; width: 21px; height: 21px; text-align: center; cursor: pointer;
    &:hover { outline: dotted 1px; }
  }
}

.BottomUtil { display: none; visibility: hidden; line-height: 1; }

.BottomUtil button, .HeadUtil a { color: rgb(124, 148, 170) !important; display: inline-block; }

.LINK {
  .Title a {
    font-size: 20px; line-height: 26px; text-decoration: underline;
    &:hover, &:active, &:focus { text-decoration: none; }
  }
  .Snippet { line-height: 17px; margin-top: 3px; color: rgb(170, 170, 170); }
  .Thumb {
    margin-top: 7px;
    img { max-width: 150px; max-height: 150px; }
  }
  .Description { margin-top: 10px; padding-left: 6px; border-left: 2px solid #ccc; color: #666; font-size: 14px; line-height: 20px; }
}

.Image {
  .IMAGE_CREATE &, .IMAGE & { float: left; margin-right: 10px; }
}

.IMAGE {
  .Image img { max-width: 300px; max-height: 600px; }
  .Title { margin-bottom: 4px; line-height: 24px; font-weight: bold; font-size: 18px; }
  .Description { line-height: 20px; color: #666; font-size: 14px; }
}

.VIDEO_CREATE, .VIDEO {
  .Thumb { text-align: center; width: 300px; height: 220px; background-color: #f3f3f3;
    i { line-height: 220px; color: #ccd; font-size: 30px; }
  }
}

.VIDEO {
  .Title { margin-top: 8px; line-height: 24px; font-weight: bold; font-size: 18px; }
  .Description { margin-top: 10px; padding-left: 6px; border-left: 2px solid #ddd; color: #666; font-size: 14px; line-height: 20px; }
}

.CITE {
  .Cite {
    line-height: 26px; color: #666; font-weight: bold; font-size: 20px;
    i { font-size: 20px; color: #ccc; }
    q { quotes: none; }
  }
  .Description { margin-top: 10px; padding-left: 6px; border-left: 2px solid #ccc; color: #666; font-size: 14px; line-height: 20px; }
}

.TEXT p { line-height: 20px; color: #666; font-size: 14px; }

.TITLE p { line-height: 26px; font-size: 20px; font-weight: bold; color: black; padding-bottom: 5px; border-bottom: 2px solid #EAECEE; }

//框架
.Contents { padding-bottom: 25px; }

.Top {
  height: 37px; background-color: rgb(245, 245, 245); border-bottom: 1px solid rgb(231, 231, 231);
  li {
    display: inline;
    a { color: rgb(76, 76, 76); }
    i { vertical-align: middle; padding: 0 4px; }
  }
}

.Head {
  margin-bottom: 20px; border-bottom: 1px solid rgb(242, 242, 242); background-color: rgb(249, 249, 249);
  .Inner {
    overflow: hidden; padding: 15px 0; position: relative;
    .HeadMain {
      margin-top: -3px; width: 725px;
      .HeadThumb { float: left; margin: 3px 15px 0 0; width: 95px; height: 95px; }
      .HeadTxt {
        overflow: hidden;
        .HeadTtlWrapper {
          margin-bottom: 7px;
          .HeadTtl {
            display: inline; font-size: 32px; line-height: 38px; margin-right: 15px;
            a { color: rgb(0, 0, 0); }
          }
          .HeadUtil { display: inline-block; }
        }
        .HeadDesc { margin-right: 8px; color: rgb(102, 102, 102); }
        .HeadDate { display: inline-block; color: rgb(170, 170, 170); font-family: Tahoma, Arial, Helvetica, sans-serif; }
        .HeadOption {
          margin-top: 13px;
          .HeadUser {
            margin-right: 6px;
            .HeadUserThumb {
              display: block; width: 30px; height: 30px; margin-right: 10px;
            }
            .HeadUserName { color: rgb(0, 0, 0) !important; font-weight: bold; }
          }
        }
      }
    }
    .HeadSub {
      width: 220px; text-align: right; position: absolute; top: 15px; right: 0;
      .HeadCount {
        margin: 0 0 8px; *margin-bottom: 5px;
        .HeadFVCount {
          display: inline-block; *display: inline; *zoom: 1; padding-right: 13px; *padding-right: 17px; vertical-align: top; text-align: center;
          .HeadFVCountNum { display: block; line-height: 1; *line-height: 1.15; margin-top: -3px; *margin-top: 0; color: #000; font-size: 22px; }
          .HeadFVIco { color: @FV-color; text-shadow: 0 0 1px @FV-shadow-color; }
          .HeadFVCountLabel { display: block; margin-top: 3px; *margin-top: 0; line-height: 1; *line-height: 1.15; color: #666; font-size: 11px }
        }
        .HeadPVCount {
          display: inline-block; border-left: 1px solid rgb(238, 238, 238); padding-left: 13px; text-align: center;
          .HeadPVCountNum { display: block; line-height: 1; margin-top: -3px; color: black; font-size: 22px; }
          .HeadPVCountLabel { display: block; margin-top: 3px; line-height: 1; color: #666; font-size: 11px; }
        }
      }
      .HeadFVBtnIco { margin-right: 7px; color: @FV-empty-color; text-shadow: 0 0 1px @FV-empty-shadow-color; }
      .ExSelected .HeadFVBtnIco { color: @FV-color; text-shadow: 0 0 1px @FV-shadow-color; }
      .HeadFVBtnTxt { color: black; font-weight: bold; font-size: 14px }
    }
  }
}

.Main { padding-bottom: 0; }

.Main a[name="add"] { margin-bottom: 15px; }

.Main a[name="add"]>i { color: #669966; vertical-align: middle; font-size: 15px; }

.NoItem { position: relative; padding: 140px 0px 160px; text-align: center; }

.NoItem>p { color: rgb(102, 102, 102); margin-bottom: 11px; }

.SubInner { }

.SubSeparator { height: 15px; background: #fff }

.SubAuthor { border: 5px solid #e2e5e8 }

.SubAuthorProfile { padding: 15px 15px 15px }

.SubAuthorProfileUnit { position: relative; min-height: 80px; padding: 0 0 0 90px }

.SubAuthorProfileUnitTitle { line-height: 1.2; padding: 0 0 7px; color: #666; margin: 0; }

.SubAuthorProfileUnitTitleUserName { }

.SubAuthorProfileUnit .SubAuthorProfileUnitTitle a { color: #000; font-weight: bold; }

.SubAuthorProfileUnitTitleUserNameThumb { display: block; position: absolute; top: 0; left: 0; width: 80px; height: 80px }

.SubAuthorProfileUnitLink { }

.SubAuthorProfileUnitLinkSite { }

.SubAuthorProfileUnitLinkSiteBtn { width: 86px; height: 23px; background-position: -70px -90px; vertical-align: middle; background-image: url("/images/personal/sprite_MdBtn_130918.png"); display: inline-block; *display: inline; *zoom: 1; overflow: hidden; padding: 0; border: 0; background-color: transparent; background-repeat: no-repeat; text-align: left; text-indent: -9999px; *text-indent: 0; *line-height: 9999px; *word-wrap: normal }

.SubAuthorProfileUnitLinkSite.ExDisabled .SubAuthorProfileUnitLinkSiteBtn { background-position: -70px -120px; cursor: default; }

.SubAuthorProfileTxt { line-height: 1.5; margin: 7px 0 -4px; word-wrap: break-word; color: #666 }