.StarIcon {
  color: white;
}
.ExSelected .StarIcon,
.StarIconFull {
  color: #f1f742;
}
.background-white {
  background-color: white;
}
.background-clouds {
  background-color: #ecf0f1;
}
.background-clouds-darken {
  background-color: #e0e7e8;
}
.background-clouds-lighten {
  background-color: #f8f9fa;
}
.background-muted {
  background-color: #bdc3c7;
}
.background-concrete {
  background-color: #95a5a6;
}
.background-primary {
  background-color: #1abc9c;
}
.background-warning {
  background-color: #f1c40f;
}
.background-danger {
  background-color: #e74c3c;
}
.background-success {
  background-color: #2ecc71;
}
.background-info {
  background-color: #3498db;
}
.background-default {
  background-color: #34495e;
}
.text-theme {
  color: #669966;
}
.text-default,
.text-default-a {
  color: #34495e;
}
.text-default:hover {
  color: #2c3e50;
}
.text-asbestos {
  color: #7f8c8d;
}
.text-black {
  color: black;
}
.text-muted {
  color: #bdc3c7;
}
.text-inverse {
  color: #ffffff;
}
.text-primary {
  color: #1abc9c;
}
.text-primary:hover {
  color: #15967d;
}
.text-warning {
  color: #f1c40f;
}
.text-warning:hover {
  color: #c19d0c;
}
.text-danger {
  color: #e74c3c;
}
.text-danger:hover {
  color: #b93d30;
}
.text-success {
  color: #2ecc71;
}
.text-success:hover {
  color: #25a35a;
}
.text-info {
  color: #3498db;
}
.text-info:hover {
  color: #2a7aaf;
}
.noTransition * {
  -webkit-transition: none !important;
  transition: none !important;
}
.WidgetItemList .Description {
  padding-left: 6px;
  border-left: 2px solid #bdc3c7;
  line-height: 1.4;
}
.WidgetItemList .Content {
  border-radius: 6px;
  background-color: #ecf0f1;
  width: 500px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.WidgetItemList .LINK .Title {
  font-size: 20px;
  line-height: 1.1;
  font-weight: bold;
}
.WidgetItemList .LINK .Title img {
  width: 16px;
  height: 16px;
}
.WidgetItemList .LINK .Title a {
  vertical-align: middle;
}
.WidgetItemList .LINK .Snippet {
  line-height: 1.2;
}
.WidgetItemList .IMAGE .Image img,
.WidgetItemList .IMAGE_CREATE .Image img {
  max-width: 100%;
  max-height: 500px;
}
.WidgetItemList .IMAGE .Title,
.WidgetItemList .IMAGE_CREATE .Title {
  line-height: 1.1;
  font-weight: bold;
}
.WidgetItemList .VIDEO embed {
  background-color: white;
}
.WidgetItemList .VIDEO .Cover {
  transition: none;
  -webkit-transition: none;
  border-radius: 0;
  padding: 0;
  text-align: center;
  width: 120px;
  height: 90px;
  display: block;
  background: #95a5a6 no-repeat center;
  background-size: cover;
}
.WidgetItemList .VIDEO .Cover .Background {
  width: 120px;
  height: 90px;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}
.WidgetItemList .VIDEO .Cover i {
  line-height: 90px;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.6);
}
.WidgetItemList .VIDEO .Cover:hover .Background,
.WidgetItemList .VIDEO .Cover:focus .Background,
.WidgetItemList .VIDEO .Cover:active .Background {
  background-color: rgba(0, 0, 0, 0.6);
}
.WidgetItemList .VIDEO .Cover:hover i,
.WidgetItemList .VIDEO .Cover:focus i,
.WidgetItemList .VIDEO .Cover:active i {
  color: #eee;
}
.WidgetItemList .VIDEO .Title {
  font-weight: bold;
  line-height: 1.1;
}
.WidgetItemList:hover .WEIBO .Handle,
.WidgetItemList.Hover .WEIBO .Handle {
  visibility: visible;
}
.WidgetItemList .WEIBO .Retweeted {
  background-color: #e0e7e8;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 10px 0;
  font-size: 80%;
}
.WidgetItemList .WEIBO .Avatar {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
  background-color: white;
}
.WidgetItemList .WEIBO .Avatar img {
  width: 50px;
  height: 50px;
}
.WidgetItemList .WEIBO .Avatar i {
  font-size: 30px;
  line-height: 50px;
}
.WidgetItemList .WEIBO .Author {
  font-weight: bold;
}
.WidgetItemList .WEIBO .Text {
  margin-top: 5px;
}
.WidgetItemList .WEIBO .Verify {
  display: none;
}
.WidgetItemList .WEIBO .Verify.PERSONAL {
  display: inline;
  text-decoration: none;
  color: #fb0;
}
.WidgetItemList .WEIBO .Verify.ORG {
  display: inline;
  text-decoration: none;
  color: #07e;
}
.WidgetItemList .WEIBO .Pic {
  width: 255px;
  margin-bottom: 15px;
}
.WidgetItemList .WEIBO .Pic a {
  float: left;
  margin: 5px 5px 0 0;
}
.WidgetItemList .WEIBO .Handle {
  float: right;
  visibility: hidden;
}
.WidgetItemList .CITE .Cite {
  line-height: 1.4;
  font-weight: bold;
  font-size: 20px;
}
.WidgetItemList .CITE .Cite q {
  quotes: none;
}
.DeleteTopic {
  padding: 0 !important;
  font-size: 18px;
  vertical-align: baseline;
}
.DeleteTopic:hover,
.DeleteTopic:focus {
  color: #e74c3c !important;
}
.SpitCount,
.CommentCount {
  color: #bdc3c7;
  white-space: nowrap;
}
.SpitBubble {
  box-shadow: 0 0 15px #95a5a6;
  position: fixed;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 1;
}
@media (min-width: 992px) {
  .SpitBubble {
    width: 293px;
  }
}
@media (min-width: 1200px) {
  .SpitBubble {
    width: 458px;
  }
}
.SpitBubble {
  z-index: 11;
}
.SpitBubble .Spits {
  overflow: hidden;
  position: absolute;
  top: 150px;
  right: 0;
  bottom: 20px;
  left: 20px;
  padding-right: 20px;
}
.SpitBubble .Spits .Spit {
  line-height: 1.4;
}
.SpitBubble .Spits .Spit button {
  vertical-align: baseline;
}
.Comments .Comment {
  line-height: 1.4;
}
.Comments .Comment button {
  vertical-align: baseline;
}
.HoverHelper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -30px;
  width: 30px;
  display: none;
  z-index: 2;
}
.Arrow {
  position: absolute;
  top: 25px;
  left: -30px;
  border-right-color: #f8f9fa !important;
  border: 15px solid transparent;
}
.ps-container .ps-scrollbar-y-rail {
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.bdshare-button-style1-32 {
  text-align: center;
}
.bdshare-button-style1-32 a {
  float: none !important;
  display: inline-block !important;
}
.WB_praise .praise_btn_line {
  text-align: center;
}
.WB_praise .praise_btn_line .praise_btn {
  float: none;
  display: inline-block;
}
.WB_praise .praise_btn_line .praise_data {
  float: none;
  display: inline-block;
  vertical-align: top;
  height: 22px;
}
