<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="content-style-type" content="text/css">
  <meta http-equiv="content-script-type" content="text/javascript">
  <title>关于石子儿</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/service.css">
</head>
<body>
<div class="MainBody">

  <div class="Header">
    <h1>
      <a href="/"><img src="images/logo_full_invert_50x20.png" alt="shiier" width="50" height="20"></a><span></span>
    </h1>
  </div>
  <hr class="HrSeparate">

  <div class="TermContainer">

    <div class="Contents">

      <div class="Agreement">

        <h2>关于石子儿</h2>
        <h3>石子儿的来源</h3>
        <p class="FirstPart">
          石子儿它其实不是石子儿，或则说虽然是小小的石子儿，却发挥这不可无法替代的作用。</p>

        <p>
          石子儿的来源则是这样的意味。想象你要穿过一片森林，到达胜利的彼岸。但是这片森林丛林密布，根本就没有通往彼岸的道路。你需要去探索。在探索的过程中，为了记录自己走过的历程，不让自己迷路，防止这条路被杂草覆盖，一路上铺满小石子儿。这条石子儿路带着你通向远方，通向胜利的彼案。</p>

         <p>
          每一篇“总结”就是一条通往胜利彼岸的道路，“总结”中的每一个条目就是那一个个小石子儿，是它们造就了这条胜利之路。

          “总结”是自身经验和他人经验的融合的一个集合。利用自身经验把他人的知识转化为自己的知识的同时留下这条“路”。

        </p>

        <h3>来铺路吧</h3>
        <p>
          当你铺好这条路，自己获得知识，同时把知识也分享给了他人。
        </p>
      </div>

    </div>

  </div>

  <hr class="HrSeparate">

  <hr class="HrSeparate">

  <div class="Footer">
    <h2>Shizier Link</h2>
    <ul class="Links">
      <li class="FirstChild"><a href="/about">关于我们</a></li>
      <li><a href="/rules"> 使用条规</a></li>
      <li><a href="/privacy/">隐私条款</a></li>
      <li><a href="/help">帮助</a></li>
    </ul>

    <p>© <b>Shizier Corporation</b></p>
  </div>
</div>

</body>
</html>
