<div class="container">
  <div class="center-block pal"
       style="background-color: #ecf0f1;border-radius: 6px;max-width: 600px;">
    <div class="text-center"><h1 class="h4">关于石子儿</h1></div>
    <p>
      你是否也对“搜索引擎”杂乱的结果感到无奈？<br>
      日益庞大的互联网使搜索引擎力不从心
    </p>
    <p>
      你是否也对越刷越多的“微博”感到困扰？<br>
      社交网络资讯的井喷向人们的阅读能力发出了新的挑战
    </p>
    <p>
      你是否也热衷于在各“小众网站”关注各种奇葩话题？<br>
      累觉不爱后只想找个一网打尽的好网站嫁了
    </p>
    <p>
      让互联网更简洁、有序势在必行<br>
      时下火热的“聚类”为互联网做好了目录
    </p>
    <p>
      但如果你也已经察觉到“聚类”的捉襟见肘<br>
      欢迎加入石子儿的互联网“策展”大潮
    </p>
    <h2 class="h5"><a class="text-inverse btn btn-hg btn-primary"
           href="/topic/5337986887a4d07730f2c4c9">
      “策展”是什么？<i class="fa fa-chevron-circle-right"></i></a></h2>
    <h2 class="h5">石子儿的来源</h2>
    <p>
      石子儿它其实不是石子儿，或则说虽然是小小的石子儿，却发挥着无法替代的作用。
    </p>
    <p>
      石子儿的来源则是这样的意味。想象你要穿过一片森林，到达胜利的彼岸。
      但是这片森林丛林密布，根本就没有通往彼岸的道路。你需要去探索。
      在探索的过程中，为了记录自己走过的历程，不让自己迷路，防止这条路被杂草覆盖，一路上铺满小石子儿。
      这条石子儿路带着你通向远方，通向胜利的彼岸。
    </p>
    <p>
      每一篇“策展”就是一条通往胜利彼岸的道路，“策展”中的每一个条目就是那一个个小石子儿，是它们造就了这条胜利之路。
      “策展”是自身经验和他人经验的融合的一个集合。利用自身经验把他人的知识转化为自己的知识的同时留下这条“路”。
    </p>
    <h2 class="h5">来铺路吧</h2>
    <p>
      当你铺好这条路，自己获得知识，同时把知识也分享给了他人。
    </p>
  </div>
</div>