<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="content-style-type" content="text/css">
  <meta http-equiv="content-script-type" content="text/javascript">
  <meta name="keywords" content="shiziweiji">
  <meta name="description" content="NAVERサービスの利用方法や困った場合の対処方法についてご説明しています。">
  <link rel="stylesheet" type="text/css" href="stylesheets/helpCenter.css">
  <title>shizier - help center</title>
</head>
<body>

<div class="MainBody">


<div class="Header">
  <h1><a href="/"><img src="images/logo_full_invert_50x20.png" width="50" height="20" alt="shizier"></a>
  <span>帮助中心</span>
</h1>
<!--
<h2><a href="/">
  <img src="" width="957" height="121" alt="帮助中心"></a></h2>
  -->
</div>
<hr>
<div class="MainContent">
  <div class="ContentArea">
    <!--
    <ul class="SubNav">
      <li class="Root">
        帮助中心</li>
    </ul>
        -->
    <div class="Content">
      <h3>常见帮助问题</h3>

      <div class="Section">
        <h4>石子儿相关</h4>
        <ul>
          <li><a href="/faq/1">石子儿提供了什么样的服务</a>
          </li>
          <li><a href="/faq/2">石子儿所指总结是什么概念</a></li>
          <li><a href="/faq/3">总结标题是什么</a></li>
          <li><a href="/faq/4">如何利用石子儿的服务</a></li>
        </ul>
        <div>&nbsp;</div>
      </div>

      <div class="Section">
        <h4>标题相关</h4>
        <ul>
          <li><a href="/faq/21">如何创建“总结”</a></li>
          <li><a href="/faq/22">如何制作“总结” </a></li>
          <li><a href="/faq/23">条目有哪些类型</a></li>
        </ul>
        <div>&nbsp;</div>
      </div>
      <div class="Section">
        <h4>“总结”的修改和删除</h4>
        <ul>
          <li><a href="/faq/31">制作好，已经发布的“总结”可以修改么</a></li>
          <li><a href="/faq/32">制作好，已经发布的“总结”怎么删除</a></li>
        </ul>
        <div>&nbsp;</div>
      </div>
      <div class="Section">
        <h4>“总结”条目添加（“总结”页面上添加）</h4>
        <ul>
          <li><a href="/faq/41">添加的图片有没有格式限制</a></li>
          <li><a href="/faq/42">“总结”页面如何添加引用</a></li>
          <li><a href="/faq/43">“总结”页面如何添加文本</a></li>
          <li><a href="/faq/44">“总结”页面如何添加标题 </a></li>
        </ul>
      </div>
      <div class="Section">
        <h4>“总结”的条目修改和删除</h4>
        <ul>
          <li><a href="/faq/51">“总结“页面哪些条目可以修改 </a></li>
          <li><a href="/faq/52">“总结”页面的条目如何删除？ </a></li>
        </ul>
        <div>&nbsp;</div>
      </div>


      <div class="AskHelp">
        <p>直接向我们咨询解答疑问<a href="/faqToHelp">这里</a></p>
      </div>

    </div>
    <!-- end ContentArea --></div>
  <div class="Paging">
    <p class="Prev"><a href="javascript:window.history.back();">返回前一页面</a></p>
    <p class="Top"><a href="javascript:window.scrollTo(0,0);">回到顶部</a></p>
  </div>


  <!-- end contents --></div>

<hr>

<div class="Footer">
  <h2>Shizier Link</h2>
  <ul class="Links">
    <li class="FirstChild"><a href="/about">关于我们</a></li>
    <li><a href="/rules"> 使用条规</a></li>
    <li><a href="/privacy/">隐私条款</a></li>
    <li><a href="/help">帮助</a></li>
  </ul>

  <p>© <b>Shizier Corporation</b></p>
</div>
</div>

</body>
</html>
