<div class="container">
  <div class="center-block pal"
       style="background-color: #ecf0f1;border-radius: 6px;max-width: 600px;">
    <div class="text-center"><h1 class="h4">常见帮助问题</h1></div>

      <h2 class="h5">石子儿相关</h2>
      <ul>
        <li><a href="/faq/1">石子儿提供了什么样的服务</a>
        </li>
        <li><a href="/faq/2">石子儿所指策展是什么概念</a></li>
        <li><a href="/faq/3">策展标题是什么</a></li>
        <li><a href="/faq/4">如何利用石子儿的服务</a></li>
      </ul>

      <h2 class="h5">标题相关</h2>
      <ul>
        <li><a href="/faq/21">如何创建“策展”</a></li>
        <li><a href="/faq/22">如何制作“策展” </a></li>
        <li><a href="/faq/23">条目有哪些类型</a></li>
      </ul>
      <h2 class="h5">“策展”的修改和删除</h2>
      <ul>
        <li><a href="/faq/31">制作好，已经发布的“策展”可以修改么</a></li>
        <li><a href="/faq/32">制作好，已经发布的“策展”怎么删除</a></li>
      </ul>
      <h2 class="h5">“策展”条目添加（“策展”页面上添加）</h2>
      <ul>
        <li><a href="/faq/41">添加的图片有没有格式限制</a></li>
        <li><a href="/faq/42">“策展”页面如何添加引用</a></li>
        <li><a href="/faq/43">“策展”页面如何添加文本</a></li>
        <li><a href="/faq/44">“策展”页面如何添加标题 </a></li>
      </ul>
      <h2 class="h5">“策展”的条目修改和删除</h2>
      <ul>
        <li><a href="/faq/51">“策展“页面哪些条目可以修改 </a></li>
        <li><a href="/faq/52">“策展”页面的条目如何删除？ </a></li>
      </ul>
  </div>
</div>