<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="content-style-type" content="text/css">
  <meta http-equiv="content-script-type" content="text/javascript">
  <meta name="keywords" content="shiziweiji">
  <meta name="description" content="NAVERサービスの利用方法や困った場合の対処方法についてご説明しています。">
  <link rel="stylesheet" type="text/css" href="stylesheets/helpCenter.css">
  <title>shizier - help center</title>
</head>
<body>

<div class="MainBody">

<div class="Header">
<h1><a href="/"><img src="/shizier_logo.gif" width="105" height="20" alt="shizier"></a>
  <span>Help</span>
</h1>

<h2><a href="http://help.naver.jp/">
  <img src="./helpCenter_files/tit_helpcenter2.gif" width="957" height="121" alt="ヘルプセンター　NAVERサービスの利用方法や困った場合の対処方法などをご紹介いたします。お問い合わせをする前に該当ヘルプページをご確認ください。"></a></h2>
</div>
<hr>
<div class="MainContent">
  <div class="ContentArea">
    <ul class="SubNav">
      <li class="Root">
        <a href="/help">shizier - help center</a></li>
      <li>shizier</li>
    </ul>

    <div class="Content">
      <h3>まとめについてのヘルプ</h3>
      <div class="Section Faq">
        <h4><img src="./helpCenter_files/tit_faq.gif" width="84" height="15" alt="よくある質問"></h4>
        <ul>
          <li><a href="http://help.naver.jp/faq?itemNo=1016">トピックとはなんですか？ </a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1102">複数のユーザーでまとめを編集することはできますか？ </a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1155">インセンティブ制度の詳細 </a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=411">まとめの閲覧制限基準について教えてください</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=934">広告表示制限まとめとは何ですか？</a></li>
        </ul>
      </div>

      <div class="Section">
        <h4>NAVERまとめについて</h4>
        <ul>
          <li><a href="http://help.naver.jp/faq?itemNo=100">NAVERまとめとはどのようなサービスですか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=101">『まとめ』とはなんですか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=102">まとめタイトルとはなんですか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=103">NAVERまとめを利用するには？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=104">まとめを探すにはどうすればいいですか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=411">まとめの閲覧制限基準について教えてください</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=934">広告表示制限まとめとは何ですか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1263">NAVERまとめにおける権利侵害申告について</a></li>
        </ul>
        <div>&nbsp;</div>
      </div>

      <div class="Section">
        <h4>まとめタイトルの作成について</h4>
        <ul>
          <li><a href="http://help.naver.jp/faq?itemNo=107">まとめはどこから作成できますか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=108">まとめを作成する方法を教えてください  </a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=109">タイプとはなんですか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=430">わかりやすいまとめタイトルを作るには？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=936">「下書き保存」と「公開」の違いは？</a></li>
        </ul>
        <div>&nbsp;</div>
      </div>
      <div class="Section">
        <h4>まとめの修正、削除について</h4>
        <ul>
          <li><a href="http://help.naver.jp/faq?itemNo=260">作成したまとめはどのように修正すればよいですか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=261">作成したまとめはどのように削除すればよいですか？</a></li>
        </ul>
        <div>&nbsp;</div>
      </div>
      <div class="Section">
        <h4>お気に入り/まとめ内容の追加について（まとめブックマークレットから追加する） </h4>
        <ul>
          <li><a href="http://help.naver.jp/faq?itemNo=938">まとめブックマークレット利用時のメリット </a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=939">まとめブックマークレットからリンクをお気に入り/まとめに追加するには </a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=940">まとめブックマークレットから画像をお気に入り/まとめに追加するには </a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=941">まとめブックマークレットから動画をお気に入り/まとめに追加するには </a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=942">まとめブックマークレットから引用をお気に入り/まとめに追加するには </a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1289">まとめブックマークレットからツイートをお気に入り/まとめに追加するには</a></li>
        </ul>
        <div>&nbsp;</div>
      </div>
      <div class="Section">
        <h4>まとめアイテムの追加について（まとめページから追加する）</h4>
        <ul>
          <li><a href="http://help.naver.jp/faq?itemNo=429">追加できる画像のフォーマットは？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=254">まとめページから引用を追加するには？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=898">まとめページからツイートを追加するには？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=255">まとめページからテキストを追加するには？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=899">まとめページから見出しを追加するには？ </a></li>
        </ul>
        <p class="More"><a href="http://help.naver.jp/faq?groupNo=75">もっと見る</a></p>
      </div>
      <div class="Section">
        <h4>まとめアイテムの修正、削除について</h4>
        <ul>
          <li><a href="http://help.naver.jp/faq?itemNo=277">追加したアイテムはどのように修正すればよいですか？ </a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=278">追加したアイテムはどのように削除すればよいですか？ </a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1282">本人によるツイート削除機能とはなんですか？</a></li>
        </ul>
        <div>&nbsp;</div>
      </div>
      <div class="Section">
        <h4>まとめの各機能について</h4>
        <ul>
          <li><a href="http://help.naver.jp/faq?itemNo=425">まとめをほかの人に共有したり、紹介したりするには？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=426">マイリンク・マイ画像集・マイ動画集とは何ですか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=523">マイまとめの機能について</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=524">作成・参加したまとめを確認するには？</a></li>
        </ul>
        <div>&nbsp;</div>
      </div>
      <div class="Section">
        <h4>まとめブログパーツについて</h4>
        <ul>
          <li><a href="http://help.naver.jp/faq?itemNo=416">まとめブログパーツとは何ですか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=417">NAVERに会員登録しなくても使えますか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=418">ブログパーツのサイズは？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=419">ブログ以外のページに貼り付けることができますか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=420">自分のページに貼り付ける方法がわからないのですが</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=421">ブログパーツの下に、検索窓が表示される場合とされない場合があるのですが</a></li>
        </ul>
        <div>&nbsp;</div>
      </div>
      <div class="Section">
        <h4>トピックについて</h4>
        <ul>
          <li><a href="http://help.naver.jp/faq?itemNo=1016">トピックとはなんですか？ </a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1017">まとめにトピックを設定するには？ </a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1018">まとめに設定したトピックを解除したい </a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1019">トピックを新しく自分で作ることはできますか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1022">トピックのページはどのようなページですか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1028">関連トピックとはなんですか？ </a></li>
        </ul>
        <p class="More"><a href="http://help.naver.jp/faq?groupNo=179">もっと見る</a></p>
      </div>
      <div class="Section">
        <h4>マイまとめについて</h4>
        <ul>
          <li><a href="http://help.naver.jp/faq?itemNo=267">マイまとめとはなんですか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1123">まとめ管理とはなんですか？ </a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1129">「月間ページビュー」とは何ですか？ </a></li>
        </ul>
        <p class="More"><a href="http://help.naver.jp/faq?groupNo=79">もっと見る</a></p>
      </div>
      <div class="Section">
        <h4>まとめ分析について </h4>
        <ul>
          <li><a href="http://help.naver.jp/faq?itemNo=1130">「view」と「ページビュー」の違いはなんですか？ </a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1131">「はてなブックマーク」のカウントとはなんですか？ </a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1134">「変化率」とはなんですか？ </a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1135">過去のデータは、どの期間まで遡って参照することができますか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1136">「今日」の分のデータは、いつどのようなタイミングで更新されますか？ </a></li>
        </ul>
        <p class="More"><a href="http://help.naver.jp/faq?groupNo=191">もっと見る</a></p>
      </div>
      <div class="Section">
        <h4>お知らせについて </h4>
        <ul>
          <li><a href="http://help.naver.jp/faq?itemNo=1149">「事務局からのお知らせ」と「事務局からのメッセージ」の違いはなんですか？ </a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1150">「○○さんへのコンタクト」とはなんですか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1151">「まとめへのリアクション」とはなんですか？</a></li>
        </ul>
        <div>&nbsp;</div>
      </div>
      <div class="Section">
        <h4>「お気に入り」「フィード」について</h4>
        <ul>
          <li><a href="http://help.naver.jp/faq?itemNo=1235">「お気に入り」とはなんですか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1238">「お気に入り追加」ボタンとは？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1239">外部サービス連携とは？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1240">ブックマークレットとは？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1243">タグとはなんですか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1250">「フィード」とはなんですか？</a></li>
        </ul>
        <p class="more"><a href="http://help.naver.jp/faq?groupNo=197">もっと見る</a></p>
      </div>
      <div class="Section">
        <h4>位置情報について</h4>
        <ul>
          <li><a href="http://help.naver.jp/faq?itemNo=1274">位置情報とはなんですか？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1275">位置情報を追加できる対象アイテムは？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1276">まとめに位置情報を追加するには？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1277">位置情報が含まれる画像を追加するには？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1278">追加した位置情報を修正するには？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1279">追加した位置情報を削除するには？</a></li>
          <li><a href="http://help.naver.jp/faq?itemNo=1280">追加した位置情報はどこから確認できますか？</a></li>
        </ul>
        <div>&nbsp;</div>
      </div>
      <div class="AskHelp">
        <p>運営に直接お問い合わせする場合は<a href="http://help.naver.jp/faqToHelp?serviceNo=4">こちら</a></p>
      </div>

    </div>
    <!-- end ContentArea --></div>
  <div class="Paging">
    <p class="Prev"><a href="javascript:window.history.back();">前のページへ戻る</a></p>
    <p class="Top"><a href="javascript:window.scrollTo(0,0);">このページの先頭へ戻る</a></p>
  </div>

  <!-- end contents --></div>

<hr>

<div class="Footer">
  <h2>NAVER リンク</h2>
  <ul class="Links">
    <li class="FirstChild"><a href="/about">会社概要</a></li>
    <li><a href="/rules/">利用規約</a></li>
    <li><a href="/privacy/">プライバシー</a></li>
    <li><a href="/help">ヘルプ</a></li>
  </ul>
  <p>© <b>shizier Corporation</b></p>
</div>
</div>

</body>
</html>
