<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="content-style-type" content="text/css">
  <meta http-equiv="content-script-type" content="text/javascript">
  <title>隐私声明</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/service.css">
</head>
<body>
<div class="MainBody">

  <div class="Header">
    <h1>
      <a href="/"><img src="../images/logo_full_invert_50x20.png" alt="shiier" width="50" height="20"></a><span>隐私声明</span>
    </h1>
    <ul class="CompanyTitleInfo">
      <li class="CompanyTitle"><a href="/">石子儿</a></li>
    </ul>
  </div>
  <hr class="HrSeparate">

  <div class="TermContainer">

    <div class="Contents">

      <div class="Agreement">

        <h2>个人信息保护方针</h2>
        <p class="FirstPart">
          石子儿是一个提供互联网内容服务的网站，我们十分关注对于个人信息的保护。
        </p>

        <h3>适当的个人信息的收集</h3>
        <p>
          我们会通过公正的方法收集个人信息，并且合理使用这些信息，不会超过法律界限。
        </p>
        <h3>个人信息的安全管理</h3>
        <p>

          石子儿在法律要求或符合石子儿的相关服务条款、软件许可使用协议约定的情况下透露您的个人信息，或者有充分理由相信必须这样做才能： </p>

        <ul>
          <li><span>(1) </span>满足法律或行政法规的明文规定，或者符合石子儿网站适用的法律程序；</li>
          <li><span>(2) </span>符合石子儿相关服务条款、软件许可使用协议的约定；</li>
          <li><span>(3) </span>保护石子儿的权利或财产;</li>
          <li><span>(4) </span>在紧急情况下保护服务的用户或大众的个人安全。</li>
        </ul>
          　　我们也不会在未经过您的同意的情况下向第三方透露您的个人信息，本声明已经列出的上述情况除外。

        <h3>第四条 该条约的更新</h3>
        <p> 对该条约的解释、修改及更新权均属于石子儿所有。</p>
        <p class="Last">以上</p>
        <p class="Date">制定日期：2013年12月5日<br>
        </p>
        <div class="TopButton"><a href="javascript:window.scrollTo(0,0);">回到顶部</a></div>

      </div>

    </div>

  </div>

  <hr class="HrSeparate">

  <hr class="HrSeparate">

  <div class="Footer">
    <h2>Shizier Link</h2>
    <ul class="Links">
      <li class="FirstChild"><a href="/about">关于我们</a></li>
      <li><a href="/rules"> 使用条规</a></li>
      <li><a href="/privacy/">隐私条款</a></li>
      <li><a href="/help">帮助</a></li>
    </ul>

    <p>© <b>Shizier Corporation</b></p>
  </div>
</div>

</body>
</html>
