<div class="container">
  <div class="center-block pal"
       style="background-color: #ecf0f1;border-radius: 6px;max-width: 600px;">

    <div class="text-center"><h1 class="h4">个人信息保护方针</h1></div>

    <p class="FirstPart">
      石子儿是一个提供互联网内容服务的网站，我们十分关注对于个人信息的保护。
    </p>

    <h2 class="h5">适当的个人信息的收集</h2>

    <p>
      我们会通过公正的方法收集个人信息，并且合理使用这些信息，不会超过法律界限。
    </p>

    <h2 class="h5">个人信息的安全管理</h2>

    <p>
      石子儿在法律要求或符合石子儿的相关服务条款、软件许可使用协议约定的情况下透露您的个人信息，或者有充分理由相信必须这样做才能：
    </p>

    <ol>
      <li>满足法律或行政法规的明文规定，或者符合石子儿网站适用的法律程序；</li>
      <li>符合石子儿相关服务条款、软件许可使用协议的约定；</li>
      <li>保护石子儿的权利或财产;</li>
      <li>在紧急情况下保护服务的用户或大众的个人安全。</li>
    </ol>
    我们也不会在未经过您的同意的情况下向第三方透露您的个人信息，本声明已经列出的上述情况除外。

    <h2 class="h5">该条约的更新</h2>

    <p>对该条约的解释、修改及更新权均属于石子儿所有。</p>

    <p>制定日期：2013年12月5日</p>
  </div>
</div>