<div class="container">
  <div class="center-block pal"
       style="background-color: #ecf0f1;border-radius: 6px;max-width: 600px;">

    <div class="text-center"><h4>免责声明</h4></div>

    <p>
      石子儿提醒您：在接受石子儿服务之前，请您务必仔细阅读本条款并同意本声明。如果您对本声明的任何条款有异议，请停止使用石子儿所提供的全部服务。
    </p>

    <h5>第一条 个人信息安全</h5>
    <ol>
      <li>在您使用石子儿的服务的时候，我们不会强行要求您提供真实的的个人信息。</li>
      <li>为了防止别人盗用您的帐号，请您务必保管好自己的密码。我们对于使用正确密码成功登录而造成损失的行为不承担任何法律责任。</li>
      <li>为了保护您的个人信息，我们为您提供的隐私条款，请您仔细阅读。</li>
    </ol>

    <h5>第二条禁止事项</h5>

    <p>请您在使用石子儿的服务的时候，不要违反以下记载的事项</p>
    <ol>
      <li>法律，法院的判决，决定或则命令，以及法律上有效力的行政措施违反的行为。</li>
      <li>有损公共秩序的行为（暴力，黄色，反社会等）。</li>
      <li>石子儿或第三方的权利（著作权，商标权，名誉权，隐私权等）受到侵害的行为。</li>
      <li>对石子儿或第三方散布虚假信息的行为。</li>
      <li>宗教活动。</li>
      <li>未经允许的第三者的个人信息，登录信息，利用历史记录等信息的收集，展示，以及向他人提供的行为。</li>
      <li>协助上面（1）到（6）条行为的行为。</li>
      <li>以及其它石子儿认为不当的行为。</li>
    </ol>

    <h5>第三条 内容发布</h5>
    <ol>
      <li>本条约所说内容指：文章，音乐，图片，程序，代码，以及可以访问的书籍中的文字。您在石子儿发表的内容，我们将会为您保管；您公开发布内容可以被所有人访问。</li>
      <li>您在石子儿发表的内容中包含的所有第三方内容遵从该内容之前的权利，石子儿不保有对其权利。
        当然为了您方便的使用石子儿为您提供的服务，石子儿对您公开发布的文章包含的内容的使用权（无论是否以盈利为目的，复制，演奏，播放，放映，公众传达，口述，展示，颁布，翻译）有不分地域，无期限的使用权。
      </li>
      <li>您在石子儿发表的内容仅表明其个人的立场和观点，并不代表石子儿的立场或观点。作为内容的发表者，需自行对所发表内容负责，因所发表内容引发的一切纠纷，由该内容的发表者承担全部法律及连带责任。石子儿不承担任何法律及连带责任。
      </li>
      <li>用户在石子儿发布侵犯他人知识产权或其他合法权益的内容，石子儿有权予以删除，并保留移交司法机关处理的权利。</li>
    </ol>

    <h5>第四条 该条约的更新</h5>

    <p>对该条约的解释、修改及更新权均属于石子儿所有。</p>

    <p>制定日期：2013年12月5日</p>
  </div>
</div>

<% include ../_toTop.html %>