<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="content-script-type" content="text/javascript">
<title>プライバシー保護の取り組み - NAVERプライバシーセンター</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/service.css">
</head>
<body>
<div class="MainBody">
  <div class="Header">
    <h1>
      <a href="/"><img src="images/logo_full_invert_50x20.png" alt="shiier" width="50" height="20"></a><span>China Terms of Use</span>
    </h1>
    <ul class="CompanyTitleInfo">
      <li class="CompanyTitle"><a href="/">Shizier China</a></li>
    </ul>
  </div>
  <hr class="HrSeparate">

  <div class="TermContainer">

    <div class="PrivacyIndex">
      <ul class="PrivacyMenu">
        <li><a href="/privacy">Privacy Center</a></li>
        <li><a href="/glossary">Glossary</a></li>
        <li><a href="/policy">Privacy Policy</a></li>
        <li class="Selected" ><a href="/cope">Our Effort to Protect Your Privacy</a></li>
        <li><a href="/service">Personal Information Protection Policies for Respective Services</a></li>
        <li><a href="/principle">Policy for Personal Information Protection</a></li>
      </ul>
    </div>

<div class="Contents">
  <div class="PrivacyArea">
    
    <h3>プライバシー保護の取り組み</h3>

<p>私たちLINE株式会社（以下「当社」といいます）は、利用者のプライバシー保護のため、以下のような取り組みを行っています。</p>

<h4>情報保護システムの構築及び運営</h4>
<p>利用者の情報を安全に管理するため、適切なセキュリティシステムを構築及び運営しています。パスワードのような重要情報は暗号化して保存しています。</p>

<h4>安全管理体制の確立 </h4>

<ul>
<li>社内に個人情報管理責任者を設置し、社内で保有する個人情報の流通を一元的に把握・管理いたします。</li>
<li>個人情報を取り扱う従業員は、個人情報管理責任者の管理の下、その役割・権限を制限かつ明確にしたうえで業務に従事いたします。</li>
<li>個人情報保護に関する社内規程・細則などを策定し、その遵守を社内で徹底いたします。</li>
<li>コンピューターネットワーク管理および情報セキュリティに関する専門部門を設置し、不正アクセス対策、ウイルス対策、個人情報DB管理等の情報セキュリティ対策を講じます。</li>
<li>個人情報の取り扱いに関する教育・啓蒙活動を継続的に推進し、従業員の意識向上を図ります。</li>
<li>上記の施策・管理について、定期的に監査を遂行し、問題がある部分に対して計画的な業務改善を図ります。 </li>
</ul>

<h4>法令並びにその他の規範について</h4>
<p>当社は、利用者から収集した個人情報の取り扱いにあたり、個人情報保護法並びに当社に関係する各種法令・国が定める指針・その他の規範などを遵守いたします。<br>また、個人情報保護法並びに各種法令・国が定める指針・その他の規範などは、常に最新版を入手し、改正・改訂などが行われた場合、その改正・改訂などに合わせた対応を行います。</p></div>
		</div>
 
	</div> 
 
	<hr class="HrSeparate">
	
<div class="Footer">
    <h2>Shizier Link</h2>
    <ul class="Links">
      <li class="FirstChild"><a href="/about">About Shizier</a></li>
      <li><a href="/rules">Terms of Use</a></li>
      <li><a href="/privacy/">Privacy Policy</a></li>
      <li><a href="/help">Support</a></li>
    </ul>

    <p>© <b>Shizier Corporation</b></p>
</div>
    </div>
</body></html>
