<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-style-type" content="text/css">
    <meta http-equiv="content-script-type" content="text/javascript">
    <title>Privacy Policy - Shizier Privacy Center</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/service.css">
</head>
<body>
<div class="MainBody">
  <div class="Header">
    <h1>
      <a href="/"><img src="images/logo_full_invert_50x20.png" alt="shiier" width="50" height="20"></a><span>China Terms of Use</span>
    </h1>
    <ul class="CompanyTitleInfo">
      <li class="CompanyTitle"><a href="/">Shizier China</a></li>
    </ul>
  </div>
  <hr class="HrSeparate">

  <div class="TermContainer">

    <div class="PrivacyIndex">
      <ul class="PrivacyMenu">
        <li><a href="/privacy">Privacy Center</a></li>
        <li><a href="/glossary">Glossary</a></li>
        <li class="Selected"><a href="/policy">Privacy Policy</a></li>
        <li><a href="/cope">Our Effort to Protect Your Privacy</a></li>
        <li><a href="/service">Personal Information Protection Policies for Respective Services</a></li>
        <li><a href="/principle">Policy for Personal Information Protection</a></li>
      </ul>
    </div>

<div class="Contents">
  <div class="PrivacyArea">
    <h3>プライバシーポリシー</h3>

<p>私たちLINE株式会社（以下、「当社」といいます）は、当社が提供するNAVER における個人情報を以下の通り取り扱います。</p>

	<h4>適用範囲</h4>
	<p>本プライバシーポリシーはNAVERのすべてのサービス（以下、「本サービス」といいます）に適用されます。個別の情報収集のあるサービスにおけるプライバシー保護に関しては、別途サービス別プライバシーポリシーや<a href="http://www.naver.jp/privacy/service/">サービス別のプライバシー保護</a>に従います。個人情報は本プライバシーポリシー及びサービス別のプライバシー保護に基づき管理されます。<br>
	なお、本プライバシーポリシーとサービス別プライバシーポリシーに齟齬がある場合、サービス別プライバシーポリシーが優先されます。また、リンク先など他事業者等による個人情報収集は、本プライバシーポリシーの適用範囲ではございません。</p>

	<h4>収集する情報及び利用方法</h4>
	<p>当社は本サービスにおいて次の情報を収集及び利用いたします。</p>

	<ul class="TitleType">
	<li>
		<h5>ご提供いただく情報</h5>
		<p>電子メールアドレス、ユーザー名、パスワードなどを収集しております。パスワードなどは復号することができない方法で暗号化され、安全に保存及び管理されます。電子メールアドレスはメールマガジン購読を望まれる会員へのメールマガジン送信の際、あるいはその他のサービスに関するお知らせをお伝えする際に利用いたします。また、賞品発送等のために、氏名、住所、電話番号等を収集する場合がございます。</p>
	</li>
	<li>
		<h5>クッキー（Cookie)</h5>
		<p>ログイン時の電子メールアドレス自動入力など利用者の利便性向上のため、セッションの維持及び保護などセキュリティのために利用いたします。<br>
		また、本サービスでは効果的な広告配信のために当社と提携する会社が提供する行動ターゲティング広告を利用しています。行動ターゲティング広告提供会社が利用するクッキー等に関する説明、無効化の手順については提供会社サイトにてご確認いただけます。 <br>
		行動ターゲティング広告提供企業は<a href="http://help.naver.jp/faq?itemNo=1152">こちら</a></p>
	</li>
	<li>
		<h5>ログ</h5>
		<p>利用者が NAVERのウェプページ訪問時に自動で生成され、IP アドレス、ブラウザ種類、ブラウザ言語などが保存されます。これらの情報は利用者環境を分析し、より良いサービス提供のため、また正常なサービス提供を妨害する不正行為防止のために利用いたします。検索に関する記録は個人を特定することができない形態で保存及び管理され、統計データ作成などの用途で利用いたします。</p>
	</li>
	<li>
		<h5>ヘルプ</h5>
		<p>電子メールアドレス、氏名、ユーザー名、PCハードウェア情報などを収集しております。これらの情報はお問い合わせに対する調査、返答、及び利用者ご本人であることを確認するために利用いたします。</p>
	</li>
	<li>
		<h5>位置情報</h5>
		<p>一部のサービスでは、携帯電話などから送信される位置情報を利用しております。利用者が該当サービスを利用された場合は、該当サービスの利用に必要な範囲内で利用いたします。</p>
	</li>
	<li>
		<h5>機器情報</h5> 
		<p>端末の個体識別情報などの機器情報を収集する場合がございます。これらの情報はより良いサービス提供のため、また正常なサービス提供を妨害する不正行為防止のために利用いたします。なお、これらの情報に個人を特定する情報は含まれておりません。</p> 
	</li> 					
	</ul>

	<h4>情報の利用目的</h4>
	<p>当社は収集した情報を以下の目的で利用いたします。</p>

	<ul>
	<li>利用者が本サービスを円滑に利用できるようにするため</li>
	<li>本サービス利用に関する統計データを作成するため</li>
	<li>現在提供している本サービスまたは今後提供を検討している本サービスに関するアンケート実施のため</li>
	<li>利用者からのお問い合わせに対する対応のため</li>
	<li>本サービスに関する情報等または当社以外の事業者が広告主となる広告情報等をメールマガジン等により告知するため</li>
	<li>今後の本サービスに関する新企画立案を行い提供するため</li>
	<li>キャンペーン等の抽選及び賞品や商品発送のため</li>
	<li>利用者からのお問い合わせ時など、本人確認を行うため</li>
	<li>その他本サービスに関する重要なお知らせなど、必要に応じた連絡を行うため</li>
	</ul>

	<h4>情報の提供</h4>
	<p>当社は利用者の個人情報を下記の場合を除いて第三者に提供することはございません。</p>

	<ul>
	<li>ご本人が事前に同意した場合</li>
	<li>法律に基づく場合 </li>
	<li>利用者がNAVERサービスの利用規約に違反し、弊社の権利、財産やサービスなどを保護するために、個人情報を公開せざるをえないと判断するに足る十分な根拠がある場合</li>
	<li>人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合 </li>
	<li>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難である場合</li>
	<li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合</li>
	<li>合併、会社分割、営業譲渡その他の事由によって個人情報の提供を含む弊社の事業の承継が行われる場合</li>
	</ul>

	<h4>情報の預託</h4>
	<p>当社は利用目的の達成に必要な範囲内において利用者から収集した個人情報の全部または一部を業務委託先に預託することがございます。その際、業務委託先としての適格性を十分審査するとともに、契約にあたって守秘義務に関する事項等を規定し、情報が適正に管理される体制作りを行います。</p>

	<h4>情報の共同利用</h4>
	<p>利用者に本サービスを提供するにあたり、当社と共同して業務を行うビジネスパートナーが必要な場合には、利用者の個人情報をそのビジネスパートナーと共同利用することがあります。この場合に当社は、利用目的、ビジネスパートナーの名称、情報の種類、管理者の名称について利用者に公表した上で共同利用することといたします。</p>

	<h4>利用者の権利</h4>
	<p>利用者はいつでもご登録されている電子メールアドレスやパスワードなどの情報を、本サービスサイト上で確認、訂正することができます。また、アカウントを削除することができます。<br>利用者は 当社 に対し、サービスサイト上で確認できない個人情報の開示を求める場合、当社が別途定めた手続きに従って、次の場合を除き開示を請求することができます。</p>
	<ul>
	<li>開示することで本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合</li>
	<li>開示することで当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合</li>
	<li>開示することが法令に違反することとなる場合</li>
	<li>開示の請求がご本人からであることが確認できない場合</li>
	</ul>
	<p>開示の結果、利用者が当社保有の個人情報の内容が事実でないと判断した場合は、当社が別途定めた手続きに従って、個人情報の訂正・追加・削除を請求することができます。その場合、当社は利用目的の達成に必要な範囲内で遅滞なく調査を行い、その結果に基づき当該個人情報の訂正・追加・削除を行います。<br>なお、サービスサイト上で確認できない個人情報の開示を請求される場合には、当社が別途定めた手続きに従って開示手数料をいただく場合がございます。<br>利用者から当社への個人情報の提供は任意ですが、必要な情報をご提供いただけない場合、一部の本サービスを利用できない場合がございます。</p>

<h4>退会者の情報</h4>
<p>本サービスのアカウントを削除した場合、利用者情報は関連法規および社内規定に従って適切に処理いたします。</p>

	<h4>お子様の個人情報について</h4>
	<p>15歳未満の利用者が本サービスを利用し、個人情報を入力される場合には保護者の方の同意のもとに行っていただけますようお願いいたします。</p>

	<h4>本プライバシーポリシーの改定</h4>
	<p>本プライバシーポリシーは改定されることがあります。重要な変更にあたっては利用者に対してわかりやすい方法にて改定内容を告知いたします。<br>改定前のプライバシーポリシーは<a href="http://www.naver.jp/privacy/policyBefore">こちら</a>です。</p>

	<h4>お問い合わせ</h4>
	<p>本プライバシーポリシーに関してご不明な点がある場合、本サービスにおける個人情報の取り扱いに関するご質問・苦情・ご相談等があります場合は<a href="http://help.naver.jp/help">お問い合わせフォーム</a>よりご連絡ください。</p>
	<p class="Date">2009年6月5日 制定</p>
	<div class="TopButton"><a href="javascript:window.scrollTo(0,0);">このページの先頭へ戻る</a>
</div>
	</div>
	  </div>

	</div>

	<hr class="HrSeparate">
	
<div class="Footer">
    <h2>Shizier Link</h2>
    <ul class="Links">
      <li class="FirstChild"><a href="/about">About Shizier</a></li>
      <li><a href="/rules">Terms of Use</a></li>
      <li><a href="/privacy/">Privacy Policy</a></li>
      <li><a href="/help">Support</a></li>
    </ul>

    <p>© <b>Shizier Corporation</b></p>
</div>
    </div>
</body></html>
