<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="content-script-type" content="text/javascript">
<title>個人情報保護方針 - NAVERプライバシーセンター</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/service.css">
</head>
<body>
<div class="MainBody">
  <div class="Header">
    <h1>
      <a href="/"><img src="images/logo_full_invert_50x20.png" alt="shiier" width="50" height="20"></a><span>China Terms of Use</span>
    </h1>
    <ul class="CompanyTitleInfo">
      <li class="CompanyTitle"><a href="/">Shizier China</a></li>
    </ul>
  </div>
  <hr class="HrSeparate">

  <div class="TermContainer">

    <div class="PrivacyIndex">
      <ul class="PrivacyMenu">
        <li><a href="/privacy">Privacy Center</a></li>
        <li><a href="/glossary">Glossary</a></li>
        <li><a  href="/policy">Privacy Policy</a></li>
        <li><a href="/cope">Our Effort to Protect Your Privacy</a></li>
        <li><a href="/service">Personal Information Protection Policies for Respective Services</a></li>
        <li class="Selected"><a href="/principle">Policy for Personal Information Protection</a></li>
      </ul>
    </div>

<div class="Contents">
  <div class="PrivacyArea">
    <h3>個人情報保護方針</h3>

<p>LINE株式会社（以下「弊社」とします）は、インターネットコンテンツサービス企業の責務として個人情報保護を経営の最重要課題の一つとして捉えております。弊社は、下記事項を遵守し適切に個人情報を保護していく事に努めてまいります。</p>

<h4>個人情報の適切な収集、利用、提供に関して</h4>
<p>弊社は、個人情報の収集にあたっては利用の目的を明確にして適法かつ公正な方法により行います。<br>収集した個人情報は、利用の目的の範囲を越えて取り扱いません。また、目的外利用を行わないための適切な措置を講じます。<br>収集した個人情報は、お客様の同意なく例外を除き第三者への提供は行いません。</p>

<h4>個人情報の安全管理に関して </h4>
<p>弊社は、個人情報保護の為の管理者を設置し、不正アクセス・紛失・破壊・改ざん・漏洩等が発生しないよう従業員並びに外部協力会社に対し適切な安全管理措置を実施いたします。</p>

<h4>個人情報保護の継続的改善に関して</h4>
<p>弊社は、個人情報保護を継続的・向上的に行っていく為、定めた規程類等を変化に合わせて見直し、改善をしていきます。</p>

<h4>法令並びにその他の規範の遵守に関して</h4>
<p>弊社は、個人情報保護の為、事業に関連した各種法令、国が定める指針、並びにその他関係する規範等を遵守いたします。</p>

<h4>個人情報の取り扱いに関する苦情及び相談への対応に関して</h4>
<p>弊社は、個人情報の取り扱いに関する苦情・相談へ対応するため、組織体制を整備し、迅速かつ適切な対応に努めます。</p>

<h4>個人情報に関するお問い合わせ先</h4> 
<p>個人情報に関するお問い合わせは<a href="http://help.naver.jp/help">お問い合わせフォーム</a>よりお送りください。</p>

<p>制定：2005年6月10日<br> 

    <p class="chairman">LINE株式会社<br>代表取締役社長<br>森川　亮</p>
  </div>
</div>
  </div>

  <hr class="HrSeparate">
	
<div class="Footer">
    <h2>Shizier Link</h2>
    <ul class="Links">
      <li class="FirstChild"><a href="/about">About Shizier</a></li>
      <li><a href="/rules">Terms of Use</a></li>
      <li><a href="/privacy/">Privacy Policy</a></li>
      <li><a href="/help">Support</a></li>
    </ul>

    <p>© <b>Shizier Corporation</b></p>
</div>
    </div>
</body></html>
