<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-style-type" content="text/css">
    <meta http-equiv="content-script-type" content="text/javascript">
    <title>Shizier Privacy Center </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/service.css">
</head>
<body>
<div class="MainBody">
  <div class="Header">
    <h1>
      <a href="/"><img src="images/logo_full_invert_50x20.png" alt="shiier" width="50" height="20"></a><span>China Terms of Use</span>
    </h1>
    <ul class="CompanyTitleInfo">
      <li class="CompanyTitle"><a href="/">Shizier China</a></li>
    </ul>
  </div>
  <hr class="HrSeparate">

  <div class="TermContainer">

    <div class="PrivacyIndex">
      <ul class="PrivacyMenu">
        <li class="Selected" ><a href="/privacy">Privacy Center</a></li>
        <li><a href="/glossary">Glossary</a></li>
        <li><a href="/policy">Privacy Policy</a></li>
        <li><a href="/cope">Our Effort to Protect Your Privacy</a></li>
        <li><a href="/service">Personal Information Protection Policies for Respective Services</a></li>
        <li><a href="/principle">Policy for Personal Information Protection</a></li>
      </ul>
    </div>

 
    <div class="Contents">
      <div class="PrivacyArea">
	<h3>プライバシーセンター</h3>
	<h4>LINEは利用者のプライバシー保護に対して最善を尽くしています。</h4>
	<p>LINEは個人情報収集及び利用にあたっては利用目的を明確にして、適法かつ公正な方法により行います。<br>収集した情報を安全に管理するため、セキュリティに最大限の注意を払っています。</p>

	  <h4>プライバシーポリシー全体表示</h4>
	<p><a href="http://www.naver.jp/privacy/policy/">プライバシーポリシー</a>（以下、本プライバシーポリシーとします）はLINE株式会社が提供するNAVERのすべてのサービスに適用されます。個別の情報収集のあるサービスにおけるプライバシー保護に関しては、別途サービス別プライバシーポリシーやサービス別のプライバシー保護に従います。なお、本プライバシーポリシーとサービス別プライバシーポリシーに齟齬がある場合、サービス別プライバシーポリシーが優先されます。</p>
	</div>
      </div>
      
    </div>
    
    <hr class="HrSeparate">
	
<div class="Footer">
    <h2>Shizier Link</h2>
    <ul class="Links">
      <li class="FirstChild"><a href="/about">About Shizier</a></li>
      <li><a href="/rules">Terms of Use</a></li>
      <li><a href="/privacy/">Privacy Policy</a></li>
      <li><a href="/help">Support</a></li>
    </ul>

    <p>© <b>Shizier Corporation</b></p>
</div>
    </div>
</body></html>
