<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="content-script-type" content="text/javascript">
<title>サービス別のプライバシー保護  - NAVERプライバシーセンター</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/service.css">
</head>
<body>
<div class="MainBody">
  <div class="Header">
    <h1>
      <a href="/"><img src="images/logo_full_invert_50x20.png" alt="shiier" width="50" height="20"></a><span>China Terms of Use</span>
    </h1>
    <ul class="CompanyTitleInfo">
      <li class="CompanyTitle"><a href="/">Shizier China</a></li>
    </ul>
  </div>
  <hr class="HrSeparate">

  <div class="TermContainer">

    <div class="PrivacyIndex">
      <ul class="PrivacyMenu">
        <li><a href="/privacy">Privacy Center</a></li>
        <li><a href="/glossary">Glossary</a></li>
        <li><a href="/policy">Privacy Policy</a></li>
        <li><a href="/cope">Our Effort to Protect Your Privacy</a></li>
        <li class="Selected"><a href="/service">Personal Information Protection Policies for Respective Services</a></li>
        <li><a href="/principle">Policy for Personal Information Protection</a></li>
      </ul>
    </div>

<div class="Contents">
  <div class="PrivacyArea">
    
    <h3>サービス別のプライバシー保護</h3>

<h4>NAVER ツールバー</h4>
<p>NAVERツールバーではツールバー利用者の検索記録、アクセス先URLなどの情報を、年齢・性別などの利用者の属性情報とともに個人を識別できない匿名の形態で収集いたします。これらの情報の収集については、あらかじめ同意をいただいた利用者からのみ行われ、同意をいただいていない利用者から無断で収集することはございません。これらの情報は検索結果向上などサービス改善のため、サイトランキングなどのサービス提供および新サービスの企画立案のための分析に利用いたします。</p>

<h4>NAVER モバイル</h4>
<p>NAVERモバイルでは利用者の利便性向上、より良いサービス提供のための利用者傾向の分析などを目的として携帯電話の端末情報を収集しております。端末情報とは携帯電話固有の識別番号のことであり、この情報のみでは個人を特定することはできません。利用者は端末情報の通知可否を選択できますが、端末情報をご通知いただけない場合、NAVERモバイルのサービスを正しく利用できない場合がございます。</p>

<h4>NAVER まとめインセンティブ</h4>
<p>NAVERまとめインセンティブの支払いは、楽天銀行株式会社が提供するメール送金サービス「メルマネマスペイメント」を利用いたします。NAVERまとめインセンティブの支払い及び支払いに関する連絡を行うため、口座名義、メールアドレスを収集、利用いたします。</p>

<h4>ヘルプ</h4>
<p>ヘルプでは利用者からのお問い合わせ対応のため、氏名、電子メールアドレスなどのお問い合わせ内容、ご要望への対応時間などの記録を収集、保存しております。また、お問い合わせへの迅速な対応のため、あらかじめ利用者へ明示した上、ブラウザ上で自動的にPC ハードウェア情報などを収集することがございます。</p>
</div>
		</div>

	</div>

	<hr class="HrSeparate">
	
<div class="Footer">
    <h2>Shizier Link</h2>
    <ul class="Links">
      <li class="FirstChild"><a href="/about">About Shizier</a></li>
      <li><a href="/rules">Terms of Use</a></li>
      <li><a href="/privacy/">Privacy Policy</a></li>
      <li><a href="/help">Support</a></li>
    </ul>

    <p>© <b>Shizier Corporation</b></p>
</div>
    </div>
</body></html>
