@charset "utf-8";.MdTag01 .mdTag01Ico,.MdTagLayer01 .mdTagLayer01Pointer,.MdTagLayer01 .mdTagLayer01HeadUtil01Ico{background-image:url(/images/personal/sprite_MdTag.png)}
.MdTagList01 .mdTagList01Ul{*zoom:1}
.MdTagList01 .mdTagList01Ul:after{content:"";display:block;clear:both}
.MdTopicWord01 .mdTopicWord01Del01Btn,.MdFVCount01 .mdFVCount01Ico,.MdFVBtn02 .mdFVBtn02Ico,.MdSocialCountList01 .mdSocialCountList01FV .mdSocialCountList01Ico,.MdMySubProf01 .mdMySubProf01PVLabelMonthly,.MdMySubProf01 .mdMySubProf01PVLabelMTMNumber,.MdSocialCountList01 .mdSocialCountList01Hatena .mdSocialCountList01Ico,.MdSocialCountList01 .mdSocialCountList01Facebook .mdSocialCountList01Ico,.MdTag01 .mdTag01Ico,.MdTagLayer01 .mdTagLayer01Pointer,.MdTagLayer01 .mdTagLayer01HeadUtil01Ico{display:inline-block;*display:inline;*zoom:1;overflow:hidden;padding:0;border:0;background-color:transparent;background-position:0 0;background-repeat:no-repeat;text-align:left;text-indent:-9999px;*text-indent:0;*line-height:9999px;*word-wrap:normal}
.MdTooltip01 .mdTooltip01Pointer{display:block;overflow:hidden;padding:0;border:0;background-color:transparent;background-position:0 0;background-repeat:no-repeat;text-align:left;text-indent:-9999px}
.MdTopicWord01 .mdTopicWord01Del01Btn{background-image:url(/images/personal/sprite_MdBtn_130918.png)}
.MdFVCount01 .mdFVCount01Ico,.MdFVBtn02 .mdFVBtn02Ico,.MdSocialCountList01 .mdSocialCountList01FV .mdSocialCountList01Ico,.MdFVBtn02,.MdFVBtn02 .mdFVBtn02Wrap,.MdTooltip01 .mdTooltip01Pointer{background-image:url(/images/personal/sprite_MdFVBtn_130610.png)}
.MdSocialCountList01 .mdSocialCountList01Hatena .mdSocialCountList01Ico,.MdSocialCountList01 .mdSocialCountList01Facebook .mdSocialCountList01Ico{background:url(/images/personal/sprite_MdShareBtn_130604.png)}
.MdMySubProf01 .mdMySubProf01PVLabelMonthly,.MdMySubProf01 .mdMySubProf01PVLabelMTMNumber{background-image:url(/images/personal/sprite_MdMySub.png)}
.MdTopicWord01 .mdTopicWord01Del01Btn{vertical-align:middle;cursor:pointer}
.MdScrollBox01{position:relative;overflow:hidden;width:auto}
.MdScrollBox01 .mdScrollBox01Panel{*position:relative;overflow-y:scroll;width:113%;scrollbar-track-color:transparent;scrollbar-face-color:transparent;scrollbar-shadow-color:transparent;scrollbar-darkshadow-color:transparent;scrollbar-highlight-color:transparent;scrollbar-3dlight-color:transparent;scrollbar-arrow-color:transparent}
.MdScrollBox01 .mdScrollBox01Panel::-webkit-scrollbar{width:1px}
.MdScroll01{position:absolute;top:0;right:0}
.MdScroll01 .mdScroll01Bar{position:relative;display:block}
.MdFVCount01 .mdFVCount01Ico,.MdFVBtn02 .mdFVBtn02Ico{width:15px;height:14px}
.MdFVBtn02 .mdFVBtn02Ico{background-position:-60px -240px}
.MdFVCount01 .mdFVCount01Ico,.MdFVBtn02.ExSelected .mdFVBtn02Ico{background-position:-40px -240px}
.MdSocialCountList01 .mdSocialCountList01FV .mdSocialCountList01Ico{width:14px;height:13px}
.MdSocialCountList01 .mdSocialCountList01FV .mdSocialCountList01Ico{background-position:-80px -240px}
.CTypeProfile .LyMain{float:right;width:670px;min-height:550px;padding:0 0 0 25px}
.CTypeProfile .LySub{position:static;float:left;width:239px;padding-right:25px}
.ArMySub01{padding:0 0 25px}
.ArMySub02{padding:25px 0 20px}
.ArMySub03{padding:0}
.ArMySubSeparator01 hr{display:none}
.ArMySubSeparator01{border-top:1px solid #ddd}
.MdMySubProf01{position:relative}
.MdMySubProf01 .mdMySubProf01PV{float:right;width:102px}
.MdMySubProf01 .mdMySubProf01PVItem01,.MdMySubProf01 .mdMySubProf01PVItem02{line-height:1}
.MdMySubProf01 .mdMySubProf01PVItem01{padding:13px 0 7px;*padding-bottom:9px;border-bottom:1px solid #ddd}
.MdMySubProf01 .mdMySubProf01PVItem02{padding:9px 0 0}
.MdMySubProf01 .mdMySubProf01PVCount{display:block;margin-bottom:-1px;*margin-bottom:-6px;color:#333;font-size:20px;font-family:Arial,Helvetica,sans-serif}
.MdMySubProf01 .mdMySubProf01PVLabelMonthly,.MdMySubProf01 .mdMySubProf01PVLabelMTMNumber{height:10px;margin:8px 0 0;*margin:0}
.MdMySubProf01 .mdMySubProf01PVLabelMonthly{width:72px}
.MdMySubProf01 .mdMySubProf01PVLabelMTMNumber{width:56px;background-position:-75px 0}
.MdMySubProf01 .MdThumb01{margin-right:102px}
.MdMySubProf01 .mdMySubProf01Ttl{margin:12px 0 0 0;color:#333;font-size:14px}
.MdMySubProf01 .mdMySubProf01Ttl .MdBtn01Edit02{position:relative;bottom:1px;margin:0 0 0 5px}
.MdMySubProf01 .mdMySubProf01Ttl+.mdMySubProf01Btn,.MdMySubProf01 .mdMySubProf01Ttl+.mdMySubProf01FV{margin-top:10px}
.MdMySubProf01 .mdMySubProf01Ttl+.mdMySubProf01Link{margin-top:7px}
.MdMySubProf01 .mdMySubProf01UserName{font-weight:bold}
.MdMySubProf01 .mdMySubProf01Txt{margin:9px 0 0 0;color:#666;word-wrap:break-word}
.MdMySubProf01 .mdMySubProf01Txt a{color:#666}
.MdMySubProf01 .mdMySubProf01Txt+.mdMySubProf01Btn,.MdMySubProf01 .mdMySubProf01Txt+.mdMySubProf01FV{margin-top:11px}
.MdMySubProf01 .mdMySubProf01Link{margin-top:8px;margin-bottom:11px}
.MdMySubProf01 .MdFVCount01{position:absolute;right:0;bottom:-3px}
.MdFVCount01{vertical-align:middle}
.MdFVCount01 .mdFVCount01Ico{margin:0 3px 0 0;vertical-align:-2px;*position:relative;*top:-4px}
.MdFVCount01 .mdFVCount01Num{color:#333;font-size:12px}
.MdThumb01 .mdThumb01Inner{display:block;width:120px;height:120px;border:1px solid #ddd;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.MdThumb01 .mdThumb01Inner img{width:120px;height:120px}
.MdFVBtn02{cursor:pointer;display:inline-block;*display:inline;*zoom:1;height:26px;line-height:26px;padding-left:6px;background-repeat:no-repeat;background-position:0 -80px}
.MdFVBtn02 .mdFVBtn02Wrap{display:inline-block;*display:inline;*zoom:1;padding-right:8px;background-repeat:no-repeat;background-position:right -80px}
.MdFVBtn02 .mdFVBtn02Ico{margin-right:3px;vertical-align:-2px;*vertical-align:middle}
.MdFVBtn02 .mdFVBtn02Txt{color:#000;font-weight:bold;font-size:11px}
.MdFVBtn02:hover{background-position:0 -110px}
.MdFVBtn02:hover .mdFVBtn02Wrap{background-position:right -110px}
.MdTooltip01.mdTooltip01UR,.MdTooltip01.mdTooltip01UL{padding-top:6px}
.MdTooltip01.mdTooltip01BR,.MdTooltip01.mdTooltip01BL{padding-bottom:6px}
.MdTooltip01.mdTooltip01UR .mdTooltip01Pointer,.MdTooltip01.mdTooltip01UL .mdTooltip01Pointer{top:0;background-position:-110px -240px}
.MdTooltip01.mdTooltip01BR .mdTooltip01Pointer,.MdTooltip01.mdTooltip01BL .mdTooltip01Pointer{bottom:0;background-position:-125px -240px}
.MdTooltip01.mdTooltip01R .mdTooltip01Pointer{width:8px;height:15px;background-position:-140px -240px}
.MdTooltip01{position:absolute;display:inline-block;*display:inline;*zoom:1}
.MdTooltip01 .mdTooltip01Link{cursor:pointer;display:inline-block;*display:inline;*zoom:1;padding:3px 6px 2px 5px;background:url("/matome_ver4/img/common/bg_alpha/b80.png") repeat 0 0 \9;background-color:rgba(17,17,17,0.8);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0 3px rgba(153,153,153,0.4);-moz-box-shadow:0 0 3px rgba(153,153,153,0.4);box-shadow:0 0 3px rgba(153,153,153,0.4);color:#fff;font-size:12px}
.MdTooltip01 .mdTooltip01Link:link,.MdTooltip01 .mdTooltip01Link:visited{text-decoration:none}
.MdTooltip01 .mdTooltip01Link:hover,.MdTooltip01 .mdTooltip01Link:active,.MdTooltip01 .mdTooltip01Link:focus{text-decoration:underline}
.MdTooltip01 .mdTooltip01Pointer{position:absolute;width:12px;height:6px}
.MdTooltip01.mdTooltip01UR .mdTooltip01Pointer{right:8px}
.MdTooltip01.mdTooltip01UL .mdTooltip01Pointer{left:8px}
.MdTooltip01.mdTooltip01BR .mdTooltip01Pointer{right:8px}
.MdTooltip01.mdTooltip01BL .mdTooltip01Pointer{left:8px}
.MdTooltip01.mdTooltip01R{padding-right:8px}
.MdTooltip01.mdTooltip01R .mdTooltip01Pointer{top:4px;right:0}
.MdTopicWordList01{min-height:29px;*min-height:24px}
.MdTopicWordList01 .mdTopicWordList01Ul{display:inline;*zoom:normal}
.MdTopicWordList01 .mdTopicWordList01Li{float:left;margin:0 5px 5px 0}
.MdTopicWordList01 .mdTopicWordList01Btn{float:left}
.LyTop .MdTopicWordList01{padding:10px 0 5px;*padding-bottom:10px;border-bottom:1px solid #e6e6e6}
.MdTopicWord01{position:relative;display:inline-block;*display:inline;*zoom:1;height:21px;*height:22px;line-height:22px;padding:1px 6px 0;*padding-top:0;background:#f9f9f9;border:1px solid #e7e7e7;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;color:#666!important;text-decoration:none!important;font-size:11px;white-space:nowrap}
.MdTopicWord01.mdTopicWord01Official{background:#fff}
.MdTopicWord01.mdTopicWord01Unofficial{background:#f5f5f5;color:#aaa!important}
.MdTopicWord01 .mdTopicWord01Del01{display:inline-block;*display:inline;*zoom:1;height:21px;line-height:21px;padding-left:3px;vertical-align:top}
.MdTopicWord01 .mdTopicWord01Del01Btn{width:14px;height:21px;margin:0 -4px 0 0;background-position:-681px -167px;vertical-align:top;*vertical-align:-3px}
.MdTopicWord01 .mdTopicWord01Del01Btn:hover{background-position:-517px -163px}
.MdTopicWord01 .mdTopicWord01Num{position:relative;top:-1px;display:inline-block;*display:inline;font-weight:normal;font-family:Arial,Helvetica,sans-serif;font-size:10px}
a.MdTopicWord01{cursor:pointer}
a.MdTopicWord01:hover{background:#f0f0f0}
.ExOsWin .MdTopicWord01 .mdTopicWord01Num{margin-left:5px}
.ExOsMac .MdTopicWord01 .mdTopicWord01Num{margin-right:-1px;margin-left:5px}
.MdMTMTtlList01 .mdMTMTtlList01Item,.MdMTMTtlList02 .mdMTMTtlList02Item,.MdMTMTtlList03 .mdMTMTtlList03Item{display:table;*display:inline;width:100%}
.MdMTMTtlList01{overflow:hidden;*zoom:1;margin-bottom:-15px}
.MdMTMTtlList01 .mdMTMTtlList01Item{margin:16px 0 0 0;padding:0 0 15px 0;border-bottom:1px solid #f2f2f2;margin-bottom:-1px}
.MdMTMTtlList01 .mdMTMTtlList01Item:first-child{margin-top:0}
.MdMTMTtlList02 .mdMTMTtlList02Item,.MdMTMTtlList03 .mdMTMTtlList03Item{margin:15px 0 0 0;padding:15px 0 0 0;border-top:1px solid #f2f2f2}
.MdMTMTtlList02 .mdMTMTtlList02Item:first-child,.MdMTMTtlList03 .mdMTMTtlList03Item:first-child{margin-top:0;padding-top:0;border-top:0}
.MdMTMTtlList01 .mdMTMTtlList01Thumb,.MdMTMTtlList02 .mdMTMTtlList02Thumb,.MdMTMTtlList03 .mdMTMTtlList03Thumb{display:table-cell;*display:inline;*zoom:1;width:60px;height:60px;padding:0 13px 0 0;vertical-align:middle}
.MdMTMTtlList01 .mdMTMTtlList01Thumb a,.MdMTMTtlList02 .mdMTMTtlList02Thumb a,.MdMTMTtlList03 .mdMTMTtlList03Thumb a{display:block;width:60px;height:60px;overflow:hidden}
.MdMTMTtlList01 .mdMTMTtlList01Txt,.MdMTMTtlList02 .mdMTMTtlList02Txt,.MdMTMTtlList03 .mdMTMTtlList03Txt{display:table-cell;*display:inline;*zoom:1;vertical-align:middle;word-wrap:break-word;word-break:break-all\9;table-layout:fixed;width:100%}
.MdMTMTtlList01 .mdMTMTtlList01Ttl,.MdMTMTtlList02 .mdMTMTtlList02Ttl,.MdMTMTtlList03 .mdMTMTtlList03Ttl{display:inline;font-size:14px;font-weight:normal}
.MdMTMTtlList01 .mdMTMTtlList01Ttl a:link,.MdMTMTtlList01 .mdMTMTtlList01Ttl a:visited,.MdMTMTtlList02 .mdMTMTtlList02Ttl a:link,.MdMTMTtlList02 .mdMTMTtlList02Ttl a:visited,.MdMTMTtlList03 .mdMTMTtlList03Ttl a:link,.MdMTMTtlList03 .mdMTMTtlList03Ttl a:visited{text-decoration:none}
.MdMTMTtlList01 .mdMTMTtlList01Ttl a:hover,.MdMTMTtlList01 .mdMTMTtlList01Ttl a:active,.MdMTMTtlList01 .mdMTMTtlList01Ttl a:focus,.MdMTMTtlList02 .mdMTMTtlList02Ttl a:hover,.MdMTMTtlList02 .mdMTMTtlList02Ttl a:active,.MdMTMTtlList02 .mdMTMTtlList02Ttl a:focus,.MdMTMTtlList03 .mdMTMTtlList03Ttl a:hover,.MdMTMTtlList03 .mdMTMTtlList03Ttl a:active,.MdMTMTtlList03 .mdMTMTtlList03Ttl a:focus{text-decoration:underline}
.MdMTMTtlList01 .mdMTMTtlList01Thumb+.mdMTMTtlList01Txt{width:593px;max-width:593px}
.MdMTMTtlList01 .mdMTMTtlList01Ttl a{color:black}
.MdMTMTtlList01 .mdMTMTtlList01Draft{color:#959595;font-size:14px;font-weight:bold}
.MdMTMTtlList01 .mdMTMTtlList01TimeStamp{color:#afafaf;font-size:12px}
.MdMTMTtlList01 .MdSocialCountList01{margin-top:2px}
.MdMTMTtlList01 .MdMsgDisp01{display:table-caption;margin-bottom:4px}
.MdMTMTtlList02 .mdMTMTtlList02Item{table-layout:fixed}
.MdMTMTtlList02 .mdMTMTtlList02Item:first-child{margin-top:0}
.MdMTMTtlList02 .mdMTMTtlList02Thumb{width:80px;*width:76px;padding-right:0}
.MdMTMTtlList02 .mdMTMTtlList02Thumb+.mdMTMTtlList02Txt{width:515px;max-width:515px}
.MdMTMTtlList02 .mdMTMTtlList02Thumb+.mdMTMTtlList02Txt .mdMTMTtlList02Ttl a{max-width:515px}
.MdMTMTtlList02 .mdMTMTtlList02Ttl{line-height:1.3;margin-bottom:2px;font-size:15px}
.MdMTMTtlList02 .mdMTMTtlList02Ttl a{display:inline-block;*display:inline;*zoom:1;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;max-width:595px;word-wrap:normal;word-break:normal\9;color:black;font-size:15px}
.MdMTMTtlList02 .mdMTMTtlList02Desc{margin-bottom:4px;color:#999}
.MdMTMTtlList02 .mdMTMTtlList02UserName{color:#666}
.MdMTMTtlList02 .mdMTMTtlList02UserName:link,.MdMTMTtlList02 .mdMTMTtlList02UserName:visited{text-decoration:none}
.MdMTMTtlList02 .mdMTMTtlList02UserName:hover,.MdMTMTtlList02 .mdMTMTtlList02UserName:active,.MdMTMTtlList02 .mdMTMTtlList02UserName:focus{text-decoration:underline}
.MdMTMTtlList02 .mdMTMTtlList02Date{display:inline-block;*display:inline;*zoom:1;margin-left:12px;color:#aaa}
.MdMTMTtlList03 .mdMTMTtlList03Thumb{padding-right:15px;vertical-align:top}
.MdMTMTtlList03 .mdMTMTtlList03Thumb+.mdMTMTtlList03Txt{width:406px;max-width:406px}
.MdMTMTtlList03 .mdMTMTtlList03Ttl{line-height:1.3;margin-bottom:2px;font-size:16px}
.MdMTMTtlList03 .mdMTMTtlList03Ttl a{color:black}
.MdMTMTtlList03 .mdMTMTtlList03Ttl a:link,.MdMTMTtlList03 .mdMTMTtlList03Ttl a:visited{text-decoration:none}
.MdMTMTtlList03 .mdMTMTtlList03Ttl a:hover,.MdMTMTtlList03 .mdMTMTtlList03Ttl a:active,.MdMTMTtlList03 .mdMTMTtlList03Ttl a:focus{text-decoration:underline}
.MdMTMTtlList03 .mdMTMTtlList03Ttl b{font-weight:bold}
.MdMTMTtlList03 .mdMTMTtlList03Desc{margin-bottom:4px;color:#999}
.MdMTMTtlList03 .mdMTMTtlList03UserName{color:#999}
.MdMTMTtlList03 .mdMTMTtlList03UserName:link,.MdMTMTtlList03 .mdMTMTtlList03UserName:visited{text-decoration:none}
.MdMTMTtlList03 .mdMTMTtlList03UserName:hover,.MdMTMTtlList03 .mdMTMTtlList03UserName:active,.MdMTMTtlList03 .mdMTMTtlList03UserName:focus{text-decoration:underline}
.MdMTMTtlList03 .mdMTMTtlList03Date{display:inline-block;*display:inline;*zoom:1}
.MdSocialCountList01{letter-spacing:-0.2em}
.MdSocialCountList01 .mdSocialCountList01Li{display:inline-block;*display:inline;*zoom:1;letter-spacing:0}
.MdSocialCountList01 .mdSocialCountList01Hatena .mdSocialCountList01Ico,.MdSocialCountList01 .mdSocialCountList01Facebook .mdSocialCountList01Ico{width:12px;height:12px;vertical-align:middle}
.MdSocialCountList01 .mdSocialCountList01Hatena .mdSocialCountList01Ico{margin-top:-3px;*margin-top:0}
.MdSocialCountList01 .mdSocialCountList01Facebook .mdSocialCountList01Ico{margin-top:-3px;*margin-top:0;background-position:-15px 0}
.MdSocialCountList01 .mdSocialCountList01FV .mdSocialCountList01Ico{margin:-4px 0 0 1px;*margin-top:0;vertical-align:middle}
.MdSocialCountList01 .mdSocialCountList01Label{display:inline-block;*display:inline;*zoom:1;margin:0 -1px 0 5px;color:#999}
.MdSocialCountList01 .mdSocialCountList01Num{display:inline-block;*display:inline;*zoom:1;margin:0 -1px 0 5px;color:#555}
.MdSocialCountList01 .mdSocialCountList01View .mdSocialCountList01Num{margin:0}
.MdSocialCountList01 .mdSocialCountList01Facebook+.mdSocialCountList01Hatena{margin-left:9px}
.MdSocialCountList01 .mdSocialCountList01Hatena+.mdSocialCountList01FV{margin-left:5px}
.MdSelectBox02{display:inline-block;*display:inline;*zoom:1;cursor:default}
.MdSelectBox02 .mdSelectBox02Label01{position:relative;width:132px;line-height:23px;border-style:solid;border-width:1px;border-color:#c9cdd0 #e8eaeb #e8eaeb #c9cdd0;background-color:#fff}
.MdSelectBox02 .mdSelectBox02Label01 .mdSelectBox02Label01Txt{padding:0 8px;color:#969696}
.MdSelectBox02 .mdSelectBox02Label01 .mdSelectBox02Label01Ico{display:inline-block;position:absolute;top:10px;right:8px;width:7px;*width:0;height:4px;*padding-left:7px;background:white url(/images/personal/img_arrow_gray_7x4.png) no-repeat 0 0}
.MdSelectBox02 .mdSelectBox02Option01{display:none;position:absolute;z-index:4;width:132px;border-style:solid;border-width:1px;border-color:#c9cdd0 #e8eaeb #e8eaeb #c9cdd0}
.MdSelectBox02 .mdSelectBox02Option01 li{line-height:27px;padding:0 8px;background-color:#fff;color:#969696}
.MdSelectBox02 .mdSelectBox02Option01 li:hover,.MdSelectBox02 .mdSelectBox02Option01 li.ExSeleted{background-color:#f5f5f5}
.MdTag01{cursor:pointer;position:relative;display:inline-block;*display:inline;*zoom:1;max-width:178px;max-height:22px;line-height:21px;padding:0 6px 0 0;border:1px solid #d7d7d7;background-color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;white-space:nowrap;vertical-align:top;color:#666;font-size:11px}
.MdTag01:hover{border-color:#c7c7c7!important}
.MdTag01 .mdTag01Ico{width:22px;height:22px;background-position:2px -23px;vertical-align:top}
.MdTag01 .mdTag01Txt{position:relative;top:1px;display:inline-block;*display:inline;*zoom:1;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;max-width:157px}
.MdTag01.mdTag01All{color:#000;border:1px solid #d7d7d7;background-color:#dcdcdc}
.MdTag01.mdTag01All .mdTag01Ico{background-position:-25px -2px}
.MdTag01.mdTag01Some{border:1px solid #d7d7d7;background-color:#f3f3f3}
.MdTag01.mdTag01Some .mdTag01Ico{background-position:0 -2px}
.MdTagList01 .mdTagList01Ul{width:363px;margin:15px 0 7px 15px}
.MdTagList01 li{float:left;*float:none;*display:inline;overflow:hidden\9;max-width:186px\9;height:24px;line-height:24px;margin:0 8px 8px 0;vertical-align:middle}
.MdTagList01 .mdTagList01Loading{width:363px;height:28px;line-height:28px}
.MdTagLayer01{position:relative;width:393px;border:2px solid #000;background-color:#f8f8f8;-webkit-box-shadow:rgba(153,153,153,0.4) 0 0 6px;-moz-box-shadow:rgba(153,153,153,0.4) 0 0 6px;box-shadow:rgba(153,153,153,0.4) 0 0 6px}
.MdTagLayer01 .mdTagLayer01Pointer{position:absolute;top:-8px;left:67px;width:17px;height:8px;background-position:-50px 0}
.MdTagLayer01 .mdTagLayer01Head{position:relative;padding:13px 15px 10px 15px;z-index:100}
.MdTagLayer01 .mdTagLayer01HeadTtl{margin:0 0 11px 0;color:#000;font-weight:bold}
.MdTagLayer01 .mdTagLayer01HeadUtil01{position:absolute;top:14px;right:11px;font-size:11px;z-index:110}
.MdTagLayer01 .mdTagLayer01HeadUtil01 p{color:#999;vertical-align:top}
.MdTagLayer01 .mdTagLayer01HeadUtil01Selected{display:inline-block;margin-left:5px;color:#333;cursor:pointer}
.MdTagLayer01 .mdTagLayer01HeadUtil01Selected:hover{text-decoration:underline}
.MdTagLayer01 .mdTagLayer01HeadUtil01Ico{cursor:pointer;width:14px;height:12px;background-position:-50px -10px;*vertical-align:top}
.MdTagLayer01 .mdTagLayer01HeadUtil01Option{position:relative;left:7px;width:78px;margin-top:1px;padding:5px 5px 4px 5px;border:1px solid #ddd;background:#fff}
.MdTagLayer01 .mdTagLayer01HeadUtil01Option li{cursor:pointer;display:inline-block;width:68px;margin-bottom:1px;padding:4px 5px 1px 5px;color:#666}
.MdTagLayer01 .mdTagLayer01HeadUtil01Option li:hover{background:#f2f2f2}
.MdTagLayer01 .MdInputSearch04{width:361px}
.MdTagLayer01 .mdTagLayer01Body{position:relative;border-top:1px solid #dedede;border-bottom:1px solid #dedede;background-color:#fff}
.MdTagLayer01 .mdTagLayer01Body.ExScroll:before,.MdTagLayer01 .mdTagLayer01Body.ExScroll:after{content:"";position:absolute;left:0;display:block;width:100%;height:2px;z-index:1}
.MdTagLayer01 .mdTagLayer01Body.ExScroll:before{top:-2px;-webkit-box-shadow:rgba(163,163,163,0.16) 0 1px 2px;-moz-box-shadow:rgba(163,163,163,0.16) 0 1px 2px;box-shadow:rgba(163,163,163,0.16) 0 1px 2px}
.MdTagLayer01 .mdTagLayer01Body.ExScroll:after{bottom:-2px;-webkit-box-shadow:rgba(163,163,163,0.16) 0 -1px 2px;-moz-box-shadow:rgba(163,163,163,0.16) 0 -1px 2px;box-shadow:rgba(163,163,163,0.16) 0 -1px 2px}
.MdTagLayer01 .mdTagLayer01Foot{padding:10px 0;text-align:center}
.MdTagLayer01 .mdTagLayer01Foot .MdBtn01Save02,.MdTagLayer01 .mdTagLayer01Foot .MdBtn01Cancel01{margin:0 5px}
.MdTagLayer01 .MdScroll01{z-index:1;width:8px}
.MdTagLayer01 .MdScroll01 .mdScroll01Bar{background:url(/images/personal/bg_MdScroll02.png) repeat-y 0 0 \9;background-color:rgba(196,196,196,0.25)}
.MdTagLayer01 .MdScroll01 .mdScroll01Bar:hover,.MdTagLayer01 .MdScroll01 .mdScroll01Bar.ExHover{background:url(/images/personal/bg_MdScroll02.png) repeat-y -10px 0 \9;background-color:rgba(196,196,196,0.5)}
.MdInputSearch04{display:inline-block;*display:inline;*zoom:1;position:relative;height:30px;line-height:30px;border:1px solid;border-color:#c9c9c9 #ddd #ddd #cecece;background-color:#fff}
.MdInputSearch04 .mdInputSearch04Inner{display:block;padding:7px 26px 7px 10px;height:16px;-webkit-box-shadow:rgba(0,0,0,0.06) 1px 2px 3px inset;-moz-box-shadow:rgba(0,0,0,0.06) 1px 2px 3px inset;box-shadow:rgba(0,0,0,0.06) 1px 2px 3px inset}
.MdInputSearch04 .mdInputSearch04Input{display:block;width:100%;color:#000}
.MdInputSearch04 .mdInputSearch04Input::-webkit-input-placeholder{color:#ccc}
.MdInputSearch04 .mdInputSearch04Input::-moz-placeholder{color:#ccc}
.MdInputSearch04 .mdInputSearch04Input:-ms-input-placeholder{color:#ccc}
.MdInputSearch04 .mdInputSearch04Input.ExPlaceholder{color:#ccc}
.ExOsWin .MdInputSearch04 .mdInputSearch04Input{font-family:Meiryo,"MS PGothic",arial,sans-serif}
.MdInputSearch04 .MdBtn01Del07{position:absolute;top:0;right:0}
.MdLoading01{cursor:default;display:block;overflow:hidden;width:100%;height:100%;min-height:24px;background:url(/matome_ver4/img/common/bg_loading01.gif) 50% 50% no-repeat;text-indent:-9999px}
.CTypeProfile .LyContents{padding-top:25px}
.CTypeProfile .LyMain{border-left:1px solid #e7e7e7}
.MdProfileHead01{position:relative;margin:2px 0 24px 0}
.MdProfileHead01 .mdProfileHead01Ttl{color:#333;font-size:16px;line-height:16px}
.MdProfileHead01 .MdBtn01Rss01{margin-left:7px}
.MdProfileHead01 .MdIcon01CountData01{margin-left:8px;top:-2px}
.MdMypageMTMList01 .mdMypageMTMList01Head{position:relative;margin:0 0 15px 0}
.MdMypageMTMList01 .mdMypageMTMList01Tab{border-bottom:1px solid #e7e7e7}
.MdMypageMTMList01 .mdMypageMTMList01TabLi{float:left;display:block;margin-bottom:-1px;border:solid #e7e7e7;border-width:1px 1px 0;background-color:#f4f4f4}
.MdMypageMTMList01 .mdMypageMTMList01TabLi .mdMypageMTMList01TabItem01,.MdMypageMTMList01 .mdMypageMTMList01TabLi .mdMypageMTMList01TabItem02{display:block;width:168px;height:34px;line-height:34px;text-align:center;font-weight:bold}
.MdMypageMTMList01 .mdMypageMTMList01TabLi:first-child{border-right:0}
.MdMypageMTMList01 .mdMypageMTMList01TabLi.ExSelected{border-bottom:1px solid #fff;background-color:#fff}
.MdMypageMTMList01 .mdMypageMTMList01TabLi a{cursor:pointer;color:#000;text-decoration:none}
.MdMypageMTMList01 .MdSelectBox02{position:absolute;top:-1px;right:0}
.MdMypageMTMList01 .MdSelectBox02 .mdSelectBox02Label01Txt{padding:0 6px;line-height:27px;color:#777}
.MdMypageMTMList01 .MdSelectBox02 .mdSelectBox02Label01Ico{top:12px}
.MdMypageMTMList01 .mdMypageMTMList01Item{padding:1px 0 15px;margin-bottom:25px;border-bottom:1px solid #f2f2f2}
.MdMypageMTMList01 .mdMypageMTMList01NoItem{padding:80px 0 0 0;text-align:center}
.MdMypageMTMList01 .mdMyNoItem01Txt{font-size:12px;color:#333;padding-top:8px}
.ArMain01{padding:0 0 50px}
.ArMySubSeparator01,.MdMySubProf01 .mdMySubProf01PVItem01{border-color:#e7e7e7}
.MdSubTopicRelated01 .mdSubTopicRelated01Txt{margin:3px 0 0 0;color:#999}
.MdSubTopicRelated01 .MdSubTtl01{margin-top:-4px;padding:0}
.MdSubTopicRelated01 .MdBtn01Toggle01{position:relative;bottom:1px;bottom:0\9;margin:0 0 0 5px}
.MdSubTopicRelated01 .MdTopicWordList01{margin-top:10px}
.MdSubTopicRelated01 .MdPagination02{margin-top:5px;text-align:right}
